[2015-08-01 01:57] oparoz opened #258 "Add IE Edge to the list of browsers which don't support SVG natively"

[2015-08-01 13:35] oparoz commented on #258
Fixed via https://github.com/owncloud/gallery/commit/3ea1e05df91ccc1bee473cd0682e82106d4b89da

[2015-08-01 13:35] #258 closed, assigned to nobody

[2015-08-01 13:36] oparoz commented on #257
I think this one should be changed as well
`I am sorry, but I could not find any media files at this location.`

[2015-08-03 14:14] oparoz opened #260 "Detect files which say they're folders"
It seems some folders identified by being of type "dir", are really files and PHP will crash when trying to run methods on these objects which were designed for folders.

It's a serious problem in core, but there may be a way we could avoid the crash, if it's isolated in a couple of methods only.
#### Update

The problem seems to come from files_archive
https://github.com/owncloud/apps/issues/2094

[2015-08-04 12:38] j-ed opened #261 "Call to undefined method OCA\\GalleryPlus\\Service\\ConfigService::isAllowed()"
## Expected behavior

No PHP errors should be caused by the Gallery(Plus) app.
## Current behavior

The following error is logged on a regular base when the Gallery(Plus) app has been activazted:

[code]
## Steps to reproduce
1. Activate the Gallery(Plus) app
2. check ithe log file
## Environment
#### Server Configuration

OS: Linux 3.2.67
Web server: Apache2 2.4.12
Database: MySQL 5.1.73
PHP vers

[2015-08-04 14:02] oparoz commented on #261
This method call doesn't exist in the file mentioned, in release 13 for stable8, so you may have mixed some files together.

https://github.com/interfasys/galleryplus/blob/v13-stable8/service/filesservice.php#L120

[2015-08-04 18:09] oparoz opened #262 "Re-enable testing on PHP 7.0 when xDebug supports it"
xDebug won't be available on PHP7 for a while, so until it is, we need to disable testing for that version.

Re-evaluate monthly

[2015-08-04 21:52] Flexmaen opened #263 "zoom not possible on all mobile devices"
The gallery is doing a great job on mobile devices too (tested with Blackberry and Android Browser).

However, if you want to zoom a picture, this is only possible if you download it to your local folder and open it from there. I think it would be great if you also could zoom pictures somehow.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/

[2015-08-05 11:47] oparoz commented on #263
I agree. Unfortunately, the BigShot library we're using only captures iOS events.

That one of the reason I'm considering [changing Slideshow engine](https://github.com/owncloud/gallery/issues/158) or maybe offering a choice

[2015-08-08 09:11] j-ed commented on #261
I think I know what has happened. You recommended to apply a patch to fix a problem with external shares https://github.com/owncloud/gallery/issues/218#issuecomment-123280558 which included the method that is now reported as "missing".

[2015-08-08 13:17] oparoz commented on #261
Indeed, but at the bottom of that post, it is specified in bold that it is for 8.1 only ;)

I did write about what you should do in 8.0 here: https://github.com/owncloud/gallery/issues/218#issuecomment-123781356

[2015-08-08 13:17] #261 closed, assigned to nobody

[2015-08-09 08:29] jospoortvliet commented on #252
I would say that every browser has a built in full-screen button. Shortcut is F11 in almost every case. Works great with the slideshow...

[2015-08-09 08:33] jospoortvliet commented on #193
I have a thought on this, having just spend a while watching pics and occasionally downloading them to see the full one. I like the current behavior - these pics were 10MB or so and having to wait for that to be downloaded on each click on 'next' is not useful.

But sometimes, I wanted to zoom in on something, see some details and then - the limited resolution and jpeg artifacts become painfully v

[2015-08-09 08:36] jospoortvliet commented on #255
@jancborchardt ha, an use for the new sidebar perhaps?

[2015-08-09 11:31] oparoz commented on #193
Many thanks for the feedback :)

1) I don't think lazy loading will work, because users will be unaware of what is going on until they get a better preview and try to replicate the behaviour

2) Doing such things in the background could have adverse consequences for people on a mobile plan with limited data

3) The app would need to automatically abort and clean up every time the user clicks "next

[2015-08-10 05:47] pascalBokBok commented on #252
@jospoortvliet How do you hit F11 on a tablet?
Besides, lot's of people don't realize that they can do it. It's not just a gallery for h4ckers ;-)

[2015-08-10 08:50] deMattin commented on #252
F11 is not really a "hacker-shortcut" (... maybe for this class of only-tab-users, that don't know PCs at all :wink:).
We discuss in other threads about real good and sometimes/often needed setting options, that possibly will not be implemented because of an additional needed button and this lame "full-screen" should get a button only because Tablets/Phones don't have a shortcut for fullscreen?!

[2015-08-10 12:08] pascalBokBok commented on #252
The world is full of aunts, grandpas and people who don't want to think to use a computer. Owncloud does not get more traction by being a less attractive product for them.
BTW. Put the special buttons in an expand-menu like everyone else and your browser.
1337 greetings

[2015-08-10 13:29] deMattin commented on #252
There are two philosophies:
1. Give features, give options and possibilities. That will lead you to (additional) settings, that not everybody will understand or need.
This is how every more professional app works - even in the Apple world!
2. Make everything as simple, that everybody can use _everything_ and don't implement features for people, who want to have more or like to work another way.
->

[2015-08-10 14:14] jancborchardt commented on #252
Honestly I’m not sure if it’s needed. Popular photo sites like https://flickr.com and https://500px.com do it, but Facebook and Instagram don’t.

I’d say we leave it for now.

@deMattin there are plenty of more complicated open source options if you prefer that. ownCloud aims to be a real open source alternative to proprietary apps, meaning it’s usable for more regular people who are not hackers.

[2015-08-10 16:09] deMattin commented on #252
@jancborchardt: You fully confirm may posting above with your "if you need settings, write an app..." - that is then the "maximum hacking" possible.
You can also say, if you are not my opinion, leave and write your own app - that's not the way a "community app" should work. Maybe I like to be the speach for the "advanced users" who want to get more opportunities. Without this feedback, you may thi

[2015-08-11 08:53] jospoortvliet commented on #252
Alternatively, we could simply enable fullscreen by default when the user starts the slideshow and close it when the user exits the slideshow. It makes total sense to me - if you want to view your pics in a slideshow, you want to view your pics, not all the other 'stuff' around it. How about that?

[2015-08-11 08:55] Tramour commented on #252
@deMattin
I am quite new to this "forum" and sort of like collaborative field of work (and definitely more reading and absorbing than actively participating).
But thru reading I really see your point of view. I am absolutely your opinion. To me it seems that some folks here have the say and all the others are obliged to share their views. Participation welcome as long as you follow the general gui

[2015-08-11 09:39] deMattin commented on #252
Automatic fullscreen view only in slideshow might be a solution.
I found this yesterday and it seems to be possible to get it only for smart devices - but his feature should have to be enabled **only** on small devices like phones or tabs and surely not on "real browsers":
http://www.html5rocks.com/en/mobile/fullscreen/

@Tramour: Thanks for your comment.
I really love the owncloud project and mos

[2015-08-11 09:50] jospoortvliet commented on #252
@deMattin I agree with you when you say that there's a way to design ownCloud for both basic and more advanced usage - at least, often. But it is harder and you'll often need to think and discuss more. Going full-screen automatically is exactly the kind of solution for that - do the right thing automatically and you don't need a button, you're still simple, yet powerful. There will always be anoth

[2015-08-11 10:11] deMattin commented on #252
Yes, and here's the point, where @oparoz and @jancborchardt should say something:
What do you think about automatic fullscreen for smartphones/tablets in slideshow similar or like it is described in http://www.html5rocks.com/en/mobile/fullscreen/ ?

[2015-08-11 10:29] oparoz commented on #252
My problem with fullscreen on the desktop is that it's a "heavy" operation. It uses a lot of resources, disrupts the workflow if you're doing multiple things at once, etc. so I'm not sure a 100% automatic is the way to go.

On top of that, my philosophy is that if you make something automatic, you should offer a way to disable it.

Regarding usability in general. I've said many times that a good U

[2015-08-11 15:41] oparoz opened #265 "Design a picture editor which can be launched from the slideshow"
Wouldn't it be cool if we could touch up our pictures online or create memes or fix some flaws via filers, etc.?

I got the idea when looking at Pixlr:
https://support.pixlr.com/hc/en-us/articles/209350978-The-Pixlr-API-embedding-Pixlr-web-applications-in-your-own-site
### Some question I had
- Should it be in Gallery or a separate ownCloud app?
- Is it problematic that the UI looks different? Tha

[2015-08-12 07:38] Visual-Notes commented on #255
I hope that displaying the file name and additional links for actions in the lightbox/slideshow will be optional, so it could also be turned off.
For my taste, there are already enough buttons visible in the slideshow.

Best thing would be to make most of them optional (except for Previous, Next and Close).
I think, an auto-hiding sidebar would be an alternative for providing additional buttons, s

[2015-08-12 09:18] jancborchardt commented on #255
The slideshow interface will be kept clean, no worries. The actions will hide after some time too, like it is now. We’ll not include options for everything of these, because the ability to share or favorite an image from the detail view is a pretty basic function.

@africanforest please open a separate issue about this.

[2015-08-12 09:32] Visual-Notes opened #266 "Keyboard navigation: esc key to close the slideshow"
The esc key which has currently no function, should close the slideshow, since this is the default behavior of most lightboxes/slideshows.

[2015-08-13 19:03] oparoz commented on #266
Thanks for the report.

It's a duplicate of https://github.com/owncloud/gallery/issues/251

Will be in the next release.

[2015-08-13 19:03] #266 closed, assigned to nobody

[2015-08-14 09:26] jospoortvliet commented on #252
@oparoz good proposal. I think that you should go full-screen on enabling the auto-slideshow and that that is enough. It is pretty sure that people want that to be fullscreen and that the normal mode better not be... Their browser has a full-screen button anyway, in case people really want it - but I know many people don't even care about maximizing their window so I don't think it is a big deal.

[2015-08-14 09:39] godfuture commented on #193
Well, I guess reducing the picture quality is fine for previews, but for viewing a single picture (when clicking on it) or opening in slide show, it is a pity to get pictures presented in bad quality.

Therefore I suggest to add another setting in config.php that is meant to control the max pixel size when opening and showing in slide show. By this the user might decide how long to wait or what qu

[2015-08-14 10:35] oparoz commented on #193
Well, they're not presented in bad quality if you use the default 2048x2048, but yes, it takes longer to generate all thumbnails of that size versus using 150x150. That value is too low btw, because this app needs 400x400 thumbnails to operate properly.

I've updated the OP to describe 2 different things we can do.

[2015-08-14 10:39] oparoz commented on #252
@jospoortvliet - I agree about trying not to confuse users :). We also have to think about temporary vs permanent settings. Right now, I've focused on permanent, global settings.

[2015-08-14 16:02] oparoz opened #267 "Introduce behavioural, functional and unit testing suite"
## Intro and tooling

See the [wiki page](https://github.com/owncloud/gallery/wiki/Behavioural,-functional-and-unit-testing-suite) to understand why and how.
## Status
### Acceptance
- [x] Setup test environment
- [x] Setup Travis
- [x] Write scenarios
- [ ] Write tests
- [x] Create sample tests
### API
- [x] Setup test environment
- [x] Setup Travis
- [x] Write scenarios
- [x] Write tests
- [x] C

[2015-08-15 00:00] enoch85 opened #268 "Class 'OCA\Gallery\AppInfo\Application' not found when installing from master"
When installing gallery(plus) from master like this:

[code]

... the standard gallery app is still enabled, and galleryplus isn't activated.

When I the try to run the commands one more time in shell I get this in owCloud log:

[code]

And the GUI turns white (WSOD).

If I remove the galleryplus folder manually with `rm -R /var/www/owncloud/apps/galleryplus` it starts working again.

Is this a kn

[2015-08-15 13:41] oparoz commented on #268
You're doing it wrong ;)

You have to pick between

#### Gallery

`https://github.com/owncloud/gallery` -> `gallery` folder

 and

#### Gallery+

`https://github.com/interfasys/galleryplus` -> `galleryplus` folder

[2015-08-15 13:41] #268 closed, assigned to nobody

[2015-08-15 14:26] enoch85 commented on #268
@oparoz Thanks! It isn't easy when you don't know were to look. ;) I thought you merged GalleryPlus into Gallery master, and that´s why you renamed them earlier.

[2015-08-15 14:41] oparoz commented on #268
Yes, it was merged inside the gallery repo and that's why both the namespace and folder name have changed.

It's even more confusing for people who got Gallery+ through git since their folder is named `galleryplus`, but they're now getting Gallery. But those are more advanced users who should be able to sort it out more easily.

People on Gallery+ today will run into problems when upgrading to 8.2

[2015-08-15 14:55] enoch85 commented on #268
Yeah, somewhat confusing to say the least. It´s now activated in the community VM. I´ll write something about it for sure. :)

[2015-08-15 16:32] oparoz commented on #268
Just to be sure, the community VM is always tracking the current release, correct?

[2015-08-15 16:44] enoch85 commented on #268
Yes. But right now the script is downloading from the master (https://github.com/owncloud/vm/commit/bbdac40cb0ecfb0fb2a39fd73032b91aa7a7aeb6) as I don´t see any other way to don´t have to change the script on every release. Maybe you have any better idea?

[2015-08-15 17:10] enoch85 commented on #268
@oparoz Please check if this is a correct assumption of how it will work: https://www.en0ch.se/gallery-on-owncloud-8-2/

Pass: oparoz

[2015-08-15 17:21] oparoz commented on #268
I think it's the right approach. You'll have to track changes in app repos anyway to make sure you don't miss the switch to a new branch, in case there are some non backward compatible changes.

Regarding the post, you won't need to delete the app. Here is how it should work.

1) Disable Gallery+
2) Upgrade to 8.2
3) Choose to upgrade Gallery+ OR to enable Gallery

There is one major issue which I

[2015-08-15 17:23] oparoz commented on #268
What I've described works for people using the app store. For people using git, they simply have to change the origin from owncloud to interfasys and then switch to the branch which matches their ownCloud version.

[2015-08-15 17:35] enoch85 commented on #268
@oparoz

So in other words, it shouldn´t be a problem using the master as long as the server version always is the latest?

[2015-08-15 17:47] oparoz commented on #268
Yes, I'll try to make sure that master in Gallery+ is always for the current version of ownCloud. If it isn't it simply won't install. Not a problem for users in general, but a problem for automated tools like the VM builder.

[2015-08-15 17:49] enoch85 commented on #268
@oparoz Thank you, that would be really nice of you! :)

[2015-08-16 15:27] oparoz opened #269 "Test the PHP testing documentation"
It's now possible to easily test part of the app's PHP code, but the documentation needs to be improved to make sure it's easy to understand for both people new to testing and veterans alike.

@setnes @demattin and anybody else who might be interested, please try to follow the instructions I've added here:
- https://github.com/owncloud/gallery/blob/master/tests/README.MD
- https://github.com/owncl

[2015-08-17 01:28] ghost commented on #236
This problem seems to be the same as the old gallery app, i think that was fixed. The problem is the thumbnails is stored as .png and not .jpeg. exif info is not contained in .png format.

I think its possible to look at the fixes made to the old gallery app for a indication of how to solve this problem.

https://github.com/owncloud/apps/issues/1568

[2015-08-17 01:46] oparoz commented on #236
Thumbnails and slideshow previews are based off a "max preview" which is created the first time a file is accessed. If the Exif data is correct at that time, then Gallery will show the images with the proper orientation.

So there is no problem anymore, but users want to be able to modify the orientation of pictures they see, in case it's not correct in the JPG itself and that's possible by workin

[2015-08-17 07:07] arpee commented on #235
+1

[2015-08-17 07:08] arpee commented on #235
At the moment - it seems it is not possible to embed gallaries in an iframe - even with all controls enabled etc.

[2015-08-17 12:29] oparoz commented on #235
@LukasReschke - Do you have some doc handy on the CSP policy which needs to be applied at the controller level for people to be able to embed the HTML template they receive?

[2015-08-17 13:40] oparoz opened #271 "Slideshow is sending the wrong variable to get extra media types"
Just a note to not forget to fix it later

[2015-08-17 18:43] sezuan opened #272 "Firefox 40 seems to have problems with the CSP rules."
### Steps to reproduce
1. Put some pictures into the picture folder
2. Open gallery
### Expected behaviour

It should show the pictures
### Actual behaviour

Loading forever
### Server configuration

**Operating system**: Ubuntu 14.04

**Web server:** Apache 2.4

**Database:** MySQL 5.5

**PHP version:** 5.5.28

**ownCloud version:** 8.1.1(stable)

**Updated from an older ownCloud or fresh install

[2015-08-17 20:25] dsteinborn commented on #272
I can confirm this problem with my installation of Owncloud 8.1.1 and Firefox 40.0.2 under Archlinux and Windows. Opera 31 instead works just fine.

Problem can also be reproduced when opening a share link (folder with images) and switching to the gallery view.

[2015-08-17 22:57] oparoz commented on #272
Thank you for the report.
Do you experience the same problem when using Gallery+ from the multimedia section in settings/app?

[2015-08-18 05:49] sezuan commented on #272
@oparoz I did a very quick test. Gallery+ seems to work correctly. I still get the first error:

[code]

[2015-08-18 10:40] oparoz commented on #272
@sezuan - Thanks. That CSP error has to do with translations (https://github.com/owncloud/core/issues/17758). Not sure if `core` is going to be able to solve it: https://github.com/owncloud/core/issues/11925

Regarding the CSP policy for "Pictures", I have no idea where to look. Maybe @icewind1991 or @LukasReschke know?

[2015-08-18 11:14] oparoz commented on #269
# WARNING

## RUNNING UNIT TEST WILL DELETE ALL YOUR DATA

[2015-08-18 11:20] #271 closed, assigned to nobody

[2015-08-18 23:38] oparoz commented on #5
The API can be tested using Codeception.
You need to install Codeception via composer as we need a local web server to run during the test. See this doc for details: https://github.com/owncloud/gallery/blob/master/tests/README.MD#install-via-composer

Then you simply do:

[code]

If you need a more verbose output to check the scenarios, use:
`# vendor/bin/codecept run api -vvv`

[2015-08-18 23:40] oparoz opened #275 "Scrutinizer is buggy"
Can't fix it in this repo.

[2015-08-18 23:41] #275 closed, assigned to nobody

[2015-08-19 07:05] gibbiceps opened #277 "Ipad 1 can't show the gridview ("thumbnailpage")"
On my Ipad (first gen) there's a problem with the gridview, once there are more than 30 Pictures. It's persistent since Owncloud 3 at least.  It's loading about 10 Pictures, then it reloads the page...forever.
Also the slideshowmode is now working. I'm using relatively big pictures up to 14mp, all jpg.
I'm running the latest version of owncloud, ios and safari. On my Notebook everything is running

[2015-08-19 14:29] oparoz commented on #277
@gibbiceps - Could you try to disable "Pictures" in the app manager and install "Gallery+" ?
Also, on which OS is that iPad1? It could be that it doesn't support some of the technologies we're using.

And which ownCloud version are you using?

[2015-08-22 10:35] jospoortvliet commented on #193
@oparoz another option might be to show a progress bar when ppl zoom in, telling you're downloading the full quality image. With a cancel button... people will then understand quickly enough what, how and why and it avoids options and buttons ;-)

Not that a 'HD' button isn't an improvement over the current situation, but I'd be most delighted with it being automatic as much as possible.

I wonder

[2015-08-22 11:28] oparoz commented on #193
@jospoortvliet - That could work since I don't expect people to zoom on every picture.

[2015-08-23 13:47] ghost opened #280 "Shared picture album | No preview slideshow"
sharing a picture album with link, then access that link brings up the shared pictures in a list, using the preview slideshow button in upper left corner results in a slideshow where no pictures is found.

its no possible to see slideshow for the the shared pictures folder. files no found

[2015-08-24 02:06] oparoz commented on #280
Please fill in this template so that we have more information about your setup: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

Thank you.

[2015-08-24 12:09] jancborchardt commented on #193
Yeah, I like @jospoortvliet’s suggestion too! :)

[2015-08-25 07:53] jospoortvliet commented on #193
OMG @jancborchardt likes something I said or did... Quick, somebody FedEx some proper clothes to the devil ;-)

[2015-08-25 10:13] askovpen opened #282 "need limit for gallery/ajax/thumbnail/batch"
my current photo gallery have get string for `index.php/apps/gallery/ajax/thumbnail/batch` 14Kb (?image=...;...;...&scale=1&square=1&requesttoken=...) but my server not support to long. i can increase `large_client_header_buffers`, but m.b. split this request to several  requests?

[2015-08-25 10:58] oparoz commented on #282
It's been fixed already, see ticket https://github.com/owncloud/gallery/issues/27

You can use [Gallery+](https://github.com/interfasys/galleryplus) today or wait for ownCloud 8.2.

[2015-08-25 10:58] #282 closed, assigned to nobody

[2015-08-25 17:40] oparoz commented on #193
Hehe, his job is **hard**

[2015-08-26 13:15] Spacefish commented on #193
It would be nice if the gallery has some fixed sizes of images it uses. So for example for a 1024x768 screen a 1200x1200 version is used. Currently if you set your Browserwindow too 1000x500 an 500 height version of the image is generated.. if you set your window to 1000x499 a 499 Version is generated on so on.. However a 700px version could be used down to 200px or something like that.. Otherwise

[2015-08-26 13:42] jancborchardt commented on #193
@oparoz @DeepDiver1975 does that make sense? ^

[2015-08-26 14:58] oparoz commented on #193
We already round to the nearest hundred in order to not have too many previews, but the real solution ~~is currently in `core`'s backlog: https://github.com/owncloud/core/issues/8196~~ has been abandonned by the `core` team

[2015-08-26 19:13] ilsi commented on #272
I have the same issue with  ownCloud 8.0.5 (stable) and Firefox 40.
Both server and client are Fedora 22 x86_64.

WebServer: nginx 1.8.0
DB: PostgreSQL 9.4.4

[2015-08-26 20:01] d-tamm commented on #272
Same here: Firefox 40.0 keeps loading infinitely in Gallery view, both in the Pictures app and in shared folders when clicking on the 4 squares. Latest ownCloud on Synology server and Ubuntu server.

[2015-08-29 05:01] setnes commented on #265
I think that should be a separate app.  Keep gallery all about displaying.

[2015-08-29 13:29] oparoz commented on #265
I agree.

[2015-08-29 14:00] setnes commented on #235
I like this idea.  A smaller step might be to somehow create a special share link (using the share interface) that includes html code you could use to embed a thumbnail link to a gallery directory.  That might be a smaller hurdle.

[2015-08-29 14:09] oparoz commented on #235
The plan is to use the new REST API (https://github.com/owncloud/gallery/issues/5) for that. Something like /api/gallery would send you the HTML and links to the JS, thumbnails and previews links.

[2015-08-29 14:15] setnes commented on #234
I was thinking about this when we worked on the image preview size logic that was based on the monitor size.  Even without a fancy VR viewer, panoramas might be better viewed if they could simply be zoomed and scrolled.  Right now we decide the longest image edge for the preview size based on the longest monitor edge plus a normalization fudge of 100.  For a panorama, requesting a larger image (ma

[2015-08-29 14:27] oparoz commented on #234
If we automatically download the HD pictures when zooming in (https://github.com/owncloud/gallery/issues/193). We could keep things as-is and users would get the full res image as soon as they zoom-in and could then pan left-right.

Would that be good enough?

[2015-08-29 19:16] PaulAnnekov opened #284 "Blank Pictures page with infinite load (related to long request uri)"
### Steps to reproduce
1. You must have a large amount of photos with deep hierarchy and non-latin names (url encoding will apply and it will increase the length of url).
2. Open Developer Tools and Network tab.
3. Open Pictures page.
4. You will see infinite load.
5. You will see https://example.com/index.php/apps/gallery/ajax/thumbnail/batch?token=&image=[string_with_over_18k_characters_with_url

[2015-08-31 09:12] jospoortvliet commented on #234
@oparoz for panorama's - I think it's fine... Sure, the whole parallax thing is fancy but not really crucial.

[2015-08-31 14:20] oparoz commented on #152
Moved to the wiki

[2015-08-31 15:37] oparoz commented on #284
It's already fixed in Gallery (8.2) and Gallery+ (8.0 & 8.1).

[2015-08-31 15:37] #284 closed, assigned to nobody

[2015-08-31 16:39] PaulAnnekov commented on #284
@oparoz please, send a link to commit/pr.

[2015-08-31 16:58] oparoz commented on #284
Here you go:
https://github.com/owncloud/gallery/commit/80c1016d8cd9bf2ab0e7e516f3074aea5c6a96a5

[2015-08-31 18:25] PaulAnnekov commented on #284
@oparoz that's just what I wanted, good job :+1:

[2015-08-31 23:20] oparoz opened #287 "Public controllers are broken"
There are no integration/API tests for the public controllers because they're slow, but it's a problem because several routes were broken and not detected.
- [x] Fix the public controllers
- [x] Add one API test per route

[2015-08-31 23:33] oparoz opened #288 "Change the background colour of the photowall via the config file"
When sharing an album, and later when embedding it, it could be useful to be able to set a background colour for that album and optionally all the sub-folders.
Per example, a white background doesn't work very well if the folder only contains designs or screenshots with a white background. An artist might want to hang all his painting on an orange wall, etc.

This introduces a new `design` section

[2015-08-31 23:37] oparoz opened #289 "Remove the scrollbar when it's not required to have one"
A scrollbar is showing up on the right, even if there are only a couple of pictures in the album. We need to figure out what triggers it and eliminate it.

[2015-08-31 23:48] oparoz opened #290 "Update the "no pictures found" landing page to be in line with Files"
The default design includes a large icon and a friendly text and we should imitate that.

[2015-09-01 16:14] davitol opened #292 "Gallery keeps loading with a spinner"
### Steps to reproduce
1. Go to the gallery app
### Expected behaviour

The pictures should be shown
### Actual behaviour

The spinner keep loading forever
### Server configuration

**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

**ownCloud version:"8.1.2.0","versionstring":"8.1.2RC1"

**Updated from an older ownCloud or fresh install:

[2015-09-01 17:06] ghost commented on #292
@oparoz could you please have a look?

[2015-09-01 20:21] oparoz commented on #292
The problem is that there are too many ways the old "Pictures" can break. It could be because there is a SVG somewhere or a TIFF or too many files, etc. Gallery+ contains all the fixes, but it can't officially replace Pictures on older versions of ownCloud unless someone decides it's a good idea to make an exception.

So, the solution is to advise users to use Gallery+ on <8.2.

[2015-09-02 08:59] ToonvdPas commented on #272
I have the same problem on ownCloud 8.1.1 stable.
The picture gallery works on Firefox 38.1.1 (on Linux)
The picture gallery works on Android 4.1.2
The picture gallery does NOT work on Firefox 40.0.3 (on Windows 10)
The picture gallery does NOT work on Edge 20.10240.16384.0 (on Windows 10)
The picture gallery works on Internet Explorer 11.0.10240.16431 (on Windows 10)
So only archaic browsers seem

[2015-09-02 09:36] icewind1991 commented on #272
Works fine for me on FF40, even though I get the csrf error message in the console

(gallery and core both on master)

[2015-09-02 09:40] ToonvdPas commented on #272
Oops, you're right.  I goofed.  My apologies.
So my remark at the bottom (regarding archaic browsers) is not correct too.
Thanks for putting me straight.
[...scratching head, testing again and updating comment...]
No, my previous posting was corrrect, FF40 on Windows 10 does NOT work.
Did you by any chance test FF40 on a different platform?  Does that make a difference?

[2015-09-02 09:43] oparoz commented on #272
@ToonOwncloud - You mentioned 8.1.1 earlier though. If your users are on 8.1, they do not get the same experience you get on master.

[2015-09-02 09:47] icewind1991 commented on #272
FF40 on Arch Linux

[2015-09-02 10:07] ToonvdPas commented on #272
@aparoz -  I just follow the stable releases.
At the bottom of the Administrator screen it advertises itself as "ownCloud 8.1.1 (stable)".
I follow the releases by doing a 'yum update' on a regular basis.  The current rpm version is:

# yum list owncloud-server
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: centos.mirror.transip.nl
 * epel: ftp.nluug.nl
 * extras

[2015-09-02 10:30] RobinMcCorkell opened #293 "Routes must not be used before app.php is fully loaded"
After some routing changes in ownCloud 8.2, apps must be loaded before app routes are loaded. This means that app.php cannot directly use any self-referencing routes, for example with the URLGenerator. This is an issue with the navigation entry registration, which tries to create a URL pointing to the gallery app.

The solution is to move the navigation entry generation to a closure that returns t

[2015-09-02 10:36] oparoz commented on #293
OK. Is there some reference implementation?

[2015-09-02 10:38] ghost commented on #280
### Steps to reproduce

sharing a picture album with link, then access that link brings up the shared pictures in a list, using the preview slideshow button in upper left corner results in a slideshow where no pictures is found.

its no possible to see slideshow for the the shared pictures folder. files no found

### Expected behaviour

Slideshow should be enabled for public shared picture folders

[2015-09-02 10:38] RobinMcCorkell commented on #293
@oparoz It is literally just wrapping the array in a `function() { return [...];}`, then passing that to `->add()` instead of the raw array.

[2015-09-02 10:43] oparoz commented on #293
Got it, thanks @Xenopathic :)

[2015-09-02 10:49] oparoz commented on #280
Many thanks.

Are you using Gallery+ from the app store or are you using git?

[2015-09-02 10:52] ghost commented on #280
gallery+ from appstore

[2015-09-02 11:11] oparoz commented on #280
Thanks!

[2015-09-02 13:11] e-alfred commented on #272
I can reproduce this problem on Firefox 40 on Ubuntu 12.04. PC-BSD and Arch Linux. The circle is showing indefinitely. If I disable security.csp.enable in about:config, it loads like normal.

This happens on latest 8.0 as well as 8.1.

[2015-09-02 14:07] SergioBertolinSG commented on #292
I'm facing same problem in 8.0.7.

[2015-09-02 21:26] oparoz commented on #292
Yes, all version of ownCloud 8.x and 8.1.x have the same Pictures app which has been left mostly untouched for 9 months.

[2015-09-02 22:14] LukasReschke opened #295 "gallery.cnf leads to XSS"
[code]

Personally I'd advise to remove this info stuff as it can easily lead to further security issues while offering few advantages.

cc @jancborchardt

[2015-09-03 00:05] oparoz commented on #295
I'm not sure I understand. You're worried about drive-by exploits? Worse damage can be done via an installed app. A user has to have some trust into the links he follows.

[2015-09-03 08:50] LukasReschke commented on #295
1. User "test" creates a gallery
2. User "test" uploads above "gallery.cnf"
3. User "test" shares the gallery with "admin"
4. User "admin" access the gallery => JS is executed

This is bad since if I can execute JS here I can do anything I want such as changing your password, accessing files, etc…

[2015-09-03 10:41] oparoz commented on #295
Yeah, internal shares are a problem... I'll add an HTML sanitizer.

[2015-09-03 11:11] LukasReschke commented on #295
Sanitizers are evil. Please go with a sane markdown interpreter that has a whitelist of things it converts instead of some magic that _might_ get bypassed ;)

[2015-09-03 11:11] LukasReschke commented on #295
Especially since the only thing you need here are URLs which can be easily done yourself and you just need to check if it starts with `http` or `https` :)

[2015-09-03 11:37] oparoz commented on #295
I've selected a robust one, developed by security experts:
https://github.com/cure53/DOMPurify

I need more than links. Descriptions are written in markdown.

There is one thing which worries me though

Btw, you're going to face the same issue when introducing markdown based descriptions in apps.

[2015-09-03 11:45] LukasReschke commented on #295
Come on. That's not a proper solution. There have been 2 bypasses this year and we can solve it so easily reliable.

No. What do you need exactly? It's maybe "strong", "cursive", "links" you can have this pretty secure by choosing a sane markdown implementation or writing one yourself.

No. We're not. It's quite easy. Just use a markdown parser with a sane whitelist. Everything else is not really

[2015-09-03 11:53] LukasReschke commented on #295
I think what would make sense is reducing the attack surface by thinking what we need in the description. It barely is the whole HTML feature-set but some stuff that we can easily implement securely to make everybody happy ;)

[2015-09-03 12:04] LukasReschke opened #296 "Error page should not display user controllable message if possible"
`/index.php/apps/gallery/error` should not show an user-controllable error message if possible, the reason behind this is that users usually trust the response returned by a server. This is also known as [Content Spoofing](https://www.owasp.org/index.php/Content_Spoofing).

Example: `http://localhost/master/index.php/apps/gallery/error?message=Please%20send%20your%20password%20to%20owncloud%40evil

[2015-09-03 12:06] oparoz commented on #295
DOMPurify does offer a whitelist

`var clean = DOMPurify.sanitize(dirty, {ALLOWED_TAGS: ['b']});`

but yes, if you send me the link to a sane markdown parser, I'll use it instead of parsing the same content twice :). I don't want to write my own parser and have to maintain it.

I need at least: `* lists, 1,2,3 lists, # headers , *italic*, **strong**, [link](http)` and it needs to be on bower.

[2015-09-03 12:08] oparoz commented on #296
So just remove the error message altogether and let the user sort it out by looking at logs?

[2015-09-03 12:10] LukasReschke commented on #296
Or you use ICrypto to generate an encrypted error message and decrypt it :-)

[2015-09-03 12:11] oparoz commented on #296
OK

[2015-09-03 12:30] LukasReschke commented on #295
Yes. But DOMPurify is more meant to act as second line of defense instead of making a known insecure thing more secure :-) - Having it in makes sense, yes, but not as first line of defense.

Sane markdown parsers in JS… Hard topic… A lot of them lack some security features in one regard or another.

What is a sane one is https://github.com/jgm/commonmark.js, I'd recommend using that one with the `

[2015-09-03 13:08] oparoz commented on #295
OK. The lib I'm using also has a sanitize option, but it's disabled by default:
https://github.com/chjj/marked#sanitize

I think it's too restrictive as it gets rid of lists and only keeps paragraphs, but if not, I'll ask you to take a look :)

Yeah, there are already a few of those on Github :D

[2015-09-03 17:36] Tronde opened #299 "No gallery thumbnails are shown in firefox after update to 8.1.2"
### Steps to reproduce
1. Login to ownCloud
2. Click in the upper left menu on pictures
### Expected behaviour

I expected to see the thumbnails and pictures from my gallery.
### Actual behaviour

There are no pictures or thumbnails are shown. Only a circle of death in the middle of the browser window.
### Server configuration

**Operating system**: Ubuntu 14.04.3 LTS

**Web server:** NGINX 1.4.6-

[2015-09-03 18:26] LukasReschke commented on #295
Yup. I'd go with the commonmark.js one as it can handle such stuff even in sanitize mode.

[2015-09-03 22:12] oparoz commented on #299
Thank you very much for the detailed logs. This is a duplicate of https://github.com/owncloud/gallery/issues/272

It's already fixed in Gallery+ for 8.0 and 8.1 and Gallery for 8.2

[2015-09-03 22:12] #299 closed, assigned to nobody

[2015-09-03 23:15] oparoz commented on #296
Should I put the password in the session?

[2015-09-04 00:09] oparoz commented on #269
@davitol @rperezb @SergioBertolinSG - This should help you understand how tests work in Gallery (8.2+). Let me know if you need more info or an IRC session to cover the details :)

[2015-09-04 06:04] Tronde commented on #272
I could reproduce this issue on Ubuntu 14.04.3 with Firefox 40.0.3. With Firefox ESR 38.2.1 on Windows 7 it works. This happens on ownCloud 8.1.2.

[2015-09-04 09:00] LukasReschke commented on #296
Can you explain what the "ready" label means? :-)

Fair point. An secret per session might make sense. But then we're also at a point where we could just put the whole error in the session and read it from there and once it is displayed clean it out of there?

[2015-09-04 10:25] oparoz commented on #296
Kanban: Ready, In progress, On hold
Ready issues have been accepted and will be worked on next

Yes, that should work. Send to template and remove from session.

[2015-09-04 13:39] #293 closed, assigned to nobody

[2015-09-06 21:50] iDevPro opened #304 "Gallery wouldn't show RAW file, ex. NEF"
Steps to reproduce:
1) Open
2) Upload NEF
3) Go to Gallery application
4) See screen with "Images not found" message

Configuration:
- Linux 3.19.0-25-generic #26-Ubuntu SMP Fri Jul 24 21:17:31 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
- ownCloud 8.2 pre alpha (stable), for 8.1.x this issue present too
- PHP 5.6.4-4ubuntu6.2

Additional packages installed:
libjpeg, libtiff, libpng, imagemagick, libm

[2015-09-06 22:19] Wikinaut commented on #272
Same problem for me here with latest Firefox 40.0.3
- OC server 8.1.1
- Client: Firefox 40.0.3 on openSUSE Tumbleweed (this FF plays mp3 files, I double-checked this).

javascript log full of errors when trying to open an owncloud/document https://github.com/owncloud/documents/issues/526

inter alia:

[code]

[2015-09-06 22:26] Wikinaut commented on #292
I think, it's related to https://github.com/owncloud/gallery/issues/272  (Content security policy issues)

Javacript error console:

[code]

and more.

Perhaps important to know: The **galleryplus** app available via the owncloud app+ button works for me. See https://github.com/interfasys/galleryplus

[2015-09-07 12:13] oparoz commented on #304
Raw support was not merged into `core` at the last minute when working on 8.1, so you'll have to use a 3rd party app which adds the Raw preview capability to ownCloud if you want to be able to view Raw files. Patches were provided in Gallery+ for 8.0, but a lot has changes since then.

I will close this since Gallery itself has no problems showing those files if the provider is installed.

[2015-09-07 12:13] #304 closed, assigned to nobody

[2015-09-07 12:14] #287 closed, assigned to oparoz

[2015-09-07 21:12] oparoz opened #307 "Broken files lead to a JSON message instead of a download"
Gallery lets the user download files which can't be previews, in case the problem is local.
Currently users are redirected to a JSON message instead of being sent the file.

[2015-09-07 23:51] oparoz commented on #307
Fixed via https://github.com/owncloud/gallery/commit/54f66b3b3fc9771c0af578de6b2765e07af6edf0

[2015-09-07 23:51] #307 closed, assigned to oparoz

[2015-09-08 12:42] oparoz commented on #130
One solution to explore is to add an extra DOM element containing only the spinner and to hide it when all thumbnails have been loaded.

[2015-09-08 12:48] oparoz commented on #145
Change has been rejected. Will keep in Gallery+ for 8.1 and 8.0

[2015-09-08 12:50] oparoz opened #309 "Add spinner to view change button"
Extract the code from https://github.com/owncloud/gallery/commit/b9f7e91919832bf045100c2bd1706307fb9e984b

[2015-09-08 12:51] oparoz commented on #309
Use the SVG spinner on the Gallery side as we don't care about IE8

[2015-09-08 12:59] oparoz opened #310 "Add flip effect to sorting buttons"
Implement changes from https://github.com/owncloud/gallery/commit/a81f3bde49249c3fdedf77eab64c7ba165ea17c1

[2015-09-08 13:22] jancborchardt opened #313 "File list refreshes after closing Gallery slideshow"
1. Open an image with the Gallery slideshow / detail view
2. Close it again

Expected:
You are able to seamlessly browse your pics again.

What actually happens:
The whole file list is very visibly reloaded. That’s confusing and rips you out of the flow.

@oparoz @schiesbn @PVince81 @MorrisJobke what can we do here? Same is true for the text editor cc @tomneedham
## <bountysource-plugin>

Want to

[2015-09-08 13:35] jancborchardt commented on #130
@oparoz yeah, would be very good for feedback, as we talked about.

[2015-09-08 13:36] jancborchardt commented on #145
@oparoz sorry again for swaying back and forth on this one. Oftentimes design has to be carefully evaluated as you know. :) Especially when it’s that present in our main Files app.

[2015-09-08 14:22] oparoz commented on #84
Maybe I should start a bountysource funding campaign...

[2015-09-08 14:23] oparoz commented on #313
It's by design (https://github.com/owncloud/gallery/issues/160). Nothing can be done until core drops supports for IE8 and fixes the FilesList navigation.

[2015-09-08 14:24] oparoz commented on #313
See https://github.com/owncloud/core/issues/14828

[2015-09-08 14:47] oparoz commented on #145
Yep, no hard feelings :)
Since 8.0 and 8.1 have the old design, it will work there and I'll be able to get some feedback :)

[2015-09-08 19:19] jancborchardt commented on #313
Ugh, another reason to drop IE8 – it impacts the UX of everyone else. cc @MTRichards @karlitschek.

[2015-09-08 19:47] karlitschek commented on #313
@jancborchardt Don't mention @MTRichards and me. It's not our fault. :-) Mention the 10% of all the people on the internet who still use IE8 ;-)

[2015-09-08 20:40] jancborchardt commented on #313
I know – just mentioning to provide food for thought regarding when we drop support. 10% is not correct btw, it’s more like less than 3%: http://gs.statcounter.com/#browser_version-ww-monthly-201503-201508-bar ;)

[2015-09-08 21:09] oparoz commented on #313
It's 10% of enterprise users ;). Given the fact that these corporations are 3-5 years behind consumer environments and have completely different needs, ownCloud will always be behind other consumer oriented products, unless there is a cheap way to keep all the patches required for the enterprise (IE8, IE9, etc.) in a separate branch. It kills the experience for the rest of us, but then without tho

[2015-09-08 21:10] oparoz commented on #313
The other option, of course, is to always give enterprises a 3-5 year old ownCloud version and to backport security fixes ;)

[2015-09-08 21:19] karlitschek commented on #313
Guys. Can we stop this discussion please? This is the real world: https://www.netmarketshare.com/browser-market-share.aspx?qprid=2&qpcustomd=0
And if ownCloud wants to care about real users then we have to care about IE8. This is just how it is.
We have to and will support is until the marketshare has dropped significantly. And no, we can't do this in a separate branch. This would mean that we hav

[2015-09-08 23:02] #248 closed, assigned to oparoz

[2015-09-08 23:16] oparoz commented on #260
Closing since the problem is due to an unsupported 3rd party app. A node which claims to be a folder has to behave like a folder.

cc @fossxplorer

[2015-09-08 23:16] #260 closed, assigned to oparoz

[2015-09-08 23:21] oparoz commented on #40
Closing since no more work will be done on this.
Once a new way forward has been decided for users who store more than images, then I'll decide whether or not the button needs to become an option.

[2015-09-08 23:21] #40 closed, assigned to nobody

[2015-09-08 23:37] oparoz commented on #91
Closing as the basics have been implemented. In order to be able to have more advanced filters, we need meta data support in core or in the app itself https://github.com/owncloud/gallery/issues/101.

[2015-09-08 23:37] #91 closed, assigned to oparoz

[2015-09-09 13:15] oparoz commented on #51
Anyone? :) @jancborchardt @tomneedham @raghunayyar

[2015-09-09 13:22] oparoz commented on #255
An example
![](https://raw.githubusercontent.com/photo/frontend/master/files/creative/screenshots/web/lightbox.jpg)

[2015-09-09 13:32] Visual-Notes commented on #255
Trovebox seems not being developped any more. Are you planning to fork it?

[2015-09-09 13:42] oparoz commented on #22
Closing as this needs to be dealt with in core so that we don't duplicate the effort.
Also, it won't work when encryption is enabled.

[2015-09-09 14:07] oparoz commented on #255
No, but someone is talking about either making an ownCloud app of it or to build a connector.

I think we can have Trovebox as a goal for Gallery, with some additional missing features. They do look very similar and share some common goals if you look at the list of feature requests on here.

[2015-09-09 16:24] SergioBertolinSG opened #318 "Internet explorer 8 is an incompatible browser for gallery."
### Steps to reproduce

Using internet explorer 8 do:
1. Upload some images.
2. Open gallery.
### Expected behaviour

Gallery is opened.
### Actual behaviour

It warns the user saying that browser is incompatible and doesn't load images.
### Server configuration

Operating system:
Ubuntu 14.04 LTS

Web server:
Apache

Database:
MySQL

PHP version:
5.5.9

ownCloud version: (see ownCloud admin page)

[2015-09-09 18:27] deMattin commented on #22
:sad:

[2015-09-09 21:23] oparoz commented on #22
I know...but it shouldn't take more than 6 months since the basic mechanism is in place in core. It's just that previews is not a priority.

It can also be a separate app which just creates a cron which goes through the whole instance, looking for missing thumbnails.

I'm sure you could even create it. It would make 2 calls: isCached() and createPreview();

[2015-09-09 22:02] oparoz commented on #318
It's not a bug, it was the simplest solution to match the level of support available in Pictures. The only difference is that there is now a message for the user instead of a broken app. See this ticket laying down all possible options: https://github.com/owncloud/gallery/issues/249

[2015-09-11 00:06] oparoz opened #320 "Don't load scripts on the authenticate page"
Just like we needed to ignore the settings route, we need to ignore the one used to authenticate users with a token when they're trying to go to the Files app.

Other apps should do the same, I see too many JS scripts on that page.

[2015-09-11 08:13] enricotagliavini commented on #272
Current Content-Security-Policy response header for the gallery main page is:

<code>
default-src 'self'; script-src 'self' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; frame-src *; img-src *; font-src 'self' data:; media-src *; connect-src *
</code>

Since the images are loaded with base64 data scheme data: must be added to image-src *. Adding this header to the response (for example by mangl

[2015-09-11 13:31] jancborchardt commented on #318
For reference, the issue about IE8 support is at https://github.com/owncloud/gallery/issues/228

We should try to get the Gallery working on IE8 too, not only the slideshow. @oparoz you don’t necessarily need to do that though, that’s ok. :)

[2015-09-11 14:15] oparoz commented on #272
That's correct. One needs to attach that policy to the controllers of the legacy app.

[2015-09-11 14:17] oparoz commented on #318
@jancborchardt - I've done most of the work by analysing the requirements and detailing what needs to be done, so should be fairly easy for someone to implement the solution, but it's always going to be a sub-par experience.

[2015-09-11 14:41] jancborchardt commented on #318
@oparoz yup :) in the next weeks someone will likely pick that up, thanks a ton (!) for the research and work on that.

It's fine if it's not as polished on IE8 as with the other browsers, but it should work. That is, if you only use IE8 you should think everything is fine. ;)

[2015-09-11 15:04] oparoz commented on #318
:+1: :)

[2015-09-11 23:25] oparoz commented on #280
Should be fixed in the next release.

[2015-09-11 23:25] #280 closed, assigned to oparoz

[2015-09-11 23:26] oparoz commented on #320
Fixed via https://github.com/owncloud/gallery/commit/415d9664f1509314af228a9c984805387ccbede8

[2015-09-11 23:27] #320 closed, assigned to oparoz

[2015-09-12 05:39] LEDfan opened #322 "Images and folders doesn't load"
### Steps to reproduce
1. Install the latest git version of gallery
2. Load the gallery app
### Expected behaviour

All directories with images are shown. All images are loaded
### Actual behaviour

Not all directories are listed and no images are loaded (the spinner keeps spinning).
![selectie_115](https://cloud.githubusercontent.com/assets/2996275/9830058/8f1f47a4-5920-11e5-9e77-8745648abdde.png

[2015-09-12 11:28] oparoz commented on #322
Thanks for the report.
This should be fixed if you're using master at interfasys/galleryplus.

[2015-09-12 12:28] oparoz opened #324 "Fetch the new config if it has just been updated"
A user needs to refresh the browser page in order to get the new config. We could make an extra check when fetching files to see if the config has been updated in between requests.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26635187-fetch-the-new-config-if-it-has-just-been-updated?utm_campaign=plugin&utm_content=tracker%2F9328526

[2015-09-12 17:51] oparoz opened #325 "Fix download URLs for public galleries"
Some public routes still don't have their URL built properly...

[2015-09-12 19:51] oparoz opened #328 "Download button may need some love"
![slideshow_ui](https://cloud.githubusercontent.com/assets/323220/9833458/eab0e010-5997-11e5-9a8b-61c92fbfb7db.png)

So the slideshow UI is using the standard download icon, but maybe something needs to be done to make its role more obvious.

I would change it in core if I were in charge of the design, adding a line underneath, like we see in many places.
If it doesn't matter if the icon is differ

[2015-09-12 20:17] oparoz commented on #325
Fixed via https://github.com/owncloud/gallery/commit/1dc647122a5e6971b25ad687812e03518eb40c7a and
https://github.com/owncloud/gallery/commit/d07a431666c4f3f4a39bf45fc66d52bdb9d3aae5

[2015-09-12 20:17] #325 closed, assigned to oparoz

[2015-09-12 23:48] oparoz opened #329 "Override core's css which makes the share dropdown jump to the left"
This is making the share dropdown jump to the left
https://github.com/owncloud/core/commit/8b2e09a77e22d234b48ee572b13e69001f1a3e54

We need to override it.

[2015-09-13 00:31] oparoz commented on #288
The effect is not that dramatic, because you only see the background through the thin gaps between pictures, but it's still useful for some collections.

[2015-09-13 00:35] oparoz opened #331 "Load SVG media type icons"
The PNGs look horrible because they're too pixelated, so we need to load the SVGs.

These will be swapped with the ugly ones on Internet Explorer.

[2015-09-13 11:32] oparoz commented on #289
Use master to test

[2015-09-13 11:33] oparoz commented on #130
Use master to test

[2015-09-13 11:34] oparoz commented on #310
~~Use https://github.com/owncloud/gallery/pull/148 to test.~~ Available in master

[2015-09-13 11:34] oparoz commented on #309
~~Use https://github.com/owncloud/gallery/pull/148 to test.~~ Available in master

[2015-09-13 11:35] oparoz commented on #296
Fix is in https://github.com/owncloud/gallery/pull/301

[2015-09-13 11:35] oparoz commented on #295
Fix is in https://github.com/owncloud/gallery/pull/308

[2015-09-13 12:50] oparoz opened #334 "SVG icons are not resized on IE"
![tiny](https://cloud.githubusercontent.com/assets/323220/9836787/c0726e38-5a26-11e5-9e60-66ab04a086d1.png)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26651275-svg-icons-are-not-resized-on-ie?utm_campaign=plugin&utm_content=tracker%2F9328526&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.

[2015-09-13 13:18] oparoz opened #335 "Align the controls' colours with the photowall background"
### Solution 1
- All the elements in the controls have to be made transparent
- We need 2 sets of icons, one for light, one for dark backgrounds
- We need an auto-luminance algorithm, just like for #84 in oder to be able to pick the right set of icons

This needs to be merged first:
- [x] https://github.com/owncloud/gallery/pull/148
## <bountysource-plugin>

Want to back this issue? **[Post a boun

[2015-09-13 14:34] oparoz commented on #334
The solution is to use the PNGs on IE.

[2015-09-13 14:40] oparoz opened #336 "Use a higher quality spinner"
The one we use from core simply doesn't cut it. It's very pixelated and has jagged edges.

[2015-09-13 15:08] karlitschek commented on #334
@jancborchardt any idea?

[2015-09-13 16:30] oparoz commented on #334
It's a known issue
http://caniuse.com/#search=svg

One solution in order to keep SVGs for IE is to fix all the media type icons in core.

[2015-09-13 16:31] oparoz commented on #288
![orange](https://cloud.githubusercontent.com/assets/323220/9837616/8e8fdab2-5a45-11e5-9605-3785ab85948b.png)

[2015-09-13 18:55] oparoz commented on #334
Keeping open, in case someone wants to play with SVG and IE.

[2015-09-13 19:11] oparoz commented on #334
In order to see the difference, you need to upload a broken JPG to a folder and to load that folder in Gallery in both Firefox and IE. One will use the SVG icon, the other the fallback.

[2015-09-13 19:23] oparoz opened #338 "Restart GIF animations after a download on Firefox"
On Firefox, GIF animations stop as soon as you download a file. They don't restart until you refresh the browser.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26656713-restart-gif-animations-after-a-download-on-firefox?utm_campaign=plugin&utm_content=tracker%2F9328526&utm_medium=issues&utm_source=github)** We accept bounties via [B

[2015-09-14 15:48] oparoz commented on #252
@jospoortvliet @deMattin @Tramour @jancborchardt @pascalBokBok

Everybody agrees that it's enough to enable fullscreen mode when starting the slideshow and that we don't need an extra button?

Desktops have keyboard and the F key already enables the user to go full screen.

[2015-09-14 15:53] oparoz opened #340 "Add help button to slideshow with shortcuts description"
People don't RTFM and rely on in-app help. We should provide a simple way for users to learn about shortcuts.
I'm thinking a help button which reveals the list of shortcuts.

@jancborchardt - We need an icon and a `core` GUI component for the dropdown. Thanks! ;)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26675872-add-help-button

[2015-09-14 16:18] oparoz opened #341 "Wrong auto-play icon when stopping the slideshow with the spacebar"

[2015-09-14 17:04] deMattin commented on #252
Users who don't know F11 on Desktop don't need or take care of fullscreen ON DESKTOP.
For Android and iOS Smartphones/tablets there exists the much better way and user experience to get the complete owncloud without browser address via a simple starter link.
So I see no need for a button on any platform.

Personally I would hate it, if gallery or any other browser app or website goes in fullscreen

[2015-09-14 19:02] oparoz commented on #252
Ah, right, the goal on mobile is to cover the browser address bar... Then something would be required for mobile.

I think you misunderstood though, you only go fullscreen if you press play. I think it makes sense in that context, since you're probably not going to do anything else while watching the slideshow.

[2015-09-14 21:02] oparoz opened #343 "Adapt authenticate template to match the one in `core`"
The CSS in core has changed and so the authentication page now doesn't look great.

@jancborchardt Do you know which changes broke it?

[2015-09-14 21:21] oparoz commented on #343
Never mind, found the subtle change :)

[2015-09-14 22:31] oparoz opened #344 "Add JS testing framework"
It's too time consuming to test everything manually and acceptance tests are really slow, so it would be good to have some JS unit tests.
It's a pain to setup, but would really help detect all the inevitable bugs which appear during refactoring.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26685711-add-js-testing-framework?utm_camp

[2015-09-14 23:19] oparoz commented on #343
Fix is in https://github.com/owncloud/gallery/pull/342 for now. It now looks exactly like the Files equivalent
@setnes @demattin

[2015-09-14 23:23] oparoz commented on #341
Fix is in #342 for now. Pressing the spacebar works like clicking on the play/pause icons
@setnes @demattin

[2015-09-14 23:27] oparoz commented on #336
Available in master. You'll notice it in the photowall, slideshow and infobox
@jancborchardt @setnes @demattin

[2015-09-14 23:31] oparoz commented on #331
Available in master.
Upload a corrupt JPG and you should get a nice SVG icon instead of the preview.
@jancborchardt @setnes @demattin

[2015-09-14 23:32] oparoz commented on #329
Available in master.
1. Open the share dialogue
2. Resize the window so that it's less than 990px wide

The dialogue should stay on the right

@jancborchardt @setnes @demattin

[2015-09-15 01:02] tessus opened #345 "Gallery+ links in Gallery"
@jancborchardt suggested I should ask this question here.

I've noticed that Gallery+ will be integrated into oc 8.2.0 and I'm curious what will happen to all the links that were created by Gallery+.

e.g. right now I have a link `https://<server>/index.php/apps/galleryplus/s/Y3hngafqvdLBR7g`
Will this link still work in 8.2.0?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on

[2015-09-15 04:36] deMattin commented on #252
You are right, I misunderstood. I thought, you were talking about just clicking picture preview and fullscreen showing of the picture.
For automatic slideshow after pressing play I agree and see now problem to force fullscreen.

[2015-09-15 10:37] oparoz commented on #345
Luckily, Éric Seigne has contacted me to tell me about this issue.

There are 3 solutions:
1. Use a rewrite Rule: [Migrating from Gallery and vice versa](https://github.com/owncloud/gallery/wiki/Migrating-from-Gallery--and-vice-versa)
2. Keep using Gallery+, which will also have a version for 8.2, but with more regular updates
3. Use an app which installs as galleryplus, but only does redirects

[2015-09-15 15:21] LukasReschke opened #346 "Malformed SVG breaks gallery"
A SVG file with invalid SVG breaks a whole gallery album.

[code]

[2015-09-15 15:35] LukasReschke opened #347 "Should use secure mimetypes instead of generic ones for download routes"
See https://github.com/owncloud/core/pull/10938 for reasoning

[code]

[code]

This should use a secure mimetype alternative instead of `application/javascript`. Such as via `\OC::$server->getMimeTypeDetector()->getSecureMimeType()`.

[2015-09-15 15:40] LukasReschke commented on #347
Or alternative is to add a check if the item in question is in fact a image/\* mimetype, also add a check to verify if SVG support is enabled.

That said here one needs to ensure that there is no potential race condition vector :)

(User adds file as image, user requests file and check succeeds since mimetype is an image, user modifies file to a JS file, JS file is served)

[2015-09-15 16:18] jancborchardt commented on #336
@oparoz sorry what, did you change the spinner in the Gallery app? We should keep in line with core. We can change it to a better spinner with 9.0.

[2015-09-15 16:20] oparoz commented on #336
It looks the same, but with less problems. It can be altered slightly maybe if you think it's too big, etc.

[2015-09-15 16:22] oparoz commented on #346
Thanks :)

[2015-09-15 16:27] jancborchardt commented on #336
@oparoz ah ok! Can you also change it in core then? And can you link to the change so I can check it? :)

[2015-09-15 16:31] oparoz commented on #336
Here you go: https://github.com/owncloud/gallery/commit/4ae75cb14ca8078b240c387a45b0b9ccc67169be

Fairly easy to implement once you understand how it works, but it's not as simple as adding the GIF as a background-image.

[2015-09-15 16:32] oparoz commented on #336
One think I like is that you can decide if you want to hide or remove the element. There may be advantages to each situation.

[2015-09-15 16:36] oparoz commented on #347
Should be a quick fix as there is already a method which gives me the list of supported media types:
https://github.com/owncloud/gallery/blob/master/service/previewservice.php#L79-L107

AFAIK, there would be only one extra step required, which is to change the type for SVGs.

Sounds like a plan?

[2015-09-15 16:39] LukasReschke commented on #347
:+1:

[2015-09-15 16:51] jancborchardt commented on #336
@oparoz hmm … sorry but that spinner doesn’t look good or similar to the current one – it’s too bulky.

Can you revert that change please? My plan for 9.0 is to move to a more modern and high-res spinner anyway. But for 8.2 we shouldn’t do such a strange cosmetic change only in the Gallery app.

[2015-09-15 17:07] jancborchardt opened #349 "Move actions from top to bottom, next to filename"
We shouldn’t have actions in every corner and on every edge. The actions possible with the file should be next to the filename, on the bottom:
![capture du 2015-09-15 19-00-56](https://cloud.githubusercontent.com/assets/925062/9883864/ef6735a4-5bdc-11e5-99f0-683851ec5e0a.png)

@oparoz can you do that? :) I can do styling fixes if needed.

(Also yeah, I will make it so that the action icons work fo

[2015-09-15 17:08] jancborchardt commented on #349
(I’m not sure yet about the text next to the Download icon, if it’s really necessary. What do you think @oparoz @owncloud/designers?)

[2015-09-15 17:19] stefan-niedermann commented on #349
what about linking the filename with the download action? is there already another action on the filename?

[2015-09-15 17:26] deMattin commented on #349
By clicking on filename I won't expect a download. I think, this is no usual behaviour for that.

@jancborchardt: Probably there will come some more icons in future (rotate is a MUST have!), and so there should be no text next to the button.
A tooltip with a short display delay would make the useage of the button(s) clear, if one won't understand the symbolic icon.
And this way the UI stays clean.

[2015-09-15 17:30] oparoz commented on #349
Hmmm... it works with the download button and probably with other "file actions" because the filename gives the proper context, but I think I'll keep the brightness button at the top and will probably convert it into a shades scale if there is nothing else to add...

And I think it should be meaningful icons only, no text, because there is not that much space available.

[2015-09-15 17:32] oparoz commented on #349
Ah yes, rotate. That's another example of icon I would see at the top with brightness.

[2015-09-15 17:35] jancborchardt commented on #349
Yup. So @oparoz can you move the download icon there?
Rotate should definitely be at the bottom as well. We should not throw actions all over the place.

[2015-09-15 17:43] jancborchardt commented on #328
Closing this in favor of https://github.com/owncloud/gallery/issues/349 (move actions to bottom, next to filename) cause it has a specific solution. :)

[2015-09-15 17:43] #328 closed, assigned to nobody

[2015-09-15 17:46] jancborchardt commented on #331
So, we can close this @oparoz? :)

[2015-09-15 17:46] oparoz commented on #349
Well, it's not all over the place, but we shall test. When there was no filename, you would miss the icons if not careful. The eye is drawn to the top.

[2015-09-15 17:49] jancborchardt commented on #349
The eye is drawn to the image. And even if it is drawn to the top, that’s another reason why the actions should be at the bottom. Because otherwise they will distract from the image.

[2015-09-15 17:51] oparoz commented on #336
No need to revert, you can make it look exactly like the old one:

https://fgnass.github.io/spin.js/

[2015-09-15 17:58] oparoz commented on #336
Default values

[code]

[2015-09-15 18:06] oparoz commented on #336
This looks pretty similar:
https://fgnass.github.io/spin.js/#?lines=13&length=5&width=3&radius=8&scale=1.00&corners=1.0&opacity=0.25&rotate=0&direction=1&speed=0.8&trail=60&top=50&left=50&hwaccel=on

The main difference being that the GIFs has pointier ends

![new_spinner](https://cloud.githubusercontent.com/assets/323220/9885401/476887e6-5be5-11e5-8b5d-f2a2a9f78b66.png)

[2015-09-15 18:08] oparoz commented on #331
Yes, you can follow up here: https://github.com/owncloud/gallery/issues/334

[2015-09-15 18:08] #331 closed, assigned to oparoz

[2015-09-15 18:12] oparoz commented on #349
Maybe you're right, if the user has an issue, he will look for solutions and will hopefully notice the icons at the bottom.
Time for some hallway usability testing :D

[2015-09-15 19:04] enoch85 commented on #349
Would be nice to move _all_ the actions to the bottom except X (close).

Here is an example in Pydio, not as clean as ownCloud though:

![image](https://cloud.githubusercontent.com/assets/4511254/9886956/61788ee4-5bed-11e5-851b-67e6052e994d.png)

[2015-09-15 19:43] oparoz commented on #349
Yeah I don't like that bar in pyd.io, you have to look several times to understand what does what. They need to re-org that.
And a counter example in Photoswipe. You know instantaneously what you can do on this page.

![photoswipe](https://cloud.githubusercontent.com/assets/323220/9887976/bc97be44-5bf2-11e5-87a1-6932d95fee43.png)

[2015-09-15 19:45] oparoz commented on #349
Also note how we can easily read the caption as opposed to how difficult it is to read the filename in the pic in the OP.

[2015-09-15 21:20] enoch85 commented on #349
+1 for Photoswipe. But I still think the actions should be on the bottom. @jancborchardt is on to something good here. And also, for white pictures the arrows are hard to see.

[2015-09-15 22:18] jancborchardt commented on #349
@oparoz sorry but no – we have a release upcoming very soon. Things just need to be done now. I don’t just make these designs up from the top of my head.

[2015-09-15 22:26] jancborchardt commented on #336
@oparoz sorry, but as I said, this is not a time for a core shipped app to just decide and digress in this fashion.

We will switch to a better (and way simpler, entirely different spinner) with 9.0, similar to this maybe (of course better quality and scalable etc.):
![](http://www.designbrooklyn.com/images/loading_icon1.gif)

But for the nearing 8.2 release I ask you to switch back to the spinner

[2015-09-15 23:20] oparoz commented on #349
@jancborchardt Even the best thought out designs need to be tested. Users are surprising.

http://www.joelonsoftware.com/articles/fog0000000043.html

But in any case, I think both approaches would work. Can we have a mock up with a long filename (30+ chars) and a few icons? edit, download, share, rotate and brightness?

[2015-09-15 23:33] oparoz commented on #336
I don't get it because there is virtually no visual difference with the GIF and it has zero impact on core. Nobody will see the difference, so why is it so important?

[2015-09-15 23:42] jancborchardt commented on #349
@oparoz no need to tell me that … I studied it and work in the field since many years.

We currently only have download, so only the download icon needs to be there. When more actions come there, we will do 2 things: 1) ellipsize the filename and 2) introduce a dot-dot-dot more menu like in files. Especially for rotate, rename and brightness which don’t always need to be there.

The only actions w

[2015-09-15 23:46] oparoz commented on #349
OK, makes sense.

[2015-09-15 23:51] jancborchardt commented on #349
Cool.

[2015-09-15 23:59] enoch85 commented on #349
Very cool. Will this be in 8,2?

[2015-09-16 07:40] deMattin commented on #349
I definitly agree with the "..." menu solution for rarely used actions.
But in my point of view, rotation is a button, that definitly should be able to access directly!

I know, this is the "I share everything" generation, but gallery is primary a viewer and it's possible, that you have many pictures in gallery, that aren't well orientated (I recently got one shared) and so it will be very frustra

[2015-09-16 07:58] jancborchardt commented on #349
Sorry, but rotation is not that much of a common action to be shown directly. Any of those arguments could possibly be done for any action, and if we would show every action directly then it would be a clusterf$%k of icons again.

Hence, I’d say rotate could get a shortcut (adapt from common photo software and what they use for rotating). I guess that will solve your problem @deMattin.

Yeah, but

[2015-09-16 09:11] deMattin commented on #349
@jancborchardt: Sorry, you didn't get the point "sharing will never be comfortable in gallery view" and because of THIS noone will often use it in gallery view on many pictures.
I accept the "share everything mania" and it is and has been no point of my argumentation, what I use or think about it. It's not the topic here, what I think or use.

But I really don't understand, why you don't see rotat

[2015-09-16 09:43] jancborchardt commented on #349
@deMattin the problem with the whole thing is that this discussion is completely derailed.

The topic this is about, and what we _need_ to fix for 8.2, is that Download should be at the bottom next to the filename instead of at the top.
Everything else is 9.0, and something for a different issue. We need to focus, otherwise we will not get stuff done we need for the release.

Because, well, it’s d

[2015-09-16 10:19] deMattin commented on #349
Agree to close rotation button discussion here and get focus on release topic.
But I won't forget, if rotate will become topic ... ;)

For download I gave you the example - which is a common usecase - that you need to download a single picture from your signed in own cloud. I can imagine many usecases, where this could happen and is useful. And ... I already use it sometimes in such a way when I l

[2015-09-16 11:23] jancborchardt commented on #349
So there’s a misunderstanding. I’m not talking about hiding the function altogether and having it only in the files view. What I’m saying is that in the slideshow view, next to the directly visible actions like download, there should be an icon `…` which, when clicked, will expose the other actions.

[2015-09-16 11:31] oparoz opened #351 "Pick your slideshow button disposition!"
For 9.0, we should have more actions available in the slideshow, but we have to decide which ones should always be seen and which ones should be hidden away behind 3 dots.

In order to have constructive arguments, it would be good if each of you could browse the web and look at what popular apps are doing. They usually have large teams working on their projects. You should also reach out to your d

[2015-09-16 11:36] oparoz commented on #349
I'll let you move all your buttons arguments to this new "thread": https://github.com/owncloud/gallery/issues/351

After testing buttons at the bottom, I vote against it. It doesn't work on small screens, in portrait mode. Even if you only keep the filename and the 3 dots, you have everything squeezed against each other center-right, but plenty of space at the top.

[2015-09-16 11:38] oparoz commented on #336
And I did get a thumb up:
https://github.com/owncloud/gallery/pull/337#issuecomment-139896247

[2015-09-16 11:40] jancborchardt commented on #351
Everywhere actions are at the bottom except MS Photos. Case closed on the position at least? Keep in mind the position of the Download button is a topic for 8.2, not 9.0!

[2015-09-16 11:44] oparoz commented on #351
You're forgetting Photoswipe and in most examples there is no filename or caption at the bottom. They sometimes show the author name and it's not centred.

I've picked these examples to look at which buttons they think are important.

[2015-09-16 11:47] jancborchardt commented on #351
We don’t have author name, and don’t really need it at the moment. Please, focus on what we have and need for 8.2 – and that is only the filename and download function. And that shouldn’t be thrown all over the place, but close together because it both belongs to the file. Thanks.

[2015-09-16 11:49] jancborchardt commented on #351
And btw, awesome on the research! :) I don’t mean to sound like I’m shooting down discussion – but honestly here it’s just about moving the download action, and we need to fix it for the coming 8.2 release.

[2015-09-16 11:51] jancborchardt commented on #336
Something like a spinner change should be done in core instead of in an app. Sorry but especially shipped apps should not go rogue with changes like these, especially when it’s introducing a whole JS library for something as simple as a spinner.

cc @karlitschek @DeepDiver1975

[2015-09-16 11:51] oparoz commented on #351
Keep in mind that this is a discussion for 9.0 and about show/hide buttons, so that we can keep the 8.2 stuff in other "issues".

[2015-09-16 12:01] oparoz commented on #336
Yes, but it's not a change as far as the user is concerned, that's the reason I don't see how this is so important

![](https://cloud.githubusercontent.com/assets/323220/9885401/476887e6-5be5-11e5-8b5d-f2a2a9f78b66.png)

I've used a library to make sure I could get it to work in all browsers. The GIF was probably originally picked so as to not have to deal with that, but it's got all the limitatio

[2015-09-16 12:17] jancborchardt commented on #51
@oparoz I’m experimenting with giving the control icons a slight white/bright shadow (not too extreme). Will do a pull request later.

[2015-09-16 12:21] jancborchardt commented on #336
Yes, but as said there are several problems:
- digression from core – changes like these should be done in core, not in apps, because the spinner is used _everywhere_
- usage of a JS library where one simple gif is enough
- the fact that we will move to a better spinner for 9.0 anyway

Hope that clears it up. Yes, the existing gif might not be perfect, but this is something to fix in core, not in

[2015-09-16 12:23] jancborchardt commented on #336
Core issue opened at https://github.com/owncloud/core/issues/19091

[2015-09-16 12:34] deMattin commented on #351
Going on discussion for future versions:

Comparing with other apps has to be done carefully to not compare different intentions of use.

Is it a maintained gallery or photo show, where users have uploaded their revised pictures to be shown or is it a picture crawler, showing all images of your data space (like owncloud gallery)?

In actual environments/cams/smartphones autorotation mostly works p

[2015-09-16 12:47] oparoz commented on #336
OK, so it's more about politics then. GIFs don't work, so a JS lib is necessary if you want IE8 compat.
Core doesn't look that bad with the current one, but it's because you control the environment and it's white or black. Apps use different colours, users theme their ownCloud, etc. and it's in those circumstances that the GIF shows its limitations, so the goal of the new spinner was to avoid lett

[2015-09-16 13:19] enoch85 commented on #351
I defiantly think Photoswipe is the cleanest solution here, but not totally. I haven't tested @jancborchardt design, but I like the screenshot there as well. So in other words - a combination of @jancborchardt proposal together with Photoswipe would have my :+1: .

Another thing I miss: a delete button. Imagine you go through the pictures from last nights party or whatever, some of them will be me

[2015-09-16 14:10] oparoz commented on #351
@enoch85 - I was like you, thinking that both are clean and that it wouldn't matter if it was top or bottom, but I've changed my mind once I tried on mobile. Anyway, top/down discussion should be tracked here: https://github.com/owncloud/gallery/issues/349

Not sure I would need the delete button in the slideshow, but I have a feeling this is going to be a long discussion. The needs on the Files s

[2015-09-16 14:11] jancborchardt commented on #351
(For what it’s worth, I think 500px has by far the cleanest and nicest design.)

[2015-09-16 14:12] jancborchardt commented on #336
It’s more about proper collaboration and doing stuff in core. I wouldn’t call that just politics.

Yes they can, by replacing the file in their theme – which is done already. And actually the Gallery app implementing its own spinner creates a problem for these people because they need to recreate their custom spinner with spin.js.

[2015-09-16 14:16] oparoz commented on #351
It's not bad, but they have very few icons. We need more screenshots from online photo apps. Maybe Google Photos, iCloud?

[2015-09-16 14:28] LukasReschke commented on #351
![2015-09-16_16-25-37](https://cloud.githubusercontent.com/assets/878997/9907470/9c081dc0-5c8f-11e5-9ff7-a7a27ab03dca.png)
![2015-09-16_16-28-16](https://cloud.githubusercontent.com/assets/878997/9907549/fbc3c49e-5c8f-11e5-959c-cfa1bc76bb20.png)

[2015-09-16 14:29] deMattin commented on #351
First approach might be to decide, if you want a toolbar or an overlay design.
Also 500px has a toolbar, but you don't see it, because the picture is black at the bottom.
In actual 500px it looks like that in their gallery view if you dismissed the upcomming shortcuts help (btw a nice idea!):
![image](https://cloud.githubusercontent.com/assets/5565503/9907475/9c71f84e-5c8f-11e5-84c3-812dc5f7c14c.p

[2015-09-16 14:35] jancborchardt commented on #351
Google Photos is probably nearest to where I want to go for. I mean, we can also put everything at the top. The main point is that things should not be all over the place. Either top or bottom.

And since at the top there are already things like browser controls and tabs etc it seems more grounded to put the controls at the bottom.

[2015-09-16 14:36] deMattin commented on #351
And again as I see noone comments on it:
It isn't a good idea to compare owncloud gallery with online photo apps or social media apps.
Owncloud is none of them though it has some features of these use cases!
In my opinion Owncloud gallery has more to be compared with offline apps on PC, tablet or phone because mainly it's OWNcloud and no social media app with other targets (voting, liking, sharing

[2015-09-16 14:37] jancborchardt commented on #351
@deMattin well, we have federated sharing, so the social aspect will come sooner or later. And of course we should compare to modern web apps as well.

[2015-09-16 14:44] deMattin commented on #351
Surely compare, but with the RIGHT apps.
And I hope owncloud will never become a second facebook, flickr or whatever.
Sharing data to selected users is another thing than sharing something to public under the social media aspect (thogh sharing to public is and should be possible but without voting, liking and that social media stuff, many of the above apps are targeting)

If we are talking only ab

[2015-09-16 14:51] oparoz commented on #336
Too much work to just change the colour per example.

It's true that if someone has taken the time to design a killer CSS3 spinner in his theme, he may not like not seeing it in Gallery. **That** I find to be a valid reason, thanks.

[2015-09-16 14:54] enoch85 commented on #351
Ok, changed my mind. Google has exactly everyting that I would like in the Gallery app - even the delete button. It´s just perfect! And, on the top as @oparoz talked about.

[2015-09-16 15:00] oparoz commented on #51
Nice, thanks :)

[2015-09-16 15:07] oparoz commented on #351
Thanks for all the new screenshots!

I did think it was a nice touch :)

For icons, yes, but I think we'll have to split filename and icons because of the limited space available in portrait

And regarding sharing, I think sharing to social media is expected, but no need to go over the top. It's just nice to be able to share the pic you're viewing.

[2015-09-16 15:15] jancborchardt commented on #336
Thanks. Core and Gallery need to work hand-in-hand on stuff like this.

[2015-09-16 15:17] jancborchardt commented on #351
Not necessarily. Look at Android and iOS: Both actions and title in the header for most apps. We can ellipsize, and as said put excess actions in a more-menu.

[2015-09-16 17:21] oparoz commented on #351
I'll wait for the mock ups, but in my tests it doesn't work. The Play button gets in the way.

[2015-09-16 19:55] jancborchardt commented on #340
The standard shortcut to reveal other shortcuts is pressing `?`. Used by Github, Gmail, etc. Thanks to @Raydiation for pointing that out.

There should be no permanent UI element for this.

[2015-09-16 20:15] oparoz commented on #340
Nobody knows that standard shortcut. People won't know they can zoom in per example unless they accidentally scroll the mouse, etc.

But the UI doesn't need to be permanent. We can apply the same technique used on 500px which rapidly shows that there are short-cuts available.

I also like the first run transparent overlays that some apps are using, but that wouldn't really work for public pages.

[2015-09-16 20:36] jancborchardt commented on #340
@BernhardPosselt, not @raydiation

@oparoz ok, yeah, we could do it like for 500px. I thought you meant keyboard shortcuts.

[2015-09-16 21:43] BernhardPosselt commented on #340
Check the news app's setting menu ;)

[2015-09-16 21:52] oparoz commented on #340
@jancborchardt I'm talking about these shorcuts

![chocolate](https://cloud.githubusercontent.com/assets/323220/9919542/f8f2141c-5ccd-11e5-88ec-449e12ba5668.png)

[2015-09-16 21:54] oparoz opened #352 "Upload a more corrupt version of the broken JPEG"
Some versions of PHP can generate an image from it, so we need to be more creative.

This affects testing which may fail on some setups because of that.

[2015-09-17 16:17] #352 closed, assigned to oparoz

[2015-09-17 23:31] oparoz commented on #346
So it's actually a general problem. When an image fails to load, it will not be usable later on, so I'm now showing the media type icon, letting the user download the file

[2015-09-18 07:18] mmattel opened #355 "extension_loaded('xdebug') -> error when c3.php file not present"
On my test server (Ubuntu 14.04, mysql, nginx), where I did not change the settings for a long time.
I cloned owncloud to test, from git with `sudo ocdev setup base --dir xxx`

After enabling galley+

-- I got continuios error messages logged  = log pollution --

The error is triggered from `appinfo/application.php` https://github.com/owncloud/gallery/blob/master/appinfo/application.php#L19

I hav

[2015-09-18 10:09] oparoz commented on #355
I doubt it. There are so many ini files in PHP, that it's possible that it was activated somewhere without you knowing it.

Indeed.

[2015-09-18 13:37] oparoz opened #357 "Buttons jump to second row in portrait mode"
The breadcrumb takes half the screen and there is no room for the 5 buttons.

All action buttons should be behind 3 dots and we should only keep the info button.

@jancborchardt

[2015-09-18 13:42] deMattin commented on #357
Yes, a good point.
But it should only be done, if complete browser width is benath a width of xxx px?!
(maybe also _info_ could go in the 3dot menu)

[2015-09-18 13:48] oparoz commented on #357
We're all going to have an argument about which buttons to keep :D. I thought about users landing on a public gallery. They only care about sorting and info, but a files owner may only care about view switcher and sharing...

[2015-09-18 13:58] mmattel opened #358 "No pictures in owncloud stable"
Ubuntu 14.04, mysql, nginx
Having production and test on the same machine.
Working with master (test), gallery shows me all pictures, while on stable 8.1.1-1 and even after the upgrade to 8.1.3-13.1 gallery does not show my any of my folders/pictures but the demo once only.

[2015-09-18 14:04] deMattin commented on #357
Watching on small widths smartphones is no "normal" useage I think.
And with all buttons in 3dot menu, you see more of the breadcrump, which is mostly cropped.
So I suggest, NO button to keep - only 3dot menu fo _small screens_.

For wide screens as many buttons as possible should be shown and breadcrump rules, how much space is left.
Then it only is to discuss, which buttons should be hidden in m

[2015-09-18 14:08] #355 closed, assigned to oparoz

[2015-09-18 14:16] oparoz commented on #358
Stable 8.1, 8 and 7 still get Pictures. Users have to use Gallery+ to have a working app, although I really need to push V14 asap.

[2015-09-18 14:26] oparoz commented on #357
It's true that it isn't very useful if you have half the folder name

I have no idea which percentage of users open the link in their smartphone....

[2015-09-18 14:27] oparoz opened #359 "Share button doesn't work any more"
The whole code we were using to show the share dialogue has been removed from `core`:
https://github.com/owncloud/core/commit/41f16e821a086d9529cc4eb3f26e24bbb1e04c72

When trying to replace it by using the new `OC.Share.showDropDown()`, I get this:

so something is telling me it's only ready for Files and it's going to be way more complicated than that to get it to work in Gallery.

So I think we

[2015-09-18 14:29] oparoz opened #360 "Info dropdown is too wide in portrait mode"
I thought the width was limited already, so let's see if this is a regression...

[2015-09-18 14:37] oparoz commented on #347
It's more complicated than I initially thought, because we still need to show the downloaded SVG in the browser for the slideshow per example. It's not just to store it away.

[2015-09-18 14:57] LukasReschke commented on #347
I'd do the following:

-> If SVG support is enabled use SVG as mimetype it was anyways advertised as potentially insecure. For everything else use the secure mimetype.
-> If SVG support is not enabled check for image/\* and use the secure mimetype

[2015-09-18 15:19] oparoz commented on #347
Yeah, I'll try that.

I was successful in using base64, but it doesn't work for the slideshow on the Files side:
`Content Security Policy: The page's settings blocked the loading of a resource at data:image/svg+xml;base64,PD94bWwgdmVyc2lvb...`

[2015-09-18 15:50] mmattel commented on #358
yes please! :+1:

[2015-09-18 16:02] oparoz commented on #347
Native SVG support can only be determined by parsing the config every time a download/preview is requested, so I'll just add an extra parameter to the ~~download~~ preview endpoint which defaults to false.

I'll also restrict the type of files which can be served from the endpoints. It will be limited to the media types Gallery supports.

[2015-09-18 16:11] oparoz commented on #358
Hopefully this weekend
- Rainbow spinner
- Circular menu (Simon says)
- 3D cube transition between folders
- Snow flake comments

Everything 0.1% of users have been clamouring for!

[2015-09-18 16:29] oparoz commented on #347
1. Always send `text/plain` for SVG at the download endpoints
2. Always send `text/plain` for SVG at the internal and public preview endpoints (non-API)
3. Only allow the SVG media type for the preview endpoint in the API if explicitly asked for
4. Only serve files of the media types we support

[2015-09-18 20:56] tessus commented on #345
Hi Oliver.

Thanks for the info. Although item 2 keeps me a bit puzzleld. I assumed that integrating Gallery+ back into the product would also replace the Gallery code and make Gallery+ the one and only code base. But the fact that Gallery+ will still be available as a separate product contradicts my assumption.
This is rather confusing.
Please make sure that differences between Gallery+ (in oc 8.

[2015-09-18 22:53] oparoz commented on #345
There will be announcement on blogs and in the forums, explaining what users can do, depending on their preferences.

You have two options:
- Stick with the default Gallery and get new features every 3 months or so. Per example. If I implement something new next week, it will be in 9.0, but most users don't trust the dot zero releases, so will upgrade when it reaches dot one or dot two, so that me

[2015-09-18 23:20] tessus commented on #345
Thanks again.

2 last (maybe dumb) questions:
- since Gallery and Gallery+ cannot be run in parallel why not use the same external links for the app (since it is the same code base anyway)?
- the oc Apps store uses the name Gallery (v13.0.0.0) for Gallery+ and Pictures for Gallery. How do we distinguish the 2 apps in the future?

[2015-09-19 06:38] oparoz commented on #345
I'll see if I can add Gallery routes to Gallery+

It will be called Gallery+ again.

[2015-09-19 07:18] tessus commented on #345
Great. Since they are basically the same (except that Gallery+ might have additional features) this would really make sense. In this case people can even switch back and forth w/o having to worry about their existing links.

Thank you very much for your help.

[2015-09-19 09:33] #360 closed, assigned to oparoz

[2015-09-19 13:06] deMattin commented on #345
It's actual really a bit confusing.
I have a fresh oc 8.1.3 on debian 8 and there it looks like the following:
you can decide, if you want to
1. Install Pictures (old Gallery) which presenting an upgrade button to Version 13 (not named but is indeed gallery+ here!)
2. Install Gallery+ Version 13 instead of Pictures

If you Install Gallery+, the Pictures app is not selectable any more (for security

[2015-09-19 15:38] oparoz commented on #345
Not possible AFAIK. The router checks if the app is enabled and won't load the route. @LukasReschke, please confirm :) (Trying to route `apps/gallery/s/{token}` to `galleryplus.page_controller.public_index`)

[2015-09-19 17:35] oparoz commented on #345
That's really confusing. I'll try with the VM to see if I can confirm that behaviour. Could be an app store issue or could be that you have the Gallery+ ocsid associated with the gallery namespace for some reason

Could be related to the oscid problem described above.

No idea why this name was picked for Pictures.

Yes, that may have been a mistake.

I'd recommend keeping /apps read-only and to c

[2015-09-19 18:22] deMattin commented on #345
Maybe something messed with ocsid in the case, where I corrupted my productive installation.
But on my fresh Debian 8 installation the above described behaviour is default.

So I will wait for 8.2 to go further with "experiments" and will check, how to use different pathes than `/apps` for some apps and also will investigate ocsid.
The next 4 weeks I'm on the road and so better no dangerous experi

[2015-09-19 21:00] #296 closed, assigned to oparoz

[2015-09-19 21:02] #322 closed, assigned to nobody

[2015-09-19 21:06] oparoz commented on #130
You're advised to use a custom CSS spinner if you configure the background colour of your albums as the default one doesn't look good.

[2015-09-19 21:07] oparoz commented on #288
You're advised to use a custom CSS spinner if you configure the background colour of your albums as the default one doesn't look good.

[2015-09-19 21:09] oparoz commented on #309
You're advised to use a custom CSS spinner if you want the effect to work on all modern browsers. Firefox stops GIF animations.

[2015-09-19 21:11] oparoz commented on #329
It's impossible to test this right now and the share button will probably have to be removed as the logic we use has been removed from core.

[2015-09-20 17:34] #336 closed, assigned to nobody

[2015-09-20 18:56] #145 closed, assigned to oparoz

[2015-09-21 09:00] PVince81 commented on #359
Either this or revert the changes in "share.js" in core to make sure that gallery, calendar and contacts are still able to use the old dialog.

But in a discussion with @DeepDiver1975 @rullzer @schiesbn it was decided that we should move the old code to each app instead of keeping it in core.

I'll have a try doing that with the calendar app as not everything from that file needs to be moved, and

[2015-09-21 09:02] PVince81 commented on #359
On another note it might be possible to instantiate the ShareDialogView and append it into a dropdown to make it work with the new code.

[2015-09-21 09:06] PVince81 commented on #359
The ShareDialogView should be usable for the gallery app as it's about sharing files.
In the case of calendar/contacts it might not be compatible, so that would be a situation where the old code should be moved as is.

@blizzz said he originally intended to make showDropDown work with the new dialog.
@blizzz can you have a look ?

[2015-09-21 09:11] jancborchardt commented on #359
Well, please make sure sharing still works in Gallery, Calendar and Contacts (etc) for 8.2 – either with dropdown or via sidebar.

[2015-09-21 09:37] PVince81 commented on #359
Raised https://github.com/owncloud/core/issues/19214 to make showDropDown work again for files

[2015-09-21 09:41] jancborchardt commented on #357
As I said in another issue. ;) too many buttons, yes put them in a 3-dots-menu.

The info button should be inside there too, the only action outside should be sharing, as in Files.

[2015-09-21 11:41] deMattin commented on #357
_Grmpf_ ... :/
`... sharing, as in files.`

There is no sharing button in files app. I see `gallery switch`, `new` and `upload` buttons in a row with breadcrump.
And in files app next to files and folders there is `download` and `share` and you get more actions with a long press on file/folder.

The cropping of path and sometimes completely not showing any path (because folder is longer than 2 han

[2015-09-21 15:32] oparoz commented on #359
Thanks @PVince81. I do think it would be nice to be able to use the new ShareDialogView as it would be less hackish and a first step towards using the right-sidebar :)

[2015-09-21 18:05] oparoz opened #366 ""Switch to view" does not work when landing on empty folder"
1. Create empty folder
2. Switch to Gallery
3. Click on "switch to view" button

Will need to move the button initialisation one level up.

[2015-09-21 18:29] #366 closed, assigned to oparoz

[2015-09-21 19:28] ghost commented on #5
@rperezb can someone have a look?

[2015-09-21 21:54] ghost commented on #130
@rperezb can you please assign

[2015-09-22 08:01] jancborchardt commented on #357
@deMattin about the sharing button in breadcrumbs see https://github.com/owncloud/core/issues/4333
Navigation with the breadcrumbs on mobile is an entirely different topic. You are right that it’s difficult, but it’s also a difficult problem to solve. Help welcome.

[2015-09-22 15:42] deMattin commented on #357
Ok, sorry for not knowing that.
I thought the topic has been the view on small devices like smartphones.
On PC or high res tablets I see no problem there with some buttons in the row as long as you see actual folder and one folder up and home symbol.

For smartphone navigation I like the approach from owncloud app only showing actual folder name and a small folder up button. And in this case, only

[2015-09-22 15:46] oparoz commented on #357
@deMattin - Use stable8.1 of Gallery+ it's up to date with the latest changes from here. Or if you want to experiment with 8.2, download the VM and replace 8.1.3 with a clone of master. It's pretty straight forward and portable :)

[2015-09-22 15:55] deMattin commented on #357
I will go on holliday in some days for very long 3 weeks and after that, I will set up a VM with developer core. Thanks for your tipps.

[2015-09-23 16:44] rperezb commented on #5
@SergioBertolinSG may check this one, once he finishes with the encryption one

[2015-09-23 17:29] ghost commented on #289
@rperezb test please?

[2015-09-23 18:04] oparoz commented on #357
Regarding the issue at hand, I'll probably go for a ribbon interface scrolling down as a 2nd controls row. It's very convenient to use and could offer everything we don't need right away, leaving plenty of room for the breadcrumb.

[2015-09-23 19:13] jancborchardt commented on #357
@oparoz can you illustrate what you mean? Best would be an action popover like for the file actions in Files, to be consistent.

[2015-09-23 20:21] jancborchardt commented on #349
@oparoz the file list does it exactly like it: filename, share action, 3 dots. In addition it has favorites and the preview on the left, so there’s plenty of space for the play/pause action and even showing the download option directly.

Please do this for 8.2 – having the Download action at the top clutters controls all over.

[2015-09-23 20:23] jancborchardt commented on #358
@oparoz LOL :D

[2015-09-23 20:31] jancborchardt opened #370 "Old folder icons shown when folder is empty (or only has erroneous images and a subfolder in it)"
![capture du 2015-09-23 22-28-53](https://cloud.githubusercontent.com/assets/925062/10057838/9551fb96-6242-11e5-9383-b797f8f34029.png)

Please use the .icon-folder from core – directly reference `core/img/filetypes/folder.svg` instead of duplicating the icon.

[2015-09-23 20:37] jancborchardt commented on #53
To review at https://github.com/owncloud/gallery/pull/369

[2015-09-23 20:38] jancborchardt commented on #237
This has been fixed by you, @oparoz ;)

[2015-09-23 20:38] #237 closed, assigned to oparoz

[2015-09-23 20:42] jancborchardt opened #371 "Uncaught TypeError when resizing browser window on empty Gallery app"
Just a detail @oparoz but when resizing the browser on a completely empty Gallery app, this error comes up in the console:

[code]

[2015-09-23 20:55] jancborchardt commented on #290
Aaand ready to review https://github.com/owncloud/gallery/pull/372

[2015-09-23 20:56] jancborchardt commented on #341
Fixed by https://github.com/owncloud/gallery/pull/342

[2015-09-23 20:56] #341 closed, assigned to oparoz

[2015-09-23 20:58] jancborchardt commented on #310
Not sure how I feel about this. :D Just discovered it and it seems quite gaudy.

[2015-09-23 21:00] jancborchardt commented on #343
@oparoz as soon as fixes are in master, you can close the issue btw. ;)

[2015-09-23 21:02] #130 closed, assigned to oparoz

[2015-09-23 21:28] jancborchardt commented on #309
Can you make it use `.icon-loading-small` instead, and replace the existing icon while loading? Currently it’s too big and looks strange when overlapping.

[2015-09-23 21:34] oparoz commented on #310
I haven't had much feedback yet. It doesn't get in the way. It's just a hint.
I'd say let it sink in and we'll see in a few weeks.

[2015-09-23 21:52] oparoz commented on #309
16px is too small and without the original icon, it looks really weird. I picked 24px because it's just in between and fits nicely in the button. At the size, I don't find the overlay that strange, especially since it's only for less than a second. Again, without the original icon I feel like there is something missing.

[2015-09-23 21:53] oparoz commented on #309
Try in F12 mode, you can easily hide and resize to see the difference.

[2015-09-23 21:55] oparoz commented on #309
Maybe I could dim the original icon

[2015-09-23 22:00] oparoz commented on #371
Thanks. The breadcrumb is not initialised at this stage. I need to move that call...

[2015-09-23 22:14] oparoz commented on #343
Well, I'm forced to take a different approach with Gallery... There are not enough testers with the tools and the time to test the PRs, so we end up with dozens of out-of-sync PRs and it's a nightmare to maintain. So I went back to the way I did things on Gallery+. After I test them as much as I can and after a few days of waiting I merge them (if they're within my area of expertise) and label the

[2015-09-23 22:17] oparoz commented on #343
So I'm re-opening until someone confirms the password asking page looks OK and will eventually close this if nobody complains before the launch date since it's a trivial, visual change.

[2015-09-23 22:17] oparoz commented on #370
I was thinking we should use our own metaphor since this is a gallery and not a files management app.
An artist's presentation case maybe?

![da471300912](https://cloud.githubusercontent.com/assets/323220/10060509/9fe55620-6251-11e5-87a5-81767310fd56.jpg)

[2015-09-23 22:44] oparoz commented on #357
I'll do a mockup.
The problem with the vertical dropdown is that you need 2 clicks for every action whereas with the permanent 2nd row, the actions are there, if you want them, or you quickly hide them if you need the space.

BTW, I get horrible scrolling performance in the Files app because the controls keeps jumping all over the place. What's different in terms of CSS for that row in 8.2?

[2015-09-24 00:22] jancborchardt commented on #357
@oparoz well, just try out 8.2 ;)

The point with the dropdown is that it needs to be consistent. Please don’t work on a homebrew solution for Gallery.

[2015-09-24 00:23] jancborchardt commented on #370
Umm … no. That’s highly inconsistent and will look weird. People will then think it’s a different thing, maybe an image itself.

[2015-09-24 00:28] jancborchardt commented on #343
@rperezb make sure this also gets tested by QA please.

[2015-09-24 07:06] deMattin commented on #357
What's the problem, if gallery leads to a new and innovative design and other apps follow ... ;)

[2015-09-24 07:35] oparoz commented on #357
@jancborchardt - No, but I mean I get that horrible behaviour on 8.2, on a mobile device. I know there's been issues in the past with fixed elements, but I don't have the problem on the Gallery side, so I'm wondering what has changed.

[2015-09-24 07:38] oparoz commented on #343
Yes, basically, all issues labelled QA can be reviewed at any time.

[2015-09-24 07:47] oparoz commented on #370
Folders have a label, so they can't think it's an image. And when you have several of them, like on your screenshots, you really can't mistake them.
Maybe we should use the technique used for Contacts and Music. Large squares with the first letter?

[2015-09-24 10:05] oparoz commented on #345
![pic_update_is_wrong](https://cloud.githubusercontent.com/assets/323220/10070483/1ba5fe34-62b3-11e5-8ad8-1e84ce0756c0.png)

Really confusing... I've updated the info.xml of this app, so that it doesn't show up in older installs

[2015-09-24 10:17] deMattin commented on #345
Yes, this is what I've been talking about ...

[2015-09-24 10:36] oparoz commented on #101
So, good news, @patman15 is going to work on the first step towards having full meta-data support. Once [this initial piece of work](https://github.com/owncloud/gallery/issues/221) is in, it should be fairly simple to implement some of the features listed here.

We need designers to figure out the best way to design the controls. I'm thinking of using a ribbon interface which  should give plenty o

[2015-09-24 12:51] oparoz commented on #290
Not complete yet.

[2015-09-24 13:36] #347 closed, assigned to oparoz

[2015-09-24 13:43] oparoz opened #373 "Use DOMPurify to parse SVGs [$15]"
@LukasReschke - What do you think about using DOMPurify to parse SVGs before showing them in the browser?
- [x] Decode and parse base64 encoded SVG thumbnails
- [x] Parse large SVG previews
## <bountysource-plugin>

Did you help close this issue? Go claim the **[$15 bounty](https://www.bountysource.com/issues/26922629-use-dompurify-to-parse-svgs?utm_campaign=plugin&utm_content=tracker%2F9328526&ut

[2015-09-24 13:44] LukasReschke commented on #373
This sounds like a potentially awesome idea!

[2015-09-24 13:45] oparoz commented on #373
Cool. Crossing my fingers for it to not slow down operations too much :)

[2015-09-24 13:49] LukasReschke commented on #373
Let's get you three beer for all the work… - THX!

[2015-09-24 13:52] #295 closed, assigned to oparoz

[2015-09-24 14:00] oparoz opened #374 "Message for empty galleries looks broken on the public side"
Hopefully, this won't be too messy to fix...
Note that this was broken before the new design of the empty page. It probably happened when removing the permanent scrollbar.

![](https://cloud.githubusercontent.com/assets/323220/10073764/90cb151a-62cb-11e5-8b73-c01e4aac98d1.png)

@jancborchardt @raghunayyar

[2015-09-24 14:03] oparoz commented on #373
Hehe, thanks!

[2015-09-24 16:57] jancborchardt commented on #357
@deMattin We can do that, but in a planned fashion, and as part of the feature development in the dev cycle (_not_ in the bugfixing phase before the release). Gallery is shipped by default and a pretty prominent app, so we need to make sure core and gallery are in line. ownCloud is used by millions of people, so we have to make sure it works and looks properly.

[2015-09-24 16:59] jancborchardt commented on #290
Replaced by https://github.com/owncloud/gallery/issues/374 though?

[2015-09-24 17:27] deMattin commented on #357
@jancborchardt: Agree, not to be a topic for bugfixing phase!

Gallery can have many possible and useful features, and surely needs some possibilities for settings or switches. So it should be found a solution, that fits for other apps also, if there will be the need (later), too.

But one point: Clean and fitting GUI doesn't needfully be seen such hard, I think.
I use Rainloop integrated in owncl

[2015-09-24 17:31] oparoz commented on #357
@jancborchardt - Yes, this is definitely for 9.0. Ideally it would be a public UI element in core, but it might be given birth here if found to be of use.

[2015-09-24 17:31] oparoz commented on #290
Absolutely. I later realised it was unrelated.

[2015-09-24 17:31] #290 closed, assigned to nobody

[2015-09-24 18:11] oparoz opened #375 "Introduce kinetic scrolling on iOS"
It would be nice to be able to have kinetic scrolling on iOS, but for some reason, Apple has disabled it and the app needs a special CSS parameter which breaks the rendering on some browsers.

`-webkit-overflow-scrolling: touch`

If someone wants to try to make it work, you can try to enable it on #content-wrapper. You'll see that on some browsers it will have some serious side-effects on the cont

[2015-09-24 18:13] oparoz opened #376 "SWOD on Chrome for iOS"
Someone needs to turn on remote debugging and figure out why Chrome is choking on the scripts...

[2015-09-24 20:07] oparoz opened #377 "Thumbnails keep being over-processed and reduced until they disappear into oblivion on high DPI screens"
@africanforest has reported an interesting problem where some thumbnails would not be generated properly: https://github.com/interfasys/galleryplus/issues/18

For various reasons, we need to change the way we check if a thumbnail is valid. That whole routine will eventually be removed, once we're a 100% confident that the Preview class returns previews which fit in the asked dimensions.

[2015-09-24 20:51] #377 closed, assigned to oparoz

[2015-09-24 20:58] oparoz commented on #376
"CSRF check failed" when trying to get the config. We keep running into these issues where the token is not properly added by core...

[2015-09-24 21:22] oparoz commented on #376
Probably related to this, so either a problem in `core`, iOS or Chrome for iOS...

[2015-09-24 21:53] oparoz opened #380 "DOMPurify corrupts absolutely"
On some browsers, DOMPurify completely collapses and returns a null answer.

[2015-09-24 22:03] oparoz commented on #380
Fixed via https://github.com/owncloud/gallery/commit/29b699b6a3bc6543ef354e0e6d8d1746c9611a05

[2015-09-24 22:03] #380 closed, assigned to nobody

[2015-09-24 22:17] oparoz opened #381 "Scale up really small images for the album presentation"
Small GIFs look tiny in the albums. That's because we ask `core` for a preview with no aspect ratio and no scaling, so the small image is pasted in the middle of a canvas of the asked dimensions. It looks even worse on high DPI screens since you could have a 50x50 image pasted on a 600x600 transparent background, which is then scaled down to 200x200.
## <bountysource-plugin>

Want to back this iss

[2015-09-24 22:21] oparoz commented on #381
Tested by asking Preview for images which keep the aspect ratio for the albums and that works for most cases, but not for panoramic pictures, which already have issues in the photowall itself. So maybe one day that special case could be fixed in `core, killing two birds with one stone.

[2015-09-24 22:31] oparoz commented on #381
Scaling up only works on old screens. The quarters of the albums get nicely filled, small GIFs look better and panoramic pictures only look slightly worse, but on HiDPI screens, there is no change...

_Note to self: maybe I've forgotten to multiply the scaling factor by the pixel ratio_ :pensive:

[2015-09-25 13:30] oparoz commented on #349
Yes, but that's in a row, with lots of information organised in columns.

Yes, if that doesn't work at the bottom, it should definitely be pushed back to the right, like on some of the slideshows we've been studying. We could also imagine moving play/pause up there in order to avoid having any controls at the bottom.
I'm also thinking of having something like: 3dots - Play - Close. Clicking on the

[2015-09-25 13:31] oparoz commented on #349
We need static mock ups to understand better how things will look.

[2015-09-25 13:36] oparoz commented on #349
If that's too much work for 8.2, I can definitely move the top buttons to the right and give them the same size, as a quick fix.

[2015-09-25 16:31] oparoz commented on #374
Let's see what `core` come up with since it's broken there as well. They have a different problem though since the public page needs another fix for the scrollbar.

https://github.com/owncloud/core/issues/19364#issuecomment-143223436

[2015-09-25 16:54] oparoz commented on #374
In case we want to go solo:

[code]

The only problem is that it would look different when switching side

[2015-09-25 17:10] oparoz opened #382 "Album thumbnails can arrive out of order and kill the layout"
Since thumbnails can arrive out of order, we need to make sure we place them correctly. I seems to me that this is happening naturally in most cases. There is an empty space which is later filled by the thumbnail, but I also often see broken layouts because a thumbnails is placed after where it should be.

![out_of_order](https://cloud.githubusercontent.com/assets/323220/10107098/0548a982-63b9-11e

[2015-09-25 18:16] jelofson commented on #272
You could, if you really want to, add  . 'img-src \* data:; ' to the 'lib/private/response.php' file at about line 250. That will make it work, but I am not really into that as a solution. I have yet to figure out how to override that via the \OCP\AppFramework\Http\ContentSecurityPolicy along with the OCP\AppFramework\Http\Reponse::setContentSecurityPolicy(). At least I can't figure out how from t

[2015-09-25 20:03] jancborchardt opened #383 "Docs in the wiki"
@oparoz I just noticed there’s https://owncloud.github.io/gallery for documentation. In an effort to not scatter stuff all over the place, we should only use the wiki for these things. (Or the https://github.com/owncloud/documentation, but not a third thing.)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26956798-docs-in-the-wiki?ut

[2015-09-25 20:18] jancborchardt commented on #349
@oparoz I made a mockup above 10 days ago. And also mentioned the importance of this before. Please fix this for 8.2 – the controls should be next to the filename. cc @owncloud/designers @karlitschek

[2015-09-25 20:19] jancborchardt commented on #349
And at the moment it’s the download action only anyway. We can do more specific mockups in the 9.0 dev cycle. Rest assured it will fit, because it works for the filelist too.

[2015-09-25 20:39] jancborchardt commented on #374
@oparoz in doubt we can also remove the footer for the emptycontent pages. Maybe @owncloud/designers @Henni @MorrisJobke can fix? (I’m on vacation now)

[2015-09-25 20:40] jancborchardt commented on #357
@deMattin well, you should try out ownCloud Mail: https://github.com/owncloud/mail/ – it has significantly more integration on both a functionality & look level. An embedded app will never feel as smooth and seamless.

[2015-09-25 21:21] deMattin commented on #357
@jancborchardt You should have a look at rainloop. Comparing owncloud Mail with rainloop is like Comparing Outlook Express with Outlook...
Rainloop is an owncloud app, uses addressbooks of oc and supports endless Accounts. I have installed both, but oc Mail is a Horror with more than 2 Accounts and rainloop hast much more features.
But for sure it will be neuer get approved because of a well desig

[2015-09-25 22:59] oparoz commented on #357
Well, Rainloop uses its own design and probably "only" has connectors to some of ownCloud' services. It could just as well be hosted on another server if I'm no mistaken. You definitely notice that the environment is different when switching between Files and Rainloop.
Mail is of alpha quality. It's a young project. We should give it some time.

I don't understand why people are obsessed with havi

[2015-09-25 23:02] oparoz commented on #383
We can't. Those are websites, automatically generated after code analysis. They're exclusively for developers and there is not a similar repository in `core` storing that kind of information afaik.

[2015-09-25 23:04] oparoz commented on #374
If we modify the CSS, then I'd rather give the footer a fixed position in case there is nothing to see, but I'm waiting for `core`'s move first :)

[2015-09-26 01:35] deMattin commented on #357
It's really offtopic ... ;)
Rainloop is a real owncloud app AND has the possibility to work as a standalone install (which is first and main branch but in code sync with oc install, if you install correct licence and with update possibility in admin panel of rainloop -> no git or oc app update neccessary!).
Admin settings are made in admin panel of oc and an enhanced admin panel with dozens of set

[2015-09-26 11:30] oparoz commented on #357
I'm going to rain on your parade ;)

No, it's an external app with an ownCloud wrapper which loads it in an iframe.
Nothing wrong with that approach, but it's not an app built on the tools provided to build apps, unlike Mail.

Yes, that was clever of them, because that's one of the most confusing thing about wrapped apps.

It will on 8.2 since the buttons are different, but right now, it's not sho

[2015-09-26 15:07] oparoz commented on #376
~~Could be related to https://github.com/owncloud/core/pull/19014~~
No, the headers are set properly, at least in other browsers.

[2015-09-26 17:19] #371 closed, assigned to nobody

[2015-09-26 17:31] oparoz commented on #343
1. Create a link to a share
2. Add a password to it
3. Modify the link so that instead of `index.php/s` you have `index.php/apps/gallery/s`
4. Visit the modified link

[2015-09-26 19:00] #382 closed, assigned to oparoz

[2015-09-26 19:10] oparoz commented on #51
Re-opening so that we don't forget about the remaining bug

![](https://cloud.githubusercontent.com/assets/323220/10113489/34d3d754-63e5-11e5-89dc-6b04adac7709.png)

[2015-09-26 19:50] oparoz opened #385 "Clear inherited album config when going back to en empty album"
1. Create a folder with a gallery.cnf in it with an inheritable description and background colour
2. Create an empty sub-folder
3. Navigate to sub-folder
4. Switch to Gallery view

There is no info button, no colour, etc.
1. Go to parent folder
2. Press back

Now there is an info button and the background colour has changed.

Pressing back is not the "normal" way to reach that folder. It doesn't e

[2015-09-26 20:14] #385 closed, assigned to nobody

[2015-09-26 20:17] oparoz commented on #329
@cmonteroluque - This will be automatically fixed as soon as #359 is fixed, which is targeted for 8.2, so I'm putting it back on 8.2

[2015-09-26 20:20] oparoz commented on #374
Targeting 8.2, like in `core`.

[2015-09-26 21:14] oparoz commented on #51
Also, the download and "brightness" icons don't have the new look.

[2015-09-26 22:27] wilsonlmh opened #386 "The "switch-to-Gallery" button is hard to notice (on large monitors)"
The button can't be noticed in large monitor because it's top-right now. I personally "discovered" the button finally on my phone. Maybe this is my opinion. However my users has same suggestion on this. Is it better to move it back to left hand side(feeling just like a 'view' switcher in explorer or finder)? Or any reason/policy?

[2015-09-26 23:30] oparoz commented on #386
@wilsonlmh - On which version did you test?

And I'll let @jancborchardt and @karlitschek explain why it moved to the right (and has been made discreet on 8.2)

[2015-09-26 23:40] wilsonlmh commented on #386
14.0 and I saw 13.0 on the left. I just updated 14.1 and notice it become the view switcher I said! Great! But I am using iphone I don't how is it in computer. I will try tmr.

[2015-09-26 23:52] oparoz commented on #386
OK, so the view switcher is exclusively available in Gallery+ for 8.1 and 8.0, but it will require some work to keep it on 8.2.
As for the location, it may be possible to move it back to the left on Gallery+, but I haven't decided yet.

[2015-09-27 13:19] oparoz commented on #18
owncloud/core#11685 has been moved to 9.0 :(

[2015-09-27 15:06] oparoz commented on #18
Depending on the timeline for the delivery of https://github.com/owncloud/gallery/issues/221, I could add a method to the service to generate the thumbnail at the same time the information is collected.

[2015-09-27 19:02] oparoz commented on #22
Solution is available as an occ command: https://github.com/owncloud/gallery/pull/387

Only available to admins, because this wouldn't work as a user callable command since it would probably time-out before the task could be completed.

[2015-09-27 19:05] oparoz commented on #43
occ command to generate thumbnails: https://github.com/owncloud/gallery/pull/387

[2015-09-27 19:26] oparoz opened #388 "Keep dev documentation generated from master separate from the one generated from branches"
Currently, any Travis build will generate and publish the developer documentation, but we need to add documentation based on master, so that we always know the status of the current code.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26987317-keep-dev-documentation-generated-from-master-separate-from-the-one-generated-from-branches?

[2015-09-27 21:32] oparoz commented on #346
A broken SVG you can use to test:
https://oc8demo.interfacloud.com/index.php/apps/galleryplus/s/q6j106oXEF5bi2q/53739.svg

You need to enable native_svg first in your gallery.cnf

[2015-09-27 22:39] oparoz opened #389 "Slideshow notifications are now too low"
The top menu is pushing the element down. We need to absolutely position it.

[2015-09-27 22:46] oparoz opened #390 "Hide filename when moving to next picture"
The next one may fail and we don't want to see the filename of the previous one.

[2015-09-28 12:08] oparoz commented on #5
@SergioBertolinSG - There is now some documentation for the API: https://github.com/owncloud/gallery/wiki/RESTful-API

[2015-09-28 12:29] karlitschek commented on #386
Honestly. If you don't notice buttons on the interface then maybe you browser windows is just too big ;-) We can't just align everything to the left because you might go full screen on a big monitor and don't look on the right side of the interface. ;-)

[2015-09-28 12:56] SergioBertolinSG commented on #5
@oparoz Awesome, thanks.

[2015-09-28 17:22] wilsonlmh commented on #386
![image](https://cloud.githubusercontent.com/assets/5100899/10142889/f5573e12-6647-11e5-82fc-fba2e177160e.png)d
You're right. However 1440x900 or 1920x1080 are very popular nowdays. I personally think it should have something to solve the problem on that kind of monitor. I mean more responsive. For example, change it's color?put it on center? or add some margin? We can have further discussion :)

[2015-09-28 17:32] karlitschek commented on #386
Sorry but we will always have UI elements aligned to the left side and right side of the screen. We won't move everything to the left only because someone might use owncloud full screen on a huge monitor and  ignores what is going on on the right side of of the monitor.

[2015-09-28 17:32] #386 closed, assigned to nobody

[2015-09-28 18:13] oparoz opened #392 "Limit the scale factor of thumbnails to integers"
Instead of generating exact thumbnails, we could serve ones of a higher resolution.

Per example, users with a screen with a pixel ratio of 2.1 would get thumbnails generated with a ratio of 3.
### Pros
- Higher chance that the thumbnail will be available right away
- 100% chance if thumbnails are pre-generated
### Cons
- +5-8MB per 100 thumbnails
- Wait time could be almost the same as it would t

[2015-09-28 20:52] deMattin commented on #392
I like _any_ enhancement that makes it possible to pregenerate thumbnails because this is it, that slows anything down if thumbnails have to be generated just in time.
Thumbnails are previews and detail quality isn't that much important, I think.
But what's about always rounding down (giving smaller thumbnail) and let phone scale picture slightly up?
So pregenerating ratio 1, 2 and 3 and always si

[2015-09-28 21:11] oparoz commented on #392
I'm against rounding down ;) It usually immediately shows when a picture is stretched. The opposite is also true, images are usually crisper when the browser shrink them, so that could be another con

[2015-09-28 21:23] deMattin commented on #392
Is it really that bad?
I "simulated" browser scaling by simply using chrome browsers scaling feature and for _me_ it's not a problem with the quality.
Ok, you will always get a better pic, if you scale from original to fitting scale than if you scale 30% up or down. But is it that important for thumbnails? Let's see, what others think.
And how is it possible to show the effect of the different app

[2015-09-28 21:29] oparoz commented on #392
If you load some panoramic pictures, you'll see how blurry they become, but you can also hack the javascript and multiply the scale factor by 0.83.

https://github.com/owncloud/gallery/blob/master/js/thumbnail.js#L108

[2015-09-28 22:32] oparoz opened #393 "Move the global features to a user settings panel"
Users currently enable [global features](https://github.com/owncloud/gallery/wiki/Gallery-configuration#global-features) by adding special parameters to a `gallery.cnf` file placed in the top folder in their filesystem.

That should eventually move to a panel in their personal settings.
#### Advantages
- Friendlier for users who don't care about configuring their albums
- We wouldn't need to send

[2015-09-30 06:58] j-ed opened #395 "v14.1.0 - feof()/fread() errors should be replaced by readable message"
## Expected behavior

The Gallery(Plus) app file scan process shouldn't throw out feof()/fread() errors if a file couldn't be found or the file access rights might haven't correctly be set. These messages are causing a rapid log file increase without valuable information. Instead the name of the file which couldn't be accessed should be shown so that an administrator is able to solve the problem.

[2015-09-30 09:29] oparoz commented on #395
Thanks for the report and the link. This happens with GIF files exclusively.

We're already catching exceptions, but apparently this is not enough and I will update that method.

[2015-09-30 18:09] ghost commented on #329
@oparoz ok, reviewed

[2015-09-30 20:58] oparoz opened #396 "Re-introduce private APIs to initialise the filesystem"
It's difficult to assess whether or not I should go back to using private APIs. In my tests with corrupt files, Gallery displays an icon, as expected, but others may get an empty gallery because of a fatal error caused by a file which can't be read.

The problem comes from `$rootFolder->getUserFolder($userId)` which apparently does not setup the view properly.
https://github.com/owncloud/core/issu

[2015-09-30 22:56] #329 closed, assigned to nobody

[2015-09-30 22:58] oparoz commented on #359
Fixed via #367

[2015-09-30 22:58] #359 closed, assigned to nobody

[2015-09-30 23:17] oparoz commented on #346
This requires https://github.com/owncloud/gallery/pull/391 to work properly as SVGs containing an evil payload can still stop the rendering.

[2015-09-30 23:19] #310 closed, assigned to oparoz

[2015-09-30 23:19] oparoz commented on #22
![smb_stats](https://cloud.githubusercontent.com/assets/323220/10209326/7bb1f568-67da-11e5-9c4f-8b8aedc6e765.png)

[2015-09-30 23:20] #309 closed, assigned to oparoz

[2015-09-30 23:21] oparoz commented on #288
Already in 8.2 and Gallery+ for 8.1 and 8.0. Works as expected. The feature can be enhanced in 9.0.

[2015-09-30 23:21] #288 closed, assigned to oparoz

[2015-09-30 23:26] oparoz commented on #5
I'm going to close this since the tests are used in CI.
We'll have a better idea of if it meets the needs of developers when they start using it.
Any missing, interesting test case, just add them directly to the tests or post new scenarios.

[2015-09-30 23:26] #5 closed, assigned to nobody

[2015-10-01 09:34] #373 closed, assigned to nobody

[2015-10-01 12:31] oparoz commented on #118
There is no point. The collection would be incomplete. It's best to use the new occ commands to pre-generate the thumbnails.

[2015-10-01 12:33] oparoz commented on #38
I don't think we can reliably check if a thumbnail is empty. If a thumbnail is not what it's supposed to be, an admin can regenerate the thumbnails for the folder.

[2015-10-01 18:01] ghost commented on #51
This bug will fall off 8.2 if not resolved by 6 Oct

[2015-10-01 18:01] ghost commented on #53
This bug will fall off 8.2 if not resolved by 6 Oct

[2015-10-01 19:51] ghost commented on #244
This issue will fall off 8.2 if not resolved by 6 Oct

[2015-10-01 19:51] ghost commented on #257
This issue will fall off 8.2 if not resolved by 6 Oct

[2015-10-01 20:07] ghost commented on #346
@rperezb @SergioBertolinSG @davitol can you please test?

[2015-10-01 20:07] ghost commented on #349
This issue will fall off 8.2 if not resolved by 6 Oct

[2015-10-01 20:12] ghost commented on #370
This issue will fall off 8.2 if not resolved by 6 Oct

[2015-10-01 20:17] ghost commented on #389
This issue will fall off 8.2 if not resolved by 6 Oct

[2015-10-01 20:17] ghost commented on #390
This issue will fall off 8.2 if not resolved by 6 Oct

[2015-10-01 20:48] carlaschroder commented on #244
Hi @oparoz, I'm not sure what to do with this. Since this about app compliance, is there someone at oC who actually handles app compliance?

[2015-10-02 06:47] rperezb commented on #346
@Dianafg76 will take care of this one, I am currently working with her, thx

[2015-10-02 08:34] rperezb commented on #346
Checked, it doesn't break the gallery

File used: https://s3.owncloud.com/owncloud/index.php/s/MD4hOi7Fqv9o4WL
(The suggested one doesn't work)

Server version: ownCloud 8.2 beta1 (daily) Build:2015-10-02T03:39:51+00:00 f891b91cf8475eee16ab1ca08869430bd2dbe51b

[2015-10-02 08:37] #346 closed, assigned to oparoz

[2015-10-02 08:38] rperezb opened #397 "[SVG] Chrome it´s not showing the image file icon"
STEPS:
1.- Upload a malformed svg file, such as: https://s3.owncloud.com/owncloud/index.php/s/MD4hOi7Fqv9o4WL
2.- Access to the Gallery

EXPECTED BEHAVIOR
Image file icon is shown

CURRENT BEHAVIOR
See attached image:

![screen shot 2015-10-02 at 10 30 30](https://cloud.githubusercontent.com/assets/1846927/10242488/6f4596fa-68f1-11e5-8e82-f2cf56c1f505.png)

On ff:

![screen shot 2015-10-02 at 10 3

[2015-10-02 08:51] Dianafg76 commented on #289
I tested this Issue, I Have used:
1. Firefox, it is working OK. The scroollbar you can see when have more than 25 Photos, it does not appear before.
2. Chrome, it is working OK. The scroollbar can see when they have more than 25 photos , it does not appear before.
3. Safary, it is working OK. The scroollbar can see when they have more than 25 photos , it does not appear before.
4. IE8, is an incom

[2015-10-02 08:53] #289 closed, assigned to oparoz

[2015-10-02 10:52] Dianafg76 opened #398 "On gallery plus if share a folder by expiration date and if you change the expiration date on Desktop Client, the date format has changed"
### Steps to reproduce
1. Go to the Desktop
2. Create a new folder (e.g Sharing folder)
3. Upload same Photos
4. Go to the Server Client
5. Go to the Gallery option
6. Click on the Folder (call Sharing folder)
7. Share by link
8. Select the option "Set expiration date"
9. Introduce the date (e.g. 03-10-2015)
   ![screen shot 2015-10-02 at 12 36 25](https://cloud.githubusercontent.com/assets/120320

[2015-10-02 11:20] Dianafg76 opened #399 "With SAFARY, If you have the option "Enforce password protection", You should be able to share link"
### Steps to reproduce
1. Go to the Server Client with Admin
2. Go to the Sharing option
3. Select the option "Enforce password protection"
   ![screen shot 2015-10-02 at 13 11 21](https://cloud.githubusercontent.com/assets/12032058/10245362/1cc768b6-6907-11e5-8e75-2c906b3d69b5.png)
4. Close the Admin sesion
5. Login with user1
6. Go to the Gallery
7. You have one folder with some Photos (e.g. fol

[2015-10-02 11:36] Dianafg76 commented on #343
I tested this issue with this options:

| Test case | Browser | Result |
| --- | --- | --- |
| Share from the Gallery a folder | Firefox, Chrome, Safary | OK |
| Share with password | Firefox, Chrome, Safary | OK |
| Share with expiration time | Firefox, Chrome, Safary | OK |
| Share with password and expiration time | Firefox, Chrome, Safary | OK |
| Force from admin to share with password | Fire

[2015-10-02 11:50] oparoz commented on #399
@icewind1991 - Could this be related to your modifications for the checkboxes in the share dialogue?

[2015-10-02 11:52] oparoz commented on #397
Thanks for the report. I hope I'm going to be able to solve this. The icon appears after a refresh, so Chrome is not updating the image after it has downloaded it.

[2015-10-02 11:54] oparoz commented on #374
@cmonteroluque - There is a dependency on https://github.com/owncloud/core/issues/18968 which is targeting 9.0.
Move to 9.0?

[2015-10-02 11:56] oparoz commented on #370
Will use the folder from core and will open a new issue to get better folders in Gallery

[2015-10-02 12:01] oparoz commented on #398
Dianafg76 - There isn't a share dialogue in Files any more and I've tested with the new sidebar and it has the same problem, so I think this should be fixed in `core`.

![broken_expiration_in_files](https://cloud.githubusercontent.com/assets/323220/10246059/05a8c0c4-690e-11e5-9a1f-a4cfe93b7fef.png)

[2015-10-02 12:04] oparoz commented on #343
Thanks for the report, I'm going to close this, since this issue was about the button design. We will keep #399 open until this is resolved.

[2015-10-02 12:04] #343 closed, assigned to oparoz

[2015-10-02 12:06] oparoz commented on #244
@karlitschek @MTRichards

[2015-10-02 12:07] oparoz commented on #51
Moving to 9.0 as nobody will be able to fix this on time.

[2015-10-02 15:15] ghost commented on #374
@oparoz it's a regression so I am hesitant to let it go. @PVince81 @MorrisJobke thoughts?

[2015-10-03 12:08] oparoz commented on #346
Can't download it? What kind of error are you getting?

[2015-10-03 12:15] oparoz commented on #398
Opened an issue in `core` https://github.com/owncloud/core/issues/19549

[2015-10-03 12:42] oparoz commented on #399
@Dianafg76 - I can't reproduce using `core` master and safari iOS8. Maybe some random issue with the sharing backend?

[2015-10-04 10:32] oparoz opened #400 "Remove obsolete DB tables and folders"
"Pictures" used to store some information in special tables and thumbnails in an alternate location. Might be a good idea to clean that up.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27151214-remove-obsolete-db-tables-and-folders?utm_campaign=plugin&utm_content=tracker%2F9328526&utm_medium=issues&utm_source=github)** We accept bo

[2015-10-04 10:49] oparoz opened #401 "Implement left sidebar, like in Files"
- Make the burger permanent in the controls
- ~~Re-use the code from files~~
### Plan
- [ ] Try to use the navigation CSS to see if we can easily get a sidebar. https://doc.owncloud.org/server/9.0/developer_manual/app/css.html#navigation
- [ ] Auto-hide it via CSS
### Obstacles

The current official template design in `core` does not work on iOS.
#### Solutions
- Wait for `core`  to fix the proble

[2015-10-04 10:51] oparoz opened #402 "Make it possible to turn the API off?"
Security obsessed admins may want to turn it off as its less things to worry about.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27151384-make-it-possible-to-turn-the-api-off?utm_campaign=plugin&utm_content=tracker%2F9328526&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?u

[2015-10-04 11:40] oparoz opened #403 "Add the API to the capability manager"
Use the new capability manager available in 8.2+:
https://github.com/owncloud/core/pull/15093
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27151916-add-the-api-to-the-capability-manager?utm_campaign=plugin&utm_content=tracker%2F9328526&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountyso

[2015-10-04 13:11] oparoz opened #404 "Remove custom preview endpoints"
Once `core` delivers on its promise to provide a fully functional preview WebDAV endpoint with all the public methods of `Preview`, we could drop ours.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27152699-remove-custom-preview-endpoints?utm_campaign=plugin&utm_content=tracker%2F9328526&utm_medium=issues&utm_source=github)** We acc

[2015-10-04 14:52] oparoz opened #405 "Drag and drop files and folders [$250]"
As soon as the app supports [uploading files](https://github.com/owncloud/gallery/issues/25), there will be the need to re-organise them.
## Specifications

Files/folders should be draggable and folders/breadcrumbs should be drop targets. There is no support for multi-element select.
- [x] Make files draggable
- [x] Make folders draggable
- [x] Draggable elements must be resized and made semi-tran

[2015-10-04 16:08] oparoz opened #406 "Use Underscore more"
That library offers a lot of convenient methods and we should use it more instead of building our own.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27154859-use-underscore-more?utm_campaign=plugin&utm_content=tracker%2F9328526&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/

[2015-10-05 05:43] jancborchardt commented on #349
(I’m on vacation, this is an exception.)

@oparoz It’s really a bit unfortunate that we can’t get this simple moving of the action down next to the filename done. What’s so complicated about simply moving it there? It’s only the download action, as I said. If assistance is required cc @MorrisJobke @PVince81 @Henni

[2015-10-05 07:09] Dianafg76 commented on #399
@oparoz Hello, I tested this bug again and now it is working OK.

[2015-10-05 07:55] rperezb commented on #346
Ummm, on Friday it didn't work, I got a connection error..

Today I have downloaded it, and it works fine, meaning this, the gallery is not broken

[2015-10-05 08:36] oparoz commented on #399
Thanks! I'll close this for now.

[2015-10-05 08:36] #399 closed, assigned to nobody

[2015-10-05 08:38] oparoz commented on #398
Fix for Files is here: https://github.com/owncloud/core/pull/19553. Waiting on the backport.

[2015-10-05 08:41] oparoz commented on #346
Cool, thanks :)

[2015-10-05 08:41] oparoz commented on #289
Many thanks.

[2015-10-05 09:47] oparoz commented on #395
@j-ed - Do you use encryption?

[2015-10-05 10:49] Henni opened #407 "Pause button is sometimes not clickable"
During a slideshow the pause button in the bottom right is sometimes not clickable.
I believe this happens for every image after it is displayed half of the time.
This issue occurs in Chrome and Firefox.

edit:
this happens because the progress indicator is not clickable.
`<div class="progress icon-view-pause" style="height: 23.72px; overflow: hidden;"></div>`
A simple fix would be to set `pointer

[2015-10-05 10:59] j-ed commented on #395
@oparoz No, I don't use encryption.

[2015-10-05 12:20] rperezb commented on #130
@Dianafg76 did you test it on Friday?

[2015-10-05 12:44] oparoz commented on #130
Just to be clear, it's the spinner you see at the bottom of the rows, as they're loading.
The easiest way to see it is to delete all the thumbnails and to reload an album in Gallery

[2015-10-05 12:55] Dianafg76 commented on #130
I tested this issue and it is working ok.
Server v {"installed":true,"maintenance":false,"version":"8.2.0.7","versionstring":"8.2 beta1","edition":""}
Closed

[2015-10-05 13:35] oparoz commented on #395
Thanks.

[2015-10-05 13:39] oparoz opened #408 "REST API fixes and extensions"
Goals: Remove verbs and provide additional functionalities

_Note: A node can be a file or a folder_
#### Config
- [x] `/api/config`
#### List and metadata
- [ ] :new: `/api/nodes/{id}` Get metadata for the node identified by its ID
- [ ] :new: `/api/path:/{path}` Get metadata for the node identified by its path
- [ ] :new:`/api/nodes/{id}/children` List of images for an album identified by its ID

[2015-10-05 22:16] oparoz commented on #349
There are 2 icons. One of them is optional, but it will still show up for some users.
In portrait mode on mobile, there is a barely readable centred filename with an ellipsis and 3 icons, when there is plenty of space at the top. One possible future solution is the 3 dots which would expand in landscape mode, but it's not there yet.
I can see what you're trying to do and it's true that in a slides

[2015-10-06 08:18] xylo commented on #272
Some for owncloud 8.1.3 on centos 6.7 with php 5.6 using fastcgi and apache 2.2.

[2015-10-06 09:09] oparoz commented on #272
@jelofson - I've modified the policy in addSecurityHeaders() for 8.1.4, so hopefully this will get Pictures to work for those who cannot move to Gallery+.

[2015-10-06 09:38] oparoz commented on #397
Fix is in https://github.com/owncloud/gallery/pull/409

[2015-10-06 10:02] oparoz commented on #407
Fix is in https://github.com/owncloud/gallery/pull/410

[2015-10-06 10:18] oparoz opened #411 "Zooming doesn't work with larger next/previous touch areas"
Introduced by https://github.com/owncloud/gallery/pull/369

Is it possible to keep both the scrollwheel events and the large touch areas?
Otherwise I'm going to have to revert #369.

@Henni @jancborchardt

[2015-10-06 11:32] oparoz commented on #398
Backport is here: https://github.com/owncloud/core/pull/19598

[2015-10-06 11:33] Henni commented on #411
Seems difficult to solve. But I'll take another look and experiment a bit.

[2015-10-06 11:48] oparoz commented on #411
Thanks and so, I'm not against a replacement of bigshot for the zooming feature since it's quite a large lib and since we don't support its main feature which is to allow the use of multiple images when zoming, but we should pick a library instead of writing custom code :)

[2015-10-06 11:55] Henni commented on #408
@oparoz why don't you use url parameters for width and height instead of `{transform}`
`/api/nodes/{id}/preview?width=1920&height=1080`

[2015-10-06 11:56] Henni commented on #411
I'll take a look at this for 9.0

[2015-10-06 11:57] DeepDiver1975 commented on #374
@oparoz can you recheck this with latest master? Is this fixed with https://github.com/owncloud/core/issues/19364 - THX

[2015-10-06 11:59] oparoz commented on #411
OK, so I'll revert #369 for 8.2

[2015-10-06 12:06] oparoz commented on #411
Revert PR: https://github.com/owncloud/gallery/pull/412

[2015-10-06 12:55] oparoz commented on #408
@henni The main reason is so that you can just type a URL and get a result. It can be useful in some situations.

[2015-10-06 13:04] oparoz commented on #374
@DeepDiver1975 - The missing piece is https://github.com/owncloud/core/issues/18968 . Without it, the slideshow can't cover the whole content area and once you introduce that in Files, then the new landing page looks broken, like on the screenshot in the OP.

[2015-10-06 13:05] MorrisJobke commented on #374
Just checked and it is still broken :(

[2015-10-06 13:09] oparoz commented on #374
Yep. Ideally this should happen:
1. Fix https://github.com/owncloud/core/issues/18968
2. Fix the landing page in `core`
3. Port the fix to Gallery

The alternative is that I hack something for 8.2 in Gallery, but then the slideshow won't look great on public pages, in Files.

[2015-10-06 13:42] Henni commented on #408
@oparoz I don't see the advantage over appending `?width=1920&height=1080`
It's not a big deal, but I think it is cleaner as URL parameters, especially as the order is unimportant.

[2015-10-06 14:16] oparoz commented on #408
I'm not a 100% set on that. I find it easier to read and I saw it in other cloud/image processing APIs, but I don't think there is a rule.

`/api/nodes/{id}/preview/w_1920,h_1080,t_crop,b_000033`

vs

`/api/nodes/{id}/preview/?width=1920&height=1080&t=crop&b=000033`

Given how the Appframework works, I would make my life easier by going for parameters.

[2015-10-06 14:59] oparoz commented on #398
Fix is in: https://github.com/owncloud/gallery/pull/413

[2015-10-06 15:02] oparoz commented on #411
Closing this as this is no longer relevant. Re-opened the original issue https://github.com/owncloud/gallery/issues/53

[2015-10-06 15:02] #411 closed, assigned to nobody

[2015-10-06 15:04] oparoz commented on #53
So #369 solved the issues mentioned in the OP, but there was a conflict with the zooming feature, so we were unable to keep it.

I'm not against a replacement of bigshot for the zooming feature since it's quite a large lib and since we don't support its main feature which is to allow the use of multiple images when zoming, but we should pick a library instead of writing custom code :)

[2015-10-06 21:41] jancborchardt commented on #53
To fix https://github.com/owncloud/gallery/issues/411 as well, we need to show the image above the actions. And a tap on the image itself should also switch to the next image.

[2015-10-06 21:44] jancborchardt commented on #349
No, but we could consider for example showing some more options in the three dots menu on mobile. Like Download – and the Background switcher for sure. That would only leave the star and the three dots.

[2015-10-07 10:45] MorrisJobke commented on #374
Fix is here: https://github.com/owncloud/core/pull/19611

[2015-10-07 10:56] oparoz commented on #53
I don't understand. The image will mask the controls

[2015-10-07 13:30] cdamken commented on #272
@oparoz I tried to find the fix, but could find it. where is the fix?

[2015-10-07 13:37] oparoz commented on #272
https://github.com/owncloud/core/pull/19450

[2015-10-07 13:53] cdamken commented on #272
Thanks @oparoz

[2015-10-07 18:45] oparoz commented on #29
What I have in mind does not work on IE8 and I'm not going to keep 2 rendering engines, just to have a fallback for 1% of users, so it will be a Gallery+ exclusive if this lands before IE8 support is dropped from ownCloud.

[2015-10-08 13:00] oparoz commented on #408
~~On a related note, the preview endpoints may even disappear in 9.0~~ This ticket tracks the removal of our custom preview endpoints once they're obsolete: #404

[2015-10-08 15:16] oparoz commented on #401
Since we have to re-create the whole thing, we have to carefully evaluate the benefits of adding those filters.

[2015-10-09 14:52] MTRichards commented on #244
um. @cmonteroluque to discuss the bigger issue of reviewing text related to warnings and the like?

[2015-10-09 17:21] oparoz opened #416 "Add visual feedback when clicking on albums"
Slow folders on external storage take a bit longer to send back the list of files, so the user doesn't understand if navigation will happen or not.

Add a spinner which will die when the page is reloaded.

[2015-10-09 17:24] oparoz opened #417 "Detect scrollbar and resize photowall"
The scrollbar is eating away something like 20-30 pixels of each image on Firefox, so let's see if we can detect it and refresh the page.

This will only be accepted if it doesn't feel too bizarre when reloading the page when the thumbnails reach the bottom of the screen. It should only be a brief flash to re-adjust the view.

I have one slight concern regarding albums, because thumbnails might be

[2015-10-09 22:35] ghost commented on #244
@MTRichards glad to do that

[2015-10-10 15:44] oparoz opened #418 "When navigating through albums, the starting position is not reset to the top of the album"
### Steps to reproduce
1. Open an album with a lot of picture
2. Scroll down a little
3. Click on an album
### Expected result

The position is reset to exactly 45px from the top so that the photowall begins after the controls bar
### Actual result

The photowall starts from 0pc from the top of the container, partially hidden by the controls bar

[2015-10-10 16:15] oparoz commented on #418
Caused by: https://github.com/owncloud/core/commit/e1286a4151c1ad2c2cbdbd16255a4eaa16254776

So with `position: relative` we get the proper scroll to top behaviour, but the footer overlaps the last row.

@henni is there another way of doing this?

[2015-10-10 21:55] DavidPrevot opened #419 "Please, ship (and use) unminified JavaScript files"
Hi,

The `js/vendor/bigshot/bigshot-compressed.js`, `js/vendor/image-scale/image-scale.min.js`, and `js/vendor/commonmark/dist/commonmark.min.js` files are without source, that makes it close to impossible to audit security issues, as well as nearly impossible to check that no malicious code has inadvertently made its way into them.

[2015-10-10 23:03] oparoz commented on #419
Thanks for expressing your concerns :).
Including the source won't always prevent malicious code from making it into the minified version used in the app since you probably won't be able to exactly re-create the minified version unless you know exactly which compiler has been used, with which settings, etc.
Having said that, there are issues with the way scripts are distributed.

Here is my propos

[2015-10-11 13:49] oparoz commented on #370
Of course it would need to be a vector representation, not a picture.

[2015-10-11 14:05] oparoz opened #420 "Rendering stops if first or only media file can't be read"
It's particularly noticeable on albums containing a single broken file.
Hopefully this will be easy to fix and not a limitation of server-side events.

The client asks for thumbnails and instead of getting an event stream containing events with status linked to them (some of which can be 500), it receives an error 500, breaking the rendering.

[2015-10-11 17:03] oparoz commented on #420
I don't think it's a regression. It's just new that GD recovers from processing some bad JPEGs and those warnings happen after we've processed the result received from the Preview class.

[2015-10-11 17:55] #419 closed, assigned to nobody

[2015-10-11 17:57] ghost commented on #374
fix causes a new regression? https://github.com/owncloud/gallery/issues/418

[2015-10-11 17:58] ghost commented on #397
sent to @rperezb for QA test

[2015-10-11 17:59] ghost commented on #398
@Dianafg76 retest with fix please

[2015-10-11 20:02] oparoz commented on #374
Yes :(
But I'm sure we'll find a solution. It's probably possible to apply a fix for the footer only.

[2015-10-12 02:29] jancborchardt commented on #53
@oparoz right, I guess adding another empty transparent ghost container of the size of the image to handle the zooming is too much?

But in any case, tap on the image itself should switch to the next one, as Facebook and others do.

[2015-10-12 02:31] jancborchardt commented on #370
@oparoz is the new core folder icon used for 8.2? That’s the important thing here.

[2015-10-12 02:32] jancborchardt commented on #370
Otherwise this is a regression – it’s not in line with the Files app style. Keeping it in 8.2

[2015-10-12 08:12] tobiasKaminsky opened #423 "Preview API on shared folders"
Hi,

I am using these api calls to get a resized image https://www.server.de/owncloud/index.php/apps/galleryplus/api/preview/239638/768/1184

This works great for  the user who owns a folder.
But if this folder is shared within the same server the other user cannot get the preview; I get a 404.

A quick test yesterday showed me that it may help logging in via the website and browse with gallery+ t

[2015-10-12 08:14] tobiasKaminsky opened #424 "[GalleryPlus] Preview API on shared folders"
Hi,

I am using these api calls to get a resized image https://www.server.de/owncloud/index.php/apps/galleryplus/api/preview/239638/768/1184

This works great for  the user who owns a folder.
But if this folder is shared within the same server the other user cannot get the preview; I get a 404.

A quick test yesterday showed me that it may help logging in via the website and browse with gallery+ t

[2015-10-12 08:15] tobiasKaminsky commented on #424
duplicate, damn unreliable connection on the train...

[2015-10-12 08:15] #424 closed, assigned to nobody

[2015-10-12 08:21] oparoz commented on #370
Lots of little design fixes have been moved to 8.2.1

[2015-10-12 08:33] oparoz commented on #423
You need to use the credentials of the sharees and they should have access, but it could be that the API is using the wrong internal user.

Just to be sure, could you write a step by step so that I can try to reproduce?

[2015-10-12 08:39] oparoz commented on #53
What needs to happen is either capturing the scroll events and sending them to Bigshot or having Bigshot capture the send events.
I think there is always going to be a decision to be made regarding what clicking on the screen does. If we remove bigshot, the pointer will probably turn into a lens which will let the user zoom in/out, not go to the next picture.

[2015-10-12 08:41] oparoz commented on #370
And I'm not sure this can be called a regression since this feature has never existed before. There was always a picture in Pictures.

[2015-10-12 09:13] jancborchardt commented on #370
It’s a regression because before it was in line with the folder icon of Files. Now it’s not anymore. Just link to the core folder icon, don’t copy it into the app. :)

[2015-10-12 09:31] oparoz commented on #370
Do you have a test case to make the folder icons appear?

[2015-10-12 09:39] oparoz opened #425 "Hovering on album name should reveal full name, just like for images"
Albums can end up being tiny if they're next to panoramic images, so we should bring in the same trick used for images.

[2015-10-12 09:52] jancborchardt commented on #357
What kind of issue derail is this here? :D @deMattin if you have any issues or enhancements for ownCloud Mail, please open issues in the tracker: https://github.com/owncloud/mail/issues, thanks!

[2015-10-12 09:56] jancborchardt commented on #370
It happened to me when I had a folder with subfolders and images – with the images in that folder being broken. So Gallery thinks there are pictures, but can only load the preview of the folder.

In any case, look at `apps/gallery/img/folder.svg` – that’s the wrong old image.

[2015-10-12 10:00] jancborchardt commented on #370
PR at https://github.com/owncloud/gallery/pull/426

[2015-10-12 10:00] oparoz commented on #370
Yes, I know it's the wrong image, but that feature was never distributed with ownCloud, so it can't be a regression. At worse, it's an incomplete feature since the design is missing, which is still a problem for a core app.

But the problem is that using another icon is only part of the solution. In many cases, there is an empty image (just the label), that's why I need a way to reproduce it.

[2015-10-12 10:03] oparoz commented on #370
You can use this in a PR if it works for you: https://github.com/owncloud/gallery/commit/d0aa2bb6fbdb6a09fde05468e600d98b3708c7b7

[2015-10-12 10:14] jancborchardt commented on #370
@oparoz if that’s better than #426, can you please submit it as a PR so we can get this in for 8.2

[2015-10-12 10:25] oparoz commented on #370
It's not better, it's more long term, since it may take some time to have a nice gallery album icon ;)
https://github.com/owncloud/gallery/pull/427

[2015-10-12 11:57] oparoz commented on #418
One day left for experts to find a solution. After that I give it a haircut with a chainsaw :)

@jancborchardt

[2015-10-12 12:00] oparoz commented on #241
@LukasReschke - Can I now close this?

[2015-10-12 13:14] #370 closed, assigned to nobody

[2015-10-12 14:46] oparoz commented on #398
Fix has been merged, so use the master branch.

[2015-10-12 15:01] oparoz commented on #374
Closing this as this part as been fixed. The remaining issue concerns the a conflict between the public files list and the photowall in Gallery.

[2015-10-12 15:01] #374 closed, assigned to nobody

[2015-10-12 18:37] tobiasKaminsky commented on #423
I tried to reproduce it on my 8.1 server where the problem is occurring within the android app.
But unfortunately I cannot reproduce it for now.

Basically it was:
User 1 creates folder and copies images into it
User 1 shares this with user2
user2 tries to access it via your preview api with the galleryplus app
A 404 error occurrs for user2 whereas the same url with user1 is working.

[2015-10-12 20:23] jancborchardt commented on #418
What do you mean by »it doesn’t scroll back to the top anymore«? Is there overlap, or was there automatic scrolling?

[2015-10-12 20:49] oparoz commented on #418
Yeah, sorry, it helps if there is an actual description of the problem... Updated the OP.

[2015-10-12 21:48] jancborchardt commented on #418
@Henni can you check that out cause it relates to your change? Otherwise we might have to revert it because this issue is a tad more important I’d say.

[2015-10-12 21:59] oparoz commented on #418
I'm pushing a fix

[2015-10-12 22:07] oparoz commented on #418
Fix is in https://github.com/owncloud/gallery/pull/428

[2015-10-12 22:10] oparoz opened #429 "When running the delete command, also ask questions in quiet mode"
It seems I got carried away with the quiet mode, so I need to review all the console output to make sure the appropriate messages are shown when needed.

[2015-10-12 22:11] oparoz opened #430 "Restore the switch to files button when on an empty public album"
I'm pretty sure it was there before the recent changes to the controls.

[2015-10-13 07:02] nickvergessen opened #431 "Increase version for 9.0"
Just a warning, when stable8.2 is branched off in core (most likely today), the info.xml needs to be adjusted to allow installing against 9.0:

[code]

Also the app version should also be increased (first or second digit, to allow updates in stable8.2 later, in case it is needed):

[code]

[2015-10-13 08:37] #418 closed, assigned to nobody

[2015-10-13 08:44] oparoz commented on #431
Thanks for the heads up!

I need to have a think about versioning... The same functionalities are currently offered across 3 oC versions, but the code base is slightly different, so each need to be packaged individually.

[2015-10-13 08:44] oparoz commented on #398
Thanks @Dianafg76

[2015-10-13 08:44] #398 closed, assigned to nobody

[2015-10-13 08:54] oparoz commented on #423
Is it still happening from within your app?
If yes, it would be useful to collect some ownCloud logs.

[2015-10-13 12:24] rperezb commented on #397
![screen shot 2015-10-13 at 14 24 07](https://cloud.githubusercontent.com/assets/1846927/10454607/1c62ec12-71b6-11e5-93f7-9f1f31e1b25a.png)

thx

[2015-10-13 12:24] #397 closed, assigned to nobody

[2015-10-13 12:55] oparoz opened #432 "Empty album representation when sub-folder contains bad image"
When a folder contains a single bad image, it will be used for the album representation in the parent folder.
Currently, we get an empty image.

[2015-10-13 12:56] oparoz commented on #432
Requires 2 fixes:
- https://github.com/owncloud/gallery/commit/a873e1792b26b0cd1f7e052911294cf86dab38d1
- https://github.com/owncloud/gallery/commit/3043b41f222dcc7d121f7fed7a6657ea263651cd

[2015-10-13 13:07] oparoz opened #433 "Create gallery album icon for when we can't show images"
When we can't fetch at least one thumbnail to put in the album representation, we get a folder icon, but I'd like to have a proper album icon, based on something like this
![](https://cloud.githubusercontent.com/assets/323220/10060509/9fe55620-6251-11e5-87a5-81767310fd56.jpg)

---

@jancborchardt

[2015-10-13 13:08] oparoz commented on #420
Fix is here: https://github.com/owncloud/gallery/pull/422

[2015-10-13 14:39] oparoz commented on #429
The question helper is not smart enough to detect quiet mode... Fixed in the occ branch

[2015-10-13 18:35] oparoz opened #434 "Convert templates to handlebar"
Should make things easier to find/read
- [x] GalleryAlbum https://github.com/owncloud/gallery/commit/2745c40e270c3b0e2bc3314f8bf45f00cceebb9b
- [x] GalleryImage https://github.com/owncloud/gallery/commit/561f5efc5f544952c4ed2753424b6bbc5d40c433
- [x] Breadcrumb https://github.com/owncloud/gallery/commit/f56f0fd2602233216881aecd85ceb3df470a012a
## <bountysource-plugin>

Want to back this issue? **[

[2015-10-13 19:10] tobiasKaminsky commented on #423
As this happens on the device of my wife and I am currently not at home, I will have to wait for her reply.
In the meantime I have checked the logs and can see that galleryplus is creating previews via the api.
But I have to confirm with her that it works...

[2015-10-13 21:49] oparoz commented on #416
Feature is available in: https://github.com/owncloud/gallery/pull/435

[2015-10-14 08:37] oparoz commented on #423
OK, no worries.

[2015-10-14 08:40] Siedlerchr opened #437 "OC 8.1.3 Update from 13.0 to 14.1 fails"
Updating Gallery from 13.0 to 14.1 fails due do unauthorized code
### Steps to reproduce
1. Go to Deactived Apps
2. Click Update on Gallery
### Expected behaviour

The app should update without errors
### Actual behaviour

Error message: Update failed, the app contains unauthorized Code
OCL Log Error
### Server configuration

**Operating system**:
Apache-Version  2.4.10
PHP-Version 5.4.33
MySQL-Ve

[2015-10-14 09:05] oparoz commented on #437
Hello,

You have this setting enabled: `'appcodechecker' => true,` and it's currently impossible to write compliant code using the tools provided by `core` when accessing the filesystem. This might be solved some day as the people in charge are aware of the problem, but this hasn't happened yet.

If you want to see where the non-compliant code is used, you can use the occ tool.

`$ sudo -uwww-data

[2015-10-14 09:09] Siedlerchr commented on #437
Ah Thanks, I set the config flag to false and now the update worked

[2015-10-14 09:36] oparoz commented on #431
- 14.3 for all releases until something major lands
- Supports 8.2-9.0 until we need to use NBC code

[2015-10-14 09:36] #431 closed, assigned to nobody

[2015-10-14 09:40] oparoz commented on #437
Updated the documentation so that people know what to do next time

[2015-10-14 09:40] #437 closed, assigned to nobody

[2015-10-14 12:59] oparoz opened #438 "Don't rebuild the breadcrumb when resizing the window"
Adding DOM elements is expensive, so it's best to show/hide what we have instead of removing/adding

[2015-10-14 17:44] oparoz opened #439 "Remove image-scale library from the app itself, keep in the slideshow"
It's only used for the slideshow on IE8, so no need to load it on the photowall side.

[2015-10-15 13:38] #439 closed, assigned to nobody

[2015-10-15 16:00] LukasReschke opened #441 "What is ocutility?"
Stumbled upon the occurence of the `ocutility` app in the application.php source code - is this still required? Also what is this?

[2015-10-15 16:05] oparoz commented on #441
It's a plugin I use for development. Since there is no plugin architecture yet, I have to explicitly name the app/classes.

[2015-10-15 16:11] LukasReschke commented on #441
Ok. Thanks :)

[2015-10-15 16:11] #441 closed, assigned to nobody

[2015-10-18 14:27] oparoz opened #443 "Calculate the available width for the breadcrumb based on shown buttons"
The app is currently using the worst case scenario, the one where all buttons are shown, which means that there will be a large gap on public galleries per example if the only button shown is the switch to Files button.

The plan is to add 50px per button at view init time.
### In more details

We define `Gallery.buttonsWidth` at 350 pixels. that's the worst case scenario.

When the view is resize

[2015-10-19 10:15] oparoz commented on #434
Any other ideas where we should use Handlebars?

[2015-10-19 10:16] #389 closed, assigned to nobody

[2015-10-19 10:16] #390 closed, assigned to nobody

[2015-10-19 10:16] #407 closed, assigned to nobody

[2015-10-19 14:37] LukasReschke opened #445 "gallery.cnf is not verifying "sort" button"
Data such as "type" is not checked properly, due to some hardening in core this does not lead directly to an exploitable XSS but should get addressed anyways.

![2015-10-19_16-36-49](https://cloud.githubusercontent.com/assets/878997/10580804/9e0e67be-767f-11e5-847a-f2cd2ae395c7.png)

Related code: https://github.com/owncloud/gallery/blob/d904a6a4af293e5730e397218c7e0713c3461215/js/galleryview.js#L

[2015-10-19 14:39] LukasReschke commented on #445
Same is valid for `order` etc. - Best to just test a random config and append `">` to each values to see how it behaves :)

[2015-10-19 14:52] oparoz commented on #445
Wouldn't just checking in the controller work? Any client would get valid data.

I'll check with the background colour, but unless styles can use Javascript, there should be no problem there.
I guess some regexp to make sure we're given alpha values doesn't hurt since it would also provide useful feedback to the user in case of failure.

[2015-10-19 14:54] LukasReschke commented on #445
Sure. But I'm a fan of better twice than never, your choice :)

The colors are fine. `.css` is – generally speaking – not a problem. The problem is more the sorting stuff which you put into jQuery expressions which may get executed depending on which jQuery we in core do ship and which hardenings we do apply :)

[2015-10-19 14:56] LukasReschke commented on #445
Well, except you consider horrible colors a problem :wink:

![2015-10-19_15-59-45](https://cloud.githubusercontent.com/assets/878997/10581328/54724226-7682-11e5-9c9f-e2d74737e675.png)

[2015-10-19 15:11] oparoz commented on #445
I didn't want to duplicate the code, because basically, we're going to do the same thing in PHP and JS:
- Is the keyword in the list? Yes -> Add to config

but I guess an untrusted proxy could modify the code JSON in transit and it's best to check again at the other end...

So in the name of speed, I'm not going to use a sanitizer, but just check the values

### PHP
- [ ] Sort type `name || date`

[2015-10-19 15:12] LukasReschke commented on #445
:+1: - sounds good, evil proxy is out-of-scope so going with just PHP is okay. Well, or JS. Whatever works better for you :smile:

[2015-10-19 15:14] oparoz commented on #445
PHP, because one plan is to send a full gallery as an API response so that it can be embedded elsewhere, so it's best if we make an effort to send harmless content :)

[2015-10-19 16:08] LukasReschke opened #446 "API documentation wrong for "/api/preview/thumbnails"?"
https://github.com/owncloud/gallery/wiki/RESTful-API#preview-api this should probably be `/api/thumbnails` instead of `/api/preview/thumbnails`?

cc @oparoz

[2015-10-19 16:23] LukasReschke opened #447 "Questionable "nativesvg" parameter in "/api/preview/{fileId}/{width}/{height}""
The `nativesvg` parameter is a little bit questionable. Can you elaborate what the reason here is? It does not offer any security advantage as an attacker could just set the value himself.

That said, as far I can tell this does not impose an imminent security risk as CORS routes require HTTP Basic Authentication and the file is served with a download content disposition. Personally I'd always ser

[2015-10-19 17:11] LukasReschke commented on #241
:+1: - looks pretty good :rocket:

[2015-10-19 17:11] #241 closed, assigned to nobody

[2015-10-19 18:03] oparoz commented on #446
You are [correct](https://github.com/owncloud/gallery/blob/master/appinfo/routes.php#L154). Fixed! Thanks!

[2015-10-19 18:03] #446 closed, assigned to nobody

[2015-10-19 18:25] oparoz commented on #447
The SVG is "disarmed" by default so that it's not a problem if it's being processed by Javascript and the switch allows the consumer to get the proper media type if it needs it. I remember having issues in the past with the `core` preview API sending SVG as plain text and having browsers complaining a lot about the media type mismatch, so the same could happen to any 3rd party app using the API.

[2015-10-19 18:34] oparoz commented on #241
Thanks for the review!

[2015-10-20 09:55] LukasReschke opened #448 "Very slow loading of gallery list due to slow getDirectoryListing() on external storage"
Ref https://github.com/owncloud/core/issues/10077#issuecomment-149499679

Opened here as well to allow people to search for it as well.

[2015-10-20 10:03] oparoz commented on #448
Updated the title, as we simply request a list of files using getDirectoryListing()
https://github.com/owncloud/gallery/blob/master/service/filesservice.php#L48

[2015-10-20 11:12] oparoz commented on #448
_File Locking results in slowing down stuff massively_ https://github.com/owncloud/core/issues/19888

[2015-10-22 09:35] youphyun commented on #255
Everpix dead, Loom aquired by Dropbox, Picturelife aquired by StreamNation in early 2015 and also solely US based (while they still support US based S3 buckets for existing users it is very unknown what will happen), Trovebox that was originally crowdfunded as OpenPhoto is dead. The github open source version has only limited features and is not actively developed anymore. Why does every photo sto

[2015-10-22 11:47] jancborchardt commented on #255
@joephein we’re working on it! :) The good part is that ownCloud Gallery works simply on top of files. You can already support us on Bountysource via https://www.bountysource.com/teams/owncloud – or just pay @oparoz directly so he can commit more time to working on Gallery. ; )

[2015-10-23 12:15] oparoz opened #449 "Submit 4 pull requests and win a t-shirt!"
DigitalOcean is celebrating hacktoberfest and you could get yourself a cool t-shirt by helping this project.

There are a few junior jobs posted:
https://github.com/owncloud/gallery/labels/junior%20job

Other tasks might be easy as well, just ask if you're unsure about the complexity of the job. Ditto if you want to help, but don't know where to start!

Make sure to register here first: https://ha

[2015-10-23 19:22] oparoz commented on #255
@joephein

The market is pretty crowded in terms of commercial offerings and so it's difficult to find a working business model with a unique proposition. You have to sell subscriptions in order to keep the open source version alive since you can't sell ads or collect personal info and you would need a million dollars to realise the vision.
Look at what happened to App.net. It's not easy.

That's

[2015-10-25 17:19] LukasReschke commented on #447
Sure. Let me elaborate a little bit on the SVG dilemma a little bit more. I'm a little bit verbose just so that everybody who stumbles it upon in the future and never heard of it can make something out of it :)

SVG is a XML based file format that describe a vector image. To allow some more advanced features it has been decided that SVG should be able to embed JavaScript as well in it's images.

S

[2015-10-25 19:41] ghost commented on #403
@oparoz 8.2.1?

[2015-10-25 19:47] oparoz commented on #403
It's true that with the API in beta, we could wait for it to be production ready before adding it to the capabilities. I don't think there is anything else to add to the manager.

[2015-10-25 20:07] scroom opened #450 "Pictures are shown as thumbnails not in full resolution"
### Steps to reproduce
1. Open the gallery app
2. click on one of the images
3. the image is shown as thumbnail and not in full resolution
### Expected behaviour

The picture should be shown in full resolution
### Actual behaviour

as decribed above
### Server configuration

**Operating system**: Ubuntu 14.04 LTS

**Web server:** Apache

**Database:** MySQL

**PHP version:** PHP 5.5.9-1ubuntu4.13

[2015-10-25 21:04] oparoz commented on #447
How would the Gallery app use that link since it only opens files via its own controllers?
If ownCloud is compromised and modifies the app's Javascript or links, then it's game over anyway.
And if it's an app using the Gallery API, then it can't connect without the user's credentials. Same hurdle if it's an embedded link.

So, attacker sends you a bad SVG, then sends you a link asking for your own

[2015-10-25 21:15] oparoz commented on #450
I'll mark this as a duplicate of https://github.com/owncloud/gallery/issues/193
We don't serve the original image for performance reason, but could make it happen "on demand"

[2015-10-25 22:00] scroom commented on #450
#193 is a different issue I think. My pictures are just shown as thumbnails with a resolution around 200*200px!

[2015-10-25 22:54] oparoz commented on #450
Ah, OK, from those lines
`/var/www/owncloud/data/user/thumbnails/277/150-200-max.png`

I can see that the picture has a maximum size of 200, so if the original image is bigger, then there is a problem with the way that the max preview is generated.

Could you try uploading a new image and see if you can get a larger preview?

[2015-10-26 06:13] scroom commented on #450
Tried it with another picture (3117*1622, jpeg) and got it again as thumnail. Again I've got this in the log:

[code]

[2015-10-26 12:03] oparoz opened #451 "See if we can go back to a sane test setup by setting filesystem_check_changes to 2"
[code]

Changes are not picked up if we make modifications in between tests, so let's see if it's because of this new setting or if we need to use alternative methods.

Related discussion: https://github.com/owncloud/core/issues/18520
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27698552-see-if-we-can-go-back-to-a-sane-test-setup-b

[2015-10-26 13:15] scroom commented on #450
Hm, it is working fine on another server I'm managing.

[2015-10-26 14:39] oparoz commented on #450
There are a couple of variables in the config to set the maximum dimensions of a preview, but it doesn't show up in what you've pasted, so I don't know how it arbitrarily picks 200 as the max. The default value is 2048.

[2015-10-27 13:40] oparoz commented on #252
There is a PR to allow fullscreen mode when starting the slideshow
https://github.com/owncloud/gallery/pull/454

[2015-10-27 17:53] youphyun opened #455 "Filter based on favorite photo's"
Currently it is already possible in ownCloud to mark files and folder with a star (favorites). This also applies to photo's that are displayed in the gallery+ app. I would like to be able to filter these and show only favorites photo's in the gallery+ app. This would add some kind of album feature to the app based on a functionality that already exist in ownCloud. Can a dev estimate how much work

[2015-10-27 18:18] oparoz commented on #455
Thanks for the request and the screenshot :)
There is already an issue open about this: https://github.com/owncloud/gallery/issues/230, so let's continue the conversation there. I'll add your screenshot.

[2015-10-27 18:18] #455 closed, assigned to nobody

[2015-10-27 18:40] oparoz commented on #230
@joephein - I closed your other issue a bit too quickly as it was a subset of this issue, but since you're already sponsoring this one, I'm going to modify it to make it match your original request and split the rest in another ticket about a global search for favourites, which requires a working search engine.

Do you agree with the following scope? It's OK if you don't, it's just so that we can

[2015-10-27 19:56] youphyun commented on #230
That is a good start. Ideally it should also show only those albums (folders in the Files section) that contain photo's that have been marked as favorite including the thumbnails of those photo's that were marked as favorite. If this would require more work I can try to get some more backers :-)

Can this be based on the same functionality that already exist in the Files view?
Of course for photo'

[2015-10-27 23:31] oparoz commented on #230
@joephein The way Files is doing it is different from my understanding of the filtering idea you've described earlier. Files just shows all Favourites on one page, it's not a filter, more a search engine with a locked query.

Would you prefer it if it worked just like in Files? In that case, I don't think the favourite button should be part of the sorting section as that acts only on the current a

[2015-10-28 05:24] jancborchardt commented on #230
It gets to the point where a sidebar for Gallery makes sense. Although unlike Files, I would say it should be collapsed by default as it is on mobile & tablets to focus on the content. (Similar to what we should do for Calendar and Maps.)

What do you think @oparoz @owncloud/designers

[2015-10-28 11:29] oparoz commented on #230
I agree, but it has to be built from scratch as there are no re-usable GUI components in ownCloud and it's not part of the base template.
The side-bar is tracked here: https://github.com/owncloud/gallery/issues/401

[2015-10-28 14:39] youphyun commented on #230
The sidebar might indeed give more ways to show more options. I agree that it should be collapsed by default. I have made a word document with more screenshots and an explanation how I think it should work. However it should not work the same as in Files. It would be good though if the favorite flag is shared between the Files and Gallery+. I really like the option to work with the photo's in both

[2015-10-28 22:14] jancborchardt commented on #230
@oparoz sure – just use `<div id="#app-navigation">` and in there an `<ul>` with `<li>` elements for the entries. Just as described in https://doc.owncloud.org/server/8.2/developer_manual/app/css.html#navigation

For hiding the sidebar by default we can introduce an additional class which will trigger the mobile CSS (where the sidebar is hidden and a toggle is inserted) also on desktop.

[2015-10-28 22:15] jancborchardt commented on #230
@joephein you use Sugarsync to share a docx document here? Smells like treason. ;)

[2015-10-28 23:05] oparoz commented on #230
@jancborchardt - Ah yes, I forgot about the navigation template. I wanted to get the exact same side-bar as Files though, but there is too much to rewrite. We can start with favourites and add the rest as needed.

@joephein Favourite is a special tag and all tags are stores in the DB, so we're not creating our own tagging engine.~~You should even be able to switch between the Files and Gallery vie

[2015-10-29 07:44] youphyun commented on #230
@jancborchardt I use at least 6 cloud services and was very happy to discover owncloud recently when searching for a picturelife / trovebox solution that I can fully host on my own server. I have updated the link in my original post. I think you like this more :-)

[2015-10-29 08:08] youphyun commented on #230
@oparoz

It is strange but I just tried it again and it does work as expected. So please ignore.

We can make a compromise here based on API limitations and the need to build code from scratch. However for me it is crucial to keep the photo's organized. If I have 15 folders each corresponding to a different event (for example: Birthday party of our son, Trip to Prague, Team building with my collea

[2015-10-29 09:23] jancborchardt commented on #230
@joephein yeah, I was kidding a bit. ;) But it’s good to both dogfood, and also evaluate other services – so welcome to the ownCloud community! Your knowledge of the different services can be very helpful to improve ownCloud Gallery. :)

[2015-11-02 04:11] setnes opened #459 "Browser bar always displays on mobile device during slideshow."
I haven't had much time to track this project lately.  I had a chance to upgrade everything tonight though.  I'm now using OwnCloud 8.2.0 and the Gallery 14.2.0 that came with it.  I noticed that it is no longer possible to open up the slideshow on a mobile device without the browser bar showing.  I think this is somehow a side effect of the OwnCloud header being sticky at the top of gallery pages

[2015-11-02 04:44] setnes commented on #448
I'm not using external storage or the file locking app, but thumbnails are presented very slowly.  Is it the same issue?  The thumbnails are already generated.  Hitting reload is painful.

[2015-11-02 04:59] setnes opened #460 "Slideshow will not close if started directly from image link."
I didn't notice this when we worked on the back button / slideshow close logic.  This is a subtle annoyance related to linking to images inside a shared link folder.

Here are the steps to reproduce this issue.

Share a directory using a link.  You will have a link that looks like this...
https://files.example.com/index.php/apps/gallery/s/mAg1cT3xT

Now navigate to an image within that folder.  Yo

[2015-11-02 10:18] oparoz commented on #459
Please, try this PR https://github.com/owncloud/gallery/pull/454 and see if it helps.

[2015-11-02 15:49] jancborchardt opened #461 "De-emphasize file extension"
What do you think about not showing file extensions at all? They belong in a file manager maybe, but not in a nice thumbnail gallery viewer like this.

A compromise would be to not show them in the overview, but only in the detail view. But ideally I’d say let’s cut them everywhere in the Gallery.

@oparoz @owncloud/designers

[2015-11-02 15:56] oparoz commented on #461
I don't really care (for the photowall), but I think this will end up being a half-baked solution, because the rest will probably look like a file name anyway. `toast_with_PM_after_election` or `DCIMG20151102` don't look any better without the extension.
Once we have meta data, it won't be a problem anyway since we'll be able to show the image's title instead of the filename.

Also, I if we ever i

[2015-11-02 15:57] oparoz commented on #460
Ah yes, it's probably because there is no history if you share the link directly... Not sure how to fix this.

Maybe I can test to see if the domain is in the history already...

[2015-11-02 16:04] oparoz commented on #448
@setnes, if you're on 8.2, you're using the files locking app with the database backend. It's slow and there are bottlenecks. Make sure you install and use Redis.
Of course, there could still be other issues :) If it's really the thumbnails, it could be that they're not served from the cache.

[2015-11-02 16:15] carlaschroder commented on #461
What oparoz said. File extensions are essential information for file management and knowing what you're doing.

[2015-11-02 16:17] jancborchardt commented on #461
Yeah, I was also thinking that the file name will look stupid anyway. Also good other points. Disregard this then. ;)

[2015-11-02 16:17] #461 closed, assigned to nobody

[2015-11-02 23:44] Niluge-KiWi commented on #448
I just upgraded from 8.0 to 8.1 to 8.2, and had the same issue as @setnes: very slow gallery display: chrome debug console showed 2-3 seconds to `list` a directory with 30 photos, then multiple calls to `thumbnails` each taking from 2 to 10 seconds, total load time for the first row of thumbnails was 18 seconds.

I enabled a local redis for `memchache.locking`, and APCu for `memcache.local`, and n

[2015-11-03 06:33] setnes commented on #448
Installing Redis certainly helped on my end as well.  On Gentoo I did the following.

[code]

Then I added some magic text to the owncloud config.php file.

[code]

I'm not entirely sure how much of that is really needed in a basic install.  I see that config as an example in many places though.  Someone who understands the caching might be able to explain each line.  :)  I'm also not sure if Redi

[2015-11-03 10:03] LukasReschke commented on #448
Happy to help on that.

So, when we talk about caching ownCloud uses different caches for different use-cases.
1. `memcache.local`: The cache where entries should go that are only relevant for a local server. This is usually best APCu as you may use Redis in combination with different servers. However, if you have only one, Redis is fine here as well. These are often entries such as local paths th

[2015-11-03 11:06] oparoz commented on #448
@Niluge-KiWi - That's normal the first time you launch the app, if there are missing thumbnails. It should always be much faster after that, but I'd be interested to know if Redis also speeds up this operation.

@setnes - Because of the defaults, you only need to set `memcache.local` and can safely remove the rest.

[2015-11-03 19:01] #416 closed, assigned to oparoz

[2015-11-03 23:48] elpraga opened #462 "When in File view, when I switch from list to grid view, folders disappear"
When I am viewing a list of folders in list view and swith to grid view, only the folders with only photos in them will stay visible, other folders disappear.

User is not consciously choosing the Gallery app, in his/her mind he is only swithing the view on existing files. Current behaviour makes it seem that foldders suddenly go missing.

Expected behaviour:
All folders should be visible as befor

[2015-11-04 00:01] Niluge-KiWi commented on #448
More metrics: (all after multiple page refresh)
- filelocking.enabled + `memcache.local` APCu + `memcache.locking` Redis:
  - avatar/name/id: 70ms
  - config: 110ms
  - list: 80ms
  - thumbnails: 115-165ms (5 requests)
  - page ready: 0,95s
  - total: 1,95s
- filelocking.enabled + `memcache.local` Redis + `memcache.locking` Redis:
  - avatar/name/id: 90ms
  - config: 200ms
  - list: 90ms
  - thumb

[2015-11-04 00:02] oparoz commented on #462
As indicated [in the wiki](https://github.com/owncloud/gallery/wiki), the goal of Gallery is not to provide a grid view for files, instead, the Files app should provide that view (shouldn't be difficult since it only requires some CSS/JS changes), as requested [here](https://github.com/owncloud/core/issues/17357).

[2015-11-04 00:08] elpraga commented on #462
That would be perfectly fine, the problem is that it switches to Gallery app without warning. Thank You for pointing out the correct place to report the issue, I was not too sure where to report it, and I misplaced it.

[2015-11-04 00:11] oparoz commented on #448
Excellent, thank you very much for this data. I did experience the slow down on 8.0 when enabling file locking, but thought it had been sorted out on 8.1+, forgetting that I had switched to using Redis.
I'm glad more and more people will adopt it as the technology makes it possible to track changes in real time if we want to.
I still prefer Redis as a general memory cache since it's permanent vs a

[2015-11-04 11:18] oparoz commented on #462
I think it's because the switching icon is confusing, it looks like the typical grid view in a file manager, but then you land in a gallery. @jancborchardt did try to use the Gallery app icon instead, but that didn't work. I'm open to ideas on how to improve the situation.

[2015-11-04 12:49] jancborchardt commented on #462
Well, I mean honestly the only way to clear up this confusion and do it right is to actually implement a grid view in the Files app – as you already mentioned in the past @oparoz

This isn’t on any roadmap so far since it would necessitate maintaining a completely separate view, so it’s quite a lot of work, not only in the short term.

cc @DeepDiver1975 @PVince81

[2015-11-04 13:07] jancborchardt commented on #462
Which is the already mentioned issue in core https://github.com/owncloud/core/issues/17357 of course. :)

[2015-11-04 13:27] elpraga commented on #462
In that case, wouldn't it make more sense to remove the confusing switch and let peple just use the Gallery app if that is what they are doing anyway?

Or at least rename it somehow like "Open folder in Gallery app" because not leaving the current folder is the only reason to have it there..

I am just suggesting that because I got really scared that my files got missing / erased before I cought g

[2015-11-04 15:54] oparoz commented on #401
- [ ] Try to use the navigation CSS to see if we can easily get a sidebar. https://doc.owncloud.org/server/8.2/developer_manual/app/css.html#navigation
- [ ] Auto-hide it via CSS

[2015-11-04 16:06] oparoz commented on #230
### Specifications

Moved to the OP

[2015-11-04 16:30] oparoz commented on #230
@joephein - I've given it some thoughts and I think one folder depth is achievable. Anything above that will be complex to render because you then need to show some images in a top album as well as in a sub-album or have more levels, etc.

[2015-11-04 16:33] oparoz commented on #230
Also, bear in mind that if there are a thousand tagged images, they will all need to be referenced in memory. In other words, it won't scale.

[2015-11-04 16:34] PVince81 commented on #445
@oparoz any update ? not sure what the "ready" label means :smile:
Just asking because this is set for 8.2.1 and we're already in RC1 :smile:

[2015-11-04 19:49] oparoz commented on #445
Ready means this has been accepted for a sprint.
Since we're in RC1 already and this has a low impact, I'd prefer it if we delay the implementation of a fix to 8.2.2 since I should have more time then, but only if @LukasReschke is OK with it.

[2015-11-04 22:04] oparoz commented on #462
I don't think it is, unless there is a lot of HTML embedded in the JS. You simply draw boxes instead of rows.
If it is, then it means the Filelist code needs to be refreshed to fight against bit rot.

@elpraga - The renaming would be in a tooltip. I'm not sure it would be that useful, but it's not difficult to implement if others think it's a good solution.

[2015-11-05 11:37] elpraga commented on #462
You are probably right, much better would be to have a grid view that is a grid view and not a picture viewing app. I was just how to let people know that only pictures and folders with pictures will be visible in the grid view.

[2015-11-05 12:22] jancborchardt commented on #462
Let’s continue in owncloud/core#17357 of which this is basically a duplicate. ;)

[2015-11-05 12:22] #462 closed, assigned to nobody

[2015-11-05 16:54] oparoz commented on #459
Yes, the fixed controls bar has killed the auto-hiding of the browser bar in some browsers.
It's more of a core issue since the slideshow needs to be displayed in Files as well.

But we can implement https://github.com/owncloud/gallery/issues/252 as a partial solution.

[2015-11-05 16:57] #449 closed, assigned to nobody

[2015-11-05 16:58] #450 closed, assigned to nobody

[2015-11-06 01:36] Yetangitu commented on #255
https://github.com/photo/frontend/issues/1570#issuecomment-154257075

[2015-11-06 09:51] jancborchardt commented on #255
@Yetangitu maybe you can expand on that in a separate issue? Having yet another separate gallery app doesn’t sound like the best idea – as proven by a history of »forked« and then subsequently unmaintained apps which only had one main developer and just stalled at some point. So let’s work together on this! :)

[2015-11-06 10:41] oparoz commented on #255
@jancborchardt - It's due to a lack of understanding of how ownCloud works. An external gallery app is going to experience some of the same slowdowns since the files would be fed from ownCloud.

[2015-11-06 11:42] Yetangitu commented on #255
As to whether an external app fed through Owncloud would experience the same slowdowns fully depends on the performance of the sharing subsystem and nothing else. As long as Owncloud is able to shuffle files at a reasonable rate it should be able to keep up. In the described use case Owncloud would be used so provide full-size images while Trovebox would serve scaled-down images (which it is able

[2015-11-06 11:57] oparoz commented on #255
Exactly and that's the reason you're going to experience some of the same slowdowns for listing files or accessing the large previews. The only (and major) benefit you'll get will be from your local thumbnails cache.
I've provided more detailed in the Trovebox thread.

This would make Trovebox slower than Gallery from the 2nd time a folder is opened since the latter would serve smaller thumbnails.

[2015-11-06 13:29] Yetangitu commented on #255
I commented in the Trovebox thread...

https://github.com/photo/frontend/issues/1570#issuecomment-154409891

[2015-11-06 13:47] jancborchardt commented on #255
@Yetangitu @oparoz let’s do this in a separate issue please as I said. This is not relevant in here.

[2015-11-08 00:42] setnes commented on #460
I played around with the _exit function in slideshowcontrols.js.  This is very much a brute force hack, so there's no pull request yet.  It reloads the page (bad).  It parses the page URL (bad).  It does what I want (good).

[code]

[2015-11-08 00:54] setnes commented on #460
There's a much easier way to do this.  It was right under my nose.  It looks like this.stop() can be called when there is not enough history to use back();  Now it's more of a one line change to the IF condition... and maybe a comment change.  :smile:

[code]

[2015-11-09 09:03] ghost commented on #445
@LukasReschke are you ok with 8.2.2?

[2015-11-09 09:09] ghost commented on #432
moving to 9.0 to match the PR

[2015-11-09 09:10] PVince81 commented on #432
PR here https://github.com/owncloud/gallery/pull/422

[2015-11-09 09:11] ghost commented on #420
https://github.com/owncloud/gallery/issues/420#issuecomment-147709206 The PR has a 9.0 milestone. Moving it? @oparoz please reply if we should bring it into 8.2.1

[2015-11-09 09:14] LukasReschke commented on #445
Sure :smile:

[2015-11-10 05:43] Bugsbane opened #464 "Make action menu for thumbnails extensible with plugins"
The new ... menu next to each file in the files app, is incredibly useful, and flexible. Often though, for certain folders made up of a lot of photos, I find myself using the gallery app to browse the files instead of the files app. The trouble is though, that often when I'm using the Gallery app I find myself needing to do various actions found in the ... menu, and switching back and forth betwee

[2015-11-11 15:17] oparoz commented on #464
This is a duplicate of https://github.com/owncloud/gallery/issues/39

[2015-11-11 15:27] MorrisJobke commented on #313
I adjusted the milestone to the core ticket milestone. - cc @cmonteroluque

[2015-11-11 16:18] jancborchardt commented on #313
Also tagging as bug rather than enhancement since it also closes the sidebar if one was open.

[2015-11-13 08:00] Bugsbane commented on #464
No, this is significantly different. Both issues mention a menu for actions that can be performed on images, but that's about it. Issue 39 has a specific hard list of actions. What I am proposing is that we specifically use the same files_apps that are found in the current files app menu, which is far more extendable and modular.

For example, on my install, I have the files_move app installed. Th

[2015-11-13 10:09] ghost commented on #313
@MorrisJobke thanks

[2015-11-16 16:16] #433 closed, assigned to nobody

[2015-11-17 12:13] oparoz commented on #128
Make sure you add your plugins ideas to the wiki: https://github.com/owncloud/gallery/wiki/Plugin-ideas

[2015-11-17 12:16] oparoz commented on #464
#39 doesn't have a hard list of actions, those are suggestions, based on what people have mentioned as useful.

It's not possible to have a 3 dots menu like in Files without implementing a plugins system (#128). Then every app which adds their Javascript to Files will need to be modified to also inject their code into Gallery.

So:
1. Menu
2. Plugin system
3. Convert apps

[2015-11-17 17:16] Bugsbane commented on #464
Fair enough.

[2015-11-21 20:14] maddylliieeee opened #465 "Artifacts visible for previews and slideshow view"
### Steps to reproduce
1. Upload a bunch of photos to your OC
2. Open the Gallery app for these photos
3. Open a single photo (slideshow view)
### Expected behaviour

Assuming uploaded photos had proper resolution a sharp photo should appear.
### Actual behaviour

The resolution of the displayed photo fits (so this is not a duplicate to those issues pointing to resolution) but compression artifact

[2015-11-21 21:01] oparoz commented on #465
This is a `core` issue. The default compression used is 75, which may indeed be too low for full screen previews.

Could you re-open the issue [here](https://github.com/owncloud/core/issues) and mention that the max previews should be using something like 90 instead of 75? I think 100 is too high and will lead to large files.

[2015-11-21 22:04] georgehrke commented on #465
@oparoz Where do you get this 75 from?

[2015-11-21 22:16] oparoz commented on #465
@georgehrke -> https://secure.php.net/manual/en/function.imagejpeg.php

[2015-11-21 22:17] georgehrke commented on #465
thx :)

[2015-11-25 16:17] ghost commented on #445
@oparoz we're heading to the middle of the 8.2.2 timeline quickly, any thoughts on whether this will be part of it?

[2015-11-25 16:22] oparoz commented on #445
@cmonteroluque Any idea when the RC will be packaged? I can work on this in a week and it should only take a couple of hours.

[2015-11-25 16:25] PVince81 commented on #53
@jancborchardt any update on this ?

[2015-11-25 16:29] oparoz commented on #53
There is a PR which needs to be tested: https://github.com/owncloud/gallery/pull/457 and possibly slightly altered if we prefer large click zones as opposed to buttons.

[2015-11-25 17:13] #423 closed, assigned to nobody

[2015-11-25 17:33] rezeptpflichtig commented on #395
i search the logfile for the failing fopen to get the filename. Problem with my installation is that the whole owncloud installation locks up, have to restart php-fpm to make it work again, the log is spammed with the feof()/fread() errors and the logfile grows multiple GB in a few minutes.

i am running ownCloud 8.2.1 (stable) in a freebsd jail (freeNAS 9.3)
on nginx with mariadb
gallery app 14.2

[2015-11-25 17:44] oparoz commented on #395
The fix should be simple. Something like

[code]

https://github.com/owncloud/gallery/blob/master/service/previewservice.php#L215

But the proper solution should include a else statement which logs the file for which this happens.

[2015-11-25 17:57] #465 closed, assigned to nobody

[2015-11-28 21:29] oparoz commented on #448
Closing this as this is a core issue which is mostly fixed, at least for people using Redis. There is little the app itself can do to improve the situation.

[2015-11-28 21:29] #448 closed, assigned to nobody

[2015-11-30 04:36] setnes opened #466 "Clicking on folder label causes spinner to display without actually opening the folder."
When I click on folders in my test instance (based on master), I sometimes will never be taken to the folder.  Instead, I will see the new spinner continue to spin.

I haven't figured out what is causing this yet.  Is it somehow related to the new spinner change?

[2015-11-30 19:52] ghost commented on #445
@oparoz by next Tuesday, 8 December

[2015-12-01 02:11] setnes commented on #466
I finally figured out how to reproduce this reliably.

If I click on the label (the shaded text area) for an album folder, I will get the spinner indefinitely.  If I click above the album label within the images for the album, the spinner will be displayed, very briefly, before the folder contents are displayed.

So... somehow clicking on the label is different from clicking above the label.  I no

[2015-12-01 05:04] setnes commented on #466
It appears that moving...

[code]

...to be within the hyperlink "a" tag of the TEMPLATE variable defined at the top of galleryalbum.js resolves this problem.  I imagine a similar change might be wanted in galleryimage.js if you also want the image labels to be clickable.

[code]

@oparoz, let me know what you think of this and I'll see if I can find some time this week to put together a pull requ

[2015-12-01 17:43] oparoz commented on #466
Thanks for debugging this issue :)
The way forward is to drop the anchor (a tag) and use a new onClick behaviour for the top container. It should fix both this problem and allow for [better looking labels](https://github.com/owncloud/gallery/pull/456).

You can have a go at that change if you want to, should be straight forward. There are similar examples in the code already.