[2014-02-26 09:44] enoch85 opened #6 "Enhancement: Rotate pictures directly in the slideshow and save."
Instead of having to download every single picture and rotate it into the position you want, it would be much better and easier to rotate them directly in the slideshow.

This could be handled by just adding a "rotate left" & "rotate right" button. After the rotation is done, the picture would be saved automatically.

Would it be possible to "rotate --> save automatically" like i.e. when you rotat

[2014-03-06 15:40] motey opened #10 "Hide Folders / Exclude folders from being shown in Gallery"
Hi Folks,
Feature Request:
Most People have some Folders with Pictures they dont want to see in the Gallery (Music Cover Art, for example).
Wouldnt it be nice to be able to hide these folders in the Gallery?
It could look similar like this:
![hidegallery](https://f.cloud.github.com/assets/1006417/2346716/2c5cc14a-a545-11e3-8088-d2ed6f5e314d.png)

[2014-03-22 11:03] jbtbnl opened #16 "Addition of picture in Files does not propagate (directly) to Gallery"
Refs https://github.com/owncloud/core/issues/7847

### Steps to reproduce
1. Upload picture A via Files
2. Switch to the Gallery app, notice picture A not showing up
3. Upload picture B via Files
4. Switch to the Gallery app, notice picture A now showing up and B not
5. and so on...

### Expected behaviour
Uploaded pictures should always show up in Gallery.

### Actual behaviour
Only the before-la

[2014-03-24 22:51] PVince81 opened #18 "Ability to download picture from detail view"
In OC 6.0.2:

### Steps
1. Share pic gallery with link
2. Open shared link
3. View a pic by clicking on it
4. Right click pic, copy link
5. Open in separate tab

### Actual
Link is an ajax link

### Expected
Would be better to have the download link instead

I also tried right clicking the download arrow, but it was also the wrong link for that (core issue)

Note: I tried doing this from the mobil

[2014-04-11 18:04] pgrm opened #23 "Gallery App does not scale"
I understand that the gallery app downloads one huge JSON object with all the pictures, the user can access. And I understand that a redesign isn't the solution, but here are my two problems with that design:

### 1. Memory usage:
 I have probably something around 100k pictures in owncloud, I can see. The JSON file is ~35MB uncompressed and my php script uses over 2GB of memory. It will be between

[2014-05-01 21:42] tessus opened #29 "link to gallery for folders"
Opening a new issue by request of @PVince81 in [owncloud/core #8268](https://github.com/owncloud/core/issues/8268)

When you share a folder, the link that is shown is always in the format:
`//example.com/public.php?service=files&t=49e186e1cfe7afd7f0bfe638aa5ff16d`

If you share a folder that holds pictures, you might want to share the link to the gallery instead.

What do you think of an additiona

[2014-05-13 14:49] mmattel opened #38 "File - functions fail, if thumbnail has not been created"
Ubuntu 14.04, Apache 2.4, PHP 5.5, OPcache enabled, MySQL, Browser W7/Opera
php.ini has set output_buffering = On
owncloud pre alpha 7 git, external storage support, pictures, music, 3 local mount points created, no encryption

### Problem:
having unsupported pictureformats like tiff in your folders, you get tons of filesystem related messages like filemtime, filesize ect failed filling up the own

[2014-05-19 09:21] MorrisJobke opened #42 "Remember last folder"
@zakoon wrote:

Hi, I have lots of folders with lots of pictures/graphics on my oc-instance. And I have one folder with photos.

Everytime I start the Pictures-App, all the folders, where pictures or graphics or photos are in, appear. I always have to navigate through some subfolders, to get to my photo-folder, which is the only folder I need in my Pictures-App.

Is it possible to add an option, s

[2014-05-19 17:55] mmattel opened #43 "Path 'thumbnails/xxxxx' is not readable"
Ubuntu 14.04, Apache 2.4, MySQL 5.5, PHP 5.4, ownCloud 7.0 pre alpha (git)

Using the gallery app, I get from time to time following triples of error messages for each picture in a folder (replacing the real path/picture with "path/picture"). The folders contain jpg´s only.

Debug	core	OC_Image->fixOrientation() Orientation: 1
Debug	core	Generating preview for "path/picture.JPG" with "OC\Preview\I

[2014-05-26 08:16] svenXY opened #47 "gallery (i.e. folder) name not shown in sharing email"
Hi,

thanks for making sharing galleries possible in oC6!

One little thing left:

In the mail subject for instance, it just says

[code]

That means that the variable for the folder/gallery in 'en_GB/core.po': 'msgid "%s shared »%s« with you"'name does not seem to get filled.

Can this please get fixed?

Thanks a lot,
Sven

[2014-06-04 15:41] atomtigerzoo opened #51 "Slideshow: disable up-scaling and make it an on demand setting"
*Enhancement/Idea:* I would love to see that the setting of `maxScale` in `slideshow.js` is set to `1` so that there is no default upscaling of images in slideshows.

It could be made into a useful backend setting!

[2014-06-12 06:47] stefan-niedermann opened #55 "Gallery creates defect preview-thumbnails"
Some of the thumbnails (~ 25%) are defect, there is a small stripe of the image and the rest is grey. If i open the Image it seems to be fully okay.
I tried to delete and re-upload all the images, but thumbnails are broken again.

PHP 5.3.8 (i know, outdated...)
Apache
Debian
Shared Hoster

IMHO this could be too less ram-memory, what do you think? what information could i provide which helps?

![

[2014-06-23 08:09] svergeylen opened #57 "Performance issue for Thumbnail generation in Owncloud Pictures"
When displaying the content of a photo album, the computing of the gallery takes more than 15 minutes to render about 100 photos.... (This is because I run Owncloud on a raspberry PI...) and when reloading the page, it start again because the thumbnails seems to be re-create again and again...

It should be awesome to execute the thumbnail creation in background, and not when loading the page...

[2014-07-12 15:50] martin-hermann opened #65 "Allowed memory size of 134217728 bytes exhausted"
Gallery not working after uploading ~35GB of picture-files.
Not working means:
--> message: No pictures found! If you upload pictures in the files app, they will be displayed here.

owncloud version: 7.RC1
.htaccess-changes:
php_value upload_max_filesize 512M
php_value post_max_size 512M
php_value memory_limit 512M

php.ini changes:
memory_limit = 1024M

error-log:
Error 	PHP 	Allowed memory size

[2014-07-23 19:09] alerque opened #67 "Picture browser double-advance in 7.0.0"
Using the picture browser in 7.0.0 in Chrome appears to cause some sort of double event trigger. Since clicking on the picture causes it to advance and the "next" arrow is overlayed on the picture, clicking the next arrow causes the picture to flash by the next one and advance 2 instead of just 1.

(Previously mistakenly [submitted to core issue tracker](https://github.com/owncloud/core/issues/979

[2014-07-25 07:01] MorrisJobke opened #68 "Memory leak"
THe used memory while watching a slideshow increases rapidly (in my case 35 MB per picture) That means, that after the slideshow has shown 100 pictures the used memory is at 3,5 GB + initial memory.

I guess there is a problem with the caching of the images. I just had a quick look at the source and it looks like that there is a cache for already downloaded images. ~~Maybe we should restrict that

[2014-07-28 18:24] walross01 opened #70 "show filenames in slideshow and gallery"
Browsing the gallery or slideshow my visitors and I would like to know the filenames of the shown pictures. Maybe it could be solved in the same way as the foldernames are displayed.

[2014-07-31 07:11] escservices opened #72 "Pictures not showing in shared gallery"
Step 1: View shared gallery
Step 2: Click on picture before all photos load
Step 3: Lightbox shows picture and works fine.
Step 4: Close lightbox
Then where the pictures used to be they'er all gone its all grey nothing to click on etc.
Maybe an ajax issue?
If I wait until all 50 or so pictures are done loading everything works fine.

When they view the gallery and click on a picture before all the

[2014-07-31 07:22] escservices opened #74 "Pictures show up all on one line or cut off"
My problem is when someone views the shared gallery. And when they view the gallery and click on a picture before all the pictures have loaded then close the slideshow/lightbox all the pictures are gone from the page you then would have to refresh and they would reload. Sometimes when you close the slideshow they don't all disappear they all show up on one line but cut off. Screenshot below there

[2014-08-01 06:00] stefan-niedermann opened #75 "Make all thumbnails quadratical"
Hey Guys, what do you think about this:

Some time ago i extracted the algorithm, that is used by wordpress to generate thumbnails.

We could make all thumbnails quadratical, so the design would be much more streamlined. we would have everytime a perfect grid, doesn't metter which dimensions the pictures have. clicking on it could still show the original photos with original dimensions.

This also

[2014-08-03 16:13] mmattel opened #76 "Improvement of getimages.php"
@icewind1991 @karlitschek

This is a suggestion to improve getimages.php (or whatever is necessary to make the overall process better)

Right now, when a new storage is added, a list of files is added in the database and a mimetype to each file is assigned. Based on the mimetype 'image', thumbnails are created, but only for those image files owncloud can support right now. eg a thumbnail for .tiff

[2014-08-06 21:40] simon04 opened #83 "Display image title/description/metadata"
It would be great if the gallery app displayed image metadata. Most interesting would be title/description/author which would be obtained from XMP files stored in the same directory. Furthermore, image taking conditions from EXIF could be displayed. This idea/request is based on the display of images on Flickr …

This could be implemented as a separate API call `metadata.php` which given an image

[2014-08-10 10:01] Crasha opened #85 "Panorama viewer for photo gallery?"
I think It'd be good if the photo gallery allowed you to view panorama or photo sphere images took from a phone (e.g like my Nexus 5) or from another device. I think this is a missing feature since you can only view 2D images and since a lot of phones today are supporting panorama's.

[2014-08-11 11:58] jsalatiel opened #86 "OC7 - Gallery will hang 'Loading' after clicking two pictures"
I have a folder containing about 300 pictures, when i open it in gallery, while gallery is showing the thumbnails, if i click in one picture to see it in full size, close this picture, and click in another, the next time i click in close to return to the thumbnails, the gallery will display 'loading' forever.
The workaround is enter in gallery again.

[2014-08-11 12:41] Peac opened #87 "OC7 - Preview Images generated by gallery app are not deleted after file got deleted"
Hi,
I got some struggle with my filesystem. So i discovered that the preview images of the the gallery app are still on the disk in a subfolder like /owncloud/data/*Username*/gallery/ although I deleted them months ago.
Maybe the preview images should get deleted when the original file is deleted.

[2014-08-20 12:28] spamverdacht opened #90 "Show spinner while loading an album"
It would be great, if a spinner would be displayed while loading of the album is not finished. On my slow system it takes 30s for each row of pictures/subalbums.

[2014-08-22 09:19] Siedlerchr opened #93 "Share single picture(s) instead of whole folder"
Hi,

it would be nice to share single picture(s) in the gallery, that would be consistent to the file sharing.
Currently it's only possible to share a whole folder with images in the gallery app.

If I only want to share a single pic, I have to go the files app and share it then.
So it would be nice to have the option to share all pics, a single pic or a selection of pics.

Regards
siedlerchr

[2014-08-24 09:31] FredrikLindseth opened #94 "Sorting pictures on metadata i.e "date taken""
A way to sort pictures after fields like "date taken" would be a very nice feature :-)

[2014-08-25 09:22] Aesculapius opened #95 "Make gallery app more tablet friendly"
There are a few things that are annoying while viewing a gallery on a tablet;

- one cannot swipe the photo to go to the next one
- one cannot pinch-zoom to zoom-in on the photo and see details
- the pre-loading of images as of OC7 is nice, but appears to be initiated only when reaching the end of the page. When fast scrolling down on a tablet, you've reached that point quickly...and then have to

[2014-08-25 09:25] Aesculapius opened #96 "Don't jump to start after closing image"
When you've scrolled down in the gallery (with or without loading a new set of images), and you click an image to look at it, it opens with an overlay-like window which looks nice. In the background, you see the place to where you've scrolled.

But when you close the image with the X, the gallery jumps back to the top of the page. This is annoying, since with large collections, you got to scroll b

[2014-08-26 15:34] FredrikLindseth opened #98 "Make picture galleries embeddable"
It would be nice to have the an easy way to embed picture galleries on my own webpages. Not sure if this is possible now via some php-magic or not.

[2014-09-02 19:45] vgezer opened #101 "Pause/Play icon problem"
With the latest git,

on Chrome 32, when you click on an image, the icons are seen like this:

![image](https://cloud.githubusercontent.com/assets/231068/4124551/9c49832c-32d9-11e4-90bc-04cf59937323.png)

[2014-09-09 06:40] stefan-niedermann opened #103 "500 Internal Server Error"
![2014-09-09_08h37_43](https://cloud.githubusercontent.com/assets/4741199/4197573/fbab41ae-37eb-11e4-9429-cb4ddb508da6.png)

Behaviour:
- The Loading-Icon keeps displayed
- No Error in Administration Log-File
- Owncloud 7.0.2 on PHP 5.3

Any idea how i can detect the error?

[2014-09-11 11:10] synappsis opened #107 "Lazy Loading of files in gallery"
In Issue https://github.com/owncloud/gallery/issues/99 lacy loading has been improved already, meaning it is faster now, but nevertheless a user will wait for the loading of the next batch of preview pictures until you can scroll again.
* Gallery app should not wait for preview creation of a pictures, instead e.g. show a frame to render the next rows immediatly and show the picture preview wheneve

[2014-09-15 21:52] woeps opened #108 "slideshow not themeable"
I just tried to change the gallery's template using the theme-mechanisms provided by owncloud (putting the file in `owncloud/themes/mytheme/apps/gallery/templates/slideshow.html`) without any success.

*I aim to add a div-element containing the current filename to the slideshow-template.*

- I have some other theme-modifications working, so it's not about the config.
- If I edit the original file

[2014-09-20 10:02] askovpen opened #109 "feature request: pictures map"
hello. can add you pictures map from EXIF GPS?

[2014-09-28 19:21] oparoz opened #114 "Slideshow should support all format whitelisted in config.php"
It took me a while to figure out that the [slideshow](https://github.com/owncloud/gallery/blob/master/js/slideshow.js) had its own whitelist of supported formats and it's quite restrictive: only mimetype 'image'.

Since core already offers converters for various formats and since the end result is either a jpg, png or svg, then it would be great if the javascript could simply load the whitelist fr

[2014-09-28 19:30] oparoz opened #115 "Gallery should support all formats whitelisted on config.php"
Currently it's a bit frustrating to be able to have full screen previews using the slideshow, but a half-empty gallery because it's generating its own content instead of relying on core.

Since core already offers converters for various formats and since the end result is either a jpg, png or svg, then it would be great if the gallery could simply load the whitelist from config.php into an array a

[2014-10-01 19:45] HermanRonk opened #116 "Gallery option missing in non shared folders"
### Steps to reproduce
1. Open the webinterface and go to a folder with pictures in it, no gallery option is visible (screenshot 1)

2. Share the folder and go to the shared folder URL, in top right corner an icon / button is available to change the view to gallery mode (Screenshot 2)

### Expected behaviour
It would be a welcome addition to make this button available in the default folder view in

[2014-10-02 14:19] thkin6 opened #117 "Add comments to pictures"
Owncloud and the Pictures app are very convenient to build shared pictures albums with family and friends. However it would be nice to be able to add comments/notes to each picture, with the option of adding this text to the bottom or side of every pictures in the slideshow.

[2014-10-07 22:59] jsalatiel opened #118 "Multi Monitor Problem with gallery"
I have a dual monitor setup (linux mint) and i have 42 albums (subfolders);
When i enter gallery, i got 5 rows (4 x 10   and 1 x 2 )
If i enter any of these albums to see the images, when i get back to the main gallery  , i can now only see 3 rows ( 2x10 and 1x3) but taking a a closer look the row actually contains more than 10 albums , but the horizontal scroll bar is missing.
This does not happe

[2014-10-27 15:25] JimLoose opened #122 "Cleanup of gallery thumbs"
- When i deactivate the Gallery App it should clean/delete all files from the **userfolder/gallery/**
- When i delete images it should cleanup the thumbs in the gallery as well
- When i have encryption on, files and especially images should be encrypted here as well

Is it enough to simply delete files in the folder via FTP or are there any more entries in the MySQL?

[2014-10-29 15:04] tobiasKaminsky opened #123 "Exif oriented pictures: not all possible values are supported"
Hello,

as I have included the exif rotated images in android app, I have found out, that not all possible values are supported: 2,4,5,7.
Please see http://www.daveperrett.com/articles/2012/07/28/exif-orientation-handling-is-a-ghetto/

[2014-10-29 15:37] PVince81 opened #124 "No pictures found still shows a spinner"
Make sure that you have no pictures then switch to the pictures app.

A message "No pictures found..." will be shown, but the spinner is still there.
A JS error is in the console: "Cannot read property images of undefined"

The spinner must be removed.

Gallery app git master d40ac9885608be2ac69128c7c489dea7c86cbb50

[2014-11-04 22:45] enoch85 opened #126 "[User] shared (?) with you"
![image](https://cloud.githubusercontent.com/assets/4511254/4909528/232cb8b6-6474-11e4-9c59-49120009a054.png)
I just want to inform you that Daniel Hansson shared with you.
Show it!

It should say something like, "an album" with you or something.

[2014-11-06 19:49] deajan opened #127 "No images shown and spinner in gallery containing images"
Hello,

I have upgraded OC from 7.0.2 to 7.0.3RC2 and then 7.0.3RC3.
Since then, when i try to open a previously public shared gallery, i endup with a spinner and nothing happens. Opening newly created galleries works in app, but not as public share.
This behavior has been checked on IE11, Opera 25 and FF33.

Owncloud log:
[code]

The file in e:\iis\owncloud.xxxxxxxxxx.com\data\user\gallery\user\p

[2014-11-12 14:48] mbressman opened #129 "File name listed when viewing pictures in preview/slideshow mode"
When you browse to a folder that contains pictures, you can click on one to view it larger, and then you can also use left/right arrows, left/right button on page, or slideshow mode to view other pictures in that folder. However, there's no easy way to tell the file name of the picture you are looking at if you've opened one and then moved to others in that same folder using the above methods. Thi

[2014-11-18 13:35] Pantek59 opened #132 "Not all folders containing pictures visible in gallery"
The gallery app used to list all folder containing pictures. This was the case until the recent update to OC 7.0.1 or OC 7.0.2 (not sure, unfortunately).

Now, however, only three of the four (external storage) folders are shown, when I start the gallery app. The missing folder is still shown correctly in the files app and it opens with all sub-folders and pictures without any problems in the gall

[2014-11-20 16:06] dttpy opened #133 "thumbnail of lots of small pictures not all visible in gallery app"
### Expected behaviour
Thumbnail of all pictures should be showed/listed in gallery app.

### Actual behaviour
Only some of these thumbnails are showed, not all. In my case just about 13%.

### Steps to reproduce
1. create a folder "smiley" and go into it
2. upload a lot of small pictures (at least 50).
    (In my test, 66 .gif files were uploaded, and the average size of them are 4~5 KB.
3. go to

[2014-11-21 01:45] oparoz opened #135 "[FR] Don't stop everything when a batch request fails"
As soon as the batch processor encounters an error, nothing else is processed and there will be missing folders or pictures.
It would be great if the thumbnail generator could keep sending more files to process.

[2014-11-21 22:36] oparoz opened #136 "Don't use native SVG if OC\Preview\SVG is enabled"
The native SVG renderer does a poor job compared to what a properly configured Imagemagick with SVG support can do.
The slideshow and image component should use OC\Preview\SVG if it is enabled.

[2014-11-23 21:09] enoch85 opened #137 "Error when using the Gallery App slideshow"
[code]

Get theese errors when looking trhu pictures with the gallery app in the Web UI.

[2014-11-25 00:27] oparoz opened #138 "Thumbnails: Resize the containers, not the pictures"
Using gallery from master, pictures are sent to the HTML (album & gallery) so that they fit in a rectangle of the asked dimensions: 400x200 or 100x100.
The problem is that some previews will be returned with dimension 400x100 per example and they will be stretched to fill the 400x200 space.
The best solution would be to do what Files is doing and insert the pic in a container which is of the corre

[2014-11-25 06:46] nRaecheR opened #139 "Overview thumbnails not completly visible/displayed after navigating back to previous directory"
# Expected behaviour

While navigating through the gallery the overview thumbnails for all directories should always be visible/displayed.

# Actual behaviour

When navigating to a child directory and returning to a parent directory (e.g. using the navbar) the positioning of the overview thumbnails of the child directories is incorrect leading to missing thumbnails/directories. Only a refresh (CTR

[2014-12-04 21:08] oparoz opened #141 "Is the fallback in the slideshow really needed?"
* In my tests, if Preview fails to generate a thumbnail we sometimes get an error message which triggers a "wrong mime type" error and that prevents the scripts from using the fallback. I've submitted this PR to prevent it from happening: [Send the mime icon if we can't generate a preview](https://github.com/owncloud/core/pull/12546). And that can be improved to return a message, etc.
* Also, as m

[2014-12-09 01:00] etiess opened #143 "One image per folder to speed up the loading"
I propose to continue here the issues discussed in https://github.com/owncloud/gallery/issues/52 and https://github.com/owncloud/gallery/issues/100

Summary:
- Folders have to be distinguished from pictures
- Solution since 7.0.2 is to have four images per tile for folders

The limits of the actual solution:
 1. Design is less seamless
- there are too many small pictures on the same page. It's les

[2015-01-02 01:53] AdamWill opened #148 "JS warning in window.onhashchange when gallery is empty"
When the gallery is empty, this code block in `gallery.js` `window.onhashchange` throws a warning `TypeError: album is undefined`:

		var album = Gallery.albumMap[albumPath];
		var images = album.images;
		var startImage = Gallery.imageMap[path];
		Gallery.slideShow(images, startImage);

The 'obvious' fix would be:

		var album = Gallery.albumMap[albumPath];
		if (album) {
			var images = album.im

[2015-01-02 15:07] karlitschek commented on #148
@PVince81 What do you think about this fix?

[2015-01-04 13:20] oparoz opened #1 "Use bower in the dev env to manage JS libs"
http://bower.io/

[2015-01-04 13:54] oparoz opened #2 "EventSource is not compatible with most mobile devices"
EventSoure is a great way to send thumbnails as they're generated, but the problem is that it's not compatible with the most popular mobile platform: Android.

Here are 3 libraries to test as a replacement for the one found in core:
- https://github.com/Yaffle/EventSource
- https://github.com/amvtek/EventSource
- https://github.com/remy/polyfills/blob/master/EventSource.js

They're all available v

[2015-01-04 14:00] oparoz opened #3 "Add an admin settings section"
Arbitrary choices have been made for some parameters such as the media types to support or if we should send SVGs as is.

An admin should be able to control those.

The [IAppConfig](https://github.com/owncloud/core/blob/stable7/lib/public/iappconfig.php) interface should allow any developer to collect an admin's preferences and to use it in the app.
## <bountysource-plugin>

Want to back this issu

[2015-01-04 14:10] oparoz opened #4 "In-app settings buttons and user settings section [$15]"
Arbitrary choices have been made for some parameters such as the preview scaling or zoom factor

A user should be able to set his own preferences

The [IConfig](https://github.com/owncloud/core/blob/master/lib/public/iconfig.php) interface should allow any developer to collect the user's preferences to configure the view
### Ideas
- Enable/disable advanced graphical interface (also available via s

[2015-01-04 14:34] oparoz opened #5 "Add REST API"
## General
- Versioning will happen using headers
- Authentication happens via HTTP auth
## Config API

Gives information about the supported features as well as the list of supported media types
- [x] `/api/config`
## Files API

Gives the list of files found in the folder given as argument and lets you download a file
- [x] `/api/files/list`
- [x] `/api/files/download/{fileId}`
## Preview API

Gi

[2015-01-06 14:01] paonza commented on #132
I have the same problem... OC 7.0.4 and gallery 0.5.4

[2015-01-06 15:18] paonza commented on #132
I think the problem is this:

if the first folder doesn't contain al least 1 jpg none of the folder or the other subfolder are shows for this branch...

Example:
my file structure:
photos[folder]
+2010[folder]
++2010_first_trip[folder]
+++img1.jpg
+++img2.jpg
++2010_second_trip[folder]
+++img3.jpg
+++img4.jpg
+2011[folder]
++2011_first_trip[folder]
+++jpg[folder]
++++img5.jpg
+++img5.NEF
++2011_se

[2015-01-07 11:43] PVince81 commented on #148
Looks fine.

CC @icewind1991 who maintains the gallery app

[2015-01-08 09:38] seuf commented on #94
+1 on sorting by name, in desc order ! i want to see newer pictures first !

[2015-01-12 13:22] rapITler commented on #57
Hi,

I also would appreciate if it would be possible to run a background task for newly added pics where the thumbnails automatically will be created.

In my environment (banana pi with mysql, nginx, apc, oc 7.0.4) the thumbnail creation have a huge impact to my CPU which slows down the whole system when accessing a new folder with a handful pictures.

%Cpu(s): 94.0 us,  5.4 sy,  0.3 ni,  0.0 id,

[2015-01-13 20:15] fin0 opened #149 "Image will not be loaded though the folder is shared"
### Steps to reproduce
Login into your owncloud.
Share the link of a folder containing one or more images.
(If you want you can logout/change browser now)
Open the link of the shared folder.
Click on the gallery view.
Click on one picture.
Copy link of this picture and paste it to a new tab or another browser.

### Expected Result
The picture should be shown in fullscreen since the picture is in a

[2015-01-13 22:07] oparoz commented on #148
@AdamWill - I've fixed it a while back, see if you get the same warning in this release:
https://github.com/interfasys/galleryplus/releases/tag/v1.0-rc1

[2015-01-13 22:13] oparoz commented on #149
Does it happen with all files? Is encryption enabled?

What happens when you load this link per example (which would be the case you're describing)?
https://oc7demo.interfacloud.com/index.php/apps/galleryplus/public?token=312b038d3e70877199a4d66abf37bdd0#Photoshop/restaurant_flyer_A5.psd

The picture should load in full screen and you should be able to zoom in.

[2015-01-13 22:15] oparoz commented on #141
Converted the fallback URL into a download button, visible when in slideshow mode.

[2015-01-13 22:15] #141 closed

[2015-01-13 22:26] oparoz commented on #139
@nRaecheR - Nothing will "officially" improve for OC7, the focus is on OC8 which is 2-3 weeks away
You can try this release of the gallery app which brings all the current features of master to OC7 users:
https://github.com/interfasys/galleryplus/releases

As described in the readme, you may want to patch your ownCloud installation to fix a nasty session bug and to be able to enjoy previews of mor

[2015-01-13 22:27] oparoz commented on #138
Fixed in the refactored version using CSS.

[2015-01-13 22:27] #138 closed

[2015-01-13 22:30] oparoz commented on #137
@libasys - Yes, I think it comes from the generic `image`provider which just says it can generate previews of all `image/*` media types, except tiff and gifs

[2015-01-13 22:31] oparoz commented on #136
Fixed in Gallery+, but OC\Preview\SVG can preview very little files because of a very harsh security filter.

[2015-01-13 22:31] #136 closed

[2015-01-13 22:32] oparoz commented on #135
Fixed in Gallery+

[2015-01-13 22:32] #135 closed

[2015-01-13 22:51] oparoz commented on #132
@Pantek59 - It could be an issue with using external shares. In my tests on OC7, the gallery app will time out if there are more than a few pictures on an external folder as the transfer is horrendously slow, even between 2 OC instances on the same server.

@paonza - In my tests, using fresher code than 0.5.4, the gallery would fill the top album using pictures from the lower folders. If you want

[2015-01-13 22:56] oparoz commented on #123
@tobiasKaminsky - You should report that in core.
https://github.com/owncloud/core/blob/master/lib/private/image.php#L324

[2015-01-13 23:01] fin0 commented on #149
Thanks for following up! Your example is working..do you have any ideas where the problem could be located? It seems to be an issue of the server since the problem is reproducible on different systems.

You are using another app which is replacing the standart-gallary, right?

[2015-01-13 23:02] oparoz commented on #122
There is no more `userfolder/gallery` in the upcoming version of the app. I don't know if @icewind1991 had something in mind regarding the upgrade.

Afaik, nothing is stored in the DB, images are files and will be encrypted, but the thumbnails will not
[code]
Deleting the thumbnail is a `core`responsibility, as it should be done when an image is removed from the cloud, please report there if it ha

[2015-01-13 23:07] oparoz commented on #149
It's very difficult to say. Are you using the master version from this repository or the app which came with your ownCloud? Lots of things were fixed in the past 6 months.
I don't know if you're familiar with routes, but it could simply be that the URL does not convert into a viable route somehow and so the backend doesn't have the information it needs to load the preview.

The good news is that i

[2015-01-13 23:48] oparoz commented on #118
Could you guys try on your setup using this gallery?
https://oc8demo.interfacloud.com/index.php/apps/galleryplus/public?token=5M78hEM0Ci9NtAb#

I suspect you're using 0.5.x version of the gallery and a lot of progress has been made these past 6 months. There is still a tiny issue on Firefox which breaks albums sometimes.

[2015-01-13 23:51] jsalatiel commented on #118
Hi oparoz, i have tried galleryplus a while a go, but unfortunatelly several pictures wont load on the main page. For example, instead of loading 4 pics, it would load 2 and left the other space white.

[2015-01-13 23:57] oparoz commented on #118
Please try this release:
https://github.com/interfasys/galleryplus/releases

It's for OC7. Put your instance in debug mode and as soon as you see something which breaks, you should take a look at the log `data/owncloud.log` to try and identify what went wrong.
The number 1 reason is a file which was not correctly identified by the core providers.
In this release, if the provider fails, I replace t

[2015-01-14 00:11] jsalatiel commented on #118
Hi Oparoz, now it is working great ! Even this bug in this thread is fixed. Thanks !
Btw , I have a feature request. Would it be possible to put that circle spinning in someplace while there are still images being loaded in that folder ? It is really difficult to know if there are still images being loaded if the folder contains hundreds of pictures.

[2015-01-14 00:15] jsalatiel commented on #118
Oparoz, is there a thread where we can discuss this version ?

[2015-01-14 00:25] oparoz commented on #118
Ah, I'm glad to hear that it's working as expected :). I like your feature request. I think you should open a separate ticket for it, in this current gallery project as it will be easier to keep track of things.The version you've tested is a rewrite of master + all the current PR + some bugs I squashed as I went along. ‎The idea is to quickly make it the new base on which to build upon. So the log

[2015-01-14 00:47] jsalatiel commented on #118
I asked my girlfriend to test it and she said the pictures never loads and she only gets a circle spinning.
She has about 11000 pictures on her gallery.
There are lots of these messages in the log.

"reqId":"54b5bbe03af5e","app":"OC\\Files\\Cache\\Scanner","message":"!!! No reuse of etag for 'files\/netbook\/Musics\/Musicas\/West Coast Swing\/Contemporary_Fast' !!! \ncache: Array\n(\n    [fileid]

[2015-01-14 00:57] oparoz commented on #118
She got hit by the performance issue that's been talked about several times on here.
The app can't cope with 11k pictures. It will generate lots and lots of thumbnails before displaying anything, if it doesn't time out before that.

What you see in the logs is OC saying it doesn't have a thumbnail, just before generating one.

What she could do is to start deep into sub folders and make her way up

[2015-01-14 00:59] jsalatiel commented on #118
Is there a way to build the thumbails from a command line in server ?

[2015-01-14 01:03] oparoz commented on #118
Not yet, but several options have been talked about: using a queue manager or having a scan button in the gallery. I think the queue manager will not be part of OC8, but nothing is preventing us from coming up with something. Feel free to add your views to the existing threads.

[2015-01-14 01:06] jsalatiel commented on #118
One cron script would already be nice :)

[2015-01-14 06:07] nRaecheR commented on #139
Thanks for your answers. Because OC8 is just some weeks ahead I think I will wait for this if there is no chance for a fix in current "stable"....

@oparoz Could you please provide a link to the readme you've mentioned with the fix for the session bug ? I can't find it in the readme of Gallery+. Thank you.

[2015-01-14 09:37] oparoz commented on #139
@nRaecheR - The README.md in the archive should have the instructions or you can look at the one online: https://github.com/interfasys/galleryplus/tree/stable7
It's only required for OC7

[2015-01-14 13:36] nRaecheR commented on #139
Ah, thank you, I've looked at the stable7 branch.

[2015-01-14 15:27] jsalatiel opened #150 "please add a spinning circle while there are still pictures being lazy loaded"
Please add a circle spinning while there are still pictures still being loaded.
During lazy loading, there are no real way to know if all pictures in the folder have been displayed or are still loading. I think a circle spinning would be nice. See the attached "suggestion"
![spin_while_still_loading](https://cloud.githubusercontent.com/assets/5522389/5741230/9d78c762-9be8-11e4-982c-aaf4f83cd77d.jp

[2015-01-14 16:08] fin0 commented on #149
I got the current version of owncloud from the website without any additional apps. It is not a big problem for me so I can wait a little bit, anyway, thanks for the insight! :)

[2015-01-14 16:52] tobiasKaminsky commented on #123
Thank you.
I have reported it in core and therefore closing it here.

[2015-01-14 16:52] #123 closed

[2015-01-14 20:02] oparoz opened #151 "Moving the Gallery app to the Appframework"
### TL;DR
The Gallery app has been rewritten as an Appframework app and I kept the same UI and logic.
Now would be a good time to switch over to that version so that we can move forward with development.
### Introduction
Back in December I created a PR to add support for all the media types which ownCloud supports via its config file: https://github.com/oparoz/gallery/tree/support-more-media-types

[2015-01-14 20:16] oparoz opened #11 "Review the PHP"
The rewritten Gallery app and soon to be called Media app needs some people to review its PHP code to make sure it's a sound base for the future.
The methods are kept short and the complexity low, in hope to make them easier to test.
#### 5 controllers
- HTML pages
- 2 Files controllers. One for calls from within OC and one for public pages

[code]
- 2 Preview controllers. Same configuration as ab

[2015-01-14 20:35] oparoz opened #12 "Review the JS"
The JS part has not been rewritten, but there are a few changes due to the move to the AppFramework and because I've included all the PRs which were waiting to be merged because of missing rebasing or light bugs.
#### Summary
- Modified the endpoints to match new routes
- Light refactoring to make some methods shorter
- Added a couple of utility methods
- Added the zoom PR https://github.com/owncl

[2015-01-19 14:17] #1 closed, assigned to nobody

[2015-01-19 14:19] #2 closed, assigned to nobody

[2015-01-21 09:21] MorrisJobke opened #152 "Gallery broken in ownCloud 8"
@fossxplorer and I noticed that the gallery is broken in master/8

@icewind1991 Can you have a look? I managed to have a listing of subfolders (by appending the path to the URL after a hash) but for the main page it's just a endless spinning spinner.

[2015-01-21 12:34] icewind1991 commented on #152
Still works for me

[2015-01-22 14:55] oparoz opened #13 "Do not generate previews if storage is external/slow"
### Current situation

We want to avoid loading images from slow storage, because it will make it seem like the app has frozen and can take minutes to generate a handful of thumbnails.

I've found 2 methods which can help but they can't be used as is.
See [this ticket](https://github.com/owncloud/core/issues/15703) for a description of the problem

So I've designed a custom method, in place since

[2015-01-22 14:57] oparoz opened #14 "Protect the app from Preview breakage"
If the Preview class breaks down for whatever reason, we get an error 500 and nothing else will happen, so we need to catch all exceptions and soften the blow.

[2015-01-22 15:04] #14 closed, assigned to oparoz

[2015-01-24 04:54] utahbmxer opened #153 "Resample large images"
It would be nice to see the Pictures app resize/resample images when requested during a slideshow.  In the Files app, if I click a large JPG file, such as a panorama that is 50+ MB (12240 x 2892px), it loads pretty fast and the resulting image is actually the width and/or height of the browser window.  This performs great and I often find myself using the Files app to view my photos, and stay away

[2015-01-26 12:31] mmattel commented on #152
I have the same. At some point somewhere last year end of autumn beginning winter, gallery of my dev system (master) stopped showing thumbs, stays empty and the spinner runs forever. I never gave it more notice up to I saw this issue...

I just tried it again:
- logon to my dev instance (master, updated last on saturday)
- directly go to the admin page and check logs (debug, look for the timestamp

[2015-01-26 14:53] oparoz commented on #152
There are too many things broken in the whole chain file->encryption->preview->gallery which mean than any little issue will break the gallery.

The solutions is here: https://github.com/owncloud/gallery/issues/151

[2015-01-26 14:58] oparoz commented on #152
@mmattel - Lots of those debug messages are unrelated to the Gallery app.

[2015-01-26 15:14] MorrisJobke commented on #152
I don't have this issue anymore with current master.

[2015-01-27 15:38] oparoz commented on #153
It's actually a core issue which should be fixed in OC8.1
Patches are available for OC7 and OC8

[2015-01-27 15:40] oparoz commented on #150
I agree, this is a big usability issue, especially is the gallery contains large images.
An alternative could be to have a ghost picture (dotted border per example) with a spinning circle in the centre.

Thoughts @jancborchardt ?

[2015-01-27 15:45] oparoz opened #154 "It should be possible for the user to use various sorting filters"
The default is to sort alphabetically, but it should be possible for the user to sort his collection by date.

Which date to use? Currently only the uploading date I imagine, but if meta data is introduced then it would be possible to sort by date-the-picture-was-taken.

[2015-01-27 15:51] oparoz commented on #122
Core issue regarding thumbnail encryption https://github.com/owncloud/core/issues/11790

[2015-01-27 15:54] oparoz opened #155 "Pictures should protect itself against core exception"
If any uncaught exception is raised by core, the Gallery app will break down and the user will only see the loading spinner.

https://github.com/owncloud/core/issues/13493

An admin can see if that's the case by looking at his logs. A tester can see it happening by simply renaming the encryption key for one of the files.

(Fixed in Gallery+, at least for preview generation)

[2015-01-27 16:10] oparoz commented on #117
I think it belongs to the Gallery app as that's what you'll probably share. First we need meta data support.

[2015-01-27 16:12] brantje commented on #117
@oparoz But not images only images are shared. Files can be shared too.
I agree with jos, this should be a core thing.

[2015-01-27 16:17] oparoz commented on #117
@brantje - The OP says "Add comments to pictures". I see this as something like Instagram or Pinterest, where you can read and add comments to a picture. Those comments would be available in Files view, just like the slideshow can be launched from that view.

Of course, if core want to support comments, then it would be easy to add this to the Gallery

[2015-01-27 17:35] oparoz commented on #116
I agree. Discussed in core: https://github.com/owncloud/core/issues/8268

[2015-01-27 21:14] oparoz opened #15 "Switch quickly between Files and Gallery mode"
As a user I want to be able to switch back and forth between Files and Gallery mode and not lose the folder/album I'm currently in.
### Current situation

When the user is a few folders down in the hierarchy of folders, his only option is to click on the Gallery app and go inside albums until he finds the same files
### Proposed solution

Add the same button which is used in public shares to switc

[2015-01-27 21:56] #15 closed, assigned to oparoz

[2015-01-27 22:11] oparoz commented on #116
Implemented in Gallery+ for OC8.
The button is next to the other buttons in order to keep the UI consistent.

Will probably be backported to the OC7 version

[2015-01-27 22:16] oparoz opened #156 "Search field is not returning any results"
### How to reproduce
Using master, go to the Gallery app and use the search field.

### Expected result
A dropdown should show up, just like when using OC7 , and it should show the result of the search

### Actual result
Nothing is happening

### Solution
It looks like results are now displayed in the main window, which means that new logic would need to be implemented so that results can be colle

[2015-01-27 22:30] karlitschek commented on #156
@butonic Can you have a look please?

[2015-01-27 22:35] oparoz commented on #156
Just found out that this is linked to this:
https://github.com/owncloud/core/issues/11635#issuecomment-59767816
and
https://github.com/owncloud/core/issues/821#issuecomment-65242817

So the good news is that it will be easy for apps to add their own filters, but apparently, the search field does not hide yet

[2015-01-27 22:36] DeepDiver1975 commented on #156
summoning @jancborchardt

[2015-01-28 11:19] jancborchardt commented on #156
@butonic @icewind1991 what’s the status on that? Search should filter just like in the files app, showing only the relevant results.

[2015-01-28 11:24] jancborchardt commented on #150
Yeah, good call. The spinner should be at the end of the list, being the last item similar to what @oparoz suggested. @icewind1991

[2015-01-28 16:31] jancborchardt commented on #18
Yeah, there should be a Download button for images in the detail view. Especially in the sharing view this is important.

[2015-01-29 13:55] dttpy commented on #133
tested with owncloud8-beta2 and it works

[2015-01-29 13:55] #133 closed

[2015-01-29 13:56] oparoz commented on #133
Thanks!

[2015-01-29 21:23] oparoz commented on #116
@HermanRonk, you can try this release to see if this implementation works for you:
https://github.com/interfasys/galleryplus/releases/tag/v1.0.2

[2015-01-30 16:53] oparoz commented on #116
![Screenshot](https://oc7demo.interfacloud.com/public.php?service=files&t=b5a628aee0723ab20466521c8bd73eb3&download)

[2015-02-01 11:37] Riechao commented on #94
Name descending is very easily fixed, reverse the comparator in the gallery.js:
change
return a.path.toLowerCase().localeCompare(b.path.toLowerCase());
to
return b.path.toLowerCase().localeCompare(a.path.toLowerCase());

[2015-02-02 09:07] nickma82 commented on #154
related to https://github.com/owncloud/gallery/issues/94

[2015-02-02 12:53] oparoz opened #157 "Add meta data support"
The gallery app should be able to add/edit/delete various fields linked to a media file.
Lots of the information is stored in the EXIF fields of some formats and this should be automatically imported, but a user should also be able to fill empty fields and add new ones.

This can then be used:
* for comments https://github.com/owncloud/gallery/issues/117
* for sorting https://github.com/owncloud/g

[2015-02-03 03:34] Riechao commented on #157
I'm looking at this, but I can't figure out how to get exif_data from a fileinfo object. I tried making an OCP\Image from image->load() fileinfo->path or fileinfo->internalpath, but it won't load from file.

If someone can give me some directions towards how to access the files from the list of files, I can take care of the rest, the JS modifications and the getimages.php modifications.

I really

[2015-02-03 08:36] oparoz commented on #157
2 things:
1. The AppFramework needs to be used.
2. The information has to be stored permanently, so a database schema has to be created, as well as a class to access the data. I think @libasys has already worked on something like this on his fork, but it needs to fit into the AppFramework now.

http://doc.owncloud.org/server/8.0/developer_manual/app/schema.html
http://doc.owncloud.org/server/8.0/d

[2015-02-03 09:21] DeepDiver1975 commented on #157
summoning @PVince81 - we are planning to get meta data handling into core as well - maybe for 8.2 ?

[2015-02-03 09:22] Riechao commented on #157
@oparoz
Thank you for your information.
I'm currently looking at gallery, just looking at the current code on my own playground fork.
1. I'm not sure how to do this within the current gallery app.
2. You are ABSOLUTELY right. Calling exif_read_data on each file when someone accesses the gallery app adds a crazy amount of time to load. I have 7700 photos on my owncloud, and it added 55 seconds... t

[2015-02-03 09:59] jospoortvliet commented on #117
I would guess that the metadata app and infrastructure developed for tags can play a role here - comments are metadata on pictures...

[2015-02-03 10:57] oparoz commented on #157
@Riechao - You need to use the AppFramework version of the Gallery app:
https://github.com/interfasys/galleryplus

It should simplify development as the framework already provides tools to store and retrieve the information.

But maybe we have to be patient and wait 6 months for the metadata app to land in core first. It's important to be able to store more than just EXIF data.

[2015-02-04 21:29] jospoortvliet commented on #157
@oparoz @Riechao wait? help @PVince81 make it happen faster, I'd say ;-)

(I would soooo love to have this feature... whoa)

[2015-02-04 21:32] jospoortvliet commented on #151
@karlitschek @DeepDiver1975 something awesome to review for as soon as oC8 is out ;-)

[2015-02-04 21:42] Riechao commented on #157
@oparoz
Gotcha, I'll look into cloning galleryplus and starting over.

@jospoortvliet
 Without core support for metadata though, we are still looking at at the very least one very long load for gallery that reads meta data (exif_read_data) and puts it into a schema.
This has a lot of implications, like what do we do for files we find in the gallery directories that don't have meta data? just throw

[2015-02-04 22:17] karlitschek commented on #151
nice.
We should move this over in the owncloud organisation if @oparoz agrees. I´m not sure if this should replace the current gallery repository. Maybe do a parallel repo for now. For example "galleryplus".
Then we can see if we switch over to this new app in the next release. The requirement for that is that we don´t have any feature or bug regressions.

[2015-02-05 09:34] LEDfan opened #158 "Gallery app keeps spinning"
Hi
I upgraded from oC7 to oC8 RC2. When I try to load the Gallery app, there is a spinner in the middle of the page which keeps spinning:
![schermafbeelding 2015-02-05 op 10 31 44](https://cloud.githubusercontent.com/assets/2996275/6057855/34556560-ad22-11e4-98c2-9eab032d217b.png)

Error in the Browser console:
[code]

Errors in the owncloud.log:
[code]

[2015-02-05 19:30] oparoz commented on #151
@karlitschek - Yes, I agree to move this over to owncloud. The only problem I see with having 2 parallel versions is regarding translations. I've kept the same ID so that people didn't need to add the same translations twice, but I've added some new strings which are not yet in the original repository's l10n folder. I don't know if someone else has been in the same situation before. Should we add

[2015-02-06 23:28] dbeckmann opened #17 "Initialisation process of the app takes too long and is too memory and CPU hungry as it tries to map all media files found in the system"
### Gallery+ App does not scale

Similar to the original version - as in this [issue](https://github.com/owncloud/gallery/issues/23), the gallery app still does not scale. There are over 100,000 images on the server, and very quickly after opening the main app page, the 512MB of memory allowed to PHP are exhausted. The same "searchByMimes" is still used to initialize the gallery as in the previous

[2015-02-08 15:21] Pantek59 commented on #132
I'm only running one OC instance but I'm linking folders outside the OC-folder structure as external folders. It could still be a speed problem, though.

After the update to OC 7.0.4 the behavior changed slightly. Now all the files and folders are shown correctly the first time I navigate into the picture folder. As long as I keep going deeper into the folders, things are fine now. But if I try to

[2015-02-08 21:07] AW-UC commented on #158
Same sympton here. Log entries:

    Error 	core 	OC_Image->data. Error getting image data.
    Error 	PHP 	imagepng() expects parameter 1 to be resource, boolean given at /xxxxxx/owncloud/lib/private/image.php#292
    Error 	PHP 	imagecreatefromstring(): Data is not in a recognized format at /xxxxxx/owncloud/lib/private/image.php#545

[2015-02-09 16:49] LEDfan commented on #158
I can re-procedure the bug reported by @AW-UC on a test instance.

[2015-02-09 20:07] AW-UC commented on #158
@LEDfan If you haven't fix your install, yet: check the little previews of your image files in the files app. are any images not showing a preview icon? if yes, those might be corrupted.

[2015-02-09 20:44] neusdan commented on #158
same problem here

[2015-02-10 12:11] philfry commented on #158
My image files are not corrupted and correctly named in /var/lib/owncloud/philfry/files. But in /var/lib/owncloud/philfry/gallery there are (generated?) files with the wrong extension:
[code]
Is there a way to rebuilt these files?

[2015-02-10 15:06] Ryux commented on #158
I have the same problem but it seems with a different cause. With the 7.0.4 version, all was ok. But since the version 8, problem...
With this error :
GET https://www.example.com/index.php/apps/gallery/ajax/thumbnail/batch =>  HTTP/1.1 414 Request-URI Too Large
The query contains a lot of images parameters separated with a ;
Hope it will help you to solve it

[2015-02-10 17:00] ditaW commented on #158
Similar error here, but not for all users the same:
User 1 (tousands of Images - /owncloud/index.php/apps/gallery/ajax/images is about 6MB): Spinning wheel as described above
User 2 (few images): Gallery starts, but i get the described error entering a folder containing german umlauts.

Upgrade from 7 to 8 (ubuntu 14.4 / nginx / via ppa http://download.opensuse.org/repositories/isv:/ownCloud:/comm

[2015-02-10 17:40] oparoz commented on #158
@philfry - The files in `/var/lib/owncloud/philfry/gallery` were for the older version of the Gallery. The timestamps should confirm that.

[2015-02-10 18:22] philfry commented on #158
@oparoz thanks, I've deleted the gallery folders now.

I've been searching for ".jpg" in the files view and found some files that have no thumbnail. Those files are valid jpgs though and are shown correctly when enlarging them.

[2015-02-10 18:52] philfry commented on #158
This might be interesting -- images without thumbnails have a thing in common: the path name contains at least two opening brackets or a tick:
/foo/bar/abc/baz/image.jpg → has a thumbnail
/foo/bar/abc (def)/baz/image.jpg → has a thumbnail
/foo/bar/abc (def (ghi)/baz/image.jpg → no thumbnail
/foo/bar/abc's baz/image.jpg → no thumbnail

coincidence? I think not...

[2015-02-10 20:58] jospoortvliet commented on #151
@karlitschek can make the move. not sure about translations...

[2015-02-10 21:00] jospoortvliet commented on #157
@Riechao ah, yeah, I get that. hence my point of making the stuff move forward faster by helping  @PVince81  ;-)

[2015-02-10 21:32] DerZeitspringer commented on #158
I can confirm this issue after upgrading from 7.0.4 to 8.0.0
There's a folder containing 10944 files (Pictures) in total, which was loaded perfectly in OC7.

I found entries in owncloud.log, when this folder is being loaded in gallery:
`{"reqId":"d476ad0cf0086bb94c1b108c19c26bdb","remoteAddr":"2001:a60:10f6:xxxx:xxxx","app":"PHP","message":"imagepng() expects parameter 1 to be resource, boolean gi

[2015-02-11 01:49] FuturePilot commented on #158
Same problem here after updating to 8.0. Was fine with 7.0.4. Now I just get the spinning loading circle and nothing ever loads. My owncloud log is filled with lines like these

````app":"PHP","message":"Undefined offset: 13 at \/var\/www\/owncloud\/lib\/private\/files\/stream\/dir.php#29","level":3,"time":"2015-02-11T01:35:15+00:00"}````

[2015-02-11 01:50] mamoit commented on #158
+1 also affects me

[2015-02-11 05:10] sffax commented on #158
same here!

[2015-02-11 09:14] mightycoco opened #159 "request failed: URI too long"
I upgraded my OC7 to OC8
When opening the gallery app there is only an empty page with a spinning waiting icon.

In the apache error log, I see an entry
`[error] [client xxx.xxx.xxx.xx] request failed: URI too long (longer than 8190)`

The same request shows up in the access log with a pretty long URI:
[code]

I do have a lot of photos in OC but there shouldn't be a request from a client to the se

[2015-02-11 09:46] PVince81 commented on #159
@icewind1991

[2015-02-11 13:41] abelgomez commented on #159
I have experienced the same issue.

Since this is quite annoying, a quick and dirty workaround is to increase the [LimitRequestLine Directive](http://httpd.apache.org/docs/2.2/mod/core.html#limitrequestline) of apache.

For me, that solved the problem (until a fix is released). Nevertheless... increasing this limit is not recommended, so, use at your own risk.

[2015-02-11 14:03] jmit79 commented on #158
+1 dito

[2015-02-11 14:03] game-abling commented on #158
[EN] Thank you for your email. Your email has been automatically forwarded to my new address under the @ateknea.com domain and I will reply to it as soon as possible.
CRIC is now part of Ateknea Solutions, a European company dedicated to innovation with offices in Barcelona, Brussels, Budapest, Krakow and Valletta.
For future messages, you can contact me by replacing @cric.cat for @ateknea.com and

[2015-02-11 16:17] Messinger commented on #158
+1 dito

Checked all png files inside my storage them looks all ok. jpg dto

[2015-02-11 16:42] oparoz commented on #158
Guys, could you give this upgrade version of the Gallery app a go?
https://github.com/interfasys/galleryplus/releases/tag/2.0.0

I'm trying to figure out if this is something new which was introduced in oC8 or just some leftovers from the previous version of the Gallery app.

[2015-02-11 17:00] thedd commented on #158
galleryplus 2.0.0 seems to be working (better), but the images load extremely slow.

[2015-02-11 17:03] oparoz commented on #158
@thedd - Thanks for testing.
It loads extremely slowly the first time as thumbnails have to be generated. Subsequent loads should be much faster. Large previews will always load slowly, unless you use the included patches.

[2015-02-11 17:08] FuturePilot commented on #158
Is galleryplus going to replace the default gallery or is this just another gallery app?

[2015-02-11 17:11] oparoz commented on #158
It's a replacement, see https://github.com/owncloud/gallery/issues/151

While I was working on the conversion, I added the PRs and fixed all the bugs I encountered.
2 big things remain:
* Performance of the initial load
* Javascript cleanup/improvements

[2015-02-11 19:49] FuturePilot commented on #158
I'm still getting just a spinning circle with galleryplus

[2015-02-11 19:54] FuturePilot commented on #158
Actually this seems to be something with my account. I tried with a different account and galleryplus worked.

[2015-02-11 19:56] FuturePilot commented on #158
Ok so actually the default gallery also works in the other account too. Perhaps there's a corrupt file or something in my account?

[2015-02-11 20:05] karlitschek commented on #151
@DeepDiver1975 Can you help with moving the repository.
@oparoz Let´s keep in separate repositories for now with separate issues and separate translations.
Than we can offer two galleries for some time and in a second step decide which one will be the default.
I hope this works for everyone.

[2015-02-11 20:37] oparoz commented on #158
@FuturePilot - It would be interesting to figure out what is blocking the preview generation so that we can fix it in `core`.
One thing you could try with your account is to go inside folders on the Files side and click on the gallery button to see if you get a gallery view of that folder.
And do you have any BMP files?

[2015-02-11 20:45] oparoz commented on #151
Works for me.
One more thing to bear in mind. This project only has code commits starting from the 5th of January, as a new project. Not sure if it's a problem or not. The original project can be used as a reference, but you may want full commit history in this one, even if there is a big change in the middle. Up to you @karlitschek and @icewind1991 .

[2015-02-11 21:18] oparoz commented on #158
@DerZeitspringer - The errors you are seeing in the log are not important, but iirc the Gallery app breaks when the preview generator does as well (empty previews).

[2015-02-11 21:20] FuturePilot commented on #158
I went into a folder and clicked the gallery button. Still getting just the spinning circle.

[2015-02-11 21:24] oparoz commented on #158
@FuturePilot - Are there a lot of pictures in that folder? Would it be possible to move some to a sub folder and load the gallery view from there to see if it's a general problem?
Also, something which could help would be to load the Javascript debugger in your browser and look at the network view when you hit ctrl+F5. It should give us an indication of which call is blocking the app.

[2015-02-11 21:46] deMattin commented on #158
If you open gallery, it tries to load:
https://.../owncloud/core/vendor/jquery/dist/jquery-migrate.min.map
which doesn't exist (Suse Debian7 Repo, Owncloud 8.0.0.4 upgraded from 7.0.4).
After that it tries to load a link:
https://oc.k64.eu/owncloud/index.php/apps/gallery/ajax/thumbnail/batch?token=&image=(here comes a ";" separated list with many/all pictures and "&scale=1&square=1&requesttoken=..

[2015-02-11 21:51] oparoz commented on #158
@deMattin - thanks for the report. You can ignore the first error. The 2nd one is the Gallery app trying to build a map of all the files it can display. Unfortunately, instances with thousands of possible files will take minutes to load the server response and it will probably time out at some point.
See this issue https://github.com/owncloud/gallery/issues/57

[2015-02-11 21:54] deMattin commented on #158
I have deleted all Files in gallery folder and there is no new file created since deletion.

[2015-02-11 22:20] oparoz commented on #158
@philfry I can confirm the problem with folders containing a parenthesis or too many apostrophes. Since it only affects the Files app, could you please open an issue in core using the template? No need to fill in everything, but the cases you gave will help debug the problem.

[2015-02-11 23:25] deMattin commented on #158
I have installed "galleryplus" and NOW I also see a "Gallery button in folder view".
It works but is VERY slow and til now I'm only able to see pics in subfolders with galleryplus - (the first?!) full overview seems to last many dozend minutes or hours on my server
It is weird.
The gallery is broken (functionality has to be given and tested for more than 100 pics!) and here I don't know really if

[2015-02-12 00:04] oparoz commented on #158
### IMPORTANT - A problem was discovered in core and it appears the current version of oC8 is only compatible with PHP 5.5
If you're experiencing problems with JPEG files, that may be why, especially if pictures were taken with a camera. You should see a fatal error in the logs because of a missing `imageflip` function.

@deMattin - I agree that some things were overlooked with the major change of

[2015-02-12 00:09] mamoit commented on #158
Since Debian stable is shipping PHP 5.4.36 I think that this is a pretty decent oops.
I don't quite feel like backporting packages.
@oparoz when you say the current version in only compatible with PHP 5.5 do you mean until OC 8.1 is released?

[2015-02-12 01:18] oparoz commented on #158
@mamoit - I expect a fix to be released quickly. See https://github.com/owncloud/core/issues/14130

[2015-02-12 03:26] oparoz commented on #159
There is definitely something wrong as the request should only be made for 20 files at a time.

Can you reproduce the issue on the next version of the app?
https://github.com/interfasys/galleryplus/releases/tag/2.0.0

Nevertheless, even with a 20 picture limit, we can quickly reach the 2000 character limit which we should try to stay below of because each picture comes with the full path. POST see

[2015-02-12 08:31] ghost opened #19 "Use multithreading when processing batches of thumbnails"
Hi, compared to the old Gallery, this one does no longer split 1st preview generation into seperate threads/requests (~1/4 of speed or slower) and it does not load in IE11 (spinning wheel).

[2015-02-12 12:36] mamoit commented on #158
@oparoz ok, ty :)

[2015-02-12 14:53] Florz commented on #158
@oparoz Unfortunately that does not fix the problem for me.
I am running "PHP 5.6.5-1 (cli) (built: Jan 27 2015 15:59:26)".

My problem seems to be an error "414 Request-URI Too Long" while requesting the thumbnails (I replaced the paths in the square brackets):

https://florz.net:22443/owncloud/index.php/apps/gallery/ajax/thumbnail/batch?token=&image=[path to image];[path to image];[path to image

[2015-02-12 15:07] oparoz commented on #158
@Florz - You've encountered this bug: https://github.com/owncloud/gallery/issues/159
Report there is you also see the issue in Gallery+. There is supposed to be a limit to the number of images requested with each call.

[2015-02-12 15:26] Florz commented on #159
It still doesn't work. I checked out the exact tag and forced it to run with PHP 5.6.5 (via cli, the web interface told me this is incompatible)
But this time I get an empty request string:
https://[my server]/owncloud/index.php/apps/galleryplus/images?
-> "500 Internal Server Error"

[2015-02-12 15:34] oparoz commented on #159
Just did a couple of tests on Gallery+ with 736 files (PNG and PSD)

All in the root folder of an account: No problem loading the app
All in nested folders: No problems loading the app

So batch processing seems to work on that version.

[2015-02-12 15:37] oparoz commented on #159
@Florz - Gallery+ has not been tested on PHP 5.6, so the requirements are PHP 5.4 or PHP 5.5 only until someone can debug it on 5.6. See if owncloud.log gives you more information on what triggered the error 500 though. It could be easy to fix.

[2015-02-12 15:39] alex197 opened #160 "Shared gallery links broke upgrading to OC8"
I shared some links to gallery views of my folders on my OC7 installation. They are in the format https://myserver.tld/public.php?service=gallery&t=153d6c93f4ccba03153f68fb5464a44b . After upgrading to OC8, I got a file not found when trying to access these links. I figured out that they should now read https://myserver.tld/index.php/apps/gallery/public/153d6c93f4ccba03153f68fb5464a44b . I fixed t

[2015-02-12 16:01] Florz commented on #159
@oparoz
# cat /var/www/owncloud/data/owncloud.log | grep gallery
{"reqId":"7d7138d458516640d187d286b90c06d0","remoteAddr":"::1","app":"no app in context","message":"Accessing the API class is deprecated! Use the appropriate services instead!","level":0,"t
21+00:00","method":"GET","url":"\/owncloud\/index.php\/apps\/galleryplus\/"}
{"reqId":"51150d93758401e2760fe9c3104a4fe0","remoteAddr":"::1","app

[2015-02-12 16:17] oparoz opened #20 "PHP 5.6 compatibility"
The app may not be compatible with PHP 5.6.

In order to test it on PHP 5.6, you need to edit `apps/galleryplus/appinfo/info.xml`
Change

[code]

to

[code]

[2015-02-12 16:18] oparoz commented on #159
@Florz - I can't see anything wrong in that log exerpt, but since this may be PHP 5.6 related, let's keep the conversation going here: https://github.com/interfasys/galleryplus/issues/20

[2015-02-12 16:27] oparoz opened #21 "App does not always work on IE"
There are several issues when loading the app in Internet Explorer
- OC_EventSource in `core` does not work with multiple, simultaneous EventSource objects
- Polyfills can't seem to be able to deal with multiple EventSource objects
- IE freezes and can't decode previews sometimes https://connect.microsoft.com/IE/feedback/details/1088192/ie11-when-loading-large-number-of-images-images-begin-to-fail

[2015-02-12 16:44] jancborchardt commented on #151
Then it might be best to directly call it »Media«. As in the future videos should also be directly in there. Calling it »Gallery Plus« just seems strange and it will be difficult to transition to a proper name if we decide to keep that one.

[2015-02-12 16:45] jancborchardt commented on #151
@icewind1991 it would be cool to get your input and verdict on this since you are basically the main Gallery developer. Are you cool with the change?

[2015-02-12 17:01] oparoz opened #22 "Generate thumbnails on demand"
Background thumbnail generation might be coming in the future. We're tracking it here: https://github.com/owncloud/gallery/issues/18

In the meantime or in addition, we could offer a way to generate these thumbnails on demand in order to make the app usable from the first load.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8523400-g

[2015-02-12 17:13] mightycoco commented on #159
Just installed and enabled the galleryplus module

PHP 5.4.36-0+deb7u3 (cli) (built: Jan  9 2015 09:30:51)
Copyright (c) 1997-2014 The PHP Group
Zend Engine v2.4.0, Copyright (c) 1998-2014 Zend Technologies
    with XCache v2.0.0, Copyright (c) 2005-2012, by mOo

Opening the gallery+ app again shows the spinning icon, however, the last request to the server was this one:
[code]

Since then my apac

[2015-02-12 17:22] mightycoco commented on #159
The Request to URL:https://xxx.de/index.php/apps/galleryplus/images? finished after ~14 minutes. Then the same issue appeard again. A request with an very long URI was sent to the server, which failed:

Request URL:https://xxx.de/index.php/apps/galleryplus/thumbnails?images=.........

Reloading the page again triggers URL:https://xxx.de/index.php/apps/galleryplus/images? - I hope it won't take ano

[2015-02-12 17:43] oparoz commented on #151
@jancborchardt I'm fine with calling it "Media" and I'm looking forward to the new app icon you're going to design ;)

[2015-02-12 19:01] oparoz commented on #159
Thanks for the feedback @mightycoco !
The problem with `images?` is discussed here: https://github.com/interfasys/galleryplus/issues/17
It's been talked about in a few issues. That initial request is killing servers and it's not even generating previews...
I'm still surprised that `thumbnails?` fails after that since it should only contain the link to 20 images...

[2015-02-12 23:39] martin-rueegg commented on #160
alex, would you mind sharing your redirect roule?

i have actually the same issue. but your workaround does not work for me (i get "file not found").

[2015-02-13 00:19] martin-rueegg opened #161 "(url-)sharing is not possible if the folder name contains an ampersand (&)"
### Steps to reproduce
1. create a folder with name e.g. `foo&bar`
2. upload at least one picture to the folder, otherwise it won't show up in the gallery
3. go to gallery, open the given folder
4. click on the `share` button on the top left corner. => the menu is grayed out with a hint that the item cannot be re-shared. (resharing is enabled, by the way)
5. go back to files, rename the folder to

[2015-02-13 02:03] karlitschek commented on #161
@LukasReschke Are you in the mood for some encoding fun?

[2015-02-13 08:08] mightycoco commented on #159
In the albums.js in `Album.prototype.preload` there is some code filling the squarePaths array.
This array is a list of arrays with files.
The `squarePaths` array is correctly limited to 20 - however it's items aren't limited and in my case can have hundreds of files.

[2015-02-13 08:42] libasys commented on #159
@mightycoco the problem is, if you batch 20 images and load the images per $_GET Parameter you can run into this issue, the $_GET Parameter length is limited, depending on apache version working with http 1.0 or http 1.1 version. The batch files load only 20 images but if you have a lot of subfolders with long names, you can run very fast into this issue. The best solution is to load the images no

[2015-02-13 09:01] libasys commented on #157
@oparoz for metadata support ... I only coded editing metadata for jpg files! Because here you have the iptc feature! (https://en.wikipedia.org/wiki/IPTC_Information_Interchange_Model) I am not a fan to add new database table to have this feature, because the metadata is only on the database but not on the image. if you download this image the metadata (e.g. Title, description) gone!

[2015-02-13 09:24] oparoz commented on #157
@libasys - Thanks for the info. What we could do is store a subset of what is stored in the DB, in the files which support storing that information.

[2015-02-13 09:31] alex197 commented on #160
Yes, sure... In my `owncloud/.htaccess`, I added the following two lines right after `RewriteEngine on`:

    RewriteCond %{QUERY_STRING} ^service=gallery&t=([a-f0-9]+)$
    RewriteRule ^public\.php  /index.php/apps/gallery/public/%1? [R=301,L]

[2015-02-13 09:36] oparoz commented on #159
I might have a fix for the initial request, but @libasys's suggestion to use IDs like he does in his fork would solve the "URI too long" for people with long paths.

[2015-02-13 11:10] martin-rueegg commented on #160
great, thanks. unfortunately it still doesen't work with me. makes also sence, since the redirection takes place at the client side, so there is just an other request. similar to when i enter it directly into the browser's address bar.

i could not find a workaround here.

[2015-02-13 13:46] oparoz opened #24 "How to deal with empty parent folders?"
When building the gallery view, we need to provide navigation so that sub-folders containing media files can be shown as albums.
We also have to make sure that looking for media files doesn't "freeze" the app.

So how do we address the case where pictures are only found 10 levels deeper in a large repository with many folders per level?
#### Some thoughts
- Drilling down each folder to see if ther

[2015-02-14 00:26] oparoz commented on #23
First step, stop loading all images.
Available in this branch: https://github.com/interfasys/galleryplus/tree/performance-fixes

[code]

[2015-02-14 01:32] utack opened #162 ""file not found" when switching to gallery view"
When clicking the icon to switch to the large picture preview in a shared folder the message
![bildschirmfoto vom 2015-02-14 14 45 09](https://cloud.githubusercontent.com/assets/8551234/6199758/1a9ac510-b458-11e4-9cbb-d811b5d9f786.png)

Link format is correct:
https://domain.tld/owncloud/index.php/apps/gallery/public/[somekey]

Owncloud log in the webinterface, apache error log and php error log s

[2015-02-14 16:16] vbouchet31 opened #163 "Share thumbnails for shared pictures"
Hi,
I'm very new to OC so sorry if this has already been discussed somewhere.
I noticed that thumbnails are not shared for shared pictures. I have two users: "Alan" and "Eric". Alan shares a directory containing 100 pictures with Eric. Alan visits the gallery, it generates all thumbnails into alan/thumbnails. Then if Eric visits his own gallery, thumbnails are generated again and stored in eric/th

[2015-02-14 18:00] oparoz opened #25 "Upload straight from the app [$250]"
Being able to upload files is just one click away with the "switch to files view" button, but it could be even better if we could just ~~create folders and~~ upload files straight from the app.
## Specifications

The idea is to be able to easily drag and drop files in the current album, to be able to detect conflicts and to refresh the view once the process is complete.
- [x] Upload via drag and d

[2015-02-14 22:38] LukasReschke commented on #161
Guess that can't be worse than https://github.com/owncloud/core/issues/10001#issuecomment-74308828 - I'll take that one.

[2015-02-14 22:44] LukasReschke commented on #162
Confirmed.

[2015-02-14 22:45] LukasReschke commented on #160
Confirmed.

[2015-02-14 22:55] LukasReschke commented on #160
Patch is at https://github.com/owncloud/gallery/pull/164 please test.

[2015-02-14 22:55] LukasReschke commented on #162
Patch is at https://github.com/owncloud/gallery/pull/164 please test.

[2015-02-14 22:57] LukasReschke commented on #161
Another problem caused by https://github.com/owncloud/core/issues/14228… – Let me quickfix this here and for 8.1 finally make this function saner in core.

[2015-02-14 23:05] LukasReschke commented on #161
Patch is at https://github.com/owncloud/gallery/pull/165 - please test.

[2015-02-14 23:26] utack commented on #162
Pach is working for me, issue can be closed.

[2015-02-15 05:42] martin-rueegg commented on #161
thanks @LukasReschke for the fix.
for reference: I can confirm that while the link generation is now working (that what this burg report addreses), the generated URL does not. the formatting of `https://host/owncloud/index.php/apps/gallery/public/uNZTa2jovyGJ0zo` seems to be correct, when calling the link i get the file not found message. see https://github.com/owncloud/gallery/pull/164 which addr

[2015-02-15 05:42] #161 closed

[2015-02-15 05:44] martin-rueegg commented on #162
yep, works for me as well. tnx.

[2015-02-15 05:44] martin-rueegg commented on #160
confirm that the patch is working. thanks @LukasReschke.

[2015-02-15 05:48] martin-rueegg commented on #160
btw: the rewrite rules mentioned by @alex197 are not required at my installation (8.0 upgraded from 0.7) with this patch.

[2015-02-15 12:27] #162 closed

[2015-02-15 12:29] LukasReschke commented on #160
Will be fixed with the next oC 8 release. Thanks for testing.

[2015-02-15 12:29] #160 closed

[2015-02-15 14:14] oparoz commented on #163
It's actually a `core` issue since the preview generator should be smart enough to know that a cached copy is stored in the original sharer's account. @georgehrke  should be able to confirm this.

[2015-02-15 14:40] oparoz commented on #159
The logic to implement the limit doesn't work when sub-folders are found. `limit x 4` thumbnails will be loaded.
So if your folder contains 20 subs with at least 4 pics in each, then 80 thumbnails will be requested at once. Combine that with the fact that paths are still used and you'll explode the URI limit.

[2015-02-15 20:10] oparoz opened #26 "Catch "new picture" events"
We only show the gallery button and gallery link creator when the files list contains files we can preview.
Currently, if a file is uploaded in a folder which does not contain media files, our additions to the view will not magically appear. It would be nice if it did.

[2015-02-15 20:19] oparoz opened #27 "URL used to retrieve thumbnails can generate "URI too long" error messages [$15 awarded]"
### Current situation

Initial post: https://github.com/owncloud/gallery/issues/159
A thumbnail is identified by its path. So if we're 10 levels deep and have lots of sub-folders with long-names, we're going to max out the limit set for GET requests.
_Note: We have to use GET requests because we're using Server-sent Events._
### Solution
- Identify thumbnails by their ID
- Only retrieve what's nee

[2015-02-16 15:25] vader2014 opened #28 "Error PHP Call to a member function getMimetype() on a non-object at /var/www/owncloud/lib/private/files/node/node.php#276"
Hi!
When i want to open gallery+ i see the following error in the log: "Error   PHP Call to a member function getMimetype() on a non-object at /var/www/owncloud/lib/private/files/node/node.php#276"

I do not experience this error with all users but only with some (the users have an extensive number of images in their accounts)

BR

[2015-02-16 17:13] Akhenaton opened #166 "A single "*.tif" or "*.tiff" image file format brakes completely your Gallery."
[OC 8.0.0] [Gallery 0.6.0]

A single "*.tif" or "*.tiff" image file format brakes completely your Gallery and you get a spinning wheel on a blank page for ever.........

[2015-02-16 20:35] LukasReschke commented on #152
Closing then.

[2015-02-16 20:35] #152 closed

[2015-02-18 22:28] GitStefanN commented on #158
Is there any solution for the problem with the corrupted image files (see bug reported by @AW-UC). I’m using Boxcryptor for one folder, so the files are encrypted and have the same behaviour like corrupted files. Therefor I cannot see the images of the other unencrypted folders in the gallery app.

[2015-02-18 22:36] oparoz commented on #158
@GitStefanN - Gallery+ should not be affected. Files which fail to be previewed are displayed as mime icons in order to not block the rendering of the view.

[2015-02-18 22:42] FuturePilot commented on #158
Is this the only commit needed to fix the bug or are there other commits that need to be applied as well?
[https://github.com/owncloud/core/commit/95aa9a8890eaccb89b714e378941019933d40c5a](https://github.com/owncloud/core/commit/95aa9a8890eaccb89b714e378941019933d40c5a)

I applied that commit but I'm still getting the spinning circle.
Also @oparoz to one of your previous questions, I have no .bmp

[2015-02-18 22:47] oparoz commented on #158
@FuturePilot - That fixes the PHP 5.5 problem only, then there is the fact that all your files are mapped into memory and then up to 80 thumbnails are retrieved in one go, using their paths as IDs.
You'll also get a broken app if the Preview class fails for some reason or if a file can't be read.

[2015-02-19 21:55] oparoz commented on #158
@GitStefanN - Thanks for filling in https://github.com/owncloud/core/issues/14392
If you still want to test it, just edit `appinfo/info.xml` and remove that requirement. The performance-fixes branch only contains the quick browser feature, for now. Allowing you to get to see something without having to map your whole instance in memory.

[2015-02-19 22:25] GitStefanN commented on #158
@oparoz – Thanks for the hint! I have activate the gallery+ app.
But I think for the app I have to many images (about 50 GB) in my Cloud

[2015-02-19 22:38] oparoz commented on #158
With the performance-fixes branch, you should be able to get a list of images to display rather quickly. Thumbnails will take a while if your top folder is filled with picture folders, but many little bugs in the app and in core mean that you might not see anything if some files are corrupted, etc. The best thing to do is to monitor your Firefox debugger to see if any request fails and the ownclou

[2015-02-20 14:14] oparoz opened #30 "App won't find mime icon if data folder is not at the standard location"
I'm using a hack to find the path to the mimeicon in the Preview class, based on the data folder, forgetting that this is usually moved away for security reasons.

[2015-02-20 14:31] oparoz opened #31 "Stop sending the mimeicon so that the browser can cache it"
We currently send a base64 encoded mime icon as the thumbnail when we can't get a preview of a media file.
It should be more efficient to just send the path to the icon so that the browser can cache it.

[2015-02-20 15:48] oparoz opened #32 "Don't just send a 404 when we can't download a thumbnail"
A thumbnail can be either generated by the preview system or downloaded if it's a SVG and the user has not enabled the SVG provider.
The cache is used to get a list of files which the app should be able to show, but something may happen (broken encryption, broken binary, etc.) when we're actually trying to download and show it.

We're currently sending a 404, along with a message, but that will br

[2015-02-21 13:29] utack commented on #57
The issue hit me again, now that the Android client also shows thumbnails.
Maybe the gallery app can get a small config option to automatically pre-generate all thumbnails with a low task priority,

[2015-02-21 13:32] LukasReschke commented on #57
That's completely unrelated to the gallery app. The thumbnails are generated from core.

[2015-02-21 13:33] utack commented on #57
Interesting, thanks for telling me!
In this case maybe core could get such an option.

[2015-02-21 13:34] LukasReschke commented on #57
Please complain at https://github.com/owncloud/core/issues/11685 ;-)

[2015-02-21 14:03] oparoz opened #34 "Let the user download the file if the preview is broken"
If a file can't be previewed for some reason, its media type icon will be shown. We won't be showing the file in the slideshow (#33), but the user can download it, if the system can find it.

[2015-02-21 14:13] oparoz opened #35 "Windows compatibility"
The app is untested on Windows, so I would appreciate it if users could provide feedback

[2015-02-21 14:22] oparoz opened #36 "Implement a search engine"
oC8 comes with a more efficient search engine, but the app is not yet plugged into it.
### Thoughts on possible solutions

As soon as a search is started, the view and models should be cleared and thumbnails should be generated.
- If we keep the current way of building the view, then nothing might show up until a row is full.
- If we make it so that a search is authorised to ask the backend for on

[2015-02-21 14:32] oparoz opened #37 "Disable search field"
The search field is not yet automatically disabled in `core` for apps which have not registered with the search system, see https://github.com/owncloud/core/issues/11635#issuecomment-71741834

We should hide that field for now since it does not work.

@jancborchardt - Feel free to voice your opinion

[2015-02-21 14:46] oparoz opened #39 "Action menu for thumbnails"
Each Album or thumbnail could feature a menu giving quick access to actions such as
- Regenerate thumbnail  #38
- Edit meta data, requires https://github.com/owncloud/galleryplus/issues/101
- Share, requires https://github.com/owncloud/galleryplus/issues/68
- Edit name
- Delete image
- Select image (for drag and drop https://github.com/owncloud/gallery/issues/405)

There is a menu in Files. I don'

[2015-02-22 16:55] oparoz commented on #166
With or without the TIFF provider?

[2015-02-23 22:10] utack commented on #162
How about hte backport to stable? Will it happen soon?

[2015-02-23 22:12] LukasReschke commented on #162
@utack https://github.com/owncloud/gallery/pull/164#issuecomment-74415484 …

[2015-02-23 23:02] oparoz commented on #96
This doesn't seem to be happening on oC8, correct?

[2015-02-23 23:17] oparoz commented on #127
I'm wondering if this is related to the fact that the path contains parenthesis.

[2015-02-24 00:09] oparoz opened #40 "Add a button to toggle the colour of the background in the slideshow"
As described here by @anarcat
https://github.com/owncloud/core/issues/11418#issuecomment-58079695

Happens as soon as you're starting to preview more than just JPEGs.
### Requirements
- [x] Design a toggle button. I don't see which standard oC icon we can use. Suggestions welcome.
- [x] Place the button next to the download button
- [ ] Make the controls work with a light background. A solution co

[2015-02-24 00:16] #34 closed, assigned to oparoz

[2015-02-24 00:17] #37 closed, assigned to nobody

[2015-02-24 00:20] #31 closed, assigned to nobody

[2015-02-25 23:52] oparoz opened #41 "Cache albums as we go along"
In Gallery+, we're not mapping the entire cloud in memory any more, which means that every folder change will trigger a request to the server to get a new list of files.

We could improve the situation by caching what we receive and check that cache before making a new request.

[2015-02-27 14:42] devurandom commented on #150
Also applies when the image is displayed "fullscreen": If I click the "next image" arrow button on the right edge of the screen, I have no way of knowing whether I am still looking at the last image, or whether the next one is already being displayed. If you have lots of very similar images in a folder, this becomes are real problem. A simple spinner icon in the middle, overlayed over the image, w

[2015-02-27 14:58] oparoz commented on #150
AFAIK, the spinner is already there. If you're not seeing it, it's because your images are cached.
Maybe there could be a transition between images using CSS.

[2015-02-27 15:24] oparoz commented on #90
The first step would be to show albums and images as they're rendered. Currently, a row is only made visible once it's full.

[2015-02-27 21:35] devurandom commented on #150
The images take several (>15) seconds to load. They will load quicker (<1s), if I already viewed the whole album once. I doubt these are caching effects.

[2015-02-27 22:04] oparoz commented on #150
The next picture is pre-loaded and the browser caches them, so, per example, reloading a slideshow of an album you've just viewed will show almost no loading for the first picture and nothing for the ones after that.

[2015-02-28 08:00] devurandom commented on #150
Exactly. My point is, that the first time loading takes a while and there is no spinner. Second point is that I can clearly destinguish the two cases, because the loading time differs so drastically.

[2015-02-28 12:49] #32 closed, assigned to nobody

[2015-02-28 12:52] #30 closed, assigned to nobody

[2015-02-28 12:58] oparoz opened #44 "Try to find a working folder, based on the given location"
There could be a typo in a filename or folder, we should try our best to find a working parent and as a last resort, we'll show the root folder

[2015-02-28 13:03] oparoz opened #45 "Fail gracefully"
There is no point in having silent errors as it only confuses users.

`core` is still failing in unpredictable ways and it doesn't always raise exceptions. See https://github.com/interfasys/galleryplus/issues/28
We should do our best to catch these behaviours and turn them into different HTTP status, error messages, sanitized or empty returned data so that the view can display an appropriate error

[2015-02-28 13:05] oparoz opened #46 "Dealing with errors programme"
This is a meta ticket which tracks all the various work being done to improve the reliability of the app
#### Loading the app
- [x] Fail gracefully when something unpredictable happens in the backend https://github.com/interfasys/galleryplus/issues/45
- [x] Try to find a working folder, based on the given location https://github.com/interfasys/galleryplus/issues/44
#### Getting thumbnails
- [x] Th

[2015-02-28 13:08] #44 closed, assigned to oparoz

[2015-02-28 15:30] oparoz opened #48 "Hide download button on the "files" side"
No point in having a download button on the slideshow, when you can already do it when looking at files.

[2015-02-28 15:53] oparoz opened #49 "On a touch device, controls should show up when tapping the screen"
Controls automatically hide after a while, but they don't reappear when touching the screen

[2015-02-28 15:57] #48 closed, assigned to nobody

[2015-02-28 17:41] oparoz opened #50 "Slideshow does not restore URL when closing"
On the `files` side, the URL is not restored to its initial state after the slideshow ends.

[2015-02-28 19:04] #50 closed, assigned to nobody

[2015-02-28 19:59] #49 closed, assigned to nobody

[2015-02-28 23:08] oparoz opened #52 "Large previews are not shown properly on High DPI devices"
Previews should fit in the advertised screen resolution. Full screen and zooming should work.

This will stay open for a while as I can't test on all available devices...

[2015-02-28 23:47] oparoz opened #53 "Improve the touch area of some buttons"
I think _next_ and _previous_ should have larger click/tap areas.
Buttons at the top (download, toggle, etc.) should also have a larger tap area and should be spaced accordingly.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9060550-improve-the-touch-area-of-some-buttons?utm_campaign=plugin&utm_content=tracker%2F9328526&utm_medium=i

[2015-03-02 19:47] oparoz opened #54 "Work around problems introduced by the File Locking app"
The File Locking app is slowing things down a lot: https://github.com/owncloud/core/issues/14107 , but I found that it could also sometimes prevent the app from getting large previews.

[2015-03-03 17:23] oparoz commented on #150
@devurandom - Please open a separate issue for this so that this can be tracked properly

[2015-03-03 18:18] oparoz opened #56 "Layout breaks if resize happens during rendering"
### Steps to reproduce
1. Hit refresh (ctrl+F5)
2. Resize the window has soon as the first albums have appeared
### Expected results

The layout should change and all elements should be displayed
### What's happening instead

The albums in the first row disappear.
Another resize will make them re-appear

[2015-03-04 15:18] oparoz commented on #158
The master branch of Gallery+ has been updated and I plan on releasing a new version soon. It won't fix everything, but should help some people with many sub-folders and who are using external storage.

[2015-03-04 15:32] oparoz opened #58 "Make it possible to ignore folders"
After reading this: https://github.com/owncloud/gallery/issues/10#issuecomment-56300394 , I thought it would be a nice feature to have.
1. It adds some privacy
2. It can help installations which have recurrent problems with some folders
#### Implementation
- Adding a `.nomedia` file to a folder will prevent the app from adding the folder to the list of possible locations for media files
- Check pa

[2015-03-04 15:32] oparoz commented on #10
@jsalatiel - I like this idea... It's really simple to implement and operate. Tracked here: https://github.com/interfasys/galleryplus/issues/58

[2015-03-04 17:06] deMattin commented on #158
@oparoz:
Gallery+ in this new Version 2.05 is the first really useable Gallery in OC 8.0 if you have more than just a few pictures in your account.
Ok, if you open a folder, it still lasts a (too long) while, before the first pictures come up (also, if you revisit the folder and previews were generated before) but as you said, you are working on this.

Btw: I have more than 3000 pictures in around

[2015-03-04 22:28] oparoz commented on #158
@deMattin - I'm glad the situation has improved for you :). Did you also apply the performance patches? Do you have mainly 2-4MB JPEGs or larger files?
I've pushed a new feature earlier which allows people to [ignore some folders](https://github.com/interfasys/galleryplus/issues/58). It might help make the app more usable at the beginning, before all thumbnails are generated as top folders can be

[2015-03-05 02:36] deMattin commented on #158
I didn't apply the performance patches because you wrote there: "The searching part hasn't been addressed yet," and that has been my main issue yet.
So visiting the main gallery(+) folder "keeps spinning" problem wasn't addressed also, I thought.

I have only "normal" jpegs mostly < 3MB (~70 files with 6MB in one folder)
Until 2.05 I only was able to preview single folders with waiting a very(!) l

[2015-03-05 07:39] LEDfan commented on #158
Hi. I didn't read the whole issue. However I pulled the Gallery+ app, installed it and my images are loaded :). The performance is IMO great. Only the first load is a bit slow when generating the thumbnails. I have the assets pipeline option enabled BTW.

[2015-03-05 09:05] oparoz commented on #158
@deMattin - Thank you for your detailed post and trying to explain in English :)

You're right, with your collection, the patches wouldn't make a lot of difference, especially once all the thumbnails are generated.

70 pictures.
Initial load of maybe 3-4s, then 0.5s per picture = ~30s
Album caching won't help here, but maybe something can be done about these 500ms per picture. You should be able t

[2015-03-05 09:33] oparoz opened #60 "Only preload the number of thumbnails we were told to preload"
The logic to limit the number of thumbnails to retrieve doesn't work when sub-folders are found. Each sub-folder can add up to 4 thumbnails to the request and this can be a problem for folders containing lots of sub-folder.

[2015-03-05 10:09] butonic commented on #151
Users might expect to find music in an app called  "Media" ... not sure about the name ... I'd make "Pictures" and "Videos" separate apps ... my 2 cents

[2015-03-05 13:38] jospoortvliet commented on #158
Ah, and you can support that ticket with Bountysource ;-)
https://www.bountysource.com/issues/9046405-fixing-performance-issues-programme-15

[2015-03-05 13:46] oparoz commented on #158
Yeah, I think it's a good way to prioritise issues. If there is a need, consumers can use BountySource and businesses can sponsor the development in full or share the cost with other interested parties.

[2015-03-05 13:54] jospoortvliet opened #61 "Panorama pics don't look very good"
Hi,

Panorama images don't look good in GalleryPlus, neither as thumbnail nor when clicked. They seem to be rendered in very low quality. Not sure if this is on my side, but I do see it for all wide pics. They are shown really cool: width shows up nicely in the thumbnail view, the image view can zoom and scroll very well. Just rendered at a low resolution...

![eight1](https://cloud.githubusercont

[2015-03-05 14:32] #28 closed, assigned to oparoz

[2015-03-05 20:00] oparoz opened #63 "Can't see ImageMagick converted SVG files"
### With provider enabled
#### Thumbnails
- [x] SVG files which can't be converted are sent as media type icon
- [x] SVG files which can be converted are sent as PNG
#### Large previews
- [x] SVG files which can't be converted are are sent as media type icon or are downloaded
- [x] SVG files which can be converted are sent as PNG, **but slideshow thinks they're going to be SVG**
### With provider

[2015-03-05 20:44] #63 closed, assigned to oparoz

[2015-03-06 09:17] DeepDiver1975 commented on #151
media is kind of burned - the old music player was called media/media player

[2015-03-06 15:39] jancborchardt commented on #151
Then we should call it »Gallery« and actually make a conscious decision to replace it. We’re not making separate apps for pictures and videos simply because we messed up names cause of legacy reasons.

[2015-03-06 18:25] deMattin commented on #158
Additional information about my post above:
The folder, that doesn't load, had the "URI too long problem" because it only consists of subfolders with pics and so I fixed it for now with setting the "LimitRequestLine-Direktive" in Apache to 12288.

[2015-03-06 18:45] oparoz commented on #158
Thank you @deMattin - I'll deliver ["Only preload the number of thumbnails we were told to preload"](https://github.com/interfasys/galleryplus/issues/60) ASAP to try and help some.

[2015-03-06 23:51] jospoortvliet commented on #151
@jancborchardt fully agreed. Let's just name it Gallery, that's a great name. That this is a much improved version is only good, right?

[2015-03-07 04:48] SailorOrion commented on #96
After upgrading to OC8, this issue is no longer present

[2015-03-07 10:11] oparoz commented on #151
"Gallery" actually works for visual media. People can still install a separate video player if they want.

[2015-03-07 11:46] #58 closed, assigned to oparoz

[2015-03-07 11:50] oparoz opened #66 "Add some user documentation"
The readme contains some information, but having some separate documentation could help
- [ ] Patching ownCloud, including reverse patches
- [ ] ".nomedia" feature
- [ ] Creating Gallery links for the files view
- [ ] Tips

[2015-03-07 22:50] jsalatiel opened #69 "Several pictures and still get 'No pictures found! If you upload pictures in the files app, they will be displayed here.'"
Gallery+ keeps showing "No pictures found! If you upload pictures in the files app, they will be displayed here." for some users, even  though they have plenty of pictures.

The problem appears to be in the top root folder (accessed by clicking apps/gallery+). If i browse to some picture folder in FILES app, i can click the tile button and gallery+ can see the files, and even go up a few folder le

[2015-03-08 13:40] Huster-at-github commented on #158
Gallery stops showing subfolders at a number of 393.

Deleting No. 393, 394 etc. doesn'nt help. It always stops at folder No. 393.

[2015-03-08 13:44] deMattin commented on #158
I think, this depends on the path length and not on the value "393" for folders.
Have you tried to set the "LimitRequestLine-Direktive" in Apache to a higher value as a temporary workaround?

[2015-03-08 14:33] oparoz commented on #158
@Huster-at-github - Try the `performance-fixes` branch. I've pushed a change last night which should help make shorter requests

[2015-03-08 16:31] karlitschek commented on #151
I agree. Good idea to not call it Pictures so that users who have both apps installed can see the difference.

[2015-03-08 18:27] deMattin opened #73 "Error with folders only containing mp3 files"
If a folder only contains mp3 files the "switch to gallery button" is shown in folder view.
This isn't a problem as I already suggested in #67 to show this switch icon in any folder independent of its content.

But in case of only mp3 files, the wheel keeps spinning and browser console gives an error, if you switch to gallery+ there:

The OC error is:

If you copy a picture in this folder, there's

[2015-03-08 21:00] #73 closed, assigned to oparoz

[2015-03-09 00:56] oparoz opened #79 "Only return pictures of the first 2nd level sub-folder which contains pictures"
In this scenario

[code]

Sub1 has not pictures, but contains 2 sub-folders with pictures.
The crawler should only return the pics of sub1.1 as that will be enough to represent the sub1 album, but it returns pictures of all sub-folders.

[2015-03-09 11:15] #69 closed, assigned to nobody

[2015-03-09 11:51] jancborchardt commented on #18
cc @oparoz who implemented this in the new Gallery app.

[2015-03-09 12:12] oparoz commented on #18
@PVince81 - Let me know if the way it works in Gallery+ fills your use case. You can use 2.0.5, the master branch or just test it with this link:
https://oc8demo.interfacloud.com/index.php/apps/galleryplus/s/4jjwPv5E21l8Lnk

[2015-03-10 01:57] #79 closed, assigned to oparoz

[2015-03-10 02:14] oparoz commented on #158
`master` now also contains the preload fix and wastes less time looking for pictures it doesn't need.

[2015-03-10 08:16] deMattin commented on #158
This actual patches of [gallery+ master] (https://github.com/interfasys/galleryplus) reduces load time of gallery root folder from ~60 seconds to less than 20 seconds in my main account with 23 GB in 7300 files and 430 folders.
Navigating in gallery folders is also much quicker.
A great step forward! :+1:

[2015-03-10 10:49] oparoz commented on #158
Great news! :)
Until someone comes up with a better way to look for files, using pure SQL queries perhaps, it's going to be difficult to do better. The other improvements will help with usability and bandwidth.
Of course, there is always the URI issue https://github.com/interfasys/galleryplus/issues/27.
I've also noticed that different preload settings work better for different situations. Smaller

[2015-03-10 11:22] jospoortvliet commented on #158
Hmmm, with ownCloud 8.0.1 (yeah, the broken thing) the patch bitmap-max-preview.pull.13635.patch no longer applies (the 2nd hunk fails).

Darn, let this go upstream sooner rather than later so it won't break all the time ;-)

[2015-03-10 11:33] oparoz commented on #158
I'll update it for 8.0.2. That also means that I need to specify the exact version in my releases o_O

[2015-03-10 11:34] oparoz commented on #148
Closing as this has been fixed.

[2015-03-10 11:34] #148 closed

[2015-03-10 11:59] oparoz opened #81 "Don't load the list of images twice at init time"
Every time the app is initialised, 2 requests are made to get the list of images

[2015-03-10 12:15] jospoortvliet commented on #158
@oparoz that is just the patch - I don't think you need to specify the exact version for that, that patch should just go upstream in 8.1 and then you can drop it (too bad for those sucky 8.0 users who are behind the curve, after all, 8.1 is, like, available in 8 weeks so it is time to install it and enjoy the thrill of running not-even-beta code! Live on the edge, yes?)

Also, the 'toggle backgrou

[2015-03-10 12:56] Messinger commented on #158
what about giving the PATCHED bitmap.php?

I didn't get it patched against any variant of owncloud. (8.0.0 to 8.0.2 or master). I think these patches are simply confusing.

[2015-03-10 14:17] #81 closed, assigned to oparoz

[2015-03-10 15:06] jospoortvliet commented on #158
@Messinger that has problems if something changes that impacts other files... Not that different.

[2015-03-10 15:28] oparoz commented on #158
@Messinger - The problem is that several patches can affect the same file, so it would be all or nothing, like a folder to unzip on top of your installation, hoping nothing goes wrong... It's a bit hazardous in case the patches become unmaintained, etc.

@jospoortvliet - Well, people who want to live on the edge can get the patches straight from `owncloud/core` :)

There is an issue talking about

[2015-03-11 23:30] oparoz opened #84 "Automatically select an appropriate background colour based on the image's luminance"
### Current situation
- The large previews use a black viewport
- Each picture has a 30 pixels wide white border and a white background
- A toggle-background button was introduced so that the background+border could be turned off. There is a discussion going about what should be the default behaviour. See #40
### The problem

This is not ideal as currently users have to manually adjust the backgro

[2015-03-12 13:04] oparoz commented on #158
@jospoortvliet - I created a new ticket for the background issue https://github.com/interfasys/galleryplus/issues/84

[2015-03-12 14:20] dttpy opened #171 "a hash is created in url after opening a picture"
### Steps to reproduce
1. create a folder "pics"
2. upload a picture
3. click and open this picture
4. close this picture

### Expected behaviour
The page stays at the folder "pics", there is no # in the url, and the url should be

http://.../owncloud802/index.php/apps/files/?dir=%2Fpics

like in owncloud 7.0.4

### Actual behaviour
A "#" is created by step3, and by step4, this hash stays.

If the

[2015-03-12 14:20] dttpy commented on #171
also see #14828

[2015-03-12 21:50] cbxk1xg opened #88 "idea to enhance the performance of the plugin"
Hi!

I have a very complex structure of sub-folders an the content is pretty mixed up. And so I ran into the a serious performance problem. And I guess I found out what the problem is. A couple of years ago I wrote a CMS and it had a media manager. The media manager had to create the thumbnails and it stored all the meta data. The process for the "check in" of the files was very similar. And that'

[2015-03-12 22:47] #88 closed, assigned to nobody

[2015-03-12 23:00] oparoz commented on #171
Fixed in Gallery+ https://github.com/interfasys/galleryplus/issues/50

[2015-03-13 12:43] LukasReschke opened #172 "Request URI too long"
`thumbnail/batch` should use POST and not GET if there are long nested file paths the Gallery app is unusable otherwise.

cc @icewind1991

[2015-03-13 16:04] oparoz commented on #172
Not possible afaik because it's using EventSource which is GET only. Gallery needs to switch to using IDs as index.

Duplicate of #159
Planned fix in Gallery+: https://github.com/interfasys/galleryplus/issues/27

[2015-03-13 16:08] oparoz opened #173 "App does not load on IE11"
### Steps to reproduce
1. Install oC8
2. Click on the "Pictures" app **in Internet Explorer 11**

### Result
Stare at the spinning wheel forever

### Expected result
Looking at pictures

Look at the debugger. All the data is there, just never sent to where it's supposed to because the EventSource fallback is not working.

[2015-03-13 19:04] Spacefish opened #89 "Content Security blocks galleryplus on latest git master of owncloud"
I get a lot of:
Refused to load the image 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAACXBIW…7oCvj8PnL5HKkpB7evevDQABS/3++aCgJUnYDz4GG18f8BE69QFZcoodwAAAAASUVORK5CYII=' because it violates the following Content Security Policy directive: "img-src 'self'".

In Chrome, i get similar errors in firefox aswell!

with the latest owncloud master branch... I think they somehow se

[2015-03-14 13:48] oparoz opened #91 "Implement sorting filters"
The default is to sort alphabetically, but it should be possible for the user to sort his collection by date and to reverse that order
#### Requirements
- [x] Sorting interface
- [x] Sorting code. Pull the data from the cache, send it to the client and process it.
- [x] Fix https://github.com/interfasys/galleryplus/issues/56
#### Open questions
- Should we have a dropdown with 4 possibilities? 2 b

[2015-03-14 14:42] oparoz opened #92 "Warn users of Internet Explorer"
The only versions of Internet Explorer we may be able to support are 11+ and even that is a nightmare.

We need to let users know though, instead of just showing them a broken app and we can recommend they upgrade their browser.

[2015-03-14 15:19] #92 closed, assigned to nobody

[2015-03-15 15:09] oparoz opened #97 "Add user documentation"
- [ ] Patching ownCloud, including reverse patches
- [x] ~~Creating Gallery links for the files view~~ ShareLinks documentation
- [x] How to ignore folders (".nomedia" feature)
- [x] How to zoom in/out, go fullscreen using keyboard shortcuts
- [x] How to change the background colour #40
- [x] How to add some album information #93
- [x] Tips
## <bountysource-plugin>

Want to back this issue? **[Pos

[2015-03-16 21:39] kolumbus120 opened #99 "No big preview with slideshow"
When I click on the picture it turn in to grey but no big preview with slideshow.
browser Chrome 41.0.2272.89 m
error in browser console
https://x.x.x.x/apps/galleryplus/js/vendor/bigshot/bigshot.js?v=e643dc64dfce69129aef074e95e9c179 Failed to load resource: the server responded with a status of 403 (OK)
slideshow.js?v=e643dc64dfce69129aef074e95e9c179:84 Uncaught ReferenceError: bigshot is not def

[2015-03-16 21:51] eggithub commented on #173
Same problem, different preconditions:

upgrade from 8.0.0 to 8.0.2
firefox 36.x, ie11

gallery app shows the "pictures" directory label in the top-left beneath the menu but wheel keeps spinning.

Seeing these kinds of errors in log but dont know if they are related:

Error 	PHP 	Call to a member function getId() on a non-object at /var/www/owncloud/apps/gallery/ajax/batch.php#59 	2015-03-14T21:02

[2015-03-16 21:59] oparoz commented on #173
I think the problems you're having are more generic than a IE11 problem. The PHP is killed by the script when trying to retrieve some of your files.
If you need something which works today, you should try https://github.com/interfasys/galleryplus/releases/tag/2.0.7

[2015-03-16 22:01] #99 closed, assigned to nobody

[2015-03-17 11:47] jancborchardt commented on #18
@oparoz yeah it actually does. We can do further tracking in https://github.com/interfasys/galleryplus/issues/68 as well (that’s for the sharing action).

[2015-03-18 06:01] smhelg opened #100 "Error opening pictures from files app on external storage"
When using files app browsing pictures on external storage the Gallery+ app only open picture if it has been open with the old Pictures app first. See screen shots:

Screenshots of old pictures app:
Before clicking on picture:
![image](https://cloud.githubusercontent.com/assets/11532933/6703329/6a9fb2c8-cd3a-11e4-86c0-fa54868eedc5.png)

After clicking on picture:
![image](https://cloud.githubuserc

[2015-03-18 08:14] libasys commented on #173
This should help you for preview of bigimages:
https://github.com/libasys/ownCloud-7.0.3/commit/08fe3725b93fdf6fb9a3c3ee7bf5c44be752d8bb
Eventsource Problem IE 11:
And this line is needed that IE11 get the images from eventsource:
https://github.com/libasys/ownCloud-7.0.3/commit/c61b27d192a7078b39cc6a0871704e14bfa6508b#diff-632df6a0ecf46b0b10462233762224eaR85

for example the files app works with

[2015-03-18 08:31] oparoz commented on #173
Thanks for the pointers @libasys . I've actually switched EventSource in Gallery+ and everything seems to be working as expected.

[2015-03-18 08:42] libasys commented on #173
a question with gallery+ how do you now load the images?
working with searchByMime or with getDirectoryContent or have you written your own search images?
In my new version i work with getDirectoryContent and scan for subfolder one level deep if there images found then it looks in the subfolder and get the first 4 pics for thumb preview!

[2015-03-18 09:01] oparoz commented on #173
I've dropped the horrible searchByMime () and replaced it with getDirectoryListing()
I do the same thing. Go down until I find 4 pictures.
https://github.com/interfasys/galleryplus/blob/master/service/infoservice.php#L132

[2015-03-18 15:47] #60 closed, assigned to nobody

[2015-03-18 15:51] #100 closed, assigned to oparoz

[2015-03-18 22:04] tel2 opened #102 "Still spinning icon"
Upgraded to Owncloud 8.0.2 hoping that would fix the spinning icon issue when I run Gallery+, but to no avail.

Owncloud 8.0.2, lighttpd, debian 7, php 5.4 - I just get a spinning icon and nothing else.

Here's the log produced:

ar 18 14:40:52 nowlas ownCloud[3905]: {PHP} Only variables should be passed by reference at /var/www/owncloud/lib/private/cache/fileglobalgc.php#50
Mar 18 14:41:31 nowlas

[2015-03-19 17:13] #102 closed, assigned to nobody

[2015-03-20 13:36] fafische commented on #158
The Bug affects me, too. Why is the bug not scheduled for fixing it? It think it is realy important to be able to use the Pictures-View.

[2015-03-20 13:48] oparoz commented on #158
It's already fixed for most people
https://github.com/interfasys/galleryplus/releases/tag/2.0.7

and the next step is tracked here:
https://github.com/interfasys/galleryplus/issues/27

[2015-03-20 19:06] sorglos commented on #166
With oC 8.0.2 and Gallery 0.6.0 I see the spinner on a white page when I have at least one .tiff file in the folder. Preview Provider ```OC\Preview\TIFF``` is in ```config.php```. In the Files app no preview of .tiff files.

owncloud.log

    Error	PHP	imagepng() expects parameter 1 to be resource, boolean given at /home/www/lib/private/image.php#292
    Error	core	OC_Image->data. Error getting im

[2015-03-20 19:08] oparoz commented on #166
Please switch to Gallery+ if you need to display more than JPGs and PNGs
https://github.com/interfasys/galleryplus/releases/tag/2.0.7

[2015-03-20 22:13] oparoz opened #104 "View 3D pictures in 3D in the slideshow"
Stereo JPEGs are currently shown in 2D, but it would be interesting to be able see them in full 3D.

I'm thinking creating anaglyph 3D pictures on the fly at first since they can be viewed by anybody with a pair of red cyan glasses, but maybe there are different options to explore.

A new UI element would need to be introduced to be able to turn the effect on/off.
#### GSoC

This is a good exercis

[2015-03-21 17:16] sorglos commented on #166
I want to display BMP, JPG, PNG, SVG, and TIFF. It works except for TIFF, but this format is supported by the app. So I use the Gallery and hope this issue will be fixed. ;-)

[2015-03-22 17:41] #66 closed, assigned to nobody

[2015-03-24 17:28] oparoz opened #176 "Layout breaks if resize happens during rendering"
### Steps to reproduce
1. Hit refresh (ctrl+F5)
2. Resize the window has soon as the first albums have appeared

### Expected results
The layout should change and all elements should be displayed

### What's happening instead
The albums in the first row disappear.
Another resize will make them re-appear

[2015-03-24 21:11] trs998 commented on #172
Same problem here with 8.0.2 - in my base the URL came to 24707 bytes -[HOST]/index.php/apps/gallery/ajax/thumbnail/batch?token=&image=[IMAGES]

So something needs to be done in terms of stage-loading this - the attempted URL contained 232 images, which seems excessive. It's somehow limited though, as 232 images is a very small percentage of those in my storage.

[2015-03-25 08:41] jospoortvliet commented on #158
ownCloud 8 plus the latest git checkout from galleryplus has improved the gallery performance a LOT. Yes, it takes a while to load a row of previews and it took a bit to load the root of my folder with loads of subfolders with images, but it loads now - in a minute or a few. Great work, @oparoz !

[2015-03-26 03:33] oparoz opened #106 "Labels"
### Current situation
- Album label is illegible in many situations
- Picture label is missing
### Possible improvements for albums
- [x] Darker label background
- [ ] Double height on rollover with more information? (That's if and when we have something to show)
### Possible improvements for images
- [x] Revealed on hover
- [x] Darker label background than albums
- [x] Different title size and fo

[2015-03-28 21:42] #56 closed, assigned to oparoz

[2015-03-30 14:00] oparoz commented on #159
Just a heads up for people facing this issue. This project is unmaintained.

You need to switch to Gallery+ if you want things to get fixed.
https://github.com/interfasys/galleryplus/releases

Not everything has been fixed yet and people who  have long folder and pictures names deeply nested will still have problems and should let us know here: https://github.com/interfasys/galleryplus/issues/27

[2015-03-30 14:20] mnlipp commented on #172
This should actually be closed as being a duplicate of https://github.com/owncloud/gallery/issues/159.

[2015-03-30 15:01] #172 closed

[2015-03-30 15:02] oparoz commented on #176
Fixed in Gallery+ (master)

[2015-04-02 10:35] #89 closed, assigned to nobody

[2015-04-04 11:57] jospoortvliet commented on #151
I'm guessing this won't be for 8.1, or will it?

[2015-04-07 14:03] oparoz opened #111 "Fix links in copyright field"
The copryright field in an album config can contain links, so we need to make sure we apply the same fix we did to descriptions so that they open in new tabs.

[2015-04-07 14:27] #52 closed, assigned to nobody

[2015-04-07 14:34] oparoz opened #112 "Only return 4 pics per album"
There is still a problem with the images collection routine and it breaks the rendering of the interface if we encounter it.

In some cases, I get images for 2 deeply nested folders.

[2015-04-07 15:18] #111 closed, assigned to oparoz

[2015-04-07 15:33] #17 closed, assigned to oparoz

[2015-04-07 15:35] #19 closed, assigned to nobody

[2015-04-07 15:36] #20 closed, assigned to nobody

[2015-04-07 18:00] ArekMe opened #113 "Problem with RAW(DNG) preview"
When i upload DNG picture preview not showing
its search for ppm file but imagick generate png file in temp directory

I get in log

[code]

[2015-04-07 18:37] #112 closed, assigned to oparoz

[2015-04-08 16:12] jvillafanez opened #179 "Pictures hangs out trying to show a deleted file shared with federated cloud share"
### Steps to reproduce
1. Upload an image file (checked with a png file) and share it by link in server A
2. Add the link in server B (make sure you see the file listed, but don't open it yet)
3. Delete the image file in server A
4. Click in the file in server B (which should still be visible)

### Expected behaviour
An error is thrown telling that the file is missing, probably deleting the file i

[2015-04-09 14:48] oparoz opened #119 "Don't reset the public gallery position when finished watching the slideshow"
As a logged in user, when you quit the slideshow, you're back to where you were in the gallery when you clicked on an image.
Unfortunately, this is not the case for public galleries.
Since they use different templates, there must be something missing from the public template.

Note: It only happens at the root folder...

[2015-04-09 15:09] oparoz commented on #96
Still happening on public galleries- Re-opening.

[2015-04-09 21:03] #119 closed, assigned to oparoz

[2015-04-10 12:16] jvillafanez opened #180 "Updating an image shared with federated cloud sharing in the source server doesn't show the updated image in the target one"
### Steps to reproduce
1. Upload an image and share it by link in server A
2. Add the link in server B and open the image (click in the file to show it)
3. Update the image in server A
4. Open the same image in server B

### Expected behaviour
Both the preview and the file shows the new image

### Actual behaviour
It shows the old image, as it's being cached somehow

### Server configuration
**Ope

[2015-04-11 11:03] oparoz commented on #151
### Next steps
In order
- [ ] App moves to the owncloud domain as galleryplus since the Pictures app is already taking the gallery space (unless you want to move that app to pictures). @karlitschek @DeepDiver1975
- [ ] App name in oC should be Gallery and not Gallery+. @oparoz
- [ ] Translations should be setup using the 'galleryplus' id since the Pictures app is using 'gallery' already. @oparoz,

[2015-04-11 17:20] sffax opened #120 "Unable to display photos in shared folders (Gallery+ v2.0.8)"
Since updating to Gallery+ 2.0.8, we are unable to browse each other's shared pictures. For example, I am able to see any of my own albums just fine, but any attempt to load a shared album ends immediately with: "No pictures found! If you upload pictures in the files app, they will be displayed here."

This is happening on a vanilla instance of ownCloud 8.0.2 (the latest available build) and the l

[2015-04-12 20:10] #120 closed, assigned to oparoz

[2015-04-14 14:25] jancborchardt commented on #151
@oparoz that sounds good.

What do you think about having a call or something about the UI changes, like the added buttons? I want to improve the look for some of them to make them look more like ownCloud, but we also need to generally discuss if all of them are needed (like the background switcher and the info button).

[2015-04-14 14:42] oparoz commented on #151
@jancborchardt I'm up for anything which get things moving forward :).
You can submit PRs to modify buttons since it's not like I was trying to introduce a new design :D. I'm not particularly attached to them.

And I'm happy to discuss about the rest. The app can now enable features on-demand, so it's less of a problem to remove things which the team feels are unnecessary, but which I need. The im

[2015-04-14 15:14] jancborchardt commented on #151
@oparoz great stuff! :) I will see which pull requests I can come up with then.

[2015-04-16 02:24] jeffhoffman13 commented on #151
This looks good but missing the slide show portion..

[2015-04-16 11:04] oparoz commented on #151
@jeffhoffman13 - The slideshow is there. If it's not showing up for you, please [follow these instructions](https://github.com/interfasys/galleryplus/blob/master/README.md#bugs) and open a ticket

[2015-04-17 18:19] jnfrmarks opened #181 "gallery app does not pass occ app:check-code"
### Steps to reproduce

1. Install 8.1 enterprise
2. invoke occ app:check-code

### Expected behaviour

The app passes the check

### Actual behaviour

The app fails the check:

[code]

### Server configuration

Ubuntu 14.04
PHP 5.5.9
ownCloud Enterprise Edition 8.1 alpha 1 (daily) Build:2015-04-16T03:08:13+00:00 f50798a674bf223e1c8015b9a27287b2ac6c9f1a

[2015-04-20 16:07] oparoz commented on #181
@jnfrmarks - Could you please try with Gallery+ to see if you're having the same issues? I'm not sure the same checks are performed in the community edition.

You need to use the dev branch on 8.1
https://github.com/interfasys/galleryplus/tree/dev

[2015-04-20 16:10] jnfrmarks commented on #181
@oparoz

I'm just running the command against the apps that are in the tarball.

[2015-04-20 16:26] oparoz commented on #181
Thanks. I've taken a look at the reports and it's currently not possible to get the apps to pass the checks. `core` does not provide the necessary component in the public API. It's a known issue which has simply not been tackled yet.

[2015-04-20 16:31] oparoz opened #125 "Remove calls to private APIs (1 left!)"
The app currently needs to use the following methods:

[code]

Which make it non-compliant when tested with the app checker. (The original Pictures app is worst off)

It would be nice to be able to remove them at some point, but there is currently no viable alternatives available in the public namespace.

Should be fixed in 8.2 https://github.com/owncloud/core/issues/4774
:pray:
## <bountysource-p

[2015-04-21 17:16] jeffhoffman13 commented on #151
After generating all the images for a given folder the slide show functions as expected.  ;)

[2015-04-21 17:20] #24 closed, assigned to nobody

[2015-04-21 17:23] #13 closed, assigned to nobody

[2015-04-22 13:21] oparoz commented on #70
Gallery+ shows the filename when you roll over a thumbnail.

Sharing is a [feature request](https://github.com/interfasys/galleryplus/issues/68)

[2015-04-22 18:26] jospoortvliet commented on #70
So, let's close this then as 'fixed in gallery successor' and 'duplicate' ;-)

[2015-04-22 18:26] #70 closed

[2015-04-23 16:30] oparoz opened #128 "Introduce plugins to extend the main app"
Plugins are a nice way to introduce additional features without altering the basic looks and functionalities of the app and they're easy to install and manage.

Even though there is no official way to include other apps, it's still possible to do using the official development framework.
### Definition

Plugins are apps which enhance the Gallery app by adding functionalities which may not be neede

[2015-04-25 13:01] #113 closed, assigned to nobody

[2015-04-28 00:25] #35 closed, assigned to nobody

[2015-05-03 17:00] ColinFinck opened #182 "Pictures App totally broken after upgrade from 7.0.4 to 8.0.3"
(Reopening from https://github.com/owncloud/core/issues/16023)

ownCloud's Gallery App keeps spinning infinitely after upgrading from 7.0.4 to 8.0.3. Even after multiple tries and minutes of waiting, no pictures are shown.
Everytime when opening the Gallery App, two additional lines appear in the ownCloud error log:

Undefined index: You don’t have permission to upload or create files here at /srv

[2015-05-04 18:19] RealRancor commented on #182
If no one has a clue in here you could also check out the Gallery+ at:

https://github.com/interfasys/galleryplus/
https://apps.owncloud.com/content/show.php/Gallery%2B?content=169116

which is replacing this App in the future.

[2015-05-05 07:39] arkascha opened #130 "Add a busy spinner whilst loading thumbs"
The apps shows a busy spinner whilst initially loading an album. Great.
The same should happen whilst still loading additional thumbs, probably centered in the row to come.
Otherwise there is no means to tell if loading has finished.

[2015-05-05 07:41] arkascha opened #131 "Do not rely on file name extensions"
Not sure if this is an issue with this app or with owncloud in general:
Apparently the file type is determined by the file name extension, like back in the 80th...
This leads to pictures not shown in this app although pictures do exist.
The file name pattern should not be relevant any more, there are more modern and reliable ways to find out a file type.

[2015-05-05 10:31] #131 closed, assigned to nobody

[2015-05-06 04:28] binarykitchen opened #183 "[HTTP/1.1 414 Request-URI Too Large 4ms]"
After having migrated from v7 to v8, I get the above HTTP error when loading photos.

The HTTP request is way too large and was

[code]

[2015-05-06 10:26] sorglos commented on #166
New label ```wontfix```?

[2015-05-06 10:31] oparoz commented on #166
This project is unmaintained, you need to switch to Gallery+ if you want fixes.
https://apps.owncloud.com/content/show.php/Gallery%2B?action=content&content=169116

[2015-05-06 10:33] oparoz commented on #183
Duplicate of https://github.com/owncloud/gallery/issues/159

You need to switch to Gallery+ to see improvements:
https://apps.owncloud.com/content/show.php/Gallery%2B?action=content&content=169116

Report here if you still have an issue while using Gallery+
https://github.com/interfasys/galleryplus/issues/27

[2015-05-06 10:33] #183 closed

[2015-05-06 15:44] sorglos commented on #166
:-1:

[2015-05-06 16:05] sorglos opened #184 "Unmaintained"
Please add this info to README.md: https://github.com/owncloud/gallery/issues/166#issuecomment-99412326

[2015-05-06 21:58] binarykitchen commented on #183
But why then is owncloud still recommending the older gallery app?

[2015-05-06 21:59] binarykitchen commented on #183
And there is no documentation on how to switch to Gallery+? Are there any installation instructions how to replace the bad, older gallery app with this new one?

[2015-05-06 22:10] oparoz commented on #183
It's more like they haven't retired the old one, because they wanted to make sure the new one didn't break things. Unfortunately, the jump to 8.x brought more issues than what the maintainer could handle (given the time he had to work on it), so it's broken for a few people (large collections, IE users)

Actually, there is:
https://github.com/interfasys/galleryplus#installation

It's really easy,

[2015-05-06 22:25] binarykitchen commented on #183
yeah, the git pull worked like a charm, thanks!

[2015-05-06 22:26] binarykitchen commented on #183
But there are some new errors, will create new tickets ...

[2015-05-06 22:26] binarykitchen opened #185 "gd-jpeg, libjpeg: recoverable error"
[code]

Happens on the stable8 branch.

[2015-05-06 22:27] binarykitchen opened #186 "Invalid OCS content returned for app galleryplus"
[code]

Happens on the stable8 branch.

[2015-05-06 22:38] oparoz commented on #186
Please open issues about Gallery+ in its tracker, because there are quite a few architectural differences:
https://github.com/interfasys/galleryplus/issues

[2015-05-06 22:38] #186 closed

[2015-05-06 22:43] binarykitchen opened #134 "Invalid OCS content returned for app galleryplus"
[code]

Happens on the stable8 branch.

[2015-05-06 22:43] binarykitchen commented on #186
done

[2015-05-06 22:43] oparoz commented on #185
Please report this issue to the core tracker if it doesn't exist:
https://github.com/owncloud/core/issues

And make sure to use the template.

It's the first time I see this error and wonder why this is happening...

[2015-05-06 22:45] binarykitchen commented on #185
done https://github.com/owncloud/core/issues/16135

[2015-05-06 22:45] #185 closed

[2015-05-08 11:30] DeepDiver1975 commented on #151
@oparoz please transfer the repo to my github id - I can then move it to the owncloud org. Once in the org repo we can rename it as we like.

[2015-05-08 11:31] DeepDiver1975 commented on #151
.... sorry for not taking care of this the past weeks - I have been busy ...

[2015-05-08 12:08] oparoz commented on #151
@DeepDiver1975 - I have the same problem when trying to push to your domain, so if I make you an admin, I may as well push it directly to the owncloud domain, no?

[2015-05-08 18:02] DeepDiver1975 commented on #151
Hmm ... we can try that as well .... I honestly don't remember what the right process is.

Let's give it a try - make me an admin.  Thx

[2015-05-08 18:14] oparoz commented on #151
Invite sent and there is some doc here:
https://help.github.com/articles/transferring-a-repository/#transferring-between-organizations

[2015-05-08 18:33] DeepDiver1975 commented on #151
here we go - welcome to the owncloud org !!!
https://github.com/owncloud/galleryplus

[2015-05-08 18:39] oparoz commented on #151
Nice! That should help reassure some people who were hesitant to install something from an unknown provider.

Next steps, decide on the name and set up the transiflex.

[2015-05-08 18:43] jeffhoffman13 commented on #151
This seems to be ok on 8.0.2 ;) and 8.0.3 non-external storage.

Different issue with external storage local attachment not remaining
after I enter them under admin in 8.0.3.. trying to chase that one down..

Jeff

On 05/08/2015 01:34 PM, Thomas Müller wrote:

[2015-05-09 20:52] jancborchardt commented on #151
@jeffhoffman13 your reports are appreciated, but please do not use this issue as a catch-all. Instead report to the respective repositories as outlined in the contribution guidelines: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-05-09 20:52] jancborchardt commented on #151
@oparoz nice! Now can we rename the app to »Gallery«? (That is, the user-facing name.) :)

[2015-05-11 19:48] oparoz commented on #151
@jancborchardt - Done and there are now 2 (8.0 & 8.1) version in the app store.

[2015-05-11 20:28] jancborchardt commented on #151
@oparoz great stuff! We’re on a good way here. :) Thank you for all the work!

[2015-05-12 07:13] DeepDiver1975 commented on #151
@jancborchardt I suggest we move on with this tomorrow while we meet for coworking.

[2015-05-12 11:07] jancborchardt commented on #151
@DeepDiver1975 yes!

[2015-05-12 18:40] #134 closed, assigned to oparoz

[2015-05-12 21:43] skippyskip commented on #57
The absolutely need to fix this issue!

I have a directory witrh 390 pictures inside and the thumbnails-directory has already 784 thumbails!
They are re re re and re-created. Like this, this cloud is absolutely not usable!

FIXTHIS FOR 8.0.4 PLEASE!!!

[2015-05-12 21:49] oparoz commented on #57
This should be fixed in 8.2, so still a few months to wait.

[2015-05-12 21:55] skippyskip commented on #57
A few months? Wow, this is a long time ...
Remember, there are,.. I don't know how many ownCloud-Users just waiting for this.
Would be cool to have this very fast. Because ownCloud with pictures is not possible like this.

[2015-05-12 21:58] oparoz commented on #57
Well, you have 2 solutions if you're in a hurry.

1. Use @libasys's fork of Pictures. It comes with lots of goodies, but may not be publicly available yet for oC8.
2. Sponsor the development of the feature in Gallery: https://github.com/owncloud/galleryplus/issues/22

[2015-05-12 22:03] skippyskip commented on #57
I am not in hurry =)
There are juste several other cloud software programs. They get bigger, better and faster at the same time =/ I really want to use ownCLoud because of the perfect webinterface. But with a thumbnail-issue like this it's not cool :(

I will look your link... give me 20 minutes. and sorry for my english.

[2015-05-13 05:19] blackm commented on #57
And there is a third option...code yourself...it's open source. :-)

If it's just a few month to wait it's great! The issue is open for a long time.

[2015-05-13 12:40] oparoz commented on #184
The new app is now available here:
https://github.com/owncloud/gallery

[2015-05-13 12:43] oparoz commented on #179
This won't be fixed until 8.1 is out, so if you can try the new Gallery app on 8.1 and copy/paste the issue to here https://github.com/owncloud/gallery/issues if it's still a problem.

[2015-05-13 12:44] oparoz commented on #57
Apps have been renamed, the issue you're referring to is now available here:
https://github.com/owncloud/gallery-old/issues/57

[2015-05-13 12:47] skippyskip commented on #57
No I don't want to code myself.
Because of if I install an Update, it will be very annoying and difficult for me to re-implement my old code... I'll wait to this patch I think.

Just for the admins again: The biggtest problem is the re re and re-creation of the thumbnails.

[2015-05-13 12:55] jancborchardt opened #140 "Use same labels and milestones as core"
To align development and make it easier for other ownCloud contributors, the labels (+colors) and milestones used here should be the same as in core. Not all of them, but at least the standard ones like:
- bug
- enhancement
- design
- discussion

And for milestones the classic:
- 8.1-current
- 8.2-next
- 8.3
- etc…

Currently it’s almost all custom colors and naming which is confusing.

@oparoz ca

[2015-05-13 14:38] jancborchardt commented on #151
@oparoz we will unfortunately need to postpone the whole switch to 8.2 due to several problems:
* renaming the current gallery app / repo will break all release scripts and documentation
* the Gallery+ says it supports IE11, but says nothing about IE8–10. We have to support those though. (Maybe by 8.2 we can drop IE8 support, maybe not)
* there are some design enhancements I need to do – not enoug

[2015-05-13 15:06] oparoz commented on #151
@jancborchardt - I, personally, don't mind. It's more of a problem for ownCloud users.

* I don't know how much work is involved in updating the release scripts, so I can't comment on that
* Since the interface is similar to Pictures, I don't see updating the doc as being a major task
* The current Pictures app doesn't support any IE version and it's the only app which ships with 8.0, so I don't t

[2015-05-13 15:17] jancborchardt commented on #151
@oparoz those points are all true. :) The main thing is simply that we are too far into the release cycle (waayyyy past feature freeze) to now change one of the core apps. Gallery+ is just not tested to a level how Pictures is (by so many people). There might always be bugs.

So yes – Gallery+ will of course already show up in the apps management since you added it to apps.owncloud.com

And everyt

[2015-05-13 15:26] oparoz commented on #151
I agree, it's late in the game and I thought it wouldn't happen before 8.2, so I'm not shocked ;)

Regarding the app store, in 8.1 beta1, only the official apps show app in the app manager. Do you know when that's due to change?

[2015-05-13 15:30] jancborchardt commented on #151
@oparoz good question, I also encounter that issue that no apps from the store really show up in my dev installation. ;) It will definitely work when it’s released. cc @LukasReschke

[2015-05-13 17:46] skippyskip commented on #57
I don't knbow exactly but there is also a huge memory leak in ownCloud.
After 2 hours of ownCloud running without up- and downloads to the cloud the free memory is belos 20 MB.

[2015-05-13 19:51] deMattin commented on #151
The pictures app is broken and doesn't work with most 8.x installations!
I don't know, which tests have to be done to name an app "tested" - but I wonder, how pictures app (oc8) has done this tests.
Holding back the gallery(+) app for another half of a year isn't a good idea.

And I don't understand it at all.
The apps are separated from core and can be activated and deactivated separately.
It has

[2015-05-15 15:38] jospoortvliet commented on #151
@deMattin while I personally would also love to see the galleryPlus app enter sooner rather than later (it can't make the pictures app more broken than it is, to be honest), I'll leave it up to @jancborchardt and @DeepDiver1975 to decide.

I do want to point out that it won't mean a half year delay, we're now on a 3 month release cycle so 8.2 should be out in about 4 months.

[2015-05-15 15:40] jospoortvliet commented on #57
@skippyskip ha, you're right, if you code it yourself but have to apply it again on every update, that is very annoying.

Luckily, there is a solution for that: code it yourself and send it to @oparoz in the galleryplus app and he will maintain it for you ;-)

I'm sure he'd be happy with a solution for this.

cron.php is doing lots of background cleanup stuff, have a look. indeed, thumbnail creati

[2015-05-15 15:45] skippyskip commented on #57
It's not good to add thumbnail creating right now to the cron because it's too buggy.

[2015-05-16 18:35] setnes opened #142 "Resizing browser window or rotating mobile device should result in corrected image size being displayed."
In the gallery slideshow, if a user changes the browser window size, the image should be corrected to fit the new window size.  This is very evident when using a mobile device to view photos.  It's normal to assume a user will try rotating a phone to match portrait or landscape images and expect the image to fill the screen correctly.

This might mean we should request the scaled image based on th

[2015-05-17 15:37] #45 closed, assigned to nobody

[2015-05-17 16:22] #46 closed, assigned to nobody

[2015-05-18 10:05] #140 closed, assigned to oparoz

[2015-05-18 14:14] oparoz opened #144 "Add "Add to owncloud" button"
As discussed in https://github.com/owncloud/core/issues/16386, it would be good to use the same header as the Files app when sharing folders.

One of the tasks is to add the "Add to owncloud" button.

[2015-05-18 14:21] oparoz opened #145 "Turn the Gallery button into a switch"
It would be more immediately understandable if there was a switch with both the Gallery and Files button, as shown here:
![0ebbfcfc-fcdb-11e4-877c-873b19def287](https://cloud.githubusercontent.com/assets/323220/7682644/dc28dbbc-fd79-11e4-9984-2fd249e208c9.png)

[2015-05-19 11:11] #184 closed

[2015-05-20 08:49] SergioBertolinSG commented on #166
Still happening in 8.1 beta2

[2015-05-20 08:58] oparoz commented on #166
This app does not work on 8.1, please use the new version:
https://apps.owncloud.com/content/show.php?content=169939

[2015-05-20 09:39] SergioBertolinSG opened #188 "Edited picture is not updated while opening until browser refresh."
### Steps to reproduce

1. Upload a picture.
2. Edit the picture locally and upload it.
3. Open the picture without refreshing page.

### Expected behaviour
Picture opened is the current one, not the old one.

### Actual behaviour
The edition of the file is not shown. You have to refresh the page to see the new one. (Seems like the file wasn't uploaded, but it was)

### Server configuration
**Oper

[2015-05-20 22:12] oparoz commented on #188
This app is unmaintained, please add your request to https://github.com/owncloud/galleryplus/issues if it doesn't work with the new Gallery.
The version for 8.1 is in the app store:
https://apps.owncloud.com/content/show.php?content=169939

[2015-05-20 22:17] oparoz commented on #188
And I can confirm that the bug is valid. The browser caches the image and the app never invalidates it.

[2015-05-20 22:53] oparoz commented on #188
The slideshow in Gallery(+) has been fixed.

[2015-05-21 09:33] enoch85 commented on #137
Still getting this in 8.0.3. Any update?

[2015-05-21 10:04] oparoz commented on #137
Seems like core can't handle BMP files properly
https://github.com/owncloud/core/issues/16461

[2015-05-22 08:01] mxmxchere commented on #158
I don't know if this is the right place to drop this info. I had the same symptoms with my gallery as described here. Everything worked fine again after i enabled previews in my config.php.

[2015-05-22 08:02] game-abling commented on #158
[EN] Thank you for your email. Your email has been automatically forwarded to my new address under the @ateknea.com domain and I will reply to it as soon as possible.
CRIC is now part of Ateknea Solutions, a European company dedicated to innovation with offices in Barcelona, Brussels, Budapest, Krakow and Valletta.
For future messages, you can contact me by replacing @cric.cat for @ateknea.com and

[2015-06-11 11:15] davitol commented on #188
Testing another thing I found this issue, but the current behaviour is that the image is not shown right even after refreshing. The only way to view it well is downloading it to local and opening it.

[2015-06-11 13:35] dotnull commented on #158
Investigated a bit time to solve it, and now it works for me but it is slow as hell...

Firstly: I edited */apps/gallery/ajax/batch.php* to return a default image (see notFoundDefault function) if the returned preview content is an empty string:

[code]

Second change affects thumbnail.js in *apps/gallery/js/thumbnail.js*. Here the problem is that the call to the images script creates invalid get

[2015-06-11 13:35] game-abling commented on #158
[EN] Thank you for your email. Your email has been automatically forwarded to my new address under the @ateknea.com domain and I will reply to it as soon as possible.
CRIC is now part of Ateknea Solutions, a European company dedicated to innovation with offices in Barcelona, Brussels, Budapest, Krakow and Valletta.
For future messages, you can contact me by replacing @cric.cat for @ateknea.com and

[2015-06-11 13:38] oparoz commented on #158
Thank you for your efforts, but all of this has already been fixed in owncloud/galleryplus.

[2015-06-11 13:40] oparoz commented on #156
Fixed in core.

[2015-06-11 13:40] #156 closed

[2015-06-18 14:56] #159 closed

[2015-06-18 14:56] jospoortvliet commented on #159
As @oparoz said - Gallery is unmaintained. ownCloud 8.2 will come with GalleryPlus as default and for 8.1 and 8.0 you can install this as an app if you have so many pictures that you need it.

[2015-06-20 21:34] oparoz opened #193 "What to do about IE8"
Since this ships as is in 8.0 and it is not going to get updated for 8.1, a message akin to the one being displayed when no pictures are found should be displayed to Internet Explorer users, letting them know that their browser is not compatible with the app, or maybe the app should be removed from the menu (that might confuse users who install the app and don't see it in the menu).
These users wi

[2015-06-20 21:36] oparoz commented on #193
@icewind1991 @jancborchardt @karlitschek

[2015-06-20 21:43] #54 closed, assigned to nobody

[2015-06-21 00:41] #106 closed, assigned to nobody

[2015-06-24 16:57] #142 closed, assigned to nobody

[2015-06-25 14:05] #27 closed, assigned to oparoz

[2015-06-26 16:59] #144 closed, assigned to nobody

[2015-06-26 16:59] #41 closed, assigned to nobody

[2015-07-08 00:35] #26 closed, assigned to nobody

[2015-07-08 16:59] lparmentier-quatral commented on #107
@synappsis have you update to OC8? Is it really better ? cause we have something like 21TB of data. So it is possible than we have more than 100GB of pictures, i don't wan't this kind of problem.. :/

[2015-07-08 18:44] nazar-pc opened #198 "Not working with ownCloud 8.1"
In console I have error:

Version 0.6.0

[2015-07-09 14:40] jospoortvliet commented on #107
@lparmentier-quatral you could try the galleryplus app but - no promises, 21TB is - well, a crazy amount of data. A nice challenge for @oparoz and @libasys ;-)

[2015-07-09 14:42] jospoortvliet commented on #198
could you try to fill in the template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

?

[2015-07-09 15:11] oparoz commented on #107
@lparmentier-quatral - The first time you open an album, you'll have to wait for the thumbnails to be generated, so it should take a few seconds per row, depending on the size of images, but once that's done, Gallery should fly.

[2015-07-09 19:27] nazar-pc commented on #198
Sure:
### Steps to reproduce
1. Enable gallery in administration
2. Go to https://host//index.php/apps/gallery/

### Expected behaviour
See working gallery

### Actual behaviour
Infinitely spinning load icon

### Server configuration
**Operating system**: Ubuntu 14.04.2 LTS (Docker container)

**Web server:** nginx/1.4.6 (Ubuntu)

**Database:** MariaDB 10.0.20

**PHP version:** 5.5.9-1ubuntu4.11

[2015-07-11 18:14] oparoz commented on #151
Almost there. PR has been created https://github.com/owncloud/gallery/pull/200

[2015-07-14 18:48] lparmentier-quatral commented on #107
I'll try that (in next month) and give you feedback when done.

[2015-07-14 20:09] pasbec commented on #198
Same problem here:

There seems to be a problem with a way too long Request-URI. Firefox-console shows following error messages:

    GET XHR
    https://{SERVER-ADDR}/index.php/apps/gallery/ajax/thumbnail/batch
    [HTTP/1.1 414 Request-URI Too Long 2ms]

    Firefox kann keine Verbindung zu dem Server unter https://{SERVER-ADDR}/index.php/apps/gallery/ajax/thumbnail/batch?token=&image={HERE ARE

[2015-07-14 20:23] oparoz commented on #198
@pasbec - You need to disable Pictures and install Gallery. You will find it in the Multimedia section of the app store from within ownCloud.

[2015-07-14 21:31] pasbec commented on #198
@oparoz - Thank you for this hint! Gallery 13.0 looks "similar" from a user point of view and seem to work flawlessly. I do not look into app changes frequently. Didn't even know about gallery, till now.
Is there actually a more "favored"  app from the oc team's side? Pictures seem to be the default - but it is broken...
Anyway, sorry for the confusion!
Best,
Pascal

[2015-07-14 21:42] oparoz commented on #198
@pasbec - Yes, looking similar was key. There was just a lot of work done in the background to make it a proper app, as opposed to something part of core and to optimise it for larger installations.
It should be the new default app in 8.2 since the official one has been broken ever since 8.0 got released.
The repository is here https://github.com/owncloud/gallery , for now.. :)

[2015-07-15 13:00] jospoortvliet commented on #107
@oparoz whoah, you're very optimistic ;-) I hope @lparmentier-quatral will report back with results, I'm quite curious to hear if this worked or not...

[2015-07-15 13:15] oparoz commented on #107
Well, on 8.1, if you use the Files app, you generate the max previews every time you open a folder. After that, it takes very little time to resize each PNG to the thumbnail size for Gallery.

If you open a fresh folder with Gallery, then yes, it might take a second or two per thumbnail (more with exotic or pro formats), so if you have  6 thumbnails per row, then yes, it's going to be over 10s bef

[2015-07-15 13:25] oparoz commented on #107
I just re-read the OP and all I can say is that the described improved process is not compatible with how we do things atm.

The OP's proposal is to build the scaffolding when we open the folder and to then send dozens of HTTP requests as we scroll down, like in the Files app. I think that approach doesn't work well for a photowall, because we'll hit some protocol bottlenecks
What we do instead is

[2015-07-17 00:00] tapete commented on #198
I have the same problem that the gallery does not load any pictures and the spinning wheel is shown. It can also be seen in the demo here: https://demo.owncloud.org/index.php/apps/gallery/
I use Internet Explorer 11 on Windows 7.

[2015-07-17 10:13] oparoz commented on #198
@tapete, you need to disable Pictures, clear your cache and install Gallery from the multimedia section.

[2015-07-21 01:45] gsosna commented on #193
For these people who want their owncloud gallery to be accessible to everyone, regardless of OC developer beliefs of an utopian world without IE, here is hack you can easily add to force people on IE to folder view - at least they can see the files and they can still run slideshow:

in /var/www/owncloud/.htacccess

Under section

  <IfModule mod_rewrite.c>
  RewriteEngine on

add 4 lines:

  #belo

[2015-07-21 10:03] borconi commented on #57
I might be barking at the wrong tree here, but, is there any way that the gallery still display images if I disable image preview in the config file? I'm using owncloud to handle a huge collection of photos (more than 800.000) and some of the folders (albums) contains over 100.000 images so I HAD to disable the previews in the config.php which is good and I'm happy with this, but as soon as I disa

[2015-07-21 10:44] oparoz commented on #193
That could be a quick solution for the next maintenance releases of 8 and 8.1.

For 8.2, we should seek a more elegant solution where the app doesn't appear in the app menu.

[2015-07-21 11:00] oparoz commented on #57
It's theoretically possible, but that would have to be created specifically for you and made available via a config switch.

[2015-07-21 11:49] borconi commented on #57
Hi Oparoz.

Thank you for the quick answer (I was afraid of something like this). I don't care about the slideshow (automatic one). I'm thinking I might write myself a small app which just display the full image with php passtrough (and use client side CSS to display it correctly). I know this is WRONG for bandwidth usage, BUT for my set up where it is not  too frequently used feature it is a bett

[2015-07-21 12:04] oparoz commented on #57
That shouldn't be too difficult to create what you want
- Controller which sends back the image
- [File action in Javascript](https://github.com/owncloud/galleryplus/blob/master/js/galleryfileaction.js) which shows a div with the img tag containing the URL to the controller

Using ocdev to create the app will speed up the development process.

[2015-07-21 12:26] stefan-niedermann commented on #55
Not longer an issue for me (upgrade to OC 8.1 and more ram)

[2015-07-21 12:26] #55 closed

[2015-07-21 12:45] stefan-niedermann commented on #103
hm. did not happen anymore (upgrade to oc 8.1 & new server)

[2015-07-21 12:45] #103 closed

[2015-07-21 14:59] jancborchardt commented on #193
cc @DeepDiver1975 @cmonteroluque @karlitschek regarding Gallery and IE discussion.

[2015-07-21 17:20] karlitschek commented on #193
@MTRichards

[2015-07-21 17:45] MTRichards commented on #193
Very clever thought....but, errrr...not the most practical for our user base. :confounded:

[2015-07-21 18:04] oparoz commented on #193
@MTRichards - The htaccess directive or the whole approach?

[2015-07-21 19:52] jancborchardt commented on #193
Well, instead of disabling it we should try to fix it. @LukasReschke’s https://github.com/owncloud/gallery/pull/206 is a first attempt at doing so – please review @oparoz @gsosna

[2015-07-21 21:07] oparoz commented on #193
Redirecting for all IE versions should be the first step, while we wait for potential fixes. You can then selectively enable the app back. You need to be pro-active, as it simply gives a bad image of ownCloud when you ship broken apps as it's been the case for the past 6 months.

But I wouldn't try to fix anything in this repo. There are simply too many issues with that code.

[2015-07-21 21:41] gsosna commented on #193
@oparoz I completely agree - for me that's especially the publicly shared links. I sent a link to friends and family of an album, and people on IE tell me that it's not working. That's why I have the redirect.

I can confirm that @LukasReschke’s #206 commit 6310209 fixes the issue for IE9, 10 & 11. I will keep my redirect for IE7 & 8 to maintain compatibility for publicly shared albums for people

[2015-07-22 07:01] rperezb commented on #198
@carlaschroder perhaps this should be included on the documentation:
https://github.com/owncloud/gallery/issues/198#issuecomment-121371320
cc @cmonteroluque

[2015-07-22 08:17] tapete commented on #198
@oparoz  i followed your advice. But the gallery app tells me that my browser (IE11) is not supported and i should use firefox or chrome and it does not show pictures. Is this expected behaviour?

[2015-07-22 09:17] davitol commented on #173
:+1: Gallery app 0.6.1. does not appear the spinner now. Great!!!
browser: Internet Explorer 11.0.9600.17843
OC server: version":"8.1.0.8","versionstring":"8.1.0","edition"

[2015-07-22 10:03] davitol commented on #193
:+1: Gallery app 0.6.1.
browser: Internet Explorer 11.0.9600.17843
OC server: version":"8.1.0.8","versionstring":"8.1.0","edition"

[2015-07-22 10:10] DeepDiver1975 commented on #193
? I assume you are talking about the code as proposed in #206 - right ?

[2015-07-22 10:19] davitol commented on #193
That's right @DeepDiver1975

[2015-07-22 10:20] #173 closed

[2015-07-22 10:34] davitol opened #209 "Change pictures view button is not visible using IE11 as browser"
### Steps to reproduce
1. Using IE 11 as browser, go to Pictures menu
2. Share the pictures by link
3. Using the previous link change the view of the pictures

### Expected behaviour
The change view button should be more visible and not located just in the right

### Actual behaviour
The button is only half-visible due to the slide bar

### Server configuration
**Operating system**: ubuntu 14.04

[2015-07-22 10:54] oparoz commented on #193
You can't close this yet as #206 does not work on our beloved IE8 and since it's not been tested on XP and Vista.

For IE8, there needs to be a redirection, either via .htaccess or via Javascript.

[2015-07-22 10:59] oparoz commented on #198
@tapete - On IE11, you should get pictures. Make sure you've cleared your cache. If not, then you need to tell us more about the problem here: https://github.com/owncloud/galleryplus/issues
There is a warning because we have to use workarounds for IE11 and because it's less tested than other browsers.

[2015-07-22 11:03] oparoz commented on #198
@rperezb - It's not a bad idea. Adding something to the release notes, letting users know that they can upgrade if the standard app doesn't work for them.

[2015-07-22 12:53] davitol commented on #193
Tested in windows 2008 server with IE8 does not work
IE9 works fine and also in IE11 as I said before

[2015-07-22 14:33] jancborchardt commented on #193
So is there any way we can fix this for IE8 which is not disabling the app?

[2015-07-22 14:41] oparoz commented on #193
That would probably require fixing `core` or using a polyfill instead of custom sauce. I'm surprised it works for IE9, but not for IE8 as they usually use the same fallback. Maybe it can be easily fixed by the person who wrote the PHP code, but those changes have an impact on more than just Pictures.

[2015-07-22 15:18] jancborchardt commented on #193
@LukasReschke @DeepDiver1975 we shall take care of that then – please do what’s necessary.

[2015-07-23 15:00] oparoz commented on #211
I was just thinking of something like Picasa. It's a specialised tool, not a file system browser and it offers basic file management features.
The way forward is probably to have a 3rd view.
Management - Photowall - Slideshow

[2015-07-23 15:28] rperezb commented on #21
@cmonteroluque if i am right, galleryplus app will not be released on 8.1.1 version, if so, we may check this after 8.1.1 released

[2015-07-23 15:58] oparoz commented on #21
@rperezb - The app is available for 8.0 and 8.1, but those versions are not official (as in ship with oC) and only support IE11

[2015-07-23 16:25] Tramour commented on #211
Sounds good to me!

[2015-07-23 23:16] oparoz commented on #193
There is already a ticket for it. I've updated it to reflect the current situation.
https://github.com/owncloud/core/issues/15599

[2015-07-24 06:55] rperezb commented on #21
oki doki, added this one as part of the test plans for oc 8.0.6 and 8.1.1 thx
@owncloud/qa

[2015-07-24 07:24] davitol opened #227 "Wrong app name in Error message about enable galleryplus"
The error message shown when Gallery and Gallery plus are active at the same time is the following:
![errorgallery](https://cloud.githubusercontent.com/assets/10596560/8869549/4e93bd62-31e5-11e5-9fe2-8e030739bee4.png)

... you need to disable the pictures app...

but it must be said ...you need not disable gallery app...

Note: Maybe it would be necessary to add in the description of the app that

[2015-07-24 12:50] stefan-niedermann opened #210 "Real Fullscreen"
Actual behaviour: Browser-Control- and URL-Bars are still visible
Expected behaviour:
The Image uses the javascript native fullscreen api instead of displaying the content only in the rendering-pane of the browser.
example: gallery at golem.de
http://www.golem.de/news/archos-70-xenon-7-zoll-tablet-mit-umts-fuer-140-euro-1312-103517.html
// Edit: changed example article because in the original was

[2015-07-24 14:33] oparoz commented on #210
Already implemented in galleryplus, so will be there in 8.2.

[2015-07-24 15:08] jancborchardt commented on #210
@oparoz great stuff – then we don’t need to do it for Gallery.

[2015-07-24 15:09] jancborchardt commented on #210
@stefan-niedermann hope that works for you. :) Backporting that stuff to 8.1 is not really possible.

[2015-07-24 15:09] #210 closed

[2015-07-24 15:18] oparoz commented on #210
Indeed, but Gallery(+) offers the feature on both 8 and 8.1 in case someone needs it now.

[2015-07-24 15:35] oparoz commented on #193
I've got news regarding IE8. The browser can't handle Data URIs larger than 32KB, which means it will choke on some of the base64 encoded thumbnails we send back and fixing the polyfill will not help.

So 3 solutions:

* Message in Gallery, telling the user he can't see his images with this browser
* No Gallery app button, so user can only use the slideshow
* Someone writes a new thumbnail fetcher

[2015-07-24 21:52] gsosna commented on #193
Please consider that the gallery app is also available to public via link eg. https://owncloud/index.php/apps/gallery/public/KJOIUP9ou899y, which isn't as easy as "hiding the app button" - so a redirect is necessary for these cases. For the logged in users, a message to advise that anything below IE9 is not supported in the gallery app is more appropriate.

[2015-07-25 13:26] stefan-niedermann commented on #210
can anyone explain me the concept about these "plus"-apps??? i really do not understand why there are two versions of calendar, contacts, gallery,....
are the plus apps private projects or official owncloud projects? are plus apps the "future"? lika a beta version for the normal apps?

****confused****

[2015-07-25 13:32] LukasReschke commented on #210
Complete independent rewrites by different authors. GalleryPlus will become Gallery soon though and replace the existing code.

[2015-07-25 13:51] oparoz commented on #227
Pictures is what admins see in the list of apps
![pictures_app_name](https://cloud.githubusercontent.com/assets/323220/8889677/a69e9590-32e4-11e5-9f30-26fe23997b35.png)
It's just unfortunate that both the appid and the name of the folder are gallery.

But that problem will go away once `owncloud/galleryplus` is renamed to `owncloud/gallery` (as far as this repo is concerned)

[2015-07-25 14:11] oparoz opened #228 "Steps required to implement IE8 support"
I've had a look at the incompatibilities between the technologies Gallery is using and IE8's capabilities and it's possible to have IE8 compatibility if your enterprise clients need it. It will increase the technical debt and make the code harder to understand, so it's imperative to clearly mark all these changes so that they can be removed in 2017.
### Actions
- [ ] Design alternative way to fetc

[2015-07-25 14:14] oparoz commented on #193
Thanks for your feedback :)

I've modified the 3rd option. It's now described in https://github.com/owncloud/galleryplus/issues/228

I'll let the product manager decide what's best for ownCloud

[2015-07-25 15:32] jancborchardt commented on #193
@karlitschek @cmonteroluque @MTRichards @DeepDiver1975 so which of the 3 solutions @oparoz proposes in https://github.com/owncloud/gallery/issues/193#issuecomment-124560493 do we want to go for?

[2015-07-25 17:00] karlitschek commented on #228
@oparoz Thanks a lot for the investigation
@DeepDiver1975 @MTRichards @cmonteroluque FYI

[2015-07-25 18:00] oparoz commented on #12
Closing this as a big part of the Javascript has been updated.

[2015-07-25 18:00] #12 closed, assigned to nobody

[2015-07-25 18:01] oparoz commented on #11
Will use this to write specs. Individual issues can be opened if someone finds cause for concern in the current code.

[2015-07-25 18:01] #11 closed, assigned to nobody

[2015-07-25 18:03] oparoz commented on #151
Will close this now as the move is happening and users should get the new Gallery for 8.2.

[2015-07-25 18:03] #151 closed

[2015-07-25 18:17] oparoz opened #229 "Actions to make Gallery official"
### Goal
- `owncloud/galleryplus` -> `owncloud/gallery` from where official releases will be built
- `interfasys/galleryplus` from where Gallery+ releases will be built
### Plan
- [x] ~~Rename branches which are in the way. They now start with `plus-` and should not be used in the official repository.~~ Delete branches which belong to the fork
- [x] Import old "Pictures" branches from owncloud/gal

[2015-07-25 19:02] oparoz commented on #21
I've created a IE feature/support matrix to help avoiding wasting time testing features which don't work.
https://github.com/owncloud/galleryplus/wiki/Internet-Explorer-support

Currently, in master, the apps shows an empty gallery when IE8 is detected.

[2015-07-25 19:45] oparoz commented on #228
The slideshow now supports IE8 in order to not create a regression.

[2015-07-25 20:47] oparoz commented on #115
Implemented in Gallery+

[2015-07-25 20:47] #115 closed

[2015-07-25 20:47] oparoz commented on #114
Implemented in Gallery+

[2015-07-25 20:47] #114 closed

[2015-07-25 20:48] oparoz commented on #76
Implemented in Gallery+

[2015-07-25 20:48] #76 closed

[2015-07-25 20:49] #158 closed

[2015-07-25 20:49] game-abling commented on #158
[EN] Thank you for your email. Your email has been automatically forwarded to my new address under the @ateknea.com domain and I will reply to it as soon as possible.
CRIC is now part of Ateknea Solutions, a European company dedicated to innovation with offices in Barcelona, Brussels, Budapest, Krakow and Valletta.
For future messages, you can contact me by replacing @cric.cat for @ateknea.com and

[2015-07-25 20:50] #166 closed

[2015-07-25 20:53] oparoz opened #211 "A single SVG can break Pictures"
Not sure if it's worth fixing for Picture 8.0 and 8.1, but if your instance contains SVG files, you get two problems:

1. The slideshow gets the spinning wheel if it encounters a SVG
2. Pictures shows the spinning wheel if there is a SVG in the current folder

[2015-07-25 23:50] oparoz commented on #61
Having this would help greatly https://github.com/owncloud/core/issues/7881

[2015-07-25 23:52] oparoz commented on #21
I'm going to close this as the app (master) generally works on IE9-11 now. New tickets can be opened for specific issues.

[2015-07-25 23:52] #21 closed, assigned to oparoz

[2015-07-25 23:57] oparoz commented on #209
I think we've covered everything. The action plan is now here:
https://github.com/owncloud/galleryplus/issues/229

Fork will be updated once the repository has been renamed.

[2015-07-26 00:37] oparoz opened #230 "Show favourites [$250]"
It would be nice to also be able to only see one's favourites in Gallery.

![capture_favorites](https://cloud.githubusercontent.com/assets/12627719/10767280/abfb693c-7cdb-11e5-87dd-694db12a9c5e.PNG)
<sub>screenshot by joephein</sub>
## What to expect
- A button somewhere which will let the user have access to his favourites
- A star on pictures which are favourites
## Pre-requirements
- [ ] Creati

[2015-07-26 02:52] oparoz opened #231 "A single SVG can break Pictures"
Not sure if it's worth fixing for Picture 8.0 and 8.1, but if your instance contains SVG files, you get two problems:
1. The slideshow gets the spinning wheel if it encounters a SVG
2. Pictures shows the spinning wheel if there is a SVG in the current folder

[2015-07-26 02:54] oparoz commented on #211
Closing, as no further development should be done in this repo.

[2015-07-26 02:54] #211 closed

[2015-07-26 02:56] oparoz commented on #188
Closing as it's fixed for 8.2

[2015-07-26 02:56] #188 closed

[2015-07-26 02:57] oparoz commented on #181
Closing as Pictures will never pass.
Gallery still uses one private API which doesn't exist in the public space.

[2015-07-26 02:57] #181 closed

[2015-07-26 02:58] #176 closed

[2015-07-26 02:58] #171 closed

[2015-07-26 02:59] oparoz commented on #154
There are various tickets related to sorting in Gallery. The conversation can be continued there.

[2015-07-26 02:59] #154 closed

[2015-07-26 03:00] oparoz commented on #132
Please re-open in Gallery if you're still having issues with external shares.

[2015-07-26 03:00] #132 closed

[2015-07-26 03:03] oparoz commented on #198
Closing.
* The IE problem has been solved both in Pictures 8.1 and Gallery 8.*
* The hanging app has been fixed in Gallery and won't be fixed in Pictures

[2015-07-26 03:03] #198 closed

[2015-07-26 03:04] oparoz commented on #137
This is a problem in core due to the fact that PHP uses a weird media type. Should be fixed in 8.2

[2015-07-26 03:04] #137 closed

[2015-07-26 03:05] oparoz commented on #124
Not a problem in Gallery

[2015-07-26 03:05] #124 closed

[2015-07-26 03:06] oparoz commented on #155
Gallery has better error handling

[2015-07-26 03:06] #155 closed

[2015-07-26 03:06] #96 closed

[2015-07-26 03:07] oparoz commented on #116
Closing as this is fixed in Gallery

[2015-07-26 03:07] #116 closed

[2015-07-26 03:09] oparoz commented on #23
Gallery should be able to scale. If anyone still runs into major problems, please open a new issue.

[2015-07-26 03:09] #23 closed

[2015-07-26 03:10] oparoz commented on #65
Should not be a problem any more with Gallery.

[2015-07-26 03:10] #65 closed

[2015-07-26 03:11] #10 closed

[2015-07-26 03:12] #18 closed

[2015-07-26 03:14] oparoz commented on #94
You can keep the conversation going here: https://github.com/owncloud/galleryplus/issues/221

[2015-07-26 03:14] #94 closed

[2015-07-26 03:16] oparoz commented on #118
Closing as the bug reported in the OP has been fixed in Gallery.

[2015-07-26 03:16] #118 closed

[2015-07-26 11:20] nazar-pc commented on #198
@oparoz, do you want to say that officially recommended app is not working and will never be fixed? Maybe it is better to put it in trash and recommend another app instead right in 8.1.1?

[2015-07-26 13:07] oparoz commented on #198
We can't switch app mid-cycle, but we already recommend to switch in the forum and in issues when the problem the user is experiencing is major and already fixed in Gallery.

People using Firefox or Chrome, with small pictures collections, no encryption, no file locking, no external storage or cloud (s2s), no SVG, no corrupt files should be fine with Pictures.

[2015-07-26 13:09] oparoz commented on #149
Closing as this is working in Gallery

[2015-07-26 13:09] #149 closed

[2015-07-26 13:27] oparoz commented on #163
Closing as this is a core issue. The app will use what is given to it.

[2015-07-26 13:27] #163 closed

[2015-07-26 13:28] nazar-pc commented on #198
Firefox, no encryption, local storage, no locking, fresh installation, default set of sample files - not working.

[2015-07-26 13:30] #153 closed

[2015-07-26 13:31] oparoz commented on #157
Closing as there are similar conversations going on in the new repository

[2015-07-26 13:31] #157 closed

[2015-07-26 13:33] oparoz opened #232 "Add pictures map"
_User suggested_

Pre-requisite: Exif parsing libraries
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24977946-add-pictures-map?utm_campaign=plugin&utm_content=tracker%2F9328526&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F9328526

[2015-07-26 13:33] oparoz commented on #109
Moved to https://github.com/owncloud/galleryplus/issues/232

[2015-07-26 13:33] #109 closed

[2015-07-26 13:39] oparoz opened #233 "Make the slideshow themable"
_User suggested_

I think it's a valid claim since the rest of the app is using the global theme. Not sure how to implement this.

[2015-07-26 13:39] oparoz commented on #108
Moved to: https://github.com/owncloud/galleryplus/issues/233

[2015-07-26 13:39] #108 closed

[2015-07-26 13:44] oparoz commented on #101
No longer an issue

[2015-07-26 13:44] #101 closed

[2015-07-26 13:52] oparoz commented on #57
I think we can close this. Once `core` has implemented thumbnail generation queuing, we could maybe show a message to the user if it's not ready yet, but in Gallery, the initial loading time of each album where there are no thumbnails yet should be bearable, except for the ones containing very large images.

[2015-07-26 13:52] #57 closed

[2015-07-26 13:59] oparoz commented on #107
Closing since the OP is not an issue in Gallery. Using the sorting buttons. one can quickly reach the bottom of the folder.

[2015-07-26 13:59] #107 closed

[2015-07-26 14:05] oparoz commented on #209
It's not a problem with the new Gallery as the scrollbar slides underneath the button, but I'll let @jancborchardt decide if he wants to fix Pictures, in which case this issue should probably be cloned in https://github.com/owncloud/galleryplus/issues

[2015-07-26 14:16] oparoz commented on #143
Gallery has between 1 and 4 images per folder and it looks nice imo. That will slow down things the first time an album is visited, but I think it's acceptable. The real solution is to create thumbnails in advance.

[2015-07-26 14:16] #143 closed

[2015-07-26 14:19] oparoz commented on #127
There could be too many reasons for the error on oC7.
Please re-open at https://github.com/owncloud/galleryplus/issues if you still experience problems with Gallery on 8.1.

[2015-07-26 14:19] #127 closed

[2015-07-26 14:34] oparoz commented on #198
:S

Please check if you still have the `520 Origin Error for URL` error and check if you also have the problem with Gallery.

[2015-07-26 14:36] #126 closed

[2015-07-26 14:37] #122 closed

[2015-07-26 14:48] oparoz commented on #179
Closing since Gallery is showing an error message when it can't show the preview.

[2015-07-26 14:48] #179 closed

[2015-07-26 14:51] oparoz commented on #93
It's being considered: https://github.com/owncloud/galleryplus/issues/68

[2015-07-26 14:51] #93 closed

[2015-07-26 14:53] oparoz commented on #117
This request is now tracked in https://github.com/owncloud/galleryplus/issues/176

[2015-07-26 14:53] #117 closed

[2015-07-26 14:54] oparoz commented on #95
Most of these requests are now tracked in https://github.com/owncloud/galleryplus/issues

[2015-07-26 14:54] #95 closed

[2015-07-26 14:58] oparoz opened #234 "Panorama viewer"
_User requested_

Some people would like to be able to view panorama or photo sphere images such as the ones taken by a mobile phone.

I know bigshot supports VR images. Not sure what it would take to implement...
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24980358-panorama-viewer?utm_campaign=plugin&utm_content=tracker%2F9328526

[2015-07-26 14:58] oparoz commented on #85
Moved to https://github.com/owncloud/galleryplus/issues/234

[2015-07-26 14:58] #85 closed

[2015-07-26 14:59] oparoz commented on #98
It's possible using Gallery and the ShareLinks app
https://apps.owncloud.com/content/show.php/ShareLinks?content=170527

[2015-07-26 15:00] oparoz commented on #98
Actually, Share Links will only share a single pic. Will create a new request in the new repository.

[2015-07-26 15:06] oparoz opened #235 "Embeddable galleries"
_User requested_

**User type**: External

**User level**: Advanced
### Description

It should be possible to create a special link which just renders the photowall, including the controls, but without the header and footer.
We could also make the controls optional.

Those links would need to be loaded in an iframe and there may be some Javascript conflicts.

![embedded_galleries](https://cloud.gi

[2015-07-26 15:06] oparoz commented on #98
Request has been created here: https://github.com/owncloud/galleryplus/issues/235

[2015-07-26 15:06] #98 closed

[2015-07-26 15:06] #87 closed

[2015-07-26 15:07] #86 closed

[2015-07-26 15:08] oparoz commented on #83
Moved here: https://github.com/owncloud/galleryplus/issues/101

[2015-07-26 15:08] #83 closed

[2015-07-26 15:12] oparoz opened #236 "Let the user rotate pictures which support EXIF [$5]"
Pictures which support EXIF can store rotation information, so we could show rotate buttons and store the new value in the file. The thumbnails would need to be cleared and re-rendered.
## <bountysource-plugin>

There is a **[$5 open bounty](https://www.bountysource.com/issues/24980744-let-the-user-rotate-pictures-which-support-exif?utm_campaign=plugin&utm_content=tracker%2F9328526&utm_medium=issu

[2015-07-26 15:12] oparoz commented on #6
Moved to https://github.com/owncloud/galleryplus/issues/236

[2015-07-26 15:12] #6 closed

[2015-07-26 15:14] oparoz commented on #75
Closing since this has been implemented.

[2015-07-26 15:14] #75 closed

[2015-07-26 15:15] oparoz commented on #29
This has been implemented via ShareLinks
https://apps.owncloud.com/content/show.php/ShareLinks?content=170527

[2015-07-26 15:15] #29 closed

[2015-07-26 15:19] oparoz commented on #42
The conversation can be continued here if need be: https://github.com/owncloud/galleryplus/issues/196

[2015-07-26 15:19] #42 closed

[2015-07-26 15:20] oparoz commented on #47
That's a core issue. Closing

[2015-07-26 15:20] #47 closed

[2015-07-26 15:22] oparoz opened #237 "Show file name in the slideshow"
_User requested_

Just like we can see it in the photowall, it would be great to be able to have it without having to look at the URL.

[2015-07-26 15:23] oparoz commented on #129
Moved to https://github.com/owncloud/galleryplus/issues/237

[2015-07-26 15:23] #129 closed

[2015-07-26 15:24] oparoz commented on #182
It's unlikely that this is going to be fixed for 8.0 or 8.1, so closing. The solution is to use Gallery+

[2015-07-26 15:24] #182 closed

[2015-07-26 15:27] oparoz commented on #72
Closing as this doesn't seem to happen on the new Gallery

[2015-07-26 15:27] #72 closed

[2015-07-26 15:28] oparoz commented on #139
Closing since this is unlikely to be fixed in Pictures 8.0 and 8.1 and not reproducible in the new Gallery

[2015-07-26 15:28] #139 closed

[2015-07-26 15:34] oparoz commented on #180
This is a `core` issue. The change is not detected in core and thus we always retrieve the cached thumbnails/previews.

[2015-07-26 15:34] #180 closed

[2015-07-26 15:38] oparoz commented on #180
I will check if this is still a problem with core master and open an issue if it is.

[2015-07-26 15:39] oparoz commented on #67
Not reproducible on the next Gallery, so closing.

[2015-07-26 15:39] #67 closed

[2015-07-26 15:40] oparoz commented on #43
This is a `core` issue. Closing.

[2015-07-26 15:40] #43 closed

[2015-07-26 15:41] oparoz commented on #51
Not a problem any more on the new Gallery.

[2015-07-26 15:41] #51 closed

[2015-07-26 16:08] oparoz commented on #74
The OP's problem is not reproducible on the next Gallery, so closing.

[2015-07-26 16:08] #74 closed

[2015-07-26 16:16] oparoz commented on #16
I think this has been fixed a while ago. It's not reproducible on the next Gallery.

[2015-07-26 16:16] #16 closed

[2015-07-26 16:17] #150 closed

[2015-07-26 16:21] oparoz commented on #38
Everything has been fixed in the next Gallery.

[2015-07-26 16:21] #38 closed

[2015-07-26 16:22] oparoz commented on #90
Moved to https://github.com/owncloud/galleryplus/issues/130

[2015-07-26 16:22] #90 closed

[2015-07-26 16:52] oparoz commented on #68
I'm closing this as it's a lot less likely we encounter this in the next Gallery, since we're loading thumbnails and not the original image.

It's still an interesting issue, because it speeds things up if we let the browser cache images, but then we can run out of memory...

[2015-07-26 16:52] #68 closed

[2015-07-26 17:37] oparoz opened #238 "Native SVG + IE breaks photowall"
IE sometimes can't provide an SVG file's dimensions when it's loaded in an Image object and that breaks the photowall.

Test file: https://github.com/owncloud/core/blob/stable7/core/img/logo-wide.svg

On top of that, these thumbnails can't be scaled down to fit.
### Solution

Disable native SVG when the user is on IE.
It's still possible to click on a file in the Files app to load it in the Slides

[2015-07-26 19:25] jancborchardt commented on #209
What’s up with this crazy new IE scrollbar? It overlays the whole right part. @davitol is it only visible when hovering on the right, or all the time?

[2015-07-26 19:27] jancborchardt commented on #130
Totally agree here. We need loading feedback, otherwise it’s not clear if it’s still loading or there’s an error (or pictures are missing which you know are there). @arkascha’s suggestion of putting it in the middle of the row to come is good.

[2015-07-26 19:41] MTRichards commented on #228
excellent!

[2015-07-26 21:00] oparoz opened #239 "IE hangs if there is a broken picture in the album"
Just upload a corrupt file JPEG to an album and you won't be able to see anything if you're using IE.

[2015-07-26 21:06] oparoz opened #240 "The last thumbnail of each row is not properly resized when first drawn in IE"
Thumbnails are resized once their original size is known in order to build the nice looking photowall.
It doesn't work properly in IE. The last one is not resized and it kills the effect.

If the window is resized, then things fall into place.

[2015-07-26 21:33] oparoz commented on #238
Fixed via https://github.com/owncloud/galleryplus/commit/1725cdc45d558144d620d8a3c7c3af94bb2e8c11

[2015-07-26 21:33] #238 closed, assigned to oparoz

[2015-07-26 21:50] #240 closed, assigned to nobody

[2015-07-26 22:21] oparoz commented on #239
Bogus. All bowsers were affected

[2015-07-26 22:21] #239 closed, assigned to nobody

[2015-07-27 06:35] pascalBokBok commented on #68
What is "the next Gallery?" Owncloud 8.2 or...?

The core problem is that Gallery does not allow the browser to manage it's memory because it explicitly keeps the images in memory - if you removed them after having shown them then you would be using the browsers cache, it would be written to local disk and still be in disk cache memory unless the memory was busy with something else.
Removing the i

[2015-07-27 12:17] DeepDiver1975 commented on #229
@oparoz I'll take care about the transifex integration once the repos have been renamed

[2015-07-27 12:19] oparoz commented on #229
:+1:

[2015-07-27 12:28] DeepDiver1975 commented on #229
repos have been renamed

[2015-07-27 12:31] oparoz commented on #68
@pascalBokBok - It's the rewritten version of Pictures that you can already use today and which will be the officiall app in 8.2.

In that version, we trust jQuery and the browser to give the memory back since each picture is removed using [`.empty()`](https://api.jquery.com/empty/). In reality, I think it takes a  while for the garbage collector to kick in though.

If you see a problem with this

[2015-07-27 12:32] LukasReschke opened #241 "Perform security smoke testing"

[2015-07-27 12:32] ghost opened #242 "MS Edge "floods" apache server with requests, when user sorts gallery"
Hello,

loading the gallery on MS Edge&OC8.1 works fine, but sorting the gallery (alpha or date) floods the server with hundreds of requests (load goes into 100s).

Thanks!

[2015-07-27 12:39] pascalBokBok commented on #68
ok :+1:

[2015-07-27 12:54] DeepDiver1975 commented on #229
Transifex is now back in sync - translations are flowing in ....

[2015-07-27 13:12] oparoz commented on #229
:+1:

[2015-07-27 13:22] oparoz opened #244 "Review language used to communicate with users"
All strings can be read there (login required)
https://www.transifex.com/projects/p/owncloud/viewstrings/#en/gallery

It would be good if someone from oC inc. could review those, to make sure the app addresses users in an appropriate manner, in line with oC's communication policy.

@carlaschroder maybe?

[2015-07-27 14:14] oparoz opened #246 "Slideshow controls can be killed by a single image"
### Steps to reproduce
1. Create a folder and put a single image in it
2. Switch to Gallery view
3. Start the slideshow
### Expected result

The picture should be shown and the play/pause controls should not appear
### Actual result

Both the play and pause icons are shown and they overlap each other
Clicking on them will make them disappear and it won't be possible to use the slideshow any more u

[2015-07-27 14:29] oparoz commented on #242
Did you use one of the releases or "master"?

[2015-07-27 14:47] jancborchardt commented on #229
Nice work everyone! :)

[2015-07-27 14:49] jancborchardt commented on #209
As you can see from overlaying the header bar (such as username and the other buttons), this seems to be intended behavior of IE.

[2015-07-27 14:49] #209 closed

[2015-07-27 14:49] jancborchardt commented on #229
@oparoz should we transfer the main info (your three suggestions) from the last open issue in gallery-old over here? https://github.com/owncloud/gallery-old/issues/193 then we can close the issue tracker there.

[2015-07-27 15:02] oparoz commented on #229
@jancborchardt - I wasn't sure since interested parties already have that issue in their email client, but creating a new one could bump things up and clarify things a bit (IE8 compat is only possible on 8.2).

[2015-07-27 16:04] oparoz commented on #246
@jancborchardt

[2015-07-27 16:24] oparoz opened #247 "Use new screenshot(s)"
You may want to use official ownCloud material for the screenshot(s), like in the readme.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25028316-use-new-screenshot-s?utm_campaign=plugin&utm_content=tracker%2F9328526&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaig

[2015-07-27 20:00] oparoz opened #248 "Use getUserFolder on root instead of using serverContainer"
https://github.com/owncloud/core/pull/16965 has been merged, so we can use `$this->root->getUserFolder` now.

https://github.com/owncloud/gallery/blob/master/environment/environment.php#L127-L129

Only do it once we're forced to introduce more important non-backward compatible changes.

[2015-07-28 05:42] ghost commented on #242
Hi, I again cloned the master, following the instruction:

https://github.com/owncloud/gallery#installing-from-git

I cleared, the thumbnail cache and assets and now it appears to work.

Thanks.

[2015-07-28 06:06] #242 closed, assigned to nobody

[2015-07-28 09:16] jancborchardt commented on #246
Next to the play/pause being hidden, the next/previous should also not be shown, right?

Can you check if it’s the only image in that folder and then deactivate the buttons? Add a class .hidden to them, and it should be handled via CSS.

[2015-07-28 10:10] jancborchardt commented on #4
@oparoz soo, some time has passed on this issue. I presume we had enough talk about settings and good defaults that basically it’s clear we can do most of these things automatically and don’t really need settings for a Gallery app? ;)

[2015-07-28 10:22] jancborchardt commented on #193
@oparoz maybe we should move the remaining relevant stuff from here to https://github.com/owncloud/gallery/issues/228 so we can close this last open issue in the gallery-old issue tracker? (And then we have all the IE8 stuff in one place) :)

[2015-07-28 11:37] oparoz commented on #246
The code to hide stuff is already there, but it doesn't work.
https://github.com/owncloud/gallery/blob/master/js/slideshowcontrols.js#L59-L61

[2015-07-28 11:41] oparoz commented on #242
Thanks!
For reference, before I fixed the EventSource polyfill, I had to use a timer to close the connection and it meant that the browser had to re-open the connection if it had not yet received the thumbnails, leading to the kind of behaviour you experienced.

[2015-07-28 11:42] oparoz commented on #237
@jancborchardt (and co.) - To take into consideration when re-designing the interface.

[2015-07-28 11:44] oparoz commented on #233
@jancborchardt - If you could spec this since you worked on the example theme.

[2015-07-28 12:43] oparoz commented on #4
Well, my position hasn't changed :p
Default settings impose a workflow and a specific workflow works for a specific category of users. I think it's still wise to provide the means for other types of users to define their own workflow.

I can implement the whole thing in my fork, but I think that it's inevitable to have some settings at some point. They exist in every app out there for a reason.

T

[2015-07-28 12:48] oparoz commented on #130
The best way to implement this would be via https://github.com/owncloud/gallery/issues/29
Otherwise we would have to create/destroy lots of divs, just to show the spinning wheel.

[2015-07-28 13:05] jancborchardt commented on #130
@oparoz the spinner could also just be shown as the background image of the row to be rendered (via class `.icon-loading` which can then simply be removed).

[2015-07-28 13:06] jancborchardt commented on #233
What exactly did that person refer to by making it themable? The icons can already be freely replaced by just putting new ones with the same name in the theme. Then all that’s left is the background, and I would  really rather not make that themable since black is the standard color for a slideshow. If someone wants to theme that they can simply overwrite the CSS.

[2015-07-28 13:07] jancborchardt commented on #237
Yeah, good call. We can and should combine this with a rename function directly in the slideshow. Should probably show the name centered below the image, along with the other actions like share, download etc.

[2015-07-28 13:11] oparoz opened #249 "Empty gallery message, disabled photowall or fully working app in IE8?"
### Current situation
1. Slideshow works both in Pictures (<8.2) and Gallery
2. Photowall doesn't work in Pictures and Gallery
### 3 solutions
1. Show a message in Gallery, telling the user they can’t see their images with this browser
2. Disable the Gallery app (hide the navigation buttons), so user can only use the slideshow. Public links will need to have a redirect
3. Implement full support, t

[2015-07-28 13:12] oparoz commented on #193
Done. https://github.com/owncloud/gallery/issues/249

[2015-07-28 13:12] #193 closed

[2015-07-28 13:12] deMattin commented on #4
@oparoz: :+1:

[2015-07-28 13:15] oparoz commented on #233
Here is the original request: https://github.com/owncloud/gallery-old/issues/108

Maybe this was a problem on older releases?

[2015-07-28 13:24] oparoz commented on #130
@jancborchardt - No, because the row is not added to the DOM until it's been filled. It already has the spinning wheel, but we just never see it. It's a regression from when the photowall was implemented.

[2015-07-28 13:50] jancborchardt commented on #233
Can’t access the issue because I guess @DeepDiver1975 closed the issue tracker so people don’t submit any new issues there?

In any case I guess yes, this might have been a problem in older releases. I consider this fixed. If anyone has further requests, they will open them.

[2015-07-28 13:50] #233 closed, assigned to nobody

[2015-07-28 13:55] jancborchardt commented on #229
@DeepDiver1975 I assume you closed down the issue tracker in the gallery-old repo. Since the branches  & history are moved over, we might as well remove the whole repo?

[2015-07-28 14:01] oparoz commented on #229
@jancborchardt - I think we should keep it, some issues on here are still referencing interesting discussions found in the legacy repo.

[2015-07-28 17:37] enoch85 opened #250 "Will this be namned gallery instead of galleryplus in .occ?"
Like above question.

@oparoz

[2015-07-28 18:22] oparoz commented on #250
Yes.
- People using Pictures today with a folder named `gallery`, will be migrated to Gallery and it will use the same folder.
- People using Gallery(+) today with a folder named `galleryplus`, will have a choice to either activate the default Gallery, which will be found in the `gallery` folder or to upgrade their installation of Gallery+, which will keep using the `galleryplus` folder

It all de

[2015-07-28 20:28] enoch85 commented on #250
@oparoz Ok, thanks. I´m asking because in the install script of my pre-configured ownCloud VM I enable `galleryplus` and disable `gallery`. Just to be clear, with this change I should just enable `gallery` and nothing else to keep "`galleryplus`"?

[2015-07-28 20:39] oparoz commented on #250
Yeah, I figured ;)
That's correct. Users can then decide to switch if they need new features sooner than every 3-4 months.

[2015-07-28 22:42] #246 closed, assigned to nobody

[2015-07-28 22:48] oparoz commented on #227
Closing this now since this app is now named Gallery.
Gallery+ will refer to this one as "official Gallery"

[2015-07-28 22:48] #227 closed, assigned to nobody

[2015-07-29 09:48] pascalBokBok opened #251 "Close lightbox with escape key"
It would be nice if the lightbox would close when the user presses escape

[2015-07-29 09:50] pascalBokBok opened #252 "Add full screen button in slideshow"
It would be nice to have a full screen icon that you could click in the lightbox mode.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25113650-add-full-screen-button-in-slideshow?utm_campaign=plugin&utm_content=tracker%2F9328526&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/

[2015-07-29 12:27] oparoz commented on #252
@jancborchardt

[2015-07-29 12:34] #251 closed, assigned to oparoz

[2015-07-29 12:35] oparoz commented on #251
Was a regression. Thanks for the report!

[2015-07-29 12:39] oparoz commented on #229
So, the last step seems to be settings things up in the app store.

It doesn't seem to exist or is hidden.

@LukasReschke @karlitschek How does that work?

[2015-07-29 12:52] oparoz commented on #57
Done

[2015-07-29 13:10] karlitschek commented on #229
@oparoz Not sure I get what I understand what you want to achieve. :-) I suggest to keep the current app store entry for 8.0, 8.1 and older. For 8.2 and newer it won't me needed anymore to have it on the app store because it will be in the main release.
Not sure what the question is :-)

[2015-07-29 13:29] oparoz commented on #229
@karlitschek - You answered my question :). I wasn't sure an ocsid was still required, because without it, that means emergency security fixes can't be pushed per example without having to push a full ownCloud release.

It was removed from Pictures stable8, but is still present in Pictures stable8.1. @LukasReschke That was intended, correct?

If yes, I'll update the ocsid in master, matching the o

[2015-07-29 13:36] LukasReschke commented on #229
No. It should be gone there as well ;-)

[2015-07-29 13:37] LukasReschke commented on #229
Ref https://github.com/owncloud/gallery/pull/253

[2015-07-29 13:38] oparoz commented on #229
OK :)

[2015-07-29 14:07] oparoz commented on #229
Closing this as all steps have been performed. Thanks for your help :)

[2015-07-29 14:07] #229 closed, assigned to nobody

[2015-07-29 14:48] jancborchardt commented on #229
WOHOOOO! :) High fives all around! That’s how we properly collaborate.

[2015-07-29 14:49] jancborchardt opened #254 "Some issues when trying to open the app"
I see the spinner, but nothing shows up. The JS console says:

[code]

owncloud.log

[code]

Anything I’m missing? @oparoz

[2015-07-29 14:50] enoch85 commented on #250
Nice! Thanks.

[2015-07-29 14:50] #250 closed, assigned to nobody

[2015-07-29 15:13] oparoz commented on #254
I've moved from tipsy to tooltip since it's deprecated, but I'm not really happy about that change in core as it doesn't work well for the breadcrumb.

For the rest, I need more info. It could be that you simply need a ctrl+f5.
I'm not using any fonts in Gallery and I cant reproduce.

This is on master, using master?

This is a private gallery?

[2015-07-29 15:20] jancborchardt commented on #254
What do you exactly mean by that?

Not sure about the font stuff, reload does not fix it, neither does incognito window … says something about content-security-policy – cc @LukasReschke

(And yeah, this is master on master. No private gallery [what is that?], just the regular gallery app over all files.)

[2015-07-29 15:32] karlitschek commented on #229
Very cool! Thanks to everyone especially to @oparoz for the awesome new gallery improvements.
It's also nice to see that we have moved an independent 3rd party app from the outside into the very core of ownCloud community and enterprise. It was partly a painful process but I'm happy that we as a community and company have proven that this is possible in ownCloud. :-)

[2015-07-29 15:37] oparoz commented on #254
Ah no, I spoke too soon. I added another level and the tooltip gets wrapped. At the previous one, it was glued to the left of the window and I was afraid it would slide under if it got any longer

Regarding the font error, it's a Chrome only problem...

[2015-07-29 16:02] oparoz commented on #254
Not sure where that font is used in the template, but the issue is gone now.

[2015-07-29 16:02] #254 closed, assigned to nobody

[2015-07-29 16:14] oparoz opened #255 "Redesign the slideshow"
If we stay with the current version of the slideshow, we need to fix and implement a few things. The alternative is to focus on something like Photoswipe https://github.com/owncloud/gallery/issues/158
### Must have
- [x] Show file name in the slideshow #237
- [ ] Show file actions in the slideshow (sharing, rename, favorite, delete. download is already there) #68
- [x] Make background colour switc

[2015-07-29 16:24] oparoz commented on #255
@jancborchardt @demattin @setnes @libasys Feel free to add to the list if required.

[2015-07-29 16:43] libasys commented on #255
HD option is a good idea! Have you made a scribble for the redesign, how it could, should, incl. buttons?

[2015-07-29 17:11] oparoz commented on #255
I haven't, but @jancborchardt already has an idea of what it should look like. A mockup would be nice indeed :)

[2015-07-30 06:29] pascalBokBok commented on #251
thanks for the fix. How/when will the change be out - through an update in the Apps app?

[2015-07-30 11:21] oparoz commented on #251
You can use master, wait for ownCloud 8.2 to come out in October or you can use Gallery+ which gets updated more frequently (1-2 releases a month): https://apps.owncloud.com/content/show.php/Gallery?content=169116

The next version, which contains the fix, should get released in the coming days.

[2015-07-30 11:46] Siedlerchr opened #256 "Undefinex index image at in /apps/gallery/ajax/batch.php#13"
### Steps to reproduce
1. Open Pictures App in OwnCloud 8.1
2. Gallery is loading and loading
3. Check admin log for error
### Expected behaviour

Gallery should load and display images
### Actual behaviour

Nothing, it loads and loads and loads
### Server configuration

**Operating system**:
Apache-Version  2.2.29
PHP-Version 5.4.40
MySQL-Version   5.6.23
Architektur x86_64
Betriebssystem  linux

[2015-07-30 12:33] oparoz commented on #256
Thanks a lot for the report, however this is unlikely to be fixed in Pictures as most of these bugs have already been fixed in Gallery.

Please disable Pictures, clear your cache and install Gallery from the multimedia section. If you're still experiencing the problem, then report back here.

[2015-07-30 14:08] jancborchardt commented on #255
@oparoz I added

as second item because I actually think that’s the most important thing for the slideshow. Currently you need to exit the viewer to perform any actions on the image.

[2015-07-30 14:18] oparoz commented on #255
@jancborchardt - Yes, that's fine. Being aware that those actions will end up somewhere will help with the design.

[2015-07-30 15:39] Siedlerchr commented on #256
@oparoz  Thanks for your info. I did install Gallery with succes and it works fine.
Mabye Pictures should be marked as "deprecated" in the ownncloud app list-

[2015-07-30 15:55] oparoz commented on #256
@Siedlerchr - The problem is that it's the only app shipping with ownCloud, so it's kind of difficult to tell users right away that they have to install something else, especially since in the next release, Pictures will be replaced with Gallery, so people will have to switch back (if they want since Gallery+ will still exist and be updated more frequently than Gallery)

I'm open to suggestions if

[2015-07-30 15:55] #256 closed, assigned to nobody

[2015-07-30 16:47] jancborchardt opened #257 "Strange error message when image cannot be loaded"
![capture du 2015-07-30 18-43-17](https://cloud.githubusercontent.com/assets/925062/8989271/611ba282-36eb-11e5-9c45-e7fbc94f9800.png)

First, the part »while we remove this image from the slideshow« is wrong on several levels
- it uses »we«, which acts as if ownCloud is a person or group of poeple. Never ever do that.
- it says that the image will be »removed from the slideshow«. Initially I was a

[2015-07-30 18:13] oparoz commented on #257
I'm OK with the changes, but the image is really removed from the slideshow (not from the folder or cloud). Meaning that if you reach that point again, the image won't be displayed. It's sort of an emergency message, displayed when we were not able to look at all the images in the folder before launching the slideshow. The point was to let the user know that he won't be able to see it and won't ru