[2015-12-01 17:44] oparoz commented on #445
Thanks!

[2015-12-02 16:29] jospoortvliet commented on #335
Instead of auto-luminance, can't you pick white and use a shadow around the icons? That should work in 99% of the situations...

[2015-12-02 16:51] oparoz commented on #335
Except that shadows don't exist any more in ownCloud. Everything is now super flat.

[2015-12-02 17:12] oparoz opened #467 "Update DOMPurify and use @oparoz's SVG hook"
This new version will break less SVGs while still properly sanitizing them.

[2015-12-03 04:29] setnes commented on #466
That's a curve ball challenge.  :)

There is already a click tied to _showLoader.  Do you want two click functions... one to call _showLoader and one to call something new like _openAlbum?  I think that would work.

I think we can reference encodeURIComponent(this.path) within an _openAlbum function.  What's the best way to open the page?

Also... it looks like there is some tricky logic that appe

[2015-12-04 14:09] oparoz commented on #466
I think one would suffice. we just want to show the loader and open the album. That function can be renamed to openAlbum.

https://github.com/owncloud/gallery/blob/5628f45fd2a4bd5371923e9ba82a178275514035/js/gallery.js#L359-L365

span or div replacement?

The implementation is a bit more complex for albums than it is for images, but I think it's the right way forward :)

[2015-12-05 01:25] setnes commented on #466
I might take a stab at this.  It might take me a little time to get it right though.

I think styles.css will also need to change for a.album and a.image.

[2015-12-05 05:22] setnes opened #469 "Breadcrumb for current album goes to #."
The href for the current album's breadcrumb is set to "#".  This takes you to the base path when clicked.  The old behavior was to not have the current album's breadcrumb be a link.

[2015-12-05 12:51] oparoz commented on #469
I don't understand, the current album is `#currentAlbum`. Home is `#`.

[2015-12-05 12:52] oparoz commented on #466
Cool, keep me posted and I'll help if needed.

[2015-12-05 15:53] setnes commented on #469
I think a screenshot will explain this better than words.

![selection_2015-12-05-09 48 42](https://cloud.githubusercontent.com/assets/12475102/11608675/d6fd20f8-9b35-11e5-8095-44db7cf845f7.jpg)

[2015-12-05 16:13] oparoz commented on #469
You're right:
https://github.com/owncloud/gallery/blob/master/js/breadcrumb.js#L147

There needs to be an extra condition in that method which only adds the hash if there is a link.

[2015-12-06 12:16] beingalink opened #472 "Add means to show the original image"
Either thru settings in `gallery.cnf` or an overlay button when showing the optimized scaled down image. Of course I'm open to other solutions, too. Right now the gallery app is not really useful to me.

[2015-12-06 12:37] oparoz commented on #472
You can already download the image if you need to get more pixels that your screen can show and there is another issue listing other solutions for people who want to zoom in: https://github.com/owncloud/gallery/issues/193

[2015-12-06 12:37] #472 closed, assigned to nobody

[2015-12-06 12:45] beingalink commented on #193
Looks like the real solution is off radar now. I'd suggest as an intermediate solution option #2 "HD button in the slideshow for on demand originals". An overlay button to load the original image would be a nice to have and it's currently not like the overlay interface would be overloaded with options.

My use case is images with extreme ar like snapshots from websites. The generated previews are

[2015-12-06 13:17] oparoz commented on #193
I see what you mean. If you can code the auto-download-on-zooming feature, it would probably also help others.

[2015-12-06 14:59] beingalink commented on #193
While the seamless zooming is fancy, it's not really a must-have feature to me (others might disagree of course). I think there's no need to re-invent the wheel if there's another library that is lean, without external dependencies and has a nice and clean zoom functionality integrated: [photoswipe](https://github.com/dimsemenov/photoswipe). A demo gallery is [here](http://photoswipe.com/). I know

[2015-12-06 15:24] oparoz commented on #193
See my assessment about Photoswipe here: https://github.com/owncloud/gallery/issues/158
And the features we currently support and want to support: https://github.com/owncloud/gallery/wiki/Slideshow

I'm not against replacing Bigshot, but it would probably be best to let people pick the slideshow they want to use.

[2015-12-06 15:43] beingalink commented on #193
Ah, I see. I didn't think that the required image dimensions would be a problem since owncloud touches the original files anyway to create previews. So I thought this is all available a priori. One thing I seem to have misunderstood is the fullscreen support which is in the list for the current gallery implementation: Where do I find this? Thanks for your support!

[2015-12-06 15:48] oparoz commented on #193
Yes, ownCloud creates a 2048x2048 (configurable) max preview in order to process further thumbnail generation, but it doesn't store any information about the media file and it's stopping us from introducing some advanced features.
There is work in progress to change that, but no ETA.

Full screen-mode is available via the f or F11 keys ([shortcuts](https://github.com/owncloud/gallery/wiki/Shortcut

[2015-12-06 15:52] oparoz commented on #438
Fixed via #440

[2015-12-06 15:52] #438 closed, assigned to nobody

[2015-12-06 16:01] #469 closed, assigned to nobody

[2015-12-06 16:20] oparoz commented on #53
#457 has been merged and now needs to be backported to ~~8.2.2~~ 8.2.3

[2015-12-06 17:51] oparoz commented on #141
Just a thought. It might be possible to detect a swipe on the bigshot container, but in order to make the effect work, we would have to load between 1 and 2 extra Bighsot objects so that we can swipe between pictures. I'm not sure that it's ideal, especially on iOS which is very memory constrained and crashes when running out.

[2015-12-07 15:59] LeonFedotov opened #474 "Single photo view confusing download icon position."
Hi the download icon is confusing and makes me think i'm preforming a gesture when its in the top center  like that, perhaps the bottom left corner is a better fit.

[2015-12-07 19:07] jancborchardt commented on #474
@oparoz ;) I said it’s confusing at the top. Would be cool if we can finally bring it next to the image name for 9.0

cc @owncloud/designers

[2015-12-07 19:52] oparoz commented on #474
One thing after the other ;) . The first thing to do is to move them back to the right. I didn't like them there because the style of those icons is different, but it doesn't work in the centre.
After that we'll have to see some ~~landscape~~ portrait mock ups in the relevant issue to be able to make a decision.

[2015-12-07 22:15] LeonFedotov commented on #474
Here you go:
![mockup](https://cloud.githubusercontent.com/assets/130342/11641395/c713ca04-9d40-11e5-92d1-e162dd415f66.jpg)
also file extension looks kinda funny in the preview context (mobile use) :dancer:

[2015-12-09 14:03] raghunayyar commented on #474
can we have that as a button at the bottom right of the image instead of just an image along with the file name?

[2015-12-09 16:41] oparoz commented on #474
@raghunayyar - There is already the autoplay button at the bottom right. As I said earlier, we'll first move the action buttons back to the right and then decide if those need to move to the bottom based on a solid business case including both desktop and mobile mockups of various button placements to see what works best. The goal is to find the combination which offers the least problems. See htt

[2015-12-10 23:43] jancborchardt opened #475 "Uploading in folder shared via link not possible in Gallery view"
Use-case: I often share pictures with friends of an event or some travels we went to together. For that I share a folder with write permissions and send them the link.

Now for viewing, the Gallery view is much more awesome so when I send people a read-only link, the Gallery link is usually what I send them. However when I want them to upload their photos, I can’t do that because it’s not easily u

[2015-12-10 23:59] oparoz commented on #475
It's a duplicate of #225 ;)

[2015-12-10 23:59] #475 closed, assigned to nobody

[2015-12-11 05:56] kulve opened #476 "Add per-album option to enable Gallery View by default"
When sharing album links to others, they see the list view with small thumbnails and the file name. It seems that a typical user doesn't know that they need to click the file name to see the image and not click the thumbnail of the image which only allows them to select images for downloading.

This isn't a problem in the Gallery View as there the user sees only thumbnails/previews.

If the album

[2015-12-11 09:05] jancborchardt commented on #475
Ah, the ol’ self-duplicate. ;) Hopefully reinforces how needed that functionality is. :D

[2015-12-11 13:33] oparoz commented on #476
You can currently create a gallery link using the [ShareLinks](https://apps.owncloud.com/content/show.php/ShareLinks?content=170527) app. Isn't it enough?

[2015-12-13 18:24] oparoz commented on #445
Blocked by https://github.com/owncloud/core/pull/20248 . We can't run integration tests **locally** any more.

[2015-12-13 20:26] jospoortvliet commented on #335
Dark outline then... I mean, there's no decent other way. @jancborchardt other ideas?

[2015-12-14 15:57] kulve commented on #476
ShareLinks doesn't seem to support Owncloud 8.2. And based on the description it doesn't allow me to enable different views but I couldn't verify that as I have 8.2 installed.

[2015-12-14 16:01] oparoz commented on #476
Not yet. That's due to the new side-bar

You pick the view you want to share and it generates a link for that view. You then share that link and they will get the proper view.

[2015-12-15 08:08] michikommader opened #478 "Configure preview quality/compression"
Heyho! I didn't find any option to configure the quality/compression of the generated previews.
Use case: Before uploading my pictures into my cloud I already scale them down to 1920x1080 with JPEG "quality" of around 90-94. Anyway the gallery generates previews of the same size and serves them instead the original files. These generated JPEG previews show a lot poorer quality than my originals, s

[2015-12-15 13:28] oparoz commented on #478
Hello, this is a duplicate of https://github.com/owncloud/gallery/issues/465, which then became https://github.com/owncloud/core/issues/20665

[2015-12-15 13:28] #478 closed, assigned to nobody

[2015-12-16 15:56] jancborchardt commented on #349
This is basically a sub-issue of https://github.com/owncloud/gallery/issues/68

[2015-12-16 15:57] jancborchardt commented on #68
Moving the actions from up top to a proper place is prerequisite for this: https://github.com/owncloud/gallery/issues/349

Also to fix the confusion: https://github.com/owncloud/gallery/issues/474

[2015-12-16 16:34] jospoortvliet commented on #68
Add commenting! for 9.0 ;-)

[2015-12-16 19:07] jancborchardt commented on #68
@jospoortvliet different issue ;) https://github.com/owncloud/gallery/issues/176

[2015-12-18 01:03] warent commented on #230
I don't really do mobile development so I can't be much help here, but perhaps I can make a suggestion?

Say a user wants to view their favorites. Upon requesting viewing favorites, "loading, loading, loading, etc." during this period the server side will be gathering all the favorited images from the user. Then, say maybe for every 25 images you can compile them into a single bitmap, compress it

[2015-12-18 01:08] matiasdelellis opened #479 "App name not transtlated when gallery is active."
My owncloud is configured in Spanish..
To understand the bug please see these images:

On the files view, the gallery app is showed translated into Spanish.. (Gallery > Galería)
![captura de pantalla_2015-12-17_22-00-46](https://cloud.githubusercontent.com/assets/733715/11886544/eb3bf96c-a509-11e5-9a65-e13a01784903.png)

When use the gallery application, it is shown in English..  :disappointed:
![

[2015-12-18 09:52] oparoz commented on #479
Thanks for the report. It could be that this has not been translated yet.

[2015-12-18 09:58] oparoz commented on #479
No missing string. Are you sure this is only happening with Gallery?

[2015-12-18 10:00] oparoz commented on #405
I'll post a roadmap soon

[2015-12-18 10:03] oparoz commented on #25
I'll post a roadmap soon

[2015-12-18 13:38] matiasdelellis commented on #479
Hi,
Assuming that the string inside or outside of the application is the same, it is impossible that just was a missing translation..At least I understand this. :confused:

In the same pictures you can see that inside the gallery application, translation of mail also is wrong.

[2015-12-21 17:34] oparoz commented on #479
I mean, if you go to "calendario", does the icon say "Calendar"?

[2015-12-23 00:03] ak1n opened #480 "random order?"
Is there a way to display images in a random order rather than the date/name options listed on the wiki page in the sort section?

If the answer is presently no, could anyone perchance reference the area of code dealing with sorting? Would handling this simply involve randomizing a received file array (initially and then upon each completion of the full rotation)?

Thanks for any recommendations/t

[2015-12-23 00:21] matiasdelellis commented on #479
Hi,
- Within Files all translated (First image of this issue)
- Within Activity: "Actividad" translated but Gallery and Mail are not tranlated. (Simil Second image)
- Within Mail:  Neiter Gallery and Mail are not tranlated. (Simil Second image)
- Within Gallery: Neiter Gallery and Mail are not tranlated. (The Second image)
- Within calendar: "Calendario" and rest of strings are tranlated but Galle

[2015-12-23 11:39] matiasdelellis commented on #479
Hi oparoz,
I discovered something curious, and perhaps is relevant..
I entered to my owncloud from my Android phone and everything works correctly...The rest of the tests were always in Firefox on diferents Linux.

Regards,

[2015-12-23 15:30] oparoz commented on #479
Thank you very much for your investigative work.

Since the string is made available for translation and has been translated,
https://github.com/owncloud/gallery/blob/master/appinfo/app.php#L49
there may be a bug in `OCP\INavigationManager` or `OCP\IL10N`

@nickvergessen @MorrisJobke Any pointers?

[2015-12-23 15:48] oparoz commented on #480
Nope... Didn't think there was a need :)

That's correct.

This returns the list of files:
https://github.com/owncloud/gallery/blob/5628f45fd2a4bd5371923e9ba82a178275514035/js/gallery.js#L67

For a quick hack, you could add your own sorting order at the end of the function by calling `Gallery.config.updateAlbumSorting`

But you will need to create a new "random" sorting type in here: https://githu

[2015-12-23 22:49] enoch85 commented on #351
Any update here?

[2015-12-23 23:24] oparoz commented on #351
There aren't any new buttons, so we'll re-evaluate once we need to introduce the 3 dots.

[2015-12-24 12:19] nickvergessen commented on #479
Bug in ownCloud fixed in the 8.2.2 release for this week

[2015-12-24 17:50] oparoz commented on #479
Thank you @nickvergessen

[2015-12-24 17:50] #479 closed, assigned to nobody

[2015-12-25 11:25] ghost opened #482 "Remove Gallery+ from appstore for 8.2?"
Hi,

as "Gallery+" is now shipped in 8.2 as "Gallery" as a core app is there any reason why Gallery+ is kept for 8.2 within the appstore at https://apps.owncloud.com/content/show.php/Gallery%2B?content=169116

The only difference i'm seeing here is that the appstore has Gallery+ 14.3.0 where Gallery in 8.2 is at version 14.2.0. Shouldn't be Gallery also shipped in version 14.3.0 in core?

[2015-12-25 15:34] oparoz commented on #482
Gallery+ exist so that I can backport new features to versions of ownCloud which are in use right now.
The 8.2 version of Gallery+ contains fixes and features which will only be available in 9.0 and will always have a higher version number than the official Gallery.

Here are a few reasons for this setup:
- I never use the latest version of ownCloud in production
- I want the latest fixes and feat

[2015-12-25 16:22] ghost commented on #482
@oparoz Ah, good to know. Thanks for the clarification of this. Maybe a short hint to both apps about this could be useful to prevent confusion about both apps.

[2015-12-25 17:41] oparoz commented on #482
@RealRancor - There is one line of explanation at the top of the Gallery and Gallery+ presentation and I'm open to suggestions on how to improve it:)

[2015-12-25 20:29] oparoz commented on #25
@jospoortvliet @jancborchardt @karlitschek @LukasReschke I've posted some specs. Let me know if this meets your requirements

[2015-12-25 21:12] oparoz commented on #405
@jospoortvliet @jancborchardt @karlitschek @LukasReschke I've posted some specs. Let me know if this meets your requirements

[2015-12-25 21:47] oparoz commented on #230
Specs have been moved to the OP.

@jospoortvliet @jancborchardt @karlitschek @LukasReschke I need your feedback.

I think that putting favourites in their folder is going to be a problem.

Let's look at this example
Son -> 2015-> first_glasses
Daughter -> 2015-> graduation

Flat view
first_glasses
graduation

Works, but everything is mixed up

1 folder view
2015-> first_glasses
2015-> graduation

[2015-12-28 11:18] jancborchardt commented on #230
I'd say if in doubt, let's do it like in Files. Flat view is the simplest and quickest way to actually access favorites too.

[2015-12-28 17:31] jancborchardt commented on #25
Nice! The only additional requirement I have is that upload is not only posssible via drag&drop but also by a [+] button just like in the files app. That way it’s discoverable as well.

Otherwise, is there a work-in-progress pull request of this, or what do the checkmarks mean?

[2015-12-28 17:32] jancborchardt commented on #405
Looks good! cc @owncloud/designers for checking as well.

[2015-12-28 19:31] oparoz opened #483 "Wrong GalleryImage arguments in Album._showFolder"
https://github.com/owncloud/gallery/blob/d982e0e976ab91ecbf52d5917bbdebad79351035/js/galleryalbum.js#L296

[code]

but  in https://github.com/owncloud/gallery/blob/d982e0e976ab91ecbf52d5917bbdebad79351035/js/galleryimage.js#L25

[code]

[2015-12-28 19:47] oparoz commented on #230
OK, I've updated the OP. Flat view to begin with and a future plan to introduce a way to let users alter that presentation by setting the number of levels they need for their favourites organisation.

[2015-12-28 19:51] oparoz commented on #25
I was afraid you were going to say that ;). I'll explore some solutions and hopefully I'll be able to at least just add a big [ + ] which opens the dialogue.

There will be. The checkmarks mean the prototype works and I'm now cleaning things up.

[2015-12-28 20:00] jancborchardt commented on #25
Cool! :) Yeah, sorry for the request with the [ + ] button, but I consider that quite important since only having drag&drop will still not solve the problem for most people (they will just not know that the functionality exists).

[2015-12-28 20:17] oparoz commented on #25
That's why I'll introduce Fily, Clippy's cousin. Always floating around the screen, ready to help :)

[2015-12-28 21:10] jancborchardt commented on #25
:D

[2015-12-28 21:34] oparoz opened #484 "Switch from Math.floor() to Math.ceil() when sending the dimension to Preview"
We're still using Math.floor() when we want to round one of the dimensions of an image after applying window.devicePixelRatio, but I think what we really want is Math.ceil(), as otherwise pictures can still end up being a bit blurry since they will be smaller than the expected size.

See https://github.com/owncloud/core/commit/46475b81147633060cd24f026d54eee77aa559d2

[2015-12-29 13:27] aspdye opened #486 "German Translation of App-Name"
Deutsch (Persönlich): Galerie
Deutsch (Förmlich: Sie): Gallery [not translated]

[2015-12-29 14:39] oparoz commented on #486
Hello, this is a duplicate of https://github.com/owncloud/gallery/issues/479

[2015-12-29 14:39] #486 closed, assigned to nobody

[2015-12-31 20:12] jospoortvliet commented on #405
I think it's great!

[2015-12-31 20:23] jospoortvliet commented on #25
![clippy](https://cloud.githubusercontent.com/assets/551757/12068004/b9c7e62e-b004-11e5-881f-b5fa12047716.png)

[2016-01-01 12:53] oparoz commented on #25
:laughing:

[2016-01-03 20:56] arkascha opened #487 "Make images and albums selectable in the photowall"
The file list view of a folder offers a checkbox per file to select multiple files and use actions on a set of selected files.

The same would be very useful in the galleries photowall, since it offers a much better preview of the individual files. For albums this would clearly the preferred way to make a selection. Possible actions for sets of selected pictures would be:
- download of set as an a

[2016-01-05 12:44] sualko opened #488 "App stops working if enable_previews is set to false"
Also the image full size preview in the file viewer does not work as normally.
### Steps to reproduce
1. Set 'enable_previews' to false in config.php
2. Go to gallery app or switch to gallery app in file viewer
### Expected behaviour

Show pictures
### Actual behaviour

Nothing is shown. <code>/index.php/apps/gallery/files/list?location=&mediatypes=&features=&etag</code> returns <code>{"files":[],

[2016-01-05 17:54] oparoz commented on #488
Nope, can't happen. If you disable preview, then all apps which need previews will get the media type icons. It doesn't make sense to do that in a gallery app, so I need to stop the app and show an error message instead.

[2016-01-05 21:46] Biopticon opened #489 ""No pictures found""
Hello,

I enabled Gallery+ application. I opened the Gallery+ page. After a long hour glass activity, it said "No pictures found. Upload new pictures in the files..." So I tried to create picture thumbnails manually by issuing the following command:

sudo -u www-data ./occ gallery:create-thumbnails --path=/media/OwnCloud/data/user/files/documents/Music

But I get the following error:

[InvalidArgu

[2016-01-05 21:51] oparoz commented on #489
Hello, thanks for the report.

In order to be able to tell what's wrong with your ownCloud and why you have to wait for so long, we need more information, especially the logs. Please use this form: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

Regarding the command, I should mention in the wiki that this feature hasn't been released yet. It's only available if you get t

[2016-01-05 22:57] Biopticon commented on #489
Hello Oparoz,

Here are the answers to issue_template. I did not attach the OC and Apache logs yet. They are too big. I do not know how to incorporate files #387 to my OC installation. I appreciate simple instructions.

Thank you.

### Steps to reproduce
1. cd /var/www/owncloud
2. sudo -u www-data ./occ gallery:create-thumbnails --path=/media/OwnCloud/data/user/files/documents/Music

### Expected

[2016-01-06 04:43] oparoz commented on #489
I think you misunderstood me. I need the report for the problem where you can't see anything in Gallery (spinning wheel). The browser logs should be enough to begin with. You need to hit F12 to see if any errors are reported.

I don't need a report on the thumbnail generating command since that feature is not available in Gallery yet. I've updated the wiki earlier to mention that.

If you want the

[2016-01-06 12:34] sualko commented on #488
I think not only this app should show an error, but also the [documentation](https://doc.owncloud.org/server/7.0/admin_manual/configuration/previews_configuration.html) should be updated, because it says that this flag is only for the small file previews.

Do you have any advise, how I could easily disable file previews, but still use the gallery app?

[2016-01-06 13:07] oparoz commented on #488
I agree that the doc should be improved and I've opened a ticket there: https://github.com/owncloud/documentation/issues/1982

Unfortunately, no. Gallery will not have its own engine, for as long as one is provided in `core`.

[2016-01-06 13:24] oparoz commented on #487
Yes, it's on my roadmap, but after [drag and drop](https://github.com/owncloud/gallery/issues/405) has been implemented (and after that, there may be other priorities as well)

[2016-01-06 16:58] Biopticon commented on #489
Hello Olivier,

Thank you. Sorry about my naivety. I did not know you could find out errors on a webpage like that! I attached a picture showing the errors I got after spinning wheel come back and displayed the message that "there are no pictures".

 I just need to view the pictures in the Gallery+ app. I thought, enabling the app would be sufficient to view them. I could not find any document to

[2016-01-06 17:29] oparoz commented on #489
You are correct, Gallery(+) is plug and play, unless you have some special requirements (like adding external storage) or if ownCloud encounters a bug when reading files or generating previews.

How did you add the external drive in ownCloud? If it's via the ~~`external_shares`~~ `files_external` app, you need to make sure previews are enabled for that location and you need to add [this config fil

[2016-01-06 20:31] Biopticon commented on #489
Hello Olivier,

The external drive is defined in the OC config.php (see the previous post):

'datadirectory' => '/media/Biopticon/OwnCloud/data',

Although I am using the file_external app (not external_shares though), I did not do anything to make sure that previews were enabled. Then, based on your suggestion I added a gallery.cnf file in the /media/OwnCloud/data/user/files/documents/  folder (P

[2016-01-07 01:26] phillip30 opened #490 "Shared gallery - no more thumbnails loaded than those in initial view when scrolling down"
### Steps to reproduce
1. Create folder with a few dozen JPGs
2. Create link to share this folder (with or without password)
3. Access link (in list or gallery mode)
4. Scroll down to bottom of list or gallery to load more files or thumbnails
   (this was tested with Gallery as well as Gallery+ App)
### Expected behaviour

More files or thumbnails should be loaded when scrolling to bottom of share

[2016-01-07 04:08] oparoz commented on #489
Hello @Biopticon. Thanks for the information.

`files_external` is the app I was talking about. If you can see thumbnails in the Files app, it means that previews are working and that it's a problem with Gallery.

You need to place the `gallery.cnf` file in `/media/OwnCloud/data/user/files/` folder. That's your root folder.

I apologies, the instructions I gave you were for Firefox, since I notice

[2016-01-07 04:15] oparoz commented on #490
Thank you very much for the detailed report :+1: .
I can see lots of errors in your logs, but I'm not sure if they're related, so I'll need to investigate using the same version.

Something is definitely wrong though -> `TypeError: album is undefined`

[2016-01-07 05:14] phillip30 commented on #490
Thank you!

I did a clean install of a 14.04 LTS on a virtual server and installed
owncloud from your 14.04 repo.

Other things I did was installing wordpress, fail2ban and letsencrypt for
apache. Other than that the machine should be plain vanilla, just a couple
of days old.

The gallery is loading additional thumbnails just fine when scrolling if
done as the respective user (not via the shared l

[2016-01-07 08:11] Tanarri commented on #490
Hi,
I have the same issue.
- log in as user, who has many pictures: scrolling is ok (testet with google chome, FF43, IE11)
- with shared link to gallery+: no scrolling possible at end of page (testet with google chome, FF43, IE11)

My installation is done with the .deb packages from ubuntu:
ii  owncloud                   8.2.2-1.1          all
ii  owncloud-config-apache     8.2.2-1.1          all

[2016-01-07 08:23] oparoz commented on #490
Thank you @Tanarri. Could you post your browser log?

I wonder if 8.2.2 has changed something in the way it sends CSP policies and if that has created a regression or maybe this scenario simply wasn't properly tested before the launch of 8.2.

[2016-01-07 09:14] Tanarri commented on #490
Hi,

Browser-log? I tried this as a browser-log:

FF43 à press F12 à Konsole à <set all to log>

Here is the result of the log with my comments for help

---

this one are "CSS"-Warnings:

Unbekannte Eigenschaft 'appearance'.  Deklaration ignoriert. styles.css:18:11

Fehler beim Verarbeiten des Wertes für 'background'.  Deklaration ignoriert. styles.css:42:13

Fehler beim Verarbeiten des Wertes fü

[2016-01-08 00:52] RoxasShadow opened #492 "GDrive-like grid view"
For me would be great having the possibility to have a grid view similar to the Google Drive one with nice cropped image that share the same size.
I think it's an elegant and efficient way to look at the image thumbnails.

_Gallery+_
<img width="341" alt="screen shot 2016-01-07 at 12 28 50" src="https://cloud.githubusercontent.com/assets/805144/12169644/4ed1950a-b53a-11e5-805d-df245cab9fd9.png">

[2016-01-08 06:45] oparoz commented on #492
My position is that this grid view belongs to the Files app: https://github.com/owncloud/core/issues/17357

Other layouts can also be implemented in Gallery, but this has a low priority for me.

[2016-01-08 06:49] oparoz commented on #490
@Tanarri - Thanks. I can't see anything wrong in your logs.

[2016-01-08 16:02] pako81 opened #493 "Scrollbar not available for group of images shared through public share links"
### Steps to reproduce
1. Share a group of images by using the public share link option
2. Open the shared link with different browsers (Firefox, Chrome, Internet Explorer, Safari)
### Expected behaviour

Scrollbar should be available and it should be possible to scroll down through all the images
### Actual behaviour

Scrollbar is not available and only a part of the images is actually visible
##

[2016-01-08 16:57] oparoz commented on #493
Thanks for the report and especially the link, it allowed me to have a better understanding of what others were reporting.
This is a duplicate of https://github.com/owncloud/gallery/issues/490, so if it's OK with you, I'm going to close this and add the blue-ticket label to the other issue (I'm not familiar with your internal processes).

[2016-01-08 17:01] pako81 commented on #493
Thanks! sure go ahead and close it.

[2016-01-08 17:01] oparoz commented on #490
OK, so a new report has allowed me to see the bug for myself.

@Henni - Did anything change for 8.2.2 regarding the footer for the public template?
Looking at https://oc.hs-osnabrueck.de/owncloud/index.php/apps/gallery/s/LuKm1opccEoSNhF# we can see that the footer is scrolling with the content instead of staying at the bottom. It could be something I've missed during the 8.2.0 lifecycle, but since

[2016-01-08 17:02] oparoz commented on #493
Thanks.

[2016-01-08 17:02] #493 closed, assigned to nobody

[2016-01-08 17:23] MorrisJobke commented on #490
I tried to reproduce this on a local instance and was not able to do so. There the scrolling is just fine. :(

[2016-01-08 17:44] oparoz commented on #490
@MorrisJobke Try narrowing the window to see if it triggers the bug

[2016-01-08 17:45] MorrisJobke commented on #490
I tried and it still has a valid scroll bar and shows all images.

[2016-01-08 17:52] oparoz commented on #490
Thanks. The reporter with the link mentioned that the same problem happened for him with a vanilla enterprise version, so it can't be related to the theme like I was hoping for.

[2016-01-08 17:52] oparoz commented on #490
Unless the enterprise theme hasn't been updated to take into consideration the changes that did happen in 8.2...

[2016-01-08 20:38] MorrisJobke commented on #490
I also tested without any theme. :(

[2016-01-08 23:41] Tanarri commented on #490
Hi,
I found a workaroud (or the solution).
In this patch https://github.com/owncloud/core/commit/ccfd052e81545099fe7d3527c5f906a56e4f7542 there were added the 2 Lines

[code]

If you remove the 2 lines in the file "apps/files_sharing/css/public.css" then the scrolling in a shared gallery-link will work again.
For me this works - I don't know if this works for others

Greetings
Eugen

[2016-01-09 06:34] phillip30 commented on #490
Hi Eugen,

I tried your edit and it solved part of it for me:

If I access the shared link via "list view",  the remaining files now load once I scroll further down.
If I access the shared link via "gallery view",  there is still nothing happening when scrolling down.

Cheers
Philipp

[2016-01-09 06:50] oparoz commented on #490
Thanks guys. So it's been broken since the release of 8.2.

@phillip30 - The reason it might still be broken for you is that Gallery had to implement the same fix: https://github.com/owncloud/gallery/pull/414

[2016-01-09 07:10] phillip30 commented on #490
By the way, I saw a bug report that seems related: https://github.com/owncloud/core/issues/21373

There the workaround was to deactivate pdfviewer (after I did this, my gallery view started loading the remaining pictures).

Maybe Eugen's quickfix is also relevant to them?

[2016-01-09 07:16] oparoz commented on #490
@phillip30 So without having to edit core, it worked for you or did you still need to patch it? If it's just because of pdfviewer, that would explain why @MorrisJobke couldn't reproduce the problem...

[2016-01-09 07:20] oparoz commented on #490
And after checking the list of files loaded in that public view, I'd like to know why apps are cross-polluted with scripts from other apps.

@PVince81 @nickvergessen

[2016-01-09 08:43] MorrisJobke commented on #490
Ah...the pdfviewer ...@lukasreschke can you have a look?

[2016-01-09 09:08] phillip30 commented on #490
The first one. Merely deactivating pdfviewer fixed my gallery view (after
Eugen's fix had fixed my list view).

On Saturday, 9 January 2016 6:16:41 PM AEDT, Olivier Paroz wrote:

[2016-01-09 14:23] elpraga opened #494 "Is there a way or an API to rotate images?"
Can images be rotated in the Gallery app or is there an app that the android app can use to rotate the images and regenerate the thumbnails?

[2016-01-11 08:51] nickvergessen commented on #490
Because those apps just load the js/css in app.php instead of checking if they are required:
https://github.com/owncloud/files_pdfviewer/blob/master/appinfo/app.php#L15

[2016-01-11 09:20] oparoz commented on #490
@nickvergessen - For some reason, I had forgotten that it had an impact on all apps. Only remembered that those scripts were loaded in Files...

[2016-01-11 09:45] PVince81 commented on #490
Lack of namespacing :frowning:
Ideally all JS and CSS should be namespaced to the app itself and not define global stuff.

[2016-01-11 09:50] oparoz commented on #490
~~I've opened https://github.com/owncloud/core/issues/21605 which could help only pollute Files and Sharing ;)~~

[2016-01-11 09:56] oparoz commented on #494
If an Android app can rotate a picture and modify it's metadata, then once it's uploaded to ownCloud again it should show up with the correct rotation in ownCloud.

It should be possible in the future to rotate images from within Gallery. See https://github.com/owncloud/gallery/issues/236

[2016-01-11 09:56] #494 closed, assigned to nobody

[2016-01-12 15:53] Henni commented on #490
This might be solved by https://github.com/owncloud/files_pdfviewer/pull/91.
Would be great if you guys could review it.

[2016-01-12 16:08] oparoz commented on #490
Thanks @Henni

[2016-01-12 17:43] oparoz opened #495 "Improved screen resolution detection on scaled screens"
Gallery uses `screen.width` to detect the screen's width and apparently it doesn't work for everybody when the screen is scaled, so we need to see if we can improve the detection of the user's screen resolution.
### Example
- The original image is 1200x849
- The screen resolution of the device is 2880x1800,
- The resolution is scaled down in the OS to 1280x800

The image should nearly fill the vie

[2016-01-12 17:44] oparoz commented on #495
@RoxasShadow, could you post a screenshot of the info on http://www.mydevice.io/ ? I'd like to see which resolution is reported via CSS and JS, as well as the pixel ratio, etc.
Thanks.

[2016-01-12 18:11] oparoz commented on #495
Pinging @jancborchardt as this can also affect `core` and is an accessibility issue.

[2016-01-12 18:11] oparoz commented on #495
And maybe @henni has a solution :)

[2016-01-12 18:37] Henni commented on #495
As your linked page http://www.mydevice.io/ suggests, `body.clientWidth` probably solves this issue.

[2016-01-12 19:37] oparoz commented on #495
Unfortunately `body.clientWidth` works like `window.innerWidth` and we can't use it because if you go full screen you'll have a small preview, the size of the original window

[2016-01-12 20:15] RoxasShadow commented on #495
@oparoz sure, [here](https://cloud.githubusercontent.com/assets/805144/12275656/8b59e1c2-b971-11e5-9917-af4234510ae6.png) it is.

[2016-01-12 21:01] oparoz commented on #495
![](https://cloud.githubusercontent.com/assets/805144/12275656/8b59e1c2-b971-11e5-9917-af4234510ae6.png)

Thanks. All the variables are returning the natural screen resolution, so I don't know how to solve this, but anybody is welcome to give it a try.

[2016-01-15 09:29] oparoz commented on #29
PR is in https://github.com/owncloud/gallery/issues/511

[2016-01-15 12:51] jancborchardt commented on #53
@oparoz did the backport happen? Then we could close this. (Even if not I guess this is closable.)

[2016-01-15 13:03] oparoz commented on #53
Didn't happen, no. The problem is that we don't have enough testers, so not sure if people will properly test the backport.

[2016-01-17 14:05] elacour opened #498 "Add missing options to the share dialogue"
Dear OC developpers,
I'm using OC 8.2.2 with gallery+ 14.3.0.

When viewing an album I can share it to other using the top right icon, by user name or using link.

But there is three issues:
- using public link, I cannot send email. It works on file app
- ~~using a named target user, I cannot change the permissions~~
- using a named target user, I cannot send him an email

See gallery+ screenshot:

[2016-01-18 00:18] oparoz commented on #498
Thanks for the detailed report :+1:
It's a known issue and may be fixed by itself if and when we switch to using a sidebar or if someone wraps the sharing content from Files into a dialogue.

[2016-01-19 16:27] XANi commented on #488
Simple fix would be to just have working preview that just sends full image for "slideshow view" if previews are disabled.

We recently upgraded from OC8.1 where we had previews off because performance was horrible (no caching of any sort for thumbnails), sure icons didnt work but preview was functional and in LAN downloading whole file was actually much faster than waiting for OC to resize pic.

[2016-01-19 21:40] Tanarri commented on #490
Hi oparoz,
I tested the patch https://github.com/owncloud/files_pdfviewer/pull/91
- I downloaded "master" dated 12 January 2016 from "pdfviewer" with the above patch included (sorry I don't know how to precise the correct version)
- I disabled my "own solution" --> I enabled this lines, as they are in OC V8.2.2 official -->

[code]

Result as logged in User:
- "grid view" + "list view": Correct --

[2016-01-19 21:53] oparoz commented on #490
Thank you very much for testing Eugen. I'm closing this as the solution is to update `files_pdfviewer`

[2016-01-19 21:53] #490 closed, assigned to nobody

[2016-01-20 09:03] sualko commented on #488
@XANi exactly. Full size file view would be awesome. Additionally I will open an issue in core to add a new option "disable_fileicon" or something similar.

[2016-01-20 10:44] oparoz commented on #488
The documentation has been updated.

I think it should not be too difficult for someone to create a PR which redirects to the download controller when previews are not enabled.

[2016-01-20 12:54] #482 closed, assigned to nobody

[2016-01-20 12:56] #476 closed, assigned to nobody

[2016-01-20 12:58] oparoz commented on #445
The PR https://github.com/owncloud/gallery/issues/477 fixes the issue and needs reviewing

[2016-01-20 13:00] kulve commented on #476
Why was this closed without any comment? The plugin suggested earlier doesn't support the latest version of Owncloud nor does it seem to be under development.

[2016-01-20 13:16] oparoz commented on #476
It was closed due to inactivity. The solution is to use ShareLinks or any clone which offers the same functionality since the `core` team doesn't want to add views to the sharing dialogue. The alternative is to share using the Gallery view since it shows the proper link already.

Gallery can't hijack the Files app to redirect it to the Gallery view when a user lands there.

[2016-01-21 13:46] mmattel opened #499 "Gallery only finds new pictures on external storage (files_external) after logging off/on"
- I have created a test instance via `ocdev setup base --dir=xxxx`
- Then I added a external smb share (with 19k pictures)
- Manually started `./occ -uwww-data files:scan --all`
- After finishing, Gallery told me that there are no pictures found.
- After logging off and relogging on, Gallery finds the pictures and presents them.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty o

[2016-01-21 13:52] oparoz commented on #499
Probably because of https://github.com/owncloud/core/blob/master/config/config.sample.php#L1104

[2016-01-21 13:57] mmattel commented on #499
nope, is set to `'filesystem_check_changes' => 1,`

[2016-01-21 14:06] oparoz commented on #499
On 8.2 you may have to set it to 2: https://github.com/owncloud/core/blob/stable8.2/config/config.sample.php#L1057

But there isn't much Gallery can do. It asks for a list of files which have a supported media type and the cache says there is nothing.

You can try to open a report in `core` to see if there is a different process you can use.

[2016-01-21 14:08] oparoz commented on #499
Also, check your logs, there may be 503s or something similar.

[2016-01-22 11:37] #420 closed, assigned to nobody

[2016-01-22 12:02] oparoz commented on #432
Fixed via https://github.com/owncloud/gallery/pull/422

[2016-01-22 12:02] #432 closed, assigned to oparoz

[2016-01-23 17:55] oparoz opened #500 "Try to fix the horrible scrolling performance on mobile introduced by core on 8.2"
I don't remember all the details, but I think that from 8.2 the controls are in a fixed div which kills all hardware acceleration on mobile.
- [x] Find out why this was introduced exactly
- [x] Fix it if we don't have a reason to use the same CSS
## Tests
### Desktop
- Chromium/win10: no visible change
- Firefox/win10: no visible change
- Edge/win10: no visible change
- IE11/win10: no visible chan

[2016-01-23 18:18] oparoz opened #501 "Listen for loadAdditionalScripts to load our Javascript in Files and Sharing"
Since we have to touch that part of the code anyway, thanks to the shorter URLs coming in 9.0, we should use loadAdditionalScripts to load our Javascript in Files and Sharing instead of detecting the pages we're on.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30144188-listen-for-loadadditionalscripts-to-load-our-javascript-in-file

[2016-01-23 18:31] oparoz commented on #501
The dispatcher is missing from files_sharing, which means we currently can't load the slideshow on shared folders.

[2016-01-23 18:46] oparoz commented on #501
Because we have to listen for 2 events, we'll have to move the function out of app.php. Probably to utility...

[2016-01-24 01:38] rajil opened #502 "Thumbnails, libjpeg: recoverable error: Invalid SOS parameters for sequential JPEG"
Hello,

I have some photos taken from a phone which render fine in gwenview and gimp, but give an error in owncloud. The errors I get in the owncloud.log file is
"imagecreatefromjpeg(): gd-jpeg, libjpeg: recoverable error: Invalid SOS parameters for sequential JPEG"

The web UI is unable to show the thumbnail.
The relevant packages i have installed are php56-gd-5.6.17 and jpeg-turbo-1.4.2

Google

[2016-01-24 11:13] oparoz commented on #502
Hello,
Although it might not seem logical, please open the same report here:
https://github.com/owncloud/core/issues

Gallery does not generate previews, it just uses them.

[2016-01-24 11:13] #502 closed, assigned to nobody

[2016-01-24 19:35] kulve commented on #476
"Share using the gallery view" is actually what I was after here. I just didn't realise that different views to same folder give different kinds of URLs.

Thanks!

[2016-01-25 00:24] oparoz commented on #500
I think there is hope :). It involves reorganising the templates. Hopefully this won't lead to to much code re-writing.

[2016-01-26 10:20] derfritsch commented on #495
I'd like to mention an additional use case, in which a scaling of the image would be desired:

In case the 'preview_max_x' and 'preview_max_y' are set in config.php (which might be chosen if bandwidth is limited), only size-limited previews will be shown for all images. Personally, I would prefer to look at those previews being blown up to fill the full viewport, rather than being scaled to the si

[2016-01-26 20:27] elacour opened #503 "OC 8.2.2, public share does not longer scroll"
Since upgrade of my OC from 8.2.1 to 8.2.2, public links of gallery do not longer scroll to next pictures. See attached screenshot. Tested on firefox (iceweasel) 43.0.4. Console does not report error, network console does not report failures. It just stops loading leaving half (or part) of the last row.

![capture d ecran de 2016-01-26 21-26-05](https://cloud.githubusercontent.com/assets/101576/12

[2016-01-26 20:28] elacour commented on #503
Same problem with 41.0.2272.118. Seems server side problem, thought no php errors in logs.

[2016-01-26 22:23] artemanufrij commented on #503
Same here... FF, Chrome, Midori, Browser (Samsung Tablet, Ubuntu Phone BQ4.5).

[2016-01-26 22:35] khlschrnk commented on #503
Same here. Running kubuntu 15.10 on my server. I just updated from 8.2.1 to 8.2.2 (I think it included gallery-14.2) and can see now the same behaviour:
The gallery thumbnail view shows the first THREE rows as expected. The FOURTH row is only visible till 50%. Any other pictures in the rows further down are missing completely.

I can state firefox-44, chrome-7, firefow-ios-1.4, safari-9.0.3, safar

[2016-01-26 22:36] oparoz commented on #503
Please refer to https://github.com/owncloud/gallery/issues/490. It's a bug in pdf_viewer.

[2016-01-26 22:36] #503 closed, assigned to nobody

[2016-01-26 22:45] oparoz commented on #495
Once we have user settings, the scaling ratio would be an ideal candidate. Doesn't solve the initial problem though.

[2016-01-26 22:55] khlschrnk commented on #503
Yes, I can confirm that updating pdf_viewer fixes this issue.

[2016-01-27 00:15] elacour commented on #503
I confirm too, sorry for this duplicate bug.

[2016-01-27 00:22] oparoz commented on #476
:)

[2016-01-27 00:22] oparoz commented on #503
No worries, I also forget to check closed issues sometimes :)

[2016-01-27 16:49] oparoz commented on #228
This can now be closed as IE8 support has been dropped for 9.0+

[2016-01-27 16:49] #228 closed, assigned to nobody

[2016-01-27 16:50] oparoz commented on #249
This can now be closed as IE8 support has been dropped for 9.0+

[2016-01-27 16:50] #249 closed, assigned to nobody

[2016-01-27 16:50] oparoz commented on #318
This can now be closed as IE8 support has been dropped for 9.0+

[2016-01-27 16:50] #318 closed, assigned to nobody

[2016-01-30 00:11] Biopticon commented on #489
Hello Olivier,

 I am sorry not being responsive for a long time. I placed the gallery.cnf file into the root directory. But still I do not get any images in the Gallery+ page. But there is an orange background with large font blue letter on the left corner.

Here is my gallery.cnf file:

[code]

Here are the results of the diagnostics on Firefox as you suggested:
1.  Response tab gives nothing (e

[2016-02-02 13:40] oparoz commented on #489
OK, so the problem is that you only have SVG enabled (because it's defined in gallery.cnf).
Maybe you have disabled previews?

[2016-02-02 13:41] oparoz commented on #489
Yep, it's in your config, in the OP: `'enable_previews' => false,`

So enable previews and it should work.

[2016-02-02 16:10] Biopticon commented on #489
Hello Olivier,

It worked! Thank you. How can I make the pictures folder selected rather than top level "documents" folder?

[2016-02-02 17:17] oparoz commented on #489
You can't. Gallery works the other way around. You can ignore folders, but of course, that won't work for the top folder...

[2016-02-02 17:17] #489 closed, assigned to nobody

[2016-02-03 17:52] cdamken opened #504 "[14.2.0] "No pictures found" if root folder is read-only"
I added a lot of pictures in external storage. (SMB)

When I select the Gallery app it only shows:
"No pictures found"

There is no message in the Log files (Apache or ownCloud)

The only message is on the web browser:
"Unknown error (22) for smb://10.1.10.103/carlos/.nomedia (500)"

As workaround I add the file ".nomedia" in the user root user folder in the storage and then the Gallery app works!

[2016-02-04 10:08] oparoz commented on #504
I don't fully understand how you've organised your file system and how things are mounted in ownCloud. Could you give me more details on that?

[2016-02-04 16:50] cdamken commented on #504
Sure @oparoz :

My server stack:

• Operating system (name and version number):

[code]

• URL from your ownCloud
https://cloud.damken.com/

• Your ownCloud availability:
over internet

• Webserver (name and version number):

[code]

• Apache modules enabled as declared in:

[code]

• Database (name and version number):

[code]

• PHP (version number):

[code]

• PHP cache manager

[code]

• PHP i

[2016-02-05 18:04] #467 closed, assigned to oparoz

[2016-02-06 13:54] jsalatiel commented on #504
Probably there are some corrupted picture avoiding gallery from complete the scan. The .nomedia is a GREAT feature that allows skip some folder and subfolder. I had this problem once and manually tracked down to be an specific corrupted jpeg.

[2016-02-06 14:02] cdamken commented on #504
Probably could be a picture broken, but putting a .nomedia as workaround is not
a solution. The gallery app should handle wrong images and not every normal user
should know how to workaround it.

[2016-02-06 14:05] jsalatiel commented on #504
I agree that gallery should not "break" on broken images. But you have to understand that the .nomedia is a feature (Actually it was me who sugestted =] ) ! It is a way to avoid some pictures from being shown on gallery. It works exactly like the android .nomedia file does =)

[2016-02-06 14:06] jsalatiel opened #505 "Add the possibility to star some pictures"
It would be nice if we could 'star' some pictures directly on the photowall and could see them easily on a 'starred' photo view.

[2016-02-06 14:16] oparoz commented on #505
Duplicate of https://github.com/owncloud/gallery/issues/230

[2016-02-06 14:16] #505 closed, assigned to nobody

[2016-02-06 14:57] oparoz commented on #504
Thanks for the information @cdamken. I'm not an enterprise user, so let's see if I got this right.
- The user's root is located at `smb://10.1.10.103/carlos/`
- The browser tried to access a non-existent `.nomedia` file at the root
- You've added the file the browser complained about
- The user can now see pictures located in the folder despite the `.nomedia` file
  Is this correct?

Regarding bro

[2016-02-07 00:35] cdamken commented on #504
Hi @oparoz my system is not enterprise either. I think I explain you that in Berlin.

the user root directory is in /mnt/owncloud/carlos/files (mouted over nfs)
the user mounted a external storage over smb in a folder Ext-Sally (normal external storage app created by @icewind1991, its not enterprise app)
when I select the gallery app, the gallery app provides the following error only in the browse

[2016-02-08 12:48] akemper opened #506 "Scrolling in desktop browsers doesn't work properly"
With the latest versions of Owncloud and the official gallery plugin scrolling in a larger collection of pictures doesn't work. The scrollbar is showing up as expected and can be moved by some centimeters, but it doesn't cover the full amount of uploaded pictures. Instead, the last shown row of pictures get's simply horizontally cut, followed by the standard footer "ownCloud – web services under y

[2016-02-08 12:50] oparoz commented on #506
A duplicate of https://github.com/owncloud/gallery/issues/490

[2016-02-08 12:50] #506 closed, assigned to nobody

[2016-02-08 18:18] cdamken commented on #504
@jsalatiel I don't understand well. please explain to me.

If the file does not exist, should show all the images.
If the file exist should skip the folder and the below.
Isn't it?

[2016-02-09 08:52] DeepDiver1975 opened #508 "Adjust sharing for 9.0"
With https://github.com/owncloud/core/pull/22231 we drop some of the old sharing ajax calls which are still being used in the gallery.

The code has to be migrated to OCS calls.

@rullzer maybe you can help out here to get this up and running again - THX

[2016-02-09 13:39] oparoz commented on #508
@rullzer - Is it simply a matter of changing [those URLs](https://github.com/owncloud/gallery/blob/master/js/vendor/owncloud/share.js#L249) or have variables and responses changed as well?

[2016-02-09 13:44] oparoz commented on #508
OK, had a look at https://doc.owncloud.org/server/8.2/developer_manual/core/ocs-share-api.html and all the methods have to be rewritten since they use different verbs and variables.

[2016-02-09 13:52] rullzer commented on #508
No just chaning urls won't work.

However the endpoints behave somewhat similar. But yes all needs to be changed :(

[2016-02-09 21:42] oparoz commented on #395
Fix is in https://github.com/owncloud/gallery/pull/510

[2016-02-10 12:36] sualko commented on #488
Just as a starting point. Slideshow works in file app if you replace [galleryfileaction.js#L114](https://github.com/owncloud/gallery/blob/master/js/galleryfileaction.js#L114) with

[code]

[2016-02-11 01:48] oparoz opened #513 "Information for testers"
There are quite a few PRs in the pipeline at the moment and some of them depend on others, so I'm going to list them in the order in which they should be merged so that testers can focus on what's important.

1.
- [x] **9.1** [Instant thumbnails showing](https://github.com/owncloud/gallery/pull/511)

2.
- [x] **9.1** [Click handlers for image and album thumbnails](https://github.com/owncloud/galle

[2016-02-11 15:55] oparoz commented on #459
I'm wondering if https://github.com/owncloud/gallery/pull/507 fixes the issue

[2016-02-11 16:09] oparoz commented on #51
All that remains are bugs which need to be fixed
- [ ] Clean up the icons
- [ ] Add missing icons

[2016-02-11 18:41] oparoz opened #515 "Make Gallery compatible with shorter URLs from 9.0"
It seems shorter URLs have been introduced in 9.0, but Gallery doesn't support them.
- [x] Fix page detecting JS in app.php
- [x] Fix Gallery button

[2016-02-11 18:46] oparoz commented on #515
@LukasReschke - Is this a standard feature in 9.0 or is this optional?

[2016-02-11 18:47] LukasReschke commented on #515
Enabled if the web server supports it, it should also not really require any work on your side if you have `mod_env` and `mod_rewrite` enabled. It should use short URLs then if you use the default IURLGenerator plus the ownCloud core JS functions.

[2016-02-11 18:53] oparoz commented on #515
Thanks! Unfortunately, work is required because we check the URL to only load our JS on the `files` and `files_sharing` apps and the regexp contains `index.php`. I'll remove that and hope URLs don't contain `/s/` until `files_sharing` supports `loadAdditionalScripts`

[2016-02-11 18:54] oparoz commented on #501
Split the ticket in 2.
https://github.com/owncloud/gallery/issues/515 is to make short URLs work on 9.0 and this ticket will be about implementing `loadAdditionalScripts`

[2016-02-11 19:12] oparoz commented on #430
This only happens with short URLs, so included in https://github.com/owncloud/gallery/issues/515

[2016-02-11 19:12] #430 closed, assigned to nobody

[2016-02-11 19:32] oparoz opened #516 "Remove IE8 support in the slideshow"
9.0 does not run on IE8, so we remove the code which was introduced specifically to support that version of Internet Explorer.

[2016-02-11 19:33] #516 closed, assigned to nobody

[2016-02-11 19:59] oparoz commented on #376
Not a problem any more on 9.0

[2016-02-11 19:59] #376 closed, assigned to nobody

[2016-02-11 23:58] oparoz commented on #357
@jancborchardt - Since that's gone, what do you think about this?

![double-controls](https://cloud.githubusercontent.com/assets/323220/12994814/7a6632fc-d123-11e5-8279-7136fe64a8e0.png)

_Note-to-self: grow #controls (or simply remove the height restriction), push #gallery down, force buttons down by adding enough margin to last crumb_

[2016-02-12 00:08] #474 closed, assigned to oparoz

[2016-02-12 00:08] #515 closed, assigned to oparoz

[2016-02-12 02:17] oparoz commented on #459
OK, it has zero effect. Looks going full screen is the way to go, if we can fix #454

[2016-02-12 06:46] LukasReschke commented on #515
Your welcome. Thanks for fixing @oparoz :rocket:

[2016-02-12 10:28] jancborchardt commented on #474
@oparoz how did you end up fixing this? :)

[2016-02-12 10:52] oparoz commented on #474
It's not what you think it is... I just sort of reverted the move to the centre. So the 2 extra icons are back to the top right and the next steps will be taken in #351

[2016-02-12 11:38] oparoz opened #518 "Remove the footer when the user is logged in"
The footer makes sense in the public template, promoting ownCloud, but I don't think there is any value in keeping it when the user is logged in.

@jancborchardt @karlitschek

[2016-02-12 16:13] karlitschek commented on #518
hmm. what do you think @jancborchardt

[2016-02-12 16:25] jancborchardt commented on #518
It’s a good point, but there’s also value in keeping it as close to what the person you send it to will see.

[2016-02-12 17:10] oparoz commented on #518
I don't understand. If you share a link, then the footer is displayed as you land on the public page. If you share with another user, then that user is already familiar with the system and doesn't see that footer when browsing using the Files app per example. Same with mail I imagine.

[2016-02-12 23:30] oparoz commented on #405
There is now a solution with https://github.com/owncloud/gallery/pull/519.

I wanted to visually indicate that some folders cannot be drop targets, but I don't think having a bix X across a folder is going to work, especially for the breadcrumb. The next solution would be a pop-up which would appear when the item hovers, but I'm worried that it might be unreadable.
Thoughts?

[2016-02-13 16:05] oparoz opened #521 "Only activate uploading if we can write to the current folder"
Users will get an error message if they try to upload files where they're not allowed to, but it could be better to just block/disable the feature. The reason I'm not sure is that they would have no way of knowing if it's not available because of a permission problem or because of a bug.

_Note: The upload functionalitiy is only available from 9.1, after merging ~~#520~~ #574_
## <bountysource-plu

[2016-02-13 22:06] oparoz commented on #25
Upload button has been added.

[2016-02-13 22:44] oparoz commented on #43
There is now a PR to show thumbnails before the row is completed: #511

[2016-02-14 19:00] oparoz opened #522 "Fix infobox so that it can load descriptions again"
The infobox can't parse external files any more.

The investigation revealed that it was due to a change in the content purifier.

[2016-02-14 20:20] #445 closed, assigned to oparoz

[2016-02-14 21:34] oparoz opened #523 "Restore proper header when not on the public page"
Probably a side-effect of the the content re-org to improve scrolling performance.

[2016-02-14 22:00] oparoz commented on #523
This is a bigger problem than anticipated. The standard header is much more complex and contains lots of private API calls, so there are 2 choices:
1. Duplicate some of lib/private/templatelayout.php, but it also contains some private APIs...
2. Keep the app embedded in dummy divs

[2016-02-14 22:43] oparoz commented on #518
It's in fact a regression introduced when changing the layout. The footer was copied over from the public template...

[2016-02-14 23:50] #522 closed, assigned to oparoz

[2016-02-14 23:50] #523 closed, assigned to oparoz

[2016-02-14 23:52] oparoz commented on #500
Re-opening this to give a chance to people to voice their opinion if something doesn't seem right on Android 5+

[2016-02-14 23:53] oparoz commented on #518
Fixed via #524

[2016-02-14 23:53] #518 closed, assigned to nobody

[2016-02-15 10:16] jancborchardt commented on #518
Ah, ok, now I understand. :D Yeah, of course for normal users the footer does not make sense.

[2016-02-15 14:02] jancborchardt commented on #357
@oparoz it’s not gone though – check out the 3-dot menu in Files, on every file.

[2016-02-15 14:02] jancborchardt commented on #357
That could be put on the right in the controls bar. It would be much better and retain focus on the pictures, rather than growing the interface to make room for controls which are less important than content on an already small screen.

[2016-02-15 14:14] oparoz commented on #357
The 3-dots menu is for actions, it's not a dialogue like the share dialogue was.
An action menu can't be used, because we have some entries which open their own dialogue (share) and others (sorting) which need to be other buttons.

What's missing from the screenshot above if the [...] button, which would be top right and reveal the 2nd row.

Also, with the upload button, there will need to be a 3r

[2016-02-17 00:16] oparoz opened #525 "Add exif description to the slideshow"
@0xb0ba has opened [a PR](https://github.com/owncloud/gallery/issues/453) which adds the EXIF description to an image shown in the slideshow, if it exists. There are still quite a few opened questions regarding the design.

Should the description :
- Be centred?
- Be spread over 3 lines?
- Include a scroller or rollover? Rollover would fill the screen with that description since we have to keep it

[2016-02-18 15:39] MorrisJobke opened #526 "Pinch to zoom in slideshow"
Allow pinch to zoom on mobile devices in slideshow. Currently this is not possible.

To handle the quality of the image we could maybe download the original image once the pinch to zoom is started and replace it once it's finished to make the UX superb.

I just got many complains, that you need to download an image first to zoom in.

cc @owncloud/designers

[2016-02-18 15:42] oparoz commented on #526
Duplicate of https://github.com/owncloud/gallery/issues/263

It currently only works on iOS. Can be fixed by either patching Bigshot or changing slideshow engine.

[2016-02-18 15:42] #526 closed, assigned to nobody

[2016-02-18 19:21] oparoz commented on #263
I've had a look at the Bigshot code and for it to work, someone would have to write new code converting the pinch distance into a scale factor. Not too difficult, but I'm not sure it's worth it given the fact that the Bigshot project has silently died.

[2016-02-18 19:36] oparoz commented on #158
It seems the Bigshot project has died and since we're not really using its advanced features, I think we should seriously consider switching to Photoswipe.
The alternative is to use something like Hammer.js to implement zooming and to keep using the current slideshow code.

[2016-02-18 23:37] #231 closed, assigned to nobody

[2016-02-18 23:37] #272 closed, assigned to nobody

[2016-02-18 23:37] #277 closed, assigned to nobody

[2016-02-18 23:37] #292 closed, assigned to nobody

[2016-02-18 23:38] #358 closed, assigned to nobody

[2016-02-18 23:38] #429 closed, assigned to oparoz

[2016-02-21 01:02] oparoz commented on #262
Xdebug now supports PHP 7, so closing this since the remaining issue is with coverage which crashes PHP.

[2016-02-21 01:02] #262 closed, assigned to oparoz

[2016-02-21 01:06] oparoz opened #527 "Use PHP7 for coverage"
## Feature request
### Description

We should use PHP 7 to generate coverage reports
### Benefit / value

- PHP7 is much faster than its predecessors, so it takes less time to generate reports

[2016-02-21 01:18] oparoz opened #528 "Restore slideshow notification to the centre on mobile"
## Bug report
### Steps to reproduce
1. Place a broken image in Files
2. Tap on the image placed before it on the list. This launches the slideshow
3. Tap on the right arrow
### Expected behaviour

There should be a yellow notification in the centre
### Actual behaviour

The notification is on the right

[2016-02-21 15:05] #528 closed, assigned to nobody

[2016-02-21 15:22] oparoz opened #529 "Change status code in unit tests"
## Bug report

[This change](https://github.com/owncloud/core/pull/22497) in the AppFramwork's response code in `core` breaks our tests

[2016-02-21 15:54] #529 closed, assigned to oparoz

[2016-02-22 17:36] carlaschroder commented on #244
Closing, as this doesn't seem to be a doc issue. If you want my help you know where to find me :)

[2016-02-22 17:36] #244 closed, assigned to nobody

[2016-02-23 09:40] PVince81 commented on #508
@rullzer would it be enough to only fix the call that creates new shares to make sure they are "new-style" shares ? Or do all the calls need to be fixed ?

[2016-02-23 10:21] rullzer commented on #508
Creating, getting and modifying need to be fixed...

[2016-02-23 15:49] ghost commented on #51
@oparoz @jancborchardt totally unclear to me who's working / planning to work on the remaining bugs

[2016-02-23 15:50] #395 closed, assigned to oparoz

[2016-02-23 15:58] oparoz commented on #51
ownCloud designers need to fix the icons in core and replace the 2 in Gallery which use fontawesome with custom ownCloud ones.

I've copied the TODO to the OP

[2016-02-24 16:14] ghost commented on #51
Not sure who "ownCloud designers" actually is. Sorry if I am being dense about that

[2016-02-24 16:18] oparoz commented on #51
@jancborchardt or a member of @owncloud/designers who can fix the remaining problems.

[2016-02-24 22:06] oparoz commented on #527
PR is https://github.com/owncloud/gallery/pull/473

[2016-02-24 22:29] cdamken commented on #504
@oparoz Do you need some info? how can I help?

[2016-02-25 00:59] jancborchardt commented on #51
@oparoz can you be more specific? I assume:
- the download icon needs a version with shadow
- what’s the issue with that extra shadow on the play icon you posted above? Seems like a JS or CSS issue rather than an icon issue, with loading the pause icon partially?
- what is the brightness icon?

[2016-02-25 11:17] Bugsbane commented on #101
What design help is needed on this? The addition of the tags framework in ownCloud 9 seems like the perfect time to revisit this.

[2016-02-25 12:28] oparoz opened #531 "Filter content using meta data properties"
## Feature request

**User type**: All

**User level**: Intermediate
### Description

Let users filter the content of Gallery using meta data properties such as date, tag, colour, size, etc.

This probably requires the use of a navigation sidebar on the left to be able to tap on collected properties or to type a criteria

Advanced users could simply use the search field
### Benefit / value

Being

[2016-02-25 12:51] oparoz opened #532 "Filter by tag"
## Feature request

**User type**: All

**User level**: Intermediate
### Description

Let users filter the content of Gallery using tags
### Benefit / value

Being able to quickly reach specific pictures before performing another action
### Plan
- [ ] Implement left sidebar, like in Files https://github.com/owncloud/gallery/issues/401
- [ ] Retrieve tags
- [ ] Implement the GUI allowing users to f

[2016-02-25 13:08] oparoz commented on #401
We can't use the navigation panel described in the documentation as-is since there is a design problem which hinders performance on iOS.

I've updated the OP.

[2016-02-25 13:09] oparoz commented on #101
@Bugsbane - I've added a list of issues to the OP. Those are the ones needing designers.

Filtering via tags is in https://github.com/owncloud/gallery/issues/532. The main problem affecting all filters though is the lack of a navigation sidebar https://github.com/owncloud/gallery/issues/401

[2016-02-25 13:19] oparoz commented on #51
Correct

It could very well be since I don't see the artifact when looking at the images on their own

This one: https://github.com/owncloud/gallery/blob/master/img/toggle.png

I picked the most relevant one from font awesome, but it's too fat now that the other ones have been thinned down and it needs a shadow

[2016-02-25 14:05] jancborchardt commented on #51
@oparoz I will take care of the download and brightness toggle icons to give them shadow. Can you fix the JS/CSS issue with the pause icon?

[2016-02-25 14:08] oparoz commented on #51
OK, I will try :)

[2016-02-25 16:31] jancborchardt commented on #51
@oparoz see the pull requests I opened for the icons. :)

About the pause icon shadow glitch: This is definitely a JS issue. When you initially view a picture, it looks ok. As soon as you play and then directly pause, the shadow appears. That seems like the pause icon is not correctly hidden by JS.

[2016-02-25 17:00] oparoz commented on #51
Looking at it in debug mode, it seems to be some CSS issue. The whole element is supposed to be hidden, but the image isn't.

Could be a z-index problem

[2016-02-25 17:22] oparoz commented on #51
Found the problem

[2016-02-25 18:03] oparoz commented on #51
Fixes are in #533 and #534

[2016-02-25 18:08] oparoz opened #535 "Panning stops working when reaching the large touch zones in the slideshow"
## Bug report
### Steps to reproduce
1. Open the slideshow
2. Zoom in all the way
3. Try to pan left or right by dragging from the centre to the edge
### Expected behaviour

The image should pan during the whole dragging action
### Actual behaviour

Panning stops as soon as the touch zone (25% of the width on each side) is reached

[2016-02-25 18:09] oparoz commented on #535
@0xb0ba - Any idea on how to solve this? The dragging action should turn off the touch zone.

[2016-02-25 21:57] oparoz commented on #504
Thanks for the information. I understand the setup better.

So, `/Ext-Sally` points to `smb://10.1.10.103/carlos` and is mounted via `files_external` which has previews enabled.

OK. That was a leftover from the template when you've given all the details above.
And I got confused by the screenshot when comparing with the documentation (which uses FTP) :)

To me, this indicates that there must be a

[2016-02-25 22:11] oparoz opened #536 "Ignore broken folders instead of cancelling the whole request"
## Feature request
### Description

When the current folder is parsed in order to build the structure which will be used to display thumbnails, we use a global try/catch. This allows us to show a "No pictures found" message instead of the spinning wheel, but doesn't really help users who are expecting to see their files.

We should ignore the folder, continue the parsing process and perhaps show a

[2016-02-25 23:56] Bugsbane commented on #101
So..... what exactly is it, that a designer could do to help with these listed issues? It's still very much unclear. I took a scan of all of the issues in the OP that had links to them, and I didn't see any request for designer help in any of them. So is the needed help... Wireframe mockups for potential UI's? Graphical elements for already decided UI's? New interface ideas? Something else entirel

[2016-02-26 00:52] oparoz commented on #101
In #525, we need designers to find a way to display a description which works in all cases (desktop/mobile, portrait/landscape).

In #221, we need to find a way to let the user know that exif data is available and that it can be used for date sorting. If we mix upload date and picture taken date, users will end up with images arranged in an unpredictable order.

For the navigation panel, I was thi

[2016-02-26 05:31] 0xb0ba commented on #535
@oparoz
change
`this.container.children('.previous, .next, .menu, .name').on('mousewheel DOMMouseScroll',function (evn){
 this.container.children('.bigshotContainer')[0].dispatchEvent(new WheelEvent(evn.originalEvent.type,evn.originalEvent));
}.bind(this));`
to
`this.container.children('.previous, .next, .menu, .name').on('mousewheel DOMMouseScroll mousemove',function (evn){
 this.container.childr

[2016-02-26 05:37] 0xb0ba commented on #525
yes

nothing

no. autohide in 3 sec

yes. all tags (all photo tags) from exif. but php exif lib is poor. exiftool?

[2016-02-26 08:34] rullzer commented on #508
@oparoz I could help you out with the gallery sharing (for the actual POST/GET/PUT calls).

The old endpoint used the internal fileid etc. While the OCS Share API uses the path. I'm not that at home in the gallery js code. But I assume that info is available.

Also the OCS Share API depends on the id of the share to modify/delete it. So we'll need to store that as well.

[2016-02-26 14:36] oparoz commented on #508
Thanks @rullzer . I'll take a look this weekend.

The path is available (Gallery.currentAlbum), so that shouldn't be too much of a problem

OK, I guess, it will go like this:
1. User clicks on button
2. Make request to share API to see if share exists
3. Populate URL and cache all returned info

[2016-02-26 15:17] rullzer commented on #508
@oparoz ok let me know if you need help.

The basic flow is the same... but the calls and response differe a bit.. be sure to add ?format=json to the calls so you get json back.

[2016-02-26 15:29] oparoz commented on #508
:+1:

[2016-02-26 17:59] oparoz commented on #535
Exactly what I was looking for, thanks!

PR is in #537

[2016-02-26 20:39] ghost commented on #51
@jancborchardt @MorrisJobke can you review the PR's? Last step before merging...

[2016-02-27 17:09] oparoz commented on #508
I've had a look and that class is a total mess and has to be cleaned up/rewritten:
- The mix of UI, especially Files specific elements and logic make it very difficult to decipher and alter the code
- Not all endpoints have been replaced by WebDAV endpoints. Trial and error will tell us which work and which don't any more

On top of that [the documentation](https://doc.owncloud.org/server/9.0/deve

[2016-02-27 18:26] rullzer commented on #508
Yep the documentation is far from complete. We are working on improving that.

There is no difference beside the HTTP status code. We still only have 1 version of the share API.

Yep needs to be improved as well.

Basically there are 3 fields:
- share_with: The receiving part
- uid_owner: The initiator of the share
- uid_file_owner: The owner of the files

If `uid_owner !== uid_file_woner` then it

[2016-02-27 18:28] rullzer commented on #508
Yeah that is why we moved away from it and to backbone in code

You mean the OCS Share API endpoint right?
There is also a `../sharee` endpoint to do search completion.

[2016-02-27 18:36] oparoz commented on #508
OK, so it's a documentation issue (which you've confirmed)

I've just discovered that the migration is only partial...

We still have to use the ajax endpoints to get users and email addresses

Thanks for confirming. That means rewriting all the code which relies on `reshare` being part of the return data.

[2016-02-27 19:08] rullzer commented on #508
@oparoz see: https://github.com/owncloud/documentation/issues/1626 for the sharee API

Also yes that changed. THis is because there are starting from 9.0 no reshares in the traditional sense. All shares are flat and reshares just have a different initiator. This so the owner always has the complete overview. See https://github.com/owncloud/core/issues/9058

[2016-02-27 20:16] oparoz commented on #508
Thanks. Since getting users works with the old endpoint, I'm not going to touch it and hopefully, by the time it's removed the templates in `core` will be fixed and offer the right sidebar with the sharing panel, otherwise I'll revisit this class.

[2016-02-28 09:34] Bugsbane commented on #525
Yes

Personally I would make a div with a minimum height of around 1em (ie a single line high) and a max height of a few percentage points of the screen height (I'd need to judge this visually on my desktop, and I'm on my phone now, but I can do a mock-up for precise numbers), center it horizontally and align it to the bottom of the screen with a margin of say .5 em.

I'd make the text color white

[2016-02-28 14:42] oparoz opened #538 "Sharing permissions can't be modified because checkboxes are not shown"
## Bug report
### Steps to reproduce
1. Open an album
2. Click on the share button
3. Share with a user
### Expected behaviour

In the area where the user which the folder is shared with is shown, there should be checkboxes next to _can share_,  _can edit_, _create_, _change_ and _delete_
### Actual behaviour

Checkboxes are not shown which means permissions cannot be modified.

This was introduce

[2016-02-28 15:05] oparoz commented on #525
Thanks for the feedback. It's interesting that both of you think the description should fade away with the rest. I can think of at least one use-case where I would want the description to show permanently: In slideshow mode in a real gallery if I wanted to add a caption to each image. So maybe there should be 2 modes, one with tooltip + fade and a permanent description one

I'd greatly appreciate

[2016-02-28 15:21] 0xb0ba commented on #525
serious doubts that the file name should be in full screen.

[2016-02-28 15:23] Bugsbane commented on #525
Yes, I agree on the max-width.

I question whether it's best to show both the description and the filename at
all time, especially in slideshow mode. Generally, if an actual description
has been given then it's more meaningful to the user in a slideshow mode
(which is more about casual viewing than hunting down technical details).
Personally I would suggest showing the description where one has be

[2016-02-28 15:25] Bugsbane commented on #525
I'm happy to run up a mockup though as soon as we have a general agreement on
what should be in it, or at least that people have polarised around a couple
of options.

Yes, I agree on the max-width.

[2016-02-28 15:49] oparoz commented on #525
Makes sense

[2016-02-28 17:18] astroleo opened #539 "OC 8.2.2: Last row of shared gallery not visible"
In a shared gallery the last row of the image miniatures is cut off and cannot be reached by scrolling down. I have looked at all issue and have not found one that describes this (but #240 might be related). However, since the bug is pretty obvious, I wouldn't be surprised if it has been reported. If so, apologies for duplication.
### Steps to reproduce
1. Copy images into a folder (using Mac OS X

[2016-02-28 17:35] oparoz commented on #539
Thank you for providing all this information. Unfortunately, this is a duplicate, please refer to https://github.com/owncloud/gallery/issues/490 for the solution

[2016-02-28 17:35] #539 closed, assigned to nobody

[2016-02-28 17:35] astroleo opened #540 "Feature request: Create thumbnails and screen sized images immediately after upload"
## Feature request

**User type**: any

**User level**: any
### Description

I run owncloud 8.2.2 on a Raspberry Pi which works just fine (and thank you all for this!), but isn't terribly fast. When I share a link to a gallery it takes quite some time to browse through the gallery for the first visitor. opening the gallery, clicking on an image, then clicking the overlaid "next" arrow in the scree

[2016-02-28 17:40] astroleo commented on #539
Thank you for your fast feedback. Happy to see this is solved. Just to clarify: Will the patch mentioned in #490 go into the next OC release (8.2.3)?

[2016-02-28 17:42] oparoz commented on #539
Yep: https://github.com/owncloud/files_pdfviewer/pull/92

[2016-02-28 17:47] astroleo commented on #539
Merci bien! Looking forward to updating soon, then. :-)

[2016-02-28 17:49] oparoz commented on #540
I'm marking this as a duplicate of #18. I've moved your OP over.

[2016-02-28 17:49] #540 closed, assigned to nobody

[2016-02-28 17:58] oparoz commented on #18
@astroleo - I invite you to read owncloud/core#11685 where quite a few ideas are thrown around.

In short:
- At upload time is the best solution as the server would have the encryption key
- There may be a timing issue if it takes 5 minutes to generate a thumbnail. We can't make sync requests and we can't request the encryption key if files are encrypted
- https://github.com/owncloud/gallery/issue

[2016-02-28 20:49] oparoz commented on #508
@rullzer - Actually, you cannot retrieve files shared with you without using that parameter.

[2016-02-28 21:35] oparoz commented on #508
Hmmm... It's worse than I thought, we have to makes 2 requests in order to get all the shares. One for the shares owned by the user and one for the shares shared with the user. This defo needs to be documented and hopefully fixed in 9.1

[2016-02-28 23:25] oparoz commented on #538
I'll take care of it

[2016-02-28 23:28] Henni commented on #538
short hint:
The HTML has to look like `<input type="checkbox"><label>[...]</label>`.
Only if it is ordered this way the checkbox will be rendered.

[2016-02-28 23:35] oparoz commented on #538
Yeah, I've figured it out by comparing with Files, but thanks for confirming :). There is also a problem with the classes, each input has 2 declarations and the second one is ignored.
The fix will be released as part of the rewrite of the share class.

[2016-02-29 07:44] AbdealiLoKo commented on #484
HI, could someone assign this to me ?
I wanted to begin contributing at owncloud and saw this "Junior job" issue which I wanted to begin with.

[2016-02-29 07:59] AbdealiLoKo opened #542 "Screenshot in readme is broken"
## Bug report
1. Open https://github.com/owncloud/gallery and check the readme rendered by github
   OR
2. Open [link to screenshot](https://camo.githubusercontent.com/be0ace97cde3cb74f06c2eaf47dd5e88bfbe0247/68747470733a2f2f6f633864656d6f2e696e7465726661636c6f75642e636f6d2f696e6465782e7068702f732f7076657476345261496246684452622f646f776e6c6f6164) - it gives 503 backend read error.

[2016-02-29 12:35] ghost commented on #51
ping @jancborchardt @MorrisJobke @PVince81

[2016-02-29 14:25] jancborchardt commented on #51
Reviewed and merged both.

[2016-02-29 16:02] oparoz commented on #542
Thanks for noticing. I thought it was a temporary issue, but it seems Github can no longer retrieve images stores on ownCloud.

I'll create a screenshot folder and link from there.

[2016-02-29 16:07] oparoz commented on #484
Thanks for taking an interest :)
In order to be able to assign you to tasks, you need to become an ownCloud contributor by signing the agreement:
https://owncloud.org/contribute/agreement/

It's not necessary to become one for MIT contributions though.

[2016-02-29 16:54] oparoz commented on #508
Fix is in #541

[2016-02-29 17:02] #542 closed, assigned to oparoz

[2016-02-29 20:57] AbdealiLoKo commented on #484
Ah, I thought that was only for `core` - sure, will do it soon

[2016-02-29 23:14] oparoz commented on #484
Gallery is a bit different because it's shipped as part of the enterprise product.

[2016-02-29 23:34] #484 closed, assigned to nobody

[2016-02-29 23:35] #535 closed, assigned to nobody

[2016-03-01 01:09] oparoz commented on #29
Will be in 9.1. Feel free to open new issues if you feel this can be improved.

[2016-03-01 10:02] cdamken commented on #504
@oparoz Which info do you need? How can I help?

[2016-03-01 11:47] #508 closed, assigned to oparoz

[2016-03-01 12:12] rullzer commented on #538
Fixed with #541 as far as I can tell. Please reopen if not.

[2016-03-01 13:18] oparoz commented on #538
I'm re-opening it because this is for 8.2.x. Even though nobody seems to have noticed, it would be nice if it worked as expected.

[2016-03-01 13:48] oparoz opened #545 "Close the share dialogue when performing another action"
## Bug report
### Steps to reproduce
1. Open the share dialogue
2. Click on an album

or
1. Open the share dialogue
2. Click on the info button
### Expected behaviour

The share dialogue should close
### Actual behaviour

The share dialogue stay open

[2016-03-01 15:58] oparoz commented on #538
Fixed via #546

[2016-03-01 15:58] #538 closed, assigned to oparoz

[2016-03-01 16:03] oparoz commented on #504
@cdamken - I need you to try and fix your files permission problems via the files_external app and report back.

[2016-03-01 19:11] oparoz commented on #498
The permissions now work properly. Fix will be available in 8.2.3 and Gallery+ 15.0

[2016-03-01 19:24] oparoz opened #547 "Create .nomedia file from the album itself"
## Feature request

**User type**: All

**User level**: All
### Description

Add an entry to the [+] menu allowing users to quickly blacklist an album from Gallery. The menu entry will create the `.nomedia` file

_Note: The [+] menu is only available from 9.1, after merging ~~#520~~ #574_
### Benefit / value

It just avoids having to do a round trip via Files just for that.
### Risk / caveats

Non

[2016-03-01 19:39] oparoz opened #548 "Add Files sidebar to the slideshow"
## Feature request

**User type**: All

**User level**: All
### Description

Files presents all the information related to a file in a sidebar. ~~We should use the same GUI component to present the same information next to the large preview filling up the rest of the screen.~~ The component from Files can't be used and has to be rewritten, including the plugin support.
### Benefit / value

- Lets

[2016-03-01 19:41] oparoz commented on #176
Sidebar is a pre-requisite: https://github.com/owncloud/gallery/issues/548

[2016-03-01 21:48] oparoz commented on #548
We can't re-use the Files sidebar as it is, once again, too Files specific which means re-creating the whole component, including the plugin manager and all the plugins which have been written specifically for Files.
This is probably never going to happen.

[2016-03-01 22:00] oparoz commented on #176
#548 will probably never happen, so we can't get the whole commenting system "for free", but what we could do is maybe show comments read-only?
The main drawback is that the Gallery sidebar won't look and work the same as the one in Files, but this is expected since that has not been designed to be shared.

@jospoortvliet @jancborchardt

[2016-03-01 22:03] oparoz commented on #68
Once we have a sidebar, we should be able to use the `core` share dialogue
https://github.com/owncloud/core/blob/master/core/js/sharedialogview.js

and get rid of our old share.js

[2016-03-01 22:18] oparoz opened #549 "Create custom detailsview for the slideshow"
## Feature request

**User type**: All

**User level**: All
### Description

We can't re-use the sidebar designed for Files as it only works in Files, especially since plugins used in tabs target the Files app (#548), so we'll have to design our own.
We can probably re-use the tabs logic to be able to easily show additional information and in order to not interfere with the slideshow itself, the i

[2016-03-01 22:22] oparoz commented on #549
@bugsbane @jancborchardt @blizzz If you have ideas on what this should look like.

[2016-03-01 23:54] oparoz commented on #211
@thenamelessthing _Move_ is coming soon as drag and drop management will be in 9.1. For _delete_, we need to agree on the design. I was thinking of having a large delete area, bottom right.

[2016-03-02 00:06] thenamelessthing commented on #211
@oparoz , sound good to me!  I'm still waiting this! ;-) If we can "move", "rename", "delete" picture in thumbnails view it will be wonderfull!

[2016-03-02 00:15] oparoz commented on #211
Rename is not going to be easy... Maybe a pencil icon at the end of the label.

[2016-03-02 00:16] thenamelessthing commented on #211
I'ts better than nothing!

[2016-03-02 02:29] oparoz opened #550 "Create an app to manage the meta data stored in media files"
## GSoC 2016

ETA: August 2016
Student: Jalpreet Singh Nanda (@imjalpreet)
Project: https://github.com/interfasys/mediametadata
### Description

Media files can contain extra information embedded in the header. The goal is to extract that information at upload time and to store it in the database so that it can be used later for sorting or to give users more information about their files.

It will

[2016-03-02 02:31] oparoz commented on #101
Moved the meta data app to #550. This issue is now purely about tracking the programme.

[2016-03-02 02:41] oparoz opened #551 "Sort by "face" using meta data"
## Feature request

**User type**: All

**User level**: All
### Description

It's possible to store and retrieve information in image headers which can be used for face detection.
It would then be possible to create virtual albums to quickly find specific images.
### Benefit / value

@rhatguy
If a user has spent the significant amount of time it takes to tag all of their photos, being able to take

[2016-03-02 02:42] oparoz commented on #101
Created "Sort by "face" using meta data" #551

[2016-03-02 12:12] Siddharth11 commented on #173
Hi @oparoz!
How should we proceed with this task. I was thinking to make a new folder and transpiling (using grunt and babel) all files in js folder one by one.

[2016-03-02 13:10] oparoz commented on #173
I think you're on the right path. We would keep all source files in `/js` and have generated files in `/js/dist` perhaps?
The project has to be divided in several sub-projects, aiming to convert individual classes or group of classes, maing it easier to test for regressions.

Also, it would be a great opportunity to add testing (https://github.com/owncloud/gallery/issues/344) as we go along

[2016-03-02 17:24] Siddharth11 commented on #173
@oparoz that sounds great!
Also, are we planning to implement all ES6 features? Honestly, I'm not a big fan of ES6 classes, it's like we're trying to make javascript into something else just for the ease of developers coming from different community. I still prefer normal prototypal inheritance (for efficiency) + a bit of functional programming approach (for readability) as seen in [this tiny JS l

[2016-03-02 17:36] kavishdahekar commented on #158
If we proceed with Hammer.js for zooming capability, modifying BigShot to fix ~~#142~~ #263 and #141 will be much work(both of them are very desirable features).
I'm interested in taking this up (GSoC aspirant) so I'll take a deeper look at PhotoSwipe and also try to fix some junior labeled issues.

[2016-03-02 23:33] oparoz commented on #173
I don't think that's necessary. I simply would like for the code to be more robust, easier to understand and testable.

Regarding ES6 classes, I'd like to hear what @BernhardPosselt, @icewind1991 and maybe @PVince81 have to say about it.

When reading es6 code, I find import/export statements useful per example.

[2016-03-03 01:04] oparoz commented on #158
Thank you @kavishdahekar. Don't hesitate to ask questions if you don't understand how some things are currently done in the slideshow because the candidate will need to understand how to migrate features from one engine to the other or how to keep the current UI on top of the view generated by the engine per example.

[2016-03-03 02:08] madhug-nadig commented on #104
Hi, I found this project interesting.
SO, the idea to convert the images into an anaglyph and then upload them as any other images?

[2016-03-03 02:19] #466 closed, assigned to nobody

[2016-03-03 02:39] oparoz commented on #104
Actually, it's the opposite. Currently, 3D images (jps, mpo) are sent as-is and shown as a wide image, with the image for each eye shown side-by-side.
It should be possible to use the HTML5 canvas to split the image in 2 and colourise and merge them to create a 3D picture which can be viewed with anaglyph 3D glasses.
For performance reasons, especially on mobile, it may not be the best thing to do

[2016-03-03 08:26] manishbisht commented on #265
We can use fabric.js (http://fabricjs.com/) Javascript Library to make the Image Editor Web Application. And to give some good design and make it responsive we can use AngularJs and Bootstrap framework.

We can also add the share on social media links to share the edited pictures on social media. We can also implement the Google's Material Design. It is also very good for frontend design. :)

@jan

[2016-03-03 08:43] BernhardPosselt commented on #173
I'm unsure if this is a well defined GSOC task (mechanical turk work :D) and if its a benefit to do this right now. FYI Modules are not implemented in any browser yet and you also dont see them listed on kangax' es6 table which means that you will have to transpile no matter what.

The transpiling experience itself is quite horrible IMHO, there are too many choices (typescript, es6, coffeescript)

[2016-03-03 12:33] BernhardPosselt commented on #173
Another addition to ES6 modules: the current wrapper logic (in whatever module loader) is vastly different from the actual spec, so this has potential to break when you don't use the wrapper anymore.

[2016-03-03 14:36] madhug-nadig commented on #104
I found a tiny jQuery library which makes it extremely easy to convert a regular image into a 3D anaglyph. .[Basic implementation](https://github.com/madhug-nadig/3D-Anaglyph-).

Am I on the right track?

[2016-03-03 14:59] davitol opened #554 "Cannot download shared albums that were shared via link"
### Steps to reproduce
1. Go to Gallery and browse into an album
2. Share it via link
3. Copy the link a nd paste it
4. Try to download the album
### Expected behaviour

It should be possible to download the album.
### Actual behaviour

An error is shown. File not found... (see screenshot below)
### Server configuration

**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:

[2016-03-03 15:20] prastut commented on #104
Are we aiming for this?
http://3dmedia.com/gallery/displayimage.php?album=toprated&cat=0&pid=7531#top_display_media

[2016-03-03 15:48] davitol opened #555 "Sort by date button should work with albums too"
### Steps to reproduce
1. Go to Gallery with more than one album
2. Click on order by date button
### Expected behaviour

The albums should be sort by date
### Actual behaviour

Albums are not sort, only the images.
### Server configuration

**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

**ownCloud version: ownCloud Enterprise Edition

[2016-03-03 16:44] oparoz commented on #104
@madhug-nadig - I think that plugin turns any standard JPEG into a 3D anaglyph, but the idea is to only convert stereo JPEG images into 3D anaglyph. So the best thing to do would be to test with 3D jpegs.

@prastut - Yes. Currently Gallery shows 3D images side by side as it doesn't involve any processing, so that can stay as the normal mode, but then users should be able to see the anaglyph by pre

[2016-03-03 17:12] virajparimi commented on #545
I would like to work on this one. Could you guide me as to in which file changes are to be made.

[2016-03-03 19:11] oparoz commented on #545
Well, the first step is to determine what is wrong.

Basically, when [`_openAlbum`](https://github.com/owncloud/gallery/blob/master/js/galleryalbum.js#L156-L160) is called, all the dialogues, including the share dialogue should be closed and it's not the case.

So should this method be modified or is there another way?

[2016-03-03 19:30] virajparimi commented on #545
Should we use [hideDropDown](https://github.com/owncloud/gallery/blob/master/js/vendor/owncloud/share.js#L497) function when _openAlbum is called.

[2016-03-03 19:37] oparoz commented on #545
I think that's the method to call, yes.
There is another problem though, the share dialogue also stays open when clicking on the info button (enabled when there is a description. See https://github.com/owncloud/gallery/wiki/Gallery-configuration#album-presentation).

So maybe we should use this instead:
https://github.com/owncloud/gallery/blob/master/js/app.js#L41-L43

[2016-03-03 21:15] oparoz commented on #554
Confirmed. We have to remove the folder name from the path or get `core` to fix the download endpoint to use the path to generate the name of the archive.

[2016-03-03 21:34] oparoz commented on #554
https://github.com/owncloud/core/issues/22836, if accepted is probably going to be for 9.1, so the best thing to do is to just remove the top folder from the path or use another variable which gives us the correct path.

[2016-03-03 21:43] oparoz opened #556 "Do not allow empty urls to be submitted in "add to your owncloud""
Originally reported by @jancborchardt
### Steps to reproduce
1. Go to a public Gallery
2. Click on "Add to ownCloud"
3. Press "Enter" or the confirm button **without entering any url**
### Actual behaviour

![federated-sharing-no-url-put](https://cloud.githubusercontent.com/assets/925062/10111548/ef16a342-6428-11e5-8bbc-261a37ddabbf.png)
### Expected behaviour

When no URL is put in, nothing shoul

[2016-03-03 22:16] oparoz commented on #265
A small note, I have no experience with Angular, so I wouldn't be able to help you with that.
Using Bootstrap and Material Design will make the app feel less integrated which is a shame, but not a show-stopper from my side.

Make sure to [read about the Appframework](https://doc.owncloud.org/server/9.0/developer_manual/app/index.html) to understand how an app is structured

[2016-03-03 22:23] oparoz commented on #555
It's a known issue that we have to keep in mind if we ever redesign the photowall's caching mechanism.
We download a list of files and use the path to identify albums and thus don't have any information on the album themselves...

[2016-03-03 22:25] oparoz commented on #555
I'm also open to suggestions regarding letting users known... because it will look like a bug to them...

[2016-03-03 22:40] oparoz opened #557 "Download more information about sub-albums and their content"
## Feature request

**User type**: All

**User level**: All
### Description

With Pictures, the first step was to download information about the whole cloud to memory, which meant that if you had thousands of files, you would run into problems on some platforms.

In order to improve the performance of Gallery, the app now loads:
- Information about all images in the current album
- Information abo

[2016-03-03 22:40] oparoz commented on #555
Could be solved via https://github.com/owncloud/gallery/issues/557

[2016-03-03 23:30] oparoz commented on #173
Thank you for your valuable input @BernhardPosselt .

I created the issue last year as a long term goal to modernize and better organize the app. That's the reason I wanted to focus on classes and modules first and didn't mind having to transpile everything. Having said that, there will probably be an issue with debugging, because the end result in the browser will not match what we wrote. This ma

[2016-03-04 00:04] virajparimi commented on #545
I have figured out the solution and it is working fine. Shall i send a pull request.

[2016-03-04 00:06] oparoz commented on #545
Please do. That way we I and other can test the solution :).
_Note: Always create the PR against master._

[2016-03-04 12:09] prastut commented on #104
@oparoz I have a problem in uploading the 3D files. Since the 3D files are above 2MB, they can't be uploaded. I tried the following solutions
- Configured the .htaccess file
- Changed the default size of upload_max and post_max in /etc/php5/apache2/php.ini

Still no luck. From the admin view, it says you don't have permission to change the max file size.

[2016-03-04 14:49] oparoz commented on #104
@prastut  The 2MB limit seems to be very low. For all questions related to configuring ownCloud, I invite you to look for answers on [the forum](https://forum.owncloud.org/) since this has nothing to do with Gallery or this specific task. Make sure to post all information about your setup, config.php, etc.

[2016-03-04 18:15] ahmedkareem999 commented on #265
Working with App framework would be better, it has it's own style and mainly meant for developing apps. It is very fast and light weight. The front end can be designed more innovatively based on our requirement. It's UI is of a different kind and has different themes which are automatically applied based on the OS(i.e:android,BB10,IOS,WP8).

[2016-03-04 18:21] oparoz commented on #265
@ahmedkareem999 - You may be thinking about something different. The AppFramework delivered with ownCloud doesn't come with any UI or themes.
What you can do is to use a GUI framework to build the app, but as mentioned earlier, it will make the app look foreign compared to the official apps per example which mostly look the same.

[2016-03-04 18:43] ahmedkareem999 commented on #265
I mean it is having a native UI look and predefined themes. As you said, it
might completely look like a foreign app. Then what do we have to do sir?
Use bootstrap for the front end and normal JavaScript and PHP. We can build
it in that way too but I just thought about App Framework because it is a
bit new to me and I'm anxious to learn new things. Firstly we need to
divide the project into differ

[2016-03-04 19:11] oparoz commented on #265
@ahmedkareem999 - You have 2 options
1. Review the special GSoC Gallery Wiki page to familiarise yourself with the technologies the project uses. Review the design guidelines in the ownCloud developer's manual. Work with designers to make sure your app looks like an ownCloud app
2. Use bootstrap, detect the platform, use a different theme for each one and the app will look foreign

I prefer the fi

[2016-03-04 20:47] oparoz opened #559 "Add detailsview to the photowall"
## Feature request

**User type**: All

**User level**: All
### Description

We can't re-use the sidebar designed for Files as it only works in Files, especially since plugins used in tabs target the Files app (#548), so we'll have to design our own.
We can probably re-use the tabs logic to be able to easily show additional information, but we don't even need to use a sidebar.

I find this design

[2016-03-04 21:02] oparoz commented on #559
@bugsbane @jancborchardt @blizzz  @setnes @demattin - What do you think?

[2016-03-04 21:03] oparoz commented on #549
I've added a screenshot.
Also @setnes @demattin

[2016-03-04 21:06] jancborchardt commented on #549
Is there absolutely no way we can just use exactly the same? The sidebar should be a component, and especially since pictures are all files it should be the same.

cc @PVince81 @Deepdiver1975

[2016-03-04 21:14] oparoz commented on #549
No way in its current state. It's a component in Files and sidebar plugins target Files. It's the same problem with the upload class (https://github.com/owncloud/core/issues/19563) and the current position of `core` is to let apps rewrite everything. That would require an additional Gallery maintainer focusing exclusively on keeping everything in sync with changes in core.

[2016-03-04 21:17] deMattin commented on #559
I would prefer it, like it is in files sidebar.
1. same look in files and gallery view
2. picture previews remain scrollable to search next picture of interest
3. you can switch to another picture and the new infos are at the same place as the old ones before.

[2016-03-04 21:40] jancborchardt commented on #559
Yeah, I agree with @deMattin here. Even if we absolutely need to design our own detail view, we should model it as closely as possible to the one in Files. Otherwise people need to learn 2 different things for such elementary tasks, which is not acceptable.

[2016-03-04 21:46] oparoz commented on #559
And thinking about the mobile experience, users would end up with half a vertical sidebar which would offer a pretty bad ux.

I guess we'll have to fog out all the other pictures to make it clear which one is currently selected

[2016-03-04 21:58] deMattin commented on #559
I have no idea, how to get this on mobile except in portrait mode of smartphone with only a single picture on the top (should be possible to switch to next one) and the informations at the bottom on the other half of screen.
Even in this case you will need to scroll the informations.

[2016-03-04 22:19] oparoz commented on #559
We'll have to have a different layout based on orientation.

[2016-03-05 16:36] virajparimi commented on #556
I would like to work on this one. But I am not able to reproduce the error. Where do we enter the url, do we do it while sharing the file when share dialog opens?

[2016-03-05 17:22] prastut commented on #559
I propose the following:
- On Picture hover:
  - Picture details come on hover. The tags could come below the said picture as well as the share icon link.
- As far as the sharing part, I agree with @oparoz solution of creating a dropdown tooltip.

This will work well on mobile as well as normal displays, since the idea of creating a half vertical sidebar will give no use.

[2016-03-05 17:28] prastut commented on #547
How can I blacklist an album from the files menu? When I click the [+] menu all I got is the feature to upload and create a new folder.

OC version:  9.1.0 pre alpha (git)

[2016-03-05 17:34] kavishdahekar commented on #556
@viraj96 I think it is already fixed.

[2016-03-05 17:47] oparoz commented on #547
This has to happen from the Gallery side and can only be implemented once this is merged:
~~#520~~ #574.
That PR needs a fix to make it work with a last minute change in `core`. You're welcome to try and fix that, but that requires learning about how the uploading mechanism works in Files and what the equivalent variables might be in Gallery.

[2016-03-05 17:47] prastut commented on #556
@oparoz This seems to be fixed.

[2016-03-05 17:52] oparoz commented on #556
In order to understand the problem, you need to read this:
https://doc.owncloud.org/server/9.0/admin_manual/configuration_files/federated_cloud_sharing_configuration.html#creating-federation-shares-via-public-link-share

and then try to apply what's described in the OP **from the Gallery side**. You'll experience the same bug and will need to port the fix from `core` to Gallery.
In order to fix th

[2016-03-05 17:56] oparoz commented on #556
I've updated the original report to make it clearer, since on the `core` side, people are more experienced with these kind of issues and can usually read between the line. That's probably not the case for people new to the project.

[2016-03-05 18:03] oparoz commented on #559
I don't think it will work, because there is already a slight problem with labels on hover when you're scrolling. As labels are quite discreet, it doesn't matter much, but it would be bad if there were popups coming up when scrolling

The simple solution will be to show the star and the 3 dots menu as an overlay, probably top right, so that there is enough space for the filename at the bottom.

Th

[2016-03-05 18:05] oparoz commented on #559
What I was saying about the "half a vertical sidebar" is that with the drop down, the top of the screen in portrait mode would have a couple of images and the bottom something like half of the sharing dialogue and that's not very useful.

[2016-03-05 19:35] virajparimi commented on #483
According to my understanding only the modification time parameter is missing. So do we just just need to add that argument.

[2016-03-06 17:27] oparoz commented on #483
Almost correct, `etag` is also missing. I've updated the OP to make it clearer.

So just send `null` for these arguments.

Make sure you understand how to test this. It's important for the functionality to still work without throwing any errors.

[2016-03-06 17:52] virajparimi commented on #483
The function declaration has 6 parameters and the call has 5 already, so I thought only 1 parameter was missing. If 2 are missing then wont the declaration and the call still have different parameters.

[2016-03-06 17:59] oparoz commented on #483
Exactly, so the call needs to be modified to match the declaration

[2016-03-06 18:02] virajparimi commented on #483
I was saying that ONLY mTime is missing but you later told that even etag is missing. If I were to send null for these arguments then total parameters to call would become 7. Are we supposed to delete a parameter that is already being passed?

[2016-03-06 18:04] oparoz commented on #483
Yes, because the token currently sent is not being used. It's a leftover.

[2016-03-06 18:36] jancborchardt commented on #549
Would really be cool if we can find a way to have the core one reusable. Otherwise it will result in a really strange UX. @karlitschek @PVince81 @DeepDiver1975

[2016-03-06 18:43] oparoz commented on #549
Or complaints by users because of the lack of core features in apps. One cool alternative is being discussed in the grid view issue where apps would directly render their content in the Files app.

[2016-03-07 09:14] PVince81 commented on #549
I'm not sure whether it's a good idea to make that class public. But maybe there could be another mechanism to let apps inject a sidebar into their apps, for example a method `var detailsView = OC.Apps.enableDetailsView();`. Then they can register their own panels there.

However, note that the details view is a more complicated topic. It's not just a panel, we also need to figure out whether the

[2016-03-07 12:36] oparoz commented on #548
It may be possible one day to easily add the Files sidebar. See https://github.com/owncloud/core/issues/18170

[2016-03-07 12:40] oparoz commented on #549
The business case for using the Files sidebar was opened here: https://github.com/owncloud/gallery/issues/548
The idea is to be able to use any tabs available in Files, although we might remove some of the tabs, and to add our own.

The issue here was created to discuss about an alternative way of doing things where we would probably offer non-interactive views for things like comment and re-use t

[2016-03-07 18:12] oparoz commented on #554
Re-opening as only 9.1 has been merged so far.

[2016-03-07 18:42] virajparimi commented on #483
I am stuck on how to go about testing the fix. As of now I know that I need to make [`_getFourImages` ](https://github.com/owncloud/gallery/blob/master/js/galleryalbum.js#L210)function to fail so that the fail variable becomes true. Could you guide me further on how to go about it.

[2016-03-07 20:15] oparoz commented on #483
Sure :)
1. Create an empty folder
2. Put a corrupt JPG in it. Just delete a few hundred bytes and make sure you can't get a preview in ownCloud.
3. Load the folder above in Gallery

You should get a folder thumbnail instead of an image.

[2016-03-08 03:45] virajparimi commented on #483
Thanks. Just wanted to inform that the change does not affect the working at all. It still shows the folder thumbail which it used to show initially as well.

[2016-03-08 12:50] imjalpreet commented on #443
@oparoz I want to fix this issue. Can you please tell a little more about what needs to be done in this?
Secondly, can you also assign me some more tasks, so that I can get used to the code?
Thanks!

[2016-03-08 15:38] jancborchardt commented on #559
I would really advise that we don’t waste time on thinking about our own implementation here. It’s important that we standardize across apps, and that means we need to find a way (work together with core devs such as @PVince81) to get the sidebar standardized and usable across apps.

[2016-03-08 15:58] oparoz commented on #559
Sure, but the issue in core is in the backlog and requires changing a lot of core internals, so we're probably a year away (10.0) from a solution (idea->politics->architecture->resources->implementation).
The fact that we don't have a sidebar is blocking a lot of features, so maybe having something simple which allows presenting some information is better than nothing for 2016, but that will also

[2016-03-08 16:35] oparoz commented on #443
I've updated the OP with more details. That gives you a bit of investigating work to do to familiarise yourself with the GUI components.

Regarding tasks, do you want to stay with Javascript or do you want to start working on some PHP jobs? In general, any task with a label "Coder wanted" can be picked and I can clarify some of them or tell you if it's not the right time to look at it, etc.

[2016-03-08 16:49] imjalpreet commented on #443
@oparoz I will have a look at the updated description.
Secondly, I am fine with both PHP and JS Jobs. Can you suggest me some jobs that can be looked at now? Thanks!

[2016-03-08 18:39] oparoz commented on #549
While we wait we could have a very simple sidebar implementation:
1. User clicks on action button
2. Sidebar slides out containing only the information relevant to the pressed button i.e.  comments, sharing panel, meta data

If the user presses on a different button while the sidebar is open, the proper content can slide-out covering the previous one, which would be removed/hidden afterwards.

In

[2016-03-08 18:59] oparoz opened #565 "Add the checkbox in the share dialogue to allow uploading from the public side"
## Feature request

**User type**: All

**User level**: All
### Description

Users who want to let people they share a link with upload new files can't do it from the Gallery side
### Benefit / value

Feature parity with the share dialogue in Files
### Risk / caveats

The share dialogue will be rewritten this year, so not too much time should be spent on this as this would be a temporary solution.

[2016-03-08 19:11] oparoz commented on #498
Send via email is tracked in https://github.com/owncloud/gallery/issues/213
Allow uploading is tracked in https://github.com/owncloud/gallery/issues/565

[2016-03-08 19:17] oparoz commented on #443
Here is a selection: #4 https://github.com/owncloud/gallery/issues/193#issuecomment-133676344 #213 #565
There is also a PR which could be finished, but you'll have to ask the person currently assigned: https://github.com/owncloud/gallery/pull/512

If none of them float your boat, let me know and I'll try to find bigger tasks.

[2016-03-08 20:04] oparoz opened #566 "Buttons jump below the controls bar in portrait mode on small screens"
## Bug report
### Steps to reproduce
1. Use the app with a very narrow window. That's typically the portrait mode on a mobile device
### Expected behaviour

The GUI should adapt and it should still be possible to use all the features of the app
### Actual behaviour

The breadcrumb takes half the screen and there is no room for the buttons which jump on a 2nd, invisible row.
### Solution

![](https

[2016-03-08 20:05] oparoz commented on #357
Replaced by https://github.com/owncloud/gallery/issues/566

[2016-03-08 20:05] #357 closed, assigned to nobody

[2016-03-08 20:09] oparoz commented on #443
I've added another one: https://github.com/owncloud/gallery/issues/566

[2016-03-08 20:23] imjalpreet commented on #443
@oparoz Cool! I will have a look at all of them along with this one and get back to you. :+1:

[2016-03-08 20:25] oparoz commented on #443
OK and remember to sign the contributor agreement if you intend on delivering larger PRs. That way you can also manage labels and assign yourself to tasks.

[2016-03-08 20:28] imjalpreet commented on #443
@oparoz Yeah Sure. Where can I find the contributor agreement?

[2016-03-08 20:32] oparoz commented on #443
https://owncloud.org/contribute/agreement/

[2016-03-08 20:34] imjalpreet commented on #443
Yeah! Thanks! Got it! :+1:

[2016-03-08 23:21] oparoz commented on #557
Retrieving additional information about sub-albums could be a first step

[2016-03-08 23:32] oparoz commented on #211
A better idea would be to try and implement the little menu which is available on each row in the Files app. Unfortunately, I think it's once again Files specific, but if it's small, it could be imported.

See #39 for details

[2016-03-08 23:39] oparoz commented on #211
Since move has been developed and the rest is in #39, I'm closing this.

[2016-03-08 23:41] oparoz commented on #39
All that's missing is a universal 3-dots menu in `core` or some duplication of code.
Refresh after delete works (was developed for drag and drop move)

[2016-03-08 23:53] oparoz opened #567 "Find a way to refresh the cover of a single album"
## Feature request

**User type**: All

**User level**: All
### Description

It would be great if we could just refresh of cover a single album without having to refresh the whole wall. Updating one of the picture doesn't modify the overall structure, so it should be possible to do.

_Note: Requires #519_
### Benefit / value

An album with less than 4 images on its cover could be updated after a m

[2016-03-08 23:58] oparoz commented on #405
Added a FAQ

[2016-03-09 07:57] imjalpreet commented on #565
@oparoz I have started to work on this as well as #213. Will get back to you with some progress soon.

[2016-03-09 10:25] cdamken commented on #504
@oparoz Thanks I reported already

[2016-03-09 10:29] oparoz commented on #504
:+1:

[2016-03-09 14:17] gauravmittal1995 commented on #566
@oparoz Hi, I want to work on this. Can you please give me more detail on this?

[2016-03-09 15:06] oparoz commented on #566
Hi, it would be easier if you had specific questions. That way I can update the OP.

[2016-03-09 15:14] gauravmittal1995 commented on #566
@oparoz  Hi, i just wanted some clarifications. i.e Right now, the buttons are all in the same row (Sort, Share, FileView) ... what we want is that it should have a 3 dot button after the path which when clicked slides down a second row which will contain the sort, share and fileview button? Is this correct?

[2016-03-09 15:23] oparoz commented on #566
That's correct, yes.
When there isn't enough room in the controls bar, all buttons should be replaced by the 3-dots button. In reality, they will be placed on a hidden div which scrolls down when the 3-dots button is scrolled.

That's my vision of how things would work best, but I welcome suggestions if anybody thinks they can do better :)

[2016-03-09 15:49] tahaalibra commented on #556
i added patch using 08fd4b3.
by the way just wanted to know..can it also be done by adding  attribute 'required' to the 'input' tag.

[2016-03-09 16:29] virajparimi commented on #338
I would like to work on this one. Could we just reload the page when gif is downloaded? I know it's not a great idea so could you guide me further on it?

[2016-03-09 16:33] oparoz commented on #338
No, that's not a good thing to do to users

Unfortunately, I have no idea how to fix this as I haven't looked into it. Since it's specific to Firefox, try to look in the MozillaDN to see if there is a special JS method or some CSS we could use.
You can also search and ask on stackoverflow. It must not be the first time someone has encountered that issue.

[2016-03-09 17:31] virajparimi commented on #338
@oparoz  Could  we use something of this sort [-->](http://stackoverflow.com/questions/14295244/animated-gif-wont-work-properly-in-chrome/21944730).
The 2nd answer.

[2016-03-09 17:34] oparoz opened #569 "The empty page message is still too low"
## Bug report
### Steps to reproduce
1. Login with an account which contains no files
2. Resize your window to make it really short
3. Open Gallery
### Expected behaviour

It should look like on Files
![empty_files](https://cloud.githubusercontent.com/assets/323220/13644316/6f3305ec-e625-11e5-87fb-327e4df89b8f.png)
### Actual behaviour

The content is too low.
![empty_gallery](https://cloud.github

[2016-03-09 17:34] rogeredthat commented on #265
I would like to build the app. I prefer the first option, and am willing to build from scratch if necessary. Fabric.js is the right way to go for the editor, and the design can easily be themed according to ownCloud's gallery.

[2016-03-09 17:40] oparoz commented on #556
@tahaalibra - I don't know if you're familiar with Github, but on the right, you can see that the task was already assigned. I can only do it with registered ownCloud members, so it's also a good idea to also check the list of PRs before submitting a new one. That way there is no duplication of effort :)

[2016-03-09 17:46] #483 closed, assigned to nobody

[2016-03-09 17:46] tahaalibra commented on #556
@oparoz i see..somehow i missed to see if it was assigned...i will surely check carefully next time..
No harm Done..i ended learning more about the code...which was my original intention

[2016-03-09 17:47] oparoz commented on #554
Fix has been added to stable9

[2016-03-09 17:47] #554 closed, assigned to nobody

[2016-03-09 17:49] oparoz commented on #556
:+1:

[2016-03-09 18:00] oparoz commented on #265
I've updated the OP with a bit more info, gathered from recent convos.

[2016-03-09 18:02] oparoz commented on #338
Sounds interesting. I'll let you test :)

[2016-03-09 18:06] #425 closed, assigned to nobody

[2016-03-09 18:42] oparoz opened #570 "Add buttons to controls bar via handlebar instead of adding them to the template"
## Feature request

**User type**: All

**User level**: All
### Description

Most buttons are part of the template.
At load time, Gallery evaluates if there is something to show and if not, it hides most of the buttons.
It's not great to see the buttons disappear.

I would find it much better if those buttons could appear (with a nice effect) when the app has something to show

The alternative is

[2016-03-09 18:44] virajparimi commented on #569
@oparoz I have checked in 8.2.3. The problem is also there in it. Any further suggestions?

[2016-03-09 18:46] oparoz commented on #569
Thanks

[2016-03-09 18:48] oparoz commented on #569
That should be fixable via CSS. There was a lot of discussion around that before launching 8.2. I thought it had been fixed, but maybe the compromise was that there needed to be a minimum height. Hopefully we can do better.

[2016-03-09 18:51] tahaalibra commented on #569
yea..i checked and padding-bottom : 100px which is causing this...i am trying to correct this problem from css

[2016-03-09 19:02] oparoz opened #571 "Federated shares shared via public link are not considered external any more"
## Bug report
### Steps to reproduce
1. Add a federated share
2. Make sure gallery.cnf does not allow external shares
3. Go inside the folder
4. Open Gallery

At this stage, you should get an empty Gallery
1. Go back to Files
2. Share the folder via public link
3. Open the link in another browser
4. Switch to Gallery
### Expected behaviour

You should get the same empty Gallery you saw when logged

[2016-03-09 19:03] oparoz commented on #571
@rullzer @PVince81 Does a reshare of a federated share change status and is not considered external any more because it was shared by an internal user?

[2016-03-09 19:04] oparoz commented on #569
Good luck! :)

[2016-03-09 19:09] rullzer commented on #571
reshares of federated shares are indeed for the receiving user internal. This is indeed an issue in core.

[2016-03-09 19:11] oparoz commented on #571
Ah, thanks @rullzer! :)

[2016-03-09 21:47] oparoz opened #573 "Only show sort buttons if there is more than 1 image in the album"
## Feature request

**User type**: All

**User level**: All
### Description

It doesn't make sense to show sort buttons if there is only a single image in the album
### Benefit / value

- Make the app look cleverer
- Give a task to someone who wants to learn more about the inner-working of the app
### Risk / caveats

Some users get confused when the interface changes

[2016-03-10 00:20] oparoz opened #575 "Hidden files are revealed if there is a conflict when uploading"
**User type**: All

**User level**: All
### Description

- External files shared with a user are by default hidden from Gallery because it usually takes a while to get the thumbnails
- Gallery only shows images (no documents, pdf, etc.)

Which means that the user only has a partial view of the current folder.

If the user uploads the exact same files as some of the hidden ones, the conflict dialog

[2016-03-10 01:05] virajparimi commented on #573
I would like too work on this one. Will get back to you with progress.

[2016-03-10 07:33] davivel commented on #500
I'll have a look.

[2016-03-10 09:15] virajparimi commented on #573
@oparoz I have been able to solve the problem when there is only one image, but I have one doubt. Suppose that we have only one folder in the gallery then also should the sort buttons appear?

[2016-03-10 11:24] oparoz commented on #573
@viraj96 - It's the same problem. The buttons should not show when there is only one album

[2016-03-10 13:52] oparoz opened #578 "Remove duplication in configvalidator"
That's what we have

[code]

Seems to me like this can be simplified in one method

@mbtamuli @imjalpreet you were looking for something a bit different. This is pure PHP and will involve updating the unit tests.

[2016-03-10 13:57] imjalpreet commented on #578
@oparoz Yeah, I would like to take this up. I will get back to you if I have any doubts. Thanks!

[2016-03-10 13:59] oparoz commented on #578
Cool, just assign yourself. The fix should be pretty straightforward, but you may run into some issues when running Codeception to test. There is a guide on here, but I'm sure it can be improved.

[2016-03-10 14:15] oparoz commented on #443
I've also added some basic app ideas to the wiki

[2016-03-10 14:16] mbtamuli commented on #521
@oparoz How do I work on this? I mean the VCS part. Can you help me with that? I want to work on this one.

[2016-03-10 14:23] oparoz commented on #521
If I understand your request correctly, you should fork the branch used in #520 in order to have all the uploading mechanism in your repository. After you've committed your solution, create a PR against that same branch and only your commits will show. Depending on when #520 is merged, we'll then either cherry pick your work or create a new, rebased branch.
There might be better ways, but that's h

[2016-03-10 14:44] imjalpreet commented on #443
@oparoz I am having a look at those basic app ideas that you have added. I will start developing one of those to have grip on the AppFramework. Thanks!

[2016-03-10 14:46] tahaalibra commented on #547
i want to try this fix....i guess now that #574 replaces #520...and it in the test it works great..i can now get at this issue

[2016-03-10 14:47] oparoz opened #579 "Use the new shareManager to get a share based on a token"
`OCA\Gallery\Environment::setTokenBasedEnv` is based on `OCA\Files_Sharing\Controllers\ShareController::showShare` and that class has now been moved to Share 2.0, which makes it easier to retrieve information about a share without having to mess with the filesystem.

This commit was the first one in a series
https://github.com/owncloud/core/commit/0ebc92c44ab6332e74e88fb3a32e860139417677

It would

[2016-03-10 14:47] imjalpreet commented on #443
@oparoz Secondly, Where can I communicate with you regarding GSoC projects? Is IRC fine?

[2016-03-10 14:50] oparoz commented on #579
@mbtamuli @imjalpreet this is a bit more advanced but a good opportunity to get to know how the PHP side of sharing works in ownCloud.

[2016-03-10 14:52] rullzer commented on #579
If you have any questions or remarks regarding the shareManager feel free to ping me on IRC. I'm interested what the API consumers think. Or what could be done better :)

[2016-03-10 14:52] oparoz commented on #547
:+1:, but make sure you fork #574 as your base as it hasn't been merged yet.

[2016-03-10 14:52] oparoz commented on #579
Thanks @rullzer :)

[2016-03-10 14:53] oparoz commented on #521
And #574 superseded #520, so use that :)

[2016-03-10 15:01] oparoz commented on #443
I'm rarely on IRC, unless I'm working on something as it's too distracting and unreliable. Emails works best, unless code needs to be discussed live, in which case we can meet on IRC.

[2016-03-10 15:20] #556 closed, assigned to nobody

[2016-03-10 17:25] rahulgoyal030 commented on #578
@oparoz   hello , i  am gsoc aspirant . I want to work on it  for better understanding of the owncloud codebase .

[2016-03-10 17:38] pierreozoux opened #580 "Some files have not passed the integrity check."
On version 9, I just re-installed latest version of gallery.

Right after installation, I started to get:
`Some files have not passed the integrity check.`

Here is the RAW output:

[code]

I can send you the complete htaccess if you want.
(I use nginx, so I actually don't use htaccess)

[2016-03-10 20:28] oparoz commented on #578
Hi @rahulgoyal030. You have to make sure a task hasn't been assigned to somebody else before working on it and if someone has not had the time to work on it for a while, it's best to ask before doing the work. This task was picked up 6 hours ago, that's not that much time ;)

Since the change was trivial. I'm going to keep your PR, but keep that in mind for next time.

[2016-03-10 20:35] rahulgoyal030 commented on #578
@oparoz  , sorry man . i  am new here and  and i was't aware about this. It is  my first PR  in OSS so i get  little excited .  next i will always keep this in mind .

[2016-03-10 20:37] oparoz commented on #578
Cool :)

[2016-03-10 20:41] oparoz commented on #580
Actually, I don't think it's related to Gallery at all as the app doesn't touch `.htaccess`.
Could be a cron job which has altered the file. See if someone has reported a similar issue in `core`

[2016-03-10 20:41] #580 closed, assigned to nobody

[2016-03-10 21:27] gjedeer opened #583 ""Download" button broken"
## Bug report
### Steps to reproduce
1. Upgrade to ownCloud 9.0 and Gallery 14.5.0
2. Share some album using "Share Link"
3. Open the link in Private Browsing mode
4. Click "Download"
### Expected behaviour

A zip file downloads, like it used to in 14.4
### Actual behaviour

File not found

The specified document has not been found on the server.

You can click here to return to ownCloud.
### Serv

[2016-03-10 22:46] oparoz commented on #583
Thanks for the report. It's already been fixed and will be part of 9.0.1
See #554

[2016-03-10 22:46] #583 closed, assigned to nobody

[2016-03-10 22:47] oparoz commented on #583
Btw, the fix is really small, so you can patch it yourself for the time being: https://github.com/interfasys/galleryplus/commit/9ea9b63367eec0e6a353cc4efd7575a62f6b6230

[2016-03-10 23:09] gjedeer commented on #583
Thanks!

On March 10, 2016 11:47:41 PM CET, Olivier Paroz notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-03-11 06:48] virajparimi commented on #338
@oparoz  How is the image's source in bigshotcontainer class created and where is it created. Could you help me out there as I am stuck.

[2016-03-11 09:23] oparoz commented on #338
This should help:
https://github.com/owncloud/gallery/blob/master/js/slideshow.js#L101-L129

[2016-03-11 10:25] imjalpreet commented on #565
@oparoz Can you please give a little pointer on how can I proceed with this? I have been trying to fix this but I haven't been successful till now. A small pointer from your side would be really helpful. Thanks!
Sorry, I haven't been able to contribute much from yesterday due to my university commitments.

[2016-03-11 12:17] oparoz commented on #565
Let's see if that helps :)
- https://github.com/owncloud/gallery/blob/master/js/vendor/owncloud/share.js#L172-L189
- https://github.com/owncloud/core/blob/master/apps/files/templates/list.php#L43
- https://github.com/owncloud/core/blob/c5a200c4198de951dabdd3f783ade655b8ea6434/apps/files/list.php#L28

[2016-03-11 12:22] imjalpreet commented on #565
@oparoz I have already headed in this direction. I was also referring to these files only. I am trying to figure out how to do the same in gallery app. Thanks!

[2016-03-11 12:30] oparoz opened #584 "Create albums straight from Gallery"
With drag and drop, you start to feel the need for it as it would make it easer to organise images quickly
### Exploration

We could allow for empty albums which have been created during the session to show up in Gallery, but they would not be saved to the filesystem until something has been moved inside them.

---

@jancborchardt @setnes @demattin
## <bountysource-plugin>

Want to back this issue

[2016-03-11 12:35] oparoz commented on #565
- https://github.com/owncloud/gallery/blob/master/templates/part.content.php#L100
- https://github.com/owncloud/gallery/blob/master/controller/pagecontroller.php#L84

[2016-03-11 12:56] oparoz opened #585 "Show useful information about the current album"
## Feature request

**User type**: All

**User level**: intermediate
### Description

Sometimes you'd like to quickly have the answers to these questions
- Can I upload new images to the current album?
- Do I have free space in the current album?
- Am I inside a shared album?

Sharing information is available in the share dialogue, but not the rest.

Maybe we could add that at the top of the infoP

[2016-03-11 16:45] oparoz commented on #313
I've taken a look and I don't know how to fix it.
There is a secret handshake hidden in Files which prevents that behaviour, but it would be better if apps didn't need to do anything.

How to verify it's not a bug in Gallery:
1. install files_texteditor
2. click on a text file
3. click on the back button in the browser
4. click on an image
5. click on the back button in the browser

No reloading h

[2016-03-11 17:17] oparoz commented on #313
And if you upload a file, it breaks again.

[2016-03-11 18:18] oparoz commented on #565
Fix is in #587

[2016-03-11 18:41] #25 closed, assigned to oparoz

[2016-03-11 19:03] #405 closed, assigned to oparoz

[2016-03-11 19:06] oparoz commented on #547
This can now be worked on

[2016-03-11 19:07] oparoz commented on #521
This can now be worked on.

[2016-03-11 19:10] oparoz commented on #513
Closing as most PRs have been merged

[2016-03-11 19:10] #513 closed, assigned to nobody

[2016-03-11 19:39] oparoz opened #588 "Make it possible to translate PHP error messages"
We're sending some error messages back to the client and it would be great if that could be sent in a language the end-user understands.

If I'm not mistaken, that means injecting l10n to the classes which need translations.
Would be a very easy tasks if that's correct.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31802237-make-it-

[2016-03-12 01:24] mbtamuli commented on #521
I would like to work on this, if nobody else is already working on this.

[2016-03-12 10:03] oparoz commented on #521
OK, but I'm working on sending permissions to the client differently. It will be trivial to rebase if you read permissions with GalleryConfig, but I just wanted to let you know.

[2016-03-12 10:49] mbtamuli commented on #521
Okay. Thanks for letting me know.

Also, are you not there on the irc channel?

[2016-03-12 11:18] oparoz commented on #566
@gauravmittal1995 Any update?

[2016-03-12 11:19] oparoz commented on #521
The best way to get me on IRC is to ping me via email :)

[2016-03-12 13:14] thejabok opened #591 "Switching between file list and gallery view not working in 9.0.0"
### Steps to reproduce
1. In Files app, navigate to folder containing images in Web GUI
2. After file list has loaded, click on "gallery" icon on top right
### Expected behaviour

GUI should switch to gallery view and display images in folder as thumbnails.
### Actual behaviour

When a certain number of images in the folder is exceeded (in my case ~10), the file app reloads the page and shows file

[2016-03-12 14:21] oparoz commented on #591
Hello @thejabok, I can't reproduce, so maybe there is something special about that folder.
- Special character in the name or the name of own of its parents?
- External storage folder?

[2016-03-12 20:08] thejabok commented on #591
Hi @oparoz, sorry for the late reply - There are no special characters in the file names or the folder/parent folders. Also, it happens on all folders that contain more than 10 - 15 images.

Something interesting happened earlier when I tried to pinpoint the problem, I created a folder "Test" and started copying photos from another folder over into the new folder, always four at a time. Then I wou

[2016-03-12 20:18] oparoz commented on #591
Thanks.
I did experience a switching bug once and thought it was broken (again), but then after a refresh it worked, so you may be on to something.

There is new logic in 9.0 which redirects the user if there is a problem loading some resources or something like that. Maybe it has to do with the preview generation done in the background.

What happens if you upload 20 images and wait a bit for all

[2016-03-12 20:27] shubhrajodiya commented on #265
I am interested in building the app for gallery i probably will be using fabric.js caman.js and darkroom.js and also would like to integrate some extra-ordinary features in the app like color popping face filtering which are trending.

[2016-03-12 20:33] thejabok commented on #591
That worked. I uploaded a random folder with photos from my hard drive through Web GUI into a new folder "Test" and waited for the upload to finish (70+ photos). Afterwards I switched to gallery view and lo and behold, it worked. Image files were pretty small though, I'm gonna try again with larger JPGs and report back.

[2016-03-12 20:54] thejabok commented on #591
It worked again (61 files at ~2 MB each). Also, I noticed that thumbnails were created during the upload process, and very fast. So I navigated back to an existing folder that I hadn't opened on the Web GUI since my upgrade to 9.0.0 and noticed that the thumbnails weren't loading, or loading terribly slow. I switched to gallery view -> failed. Page reloaded, now the thumbnails were loading faster,

[2016-03-12 22:33] oparoz commented on #591
Thanks for confirming.
I'll try to reproduce and see if that's fixable from our end.

[2016-03-12 22:35] oparoz commented on #591
Some leads:
- https://github.com/owncloud/gallery/blob/master/js/gallerybutton.js#L71 . Should probably not use `window.location.href` there

[2016-03-12 22:48] oparoz commented on #265
Thanks for your interest, make sure to read the special Gallery wiki page and to try and understand how everything work around here as early as possible.

[2016-03-13 06:43] thejabok commented on #591
Should I try taking that line of code out?

[2016-03-13 09:11] oparoz commented on #591
No, but you could try to replace it with `OC.redirect(GalleryButton.url);`

[2016-03-13 09:35] oparoz commented on #591
I can't reproduce, so maybe it has more to do with the storage location than the previewing system.

[2016-03-13 11:20] thejabok commented on #591
I replaced the code section, but it's still happening. My data directory is located outside my owncloud-installation, but it's on the same volume (/var/oc-data, oc is in /var/www/owncloud).

It's not a big deal though, if I'm the only one affected. I can live with navigating to my photo folders in the gallery app directly. :-) Just wanted to let you guys know in case it was a bug that needed fixin

[2016-03-13 11:34] oparoz commented on #591
I think it needs fixing and maybe on some low powered hardware it will be easier to reproduce. I get thumbnails to quickly.

Could you add some console.log entries in the various methods to see if some of them are called repeatedly when you upload files?

[2016-03-13 17:37] oparoz opened #592 "Multi-line descriptions typed directly in gallery.cnf are shown as one long line"
## Bug report
### Steps to reproduce
1. Open gallery.cnf
2. Add a multi-line description
3. Save the file
4. Upload it to the album
5. Click on the info button
### Expected behaviour

I should see a header, followed by a sentence underneath it
### Actual behaviour

The two sentences are glued together

[2016-03-13 17:52] oparoz commented on #592
The sentences are correctly sent to the client, so it's probably the purifier...

[2016-03-13 18:38] oparoz commented on #557
First step implemented in #593

[2016-03-13 18:43] oparoz commented on #573
There is a regression:
1. Add pictures to a folder
2. Create a sub-folder
3. Enter the sub-folder
4. Add a `.nomedia` file
5. Switch to Gallery
6. Press on the parent folder in the breadcrumb

[code]

@viraj96 - You need to make sure these have been defined before trying to use them.

[2016-03-13 19:59] sagar-shah94 commented on #265
i would like to work on this project because i made same kind of project when i was pursuing my bachelor degree.i added functionality like change in brightness,contrast,saturation,opacity i added blur effect also and i added one more facility that was to merge text with that image and allow user to download that image.if u want to see what i created as project i can show .

[2016-03-13 20:01] virajparimi commented on #573
Ok. Will look into it and fix it. By the way, how do I talk to you about gsoc - 2016 program, like where are you available?

[2016-03-13 20:01] sagar-shah94 commented on #235
i am interested to work on this project because i have worked on webservices so much whenever i read the idea i thought i could help develop this api so any other website can embed gallery into their website and use all functionality of gallery offered by our website

[2016-03-13 20:04] oparoz commented on #265
Interesting @sagarshah007, but since you've already done most of the work, maybe it would be best for you to work on another project, no? And if this project isn't selected for GSoC, then maybe you could implement your solution?

[2016-03-13 20:06] oparoz commented on #573
I've added my contact details to the Gallery wiki

[2016-03-13 20:09] oparoz commented on #235
Cool :). There is already an API, but one or two new routes should be defined.
The biggest problem to solve from my pov is how to make sure that it's easily embeddable in various CMS without having to modify security settings there.
Luckily, we have an expert at ownCloud which will be able to assist.

[2016-03-13 21:18] thejabok commented on #591
@oparoz, could you explain that? Not sure what you mean by console.log entries...

[2016-03-13 21:23] oparoz commented on #591
`console.log("method xyz was called")`
Those messages will be shown in the browser console if you set ownCloud in debug mode.

[2016-03-13 22:09] thejabok commented on #591
Is this what you were looking for? This is the browser console output of an image upload (21 images) through Web GUI with

[code]

set in console.php:

[code]

[2016-03-13 22:19] oparoz commented on #591
I see nothing unusual. Images are uploaded and a preview is generated right away. Nothing is throwing any errors.

If you've added console.log() entries to the methods, then those methods are never called.

I've noticed that you have ownCloud installed in a folder and users have reported issues with the .htaccess file which shortens URLs, so that could be the problem.

[2016-03-13 22:26] thejabok commented on #591
I'm afraid I still don't quite understand what you need me to do. I've set owncloud to debug mode by adding

[code]

to config.php, but where do I add

[code]

and what methods are you referring to? Sorry for all the dumb questions, but I'm not a programmer, so I'm a little lost here. Bear with me... :-)

[2016-03-13 22:38] oparoz commented on #591
No problem, it's good enough that you're willing to help investigate this issue :)

Place `console.log("onFileListUpdated", fileList.getCurrentDirectory())` here:
https://github.com/owncloud/gallery/blob/master/js/gallerybutton.js#L19

and `console.log("Clicked", GalleryButton.url)` instead of this:
https://github.com/owncloud/gallery/blob/master/js/gallerybutton.js#L71

That way the switch won't

[2016-03-13 22:54] thejabok commented on #591
Thanks for the guidance! Here's the browser console log of the upload:

[code]

and here's the log after I clicked the gallery button once the upload was finished:

[code]

Gallery button did work though and it switched to gallery app.

[2016-03-13 23:25] oparoz commented on #591
If you were able to switch, it means you didn't replace that line:
https://github.com/owncloud/gallery/blob/master/js/gallerybutton.js#L71

`window.location.href = GalleryButton.url;`

But since the switch worked, it means that you don't experience the problem any more, so it will be tough to reproduce.

[2016-03-14 09:46] thejabok commented on #591
No, I had added the code on line 19 and replaced line 71. Here's the complete code of my gallerybutton.js:

[code]

Also, gallery switch previously worked upon manual upload in anew folder through Web GUI as thumbnails had enough time to generate. The problem occurs in folders that already exist and contain more than a certain number of image files.

I'm happy to keep trying to pinpoint this if yo

[2016-03-14 10:03] oparoz commented on #591
I forgot to add the semi-colon at the end of the console.log statements I pasted. Maybe it's making the browser ignore your modifications. Also, you'll need to refresh the page after you've made the changes.

I wonder if it has something to do with the fact that the list auto-scrolls when there are more files to be shown than the available height in the browser window.

[2016-03-14 10:46] thejabok commented on #591
OK, the button doesn't work anymore now, but it's not spitting out any logs at all, as far as I can tell. When I click it, the "loading"-wheel appears over the button but nothing else happens. It stays like this until I reload the page or navigate away from it. Here is the browser log, starting with loading the page in the file list view:

[code]

[2016-03-14 10:49] oparoz commented on #591
That's really strange. That's what it looks like in my browser (Firefox)

`Clicked /owncloud/index.php/apps/gallery/#Photos%2Ffolder1`

[2016-03-14 10:57] thejabok commented on #591
I use Firefox 45.0, I have all logging tabs enabled (Net, CSS, JS, Security, Logging, Server). Here's the code again from my edited gallerybutton.js, maybe I noobed again... :-)

[code]

[2016-03-14 11:48] oparoz commented on #591
I should have noticed this earlier, debug mode is not on.
The way to do it has changed and I guess the old way doesn't work any more.

You need to make a new entry in the config array.

[2016-03-14 12:34] thejabok commented on #591
I turned debug mode on as described in the admin manual: https://doc.owncloud.org/server/9.0/admin_manual/issues/general_troubleshooting.html#bugs

However, after a while, the entry automatically disappears from config.php and I have no clue what causes this. I did load the page though and made sure after it was finished loading that the entry was still in config.php. So it should have worked, unl

[2016-03-14 12:34] thejabok commented on #591
Sorry, I keep accidentally hitting "comment and close."

[2016-03-14 12:36] oparoz commented on #591
Grrr... That documentation is wrong... Sorry about that

Add this to your config.php

`'debug' => true,`

If that works I'll create an issue in the documentation repository

[2016-03-14 12:40] thejabok commented on #591
That did the trick, thank you!

Here is the JS-log, let me know if you need others, as well:

[code]

[2016-03-14 12:46] oparoz commented on #591
OK :)

So, I can see you navigating from album to album and clicking on the button.

Now you need to repeat what you usually do to make the switch fail and we'll see if some thing new shows up in the logs.

[2016-03-14 12:54] thejabok commented on #591
That's what I did - I navigated into a folder containing a lot of images and clicked the gallery button. That's where it usually fails and reloads the file list view. If I changed the gallerybutton.js file back to original, this is what would probably happen.

[2016-03-14 13:05] thejabok commented on #591
Alternatively, when I create a new folder, upload images through Web-GUI and press the gallery button halfway through the upload, I get this:

[code]

[2016-03-14 13:19] oparoz commented on #591
You normally can't switch in the middle of an upload. Aren't you getting a warning from the browser?

[2016-03-14 13:22] thejabok commented on #591
Nope, nothing. But I get the same result when I wait until the upload is finished. I guess since the functionality of the button is compromised because of the console.log() entries, it only shows which URL would be called but doesn't actually call it, thus the browser warning never gets triggered?

[2016-03-14 13:27] oparoz commented on #591
Correct, but I meant when you experienced the issue. Because if you switch before the upload is finished, it could be an extra request is still being made and redirects your browser back to Files.

[2016-03-14 13:33] thejabok commented on #591
No, I think we're talking about different issues here. When I experienced the issue, I never actually pressed the button before the upload was finished. In fact, the issue never even occurred when I uploaded into an empty folder through the Web GUI. Only when I navigate into a folder already containing images and then press the gallery button, which is what I did during the first log I posted abov

[2016-03-14 13:40] thejabok commented on #591
If I wait in file list view until all thumbnails are loaded in a folder and then press the button, it swiches alright. Only while thumbnails are still loading the issue occurs.

[2016-03-14 13:45] oparoz commented on #591
It works a bit differently, previews are "lazy loaded", so each new image sends a request to the server for a preview.

What happens is that you switch before getting all the replies back and somehow those requests find a way to cancel the switch

[2016-03-14 13:48] thejabok commented on #591
I'm completely confused now - after I finished my last post, I went to yet another folder where thumbnails had never been loaded since the upgrade to 9.0.0 and tried the button and it switched, even though thumbnails were still loading. It seems this issue is completely unpredictable. The only difference I can imagine is that file size somehow also plays a role in this. Is there anything else that

[2016-03-14 13:52] oparoz commented on #591
:S That's frustrating... I should soon have access to similar hardware and will hopefully be able to witness the problem or maybe it has already been resolved in 9.0.1...

Let's keep this issue open and see if other users report the same problem.

[2016-03-14 13:54] thejabok commented on #591
Alright! Thanks a ton for your patience and all the work you guys put into this project. I really appreciate that.

[2016-03-14 13:55] oparoz commented on #591
:+1:

[2016-03-14 14:03] oparoz commented on #591
I've found one event which would cancel the redirection. It's when a yellow notification is shown. I got a message that some external storage I'm using wasn't ready and landed back in Files.

[2016-03-14 14:14] thejabok commented on #591
This happened to me, as well. However, the issue also occurs when I deactivate external storage support, so I don't think the two are related. I'm glad though that you could reproduce at least once. I was starting to doubt my own sanity...

I'm actually beginning to wonder if this might be a bug in core. I just had something similar happen when I tried to navigate from my admin page to the apps ad

[2016-03-14 14:16] oparoz commented on #591
Thanks for the extra information. It would be great if you could open an issue there and ping me :)

[2016-03-14 18:15] virajparimi commented on #573
@oparoz I am not getting such error but I am getting something like this.
![owncloud_1](https://cloud.githubusercontent.com/assets/14194935/13754798/53245a78-ea3e-11e5-82bc-3fea4b85ff67.png)
Are you referring to the same thing? Else could we just put something like `if(typeof album.image!==undefined)` then do stuff else don't use that.

[2016-03-14 18:30] oparoz commented on #573
I think you've missed a step, the error shows up when you click on the parent folder.
But yes, the fix would be the same and please use underscore to check if it's undefined.
Thanks!

[2016-03-14 18:49] virajparimi commented on #573
@oparoz Some doubts. Can `album.subAlbums` also be undefined ever? And suppose if it is, what would be our sum if both `album.images` and `album.subAlbums` both become undefined? Would it be 0.

[2016-03-14 19:12] imjalpreet commented on #585
@oparoz What all needs to be implemented in this? I was thinking of implementing this. Thanks!

[2016-03-14 19:26] oparoz commented on #573
I think so, you need to check the flow of the app. When does it make that test and when does it get a list of images.
It could be that there is a very similar problem when opening gallery for the first time and it's empty.

Just make your variable take the value 0 if it's undefined, that way you can still make the addition.

[2016-03-14 19:32] oparoz commented on #585
The first step is to decide where we want to show that information. I've made a suggestion in the OP, but you need to check with @jancborchardt and his team.
Files has some information at the bottom and on each row, but we can't use that.

What I would find useful:
- Lock icon to let users know they don't have write permission
- Share icon to let them know that the current album is shared
- Album

[2016-03-15 10:56] w-markus opened #596 "Adding further image formats ..."
## Feature request

**User type**: Logged-in

**User level**: Beginners
### Description

Hi all,

I just registered here, to find out how I could contribute. Though I am not sure whether the Gallery issue tracker is the right place. My interest or better what I envision is to use owncloud as a tool for the management of our lab data: we run several experiments on the same sample and finally want t

[2016-03-15 11:39] oparoz commented on #596
You need to write a new preview format converter. That way, the original file contains all your meta data which can be made available to external apps which download the file, while Gallery can show the converted result, which can be more than the image itself if your converter "prints" the meta data on a PNG per example.

Now, regarding that converter, you can try to write it yourself, but you'll

[2016-03-15 12:18] w-markus commented on #596
Yes, you got it. :-)
A converter, is it a converter for imagemagick or an extension of owncloud/gallery?

Concerning app writing. I managed to set up a development environment, though there was an issue with the path to the php5 session folder being not in user space, but that I will report elsewhere.
What would you recommend to start with in order to get some overview about what is needed for app

[2016-03-15 13:05] oparoz commented on #596
It's a converter for the Preview system of ~~Gallery~~ ownCloud. So if ImageMagick can convert your format to PNG, then you have very little work to do, apart from building the app ;).

This should give you all the information you need:
https://doc.owncloud.org/server/9.0/developer_manual/app/index.html

[2016-03-15 13:18] oparoz commented on #596
Oops, the Preview system of ~~Gallery~~ ownCloud

[2016-03-15 15:41] oparoz commented on #573
The bug is probably unrelated, so I will close this.

[2016-03-15 15:41] #573 closed, assigned to nobody

[2016-03-15 16:57] oparoz opened #598 "Introduce a pre-spinner"
## Feature request

**User type**: All

**User level**: All
### Description

Users usually get to see a spinner in the photowall soon after having launched Gallery, unless they've enabled the external storage feature.
The problem with external storage is that the view is left blank while the photowall waits for a list of files to start building the scaffolding.
This could be improved by showing a

[2016-03-15 19:20] oparoz commented on #578
Closed via https://github.com/owncloud/gallery/issues/578

[2016-03-15 19:20] #578 closed, assigned to nobody

[2016-03-15 21:10] oparoz commented on #545
@viraj96 - There is a regression.

That's not available in the Files app:
https://github.com/owncloud/gallery/blob/master/js/slideshow.js#L95-L96

So the call should be made in the method which calls `show()`

[2016-03-16 05:20] virajparimi commented on #545
So, can I add it here [-->](https://github.com/owncloud/gallery/blob/master/js/gallery.js#L252).

[2016-03-16 11:25] oparoz commented on #545
Yes, right at the end should work.

[2016-03-16 13:48] oparoz opened #599 "Also cache the current album's config"
## Feature request

**User type**: All

**User level**: All
### Description

The current album's config is not cached, but I don't see any reason not to. It avoids going through the filesystem to retrieve the exact same information
### Benefit / value

Saving some microseconds
### Risk / caveats

I don't see any yet
### Sponsorship

None
## <bountysource-plugin>

Want to back this issue? **[Post a

[2016-03-16 17:09] shubhrajodiya commented on #158
@oparoz i am unable to understand where to start up with this i am having a lot of ideas regarding the slideshow but unable to find a path to integrate it in ownCloud

[2016-03-16 18:12] oparoz opened #600 "Make it possible to use different slideshow engines in Gallery"
## Feature request

**User type**: All

**User level**: All
### Description

There is currently one slideshow engine in Gallery: Bigshot
We're only using a fraction of what this library is capable of doing (VR, tiling) while not offering more standard features, especially on mobile. On top of that it's huge and not maintained any more.

While investigating the use of alternatives, I thought that w

[2016-03-16 18:21] oparoz commented on #158
@shubhrajodiya  @kavishdahekar - I've created a new issue to describe what should be attempted during the GSoC.
https://github.com/owncloud/gallery/issues/600

It contains more details and useful links which should help you figure out how things are initialised.
If you have specific questions, don't hesitate to ask there or here if it's Photoswipe specific.

[2016-03-16 18:25] #565 closed, assigned to nobody

[2016-03-16 18:33] imjalpreet opened #601 "Slideshow/Image Preview not working in public share link."
## Bug report
### Steps to reproduce

As a logged in user,
1. Generate a public share link.
2. Go to that link.
3. Click on any image.
### Expected behaviour

BigShot container should show up, i.e., Image should show up in the BigShot container.
### Actual behaviour

Nothing happens and there is this error in the console:
`Uncaught TypeError: Cannot read property 'hideDropDown' of undefined`
### S

[2016-03-16 18:37] oparoz commented on #601
Thanks.

@viraj96 - You need to take care of this issue as well. There is no sharing on the public side, so you need to make sure `Gallery.Share` is not `undefined` before calling `hideDropDown`.

[2016-03-16 18:40] imjalpreet commented on #601
The error is over [here](https://github.com/owncloud/gallery/blob/master/js/slideshow.js#L95)

I think we just need to add a check: `if (Gallery.Share)` and if it is not undefined, then only do `Gallery.Share.hideDropDown()`.

[2016-03-16 18:41] imjalpreet commented on #601
Sorry, I didn't read your previous comment. :+1:

[2016-03-16 19:48] shubhrajodiya commented on #600
@oparoz
now i am getting the taste of the task can you please give me some resources through which i can manage to get owncloud on my windows platform or i have to change my OS

[2016-03-16 19:58] oparoz commented on #600
@shubhrajodiya Windows is fine. You can download a VM from there: https://www.techandme.se/pre-configured-owncloud-installaton/

A word of warning, that VM is not designed to be a dev VM, but it can be turned into one in a few steps.
Ping me if you get stuck and we'll try to document the process to make it easier for everybody to get on board.
You still need a basic understanding of how Linux work

[2016-03-16 20:05] shubhrajodiya commented on #600
@oparoz

Is it possible to any how implement owncloud using wamp or any other such software stack on windows because the problem is that i am using a 2GB ram laptop and running VM will be really hectic for me.

[2016-03-16 20:17] oparoz commented on #600
@shubhrajodiya - Unfortunately, it isn't... But try to see if you can pick up a Raspberry Pi2 or something similar. This slideshow project doesn't require a powerful server.

[2016-03-17 10:57] gkarugi commented on #235
The plan for embedding a gallery from ownCloud to other webpages is a great one.From my POV, the iframe idea will be much simpler  to implement because the web is heterogenous where websites are built using different languages.This also is not a very customizable way  for an end developer willing to integrate the feature to his/her webpage.
The other option is create the routes providing the endpo

[2016-03-17 11:21] oparoz commented on #235
Yes, using an iframe makes it very easy to quickly add a gallery without having to move files to the CMS, forum, etc., but we have to make the result flexible so that it can fit most use cases. Some people may not want the embedded slideshow per example.

There are already endpoints in Gallery for people who want to retrieve a list of images or previews:
https://github.com/owncloud/gallery/wiki/RE

[2016-03-17 15:18] jospoortvliet opened #605 "no way in public download view to go back to file view"
## Bug report
### Steps to reproduce
1. Share a folder link without images from the Files app with a public link
2. Visit the public link in an anonymous browser window
3. Switch to the Gallery app
4. Try to switch back - there is no button!

Note that the button IS there if you share a folder and there are images. It just doesn't show without.
### Expected behaviour

It should always show the hea

[2016-03-17 17:45] oparoz commented on #605
Thanks for the report!
This has already been fixed for 9.1 because I did notice it as well when testing the uploading feature.
https://github.com/owncloud/gallery/commit/0e89aab141d46458cb714ad5467754fdbb418924

[2016-03-17 17:45] #605 closed, assigned to nobody

[2016-03-17 18:10] oparoz commented on #596
Are you making progress? :)

[2016-03-18 08:28] w-markus commented on #596
Thanks for coming back to this issue. Well, I do not know yet. :-)

To start from, I have both a java class file and a python script, which is based on the respective java  class file (both not written by me).
I first looked around to find a possibility to use one of these more or less directly from PHP. So far, I did not find something which may help in this respect. This may well be related to t

[2016-03-18 09:09] w-markus commented on #596
well, I should add, that I am aware of executing python with a shell command. But how to do this in a secure way?

[2016-03-18 09:17] oparoz commented on #596
If you use `exec`, you can call the script directly, but as you've just mentioned, it's not the safest way to do things, especially if the server is shared or public.

You wouldn't need root, but a relaxed PHP installation letting you use `exec`

Maybe look at image.php instead, but most non-web image formats use bitmap.php which relies on ImageMagick.
I thought you would be able to use ImageMagic

[2016-03-18 09:31] w-markus commented on #596
This was probably as misunderstanding. I mentioned Imagick because I've seen that this is used in owncloud.

Why it's more secure to write an ImageMagick script to call some external code?

[2016-03-18 10:09] oparoz commented on #596
Actually ImageMagick has its own problems in terms of security, exactly because it executes scripts. If you don't properly validate the input, you may execute an attack against your server.
But there are ways around that by isolating it.

It's still safer than giving PHP a global `exec` permission.

[2016-03-18 11:51] #527 closed, assigned to oparoz

[2016-03-18 13:01] jospoortvliet commented on #605
Cool, thanks!

[2016-03-18 15:42] w-markus commented on #596
I think I am quite close now. So far, I exec the python script (Security will be added if the intended functionality is there) :-)

the php call is (in `core/lib/private/preview/dm3.php`):

[code]

In my python script `_dm3_lib.py` at the end I do:

[code]

where `dm3f.imagedata` is a numpy array of 32bit signed integers.
Back in php:

[code]

However, I can read the image dimensions etc., i.e. `$

[2016-03-18 22:22] oparoz opened #611 "Add oEmbed support for image links"
## Feature request

**User type**: External

**User level**: Advanced
### Description

http://oembed.com/

It requires 2 URLs:
- URL scheme: https://interfacloud.com/apps/gallery/api/files/download/*
- API endpoint: https://interfacloud.com/apps/gallery/api/oembed/
### Benefit / value

It's a standard when it comes to providing more information about an image via a simple link and is even used by

[2016-03-18 22:34] oparoz commented on #596
I suggest you look at preview.php's friend: image.php. You should be able to just "load" the content of $result_array[0] as it tries various ways to load what it's sent.

Or you could dump the image to /tmp in the Python class and load it from the PHP side.

Also, creating the DM3 class that way is not really recommended as it's an unsupported way to do it, but as long as you save the patch, it sh

[2016-03-19 06:54] gkarugi commented on #235
I think an embeddable widget can work perfectly for this project. The only thing the end user will need to do is put  a code snippet containing a special code  to their webpage and a gallery will be shown in return.

Your thoughts?

[2016-03-19 07:34] oparoz commented on #235
Yes, this could be one of the features of this project.

[2016-03-19 08:12] gkarugi commented on #235
What other features were you thinking of?

[2016-03-19 08:41] oparoz commented on #235
I didn't really think about all the details. There are plenty of examples of API from platforms which specialise in serving images and videos and we should at least provide a basic set which matches what they can offer.

It has to be easy to set up and flexible. Some people will want a photowall, others a slideshow, etc. It's all about empowering ownCloud users so that they can keep their data whe

[2016-03-19 23:05] #545 closed, assigned to nobody

[2016-03-20 08:19] oparoz opened #614 "Scrolling when the photowall is still rendering will break rows"
# Bug report
### Steps to reproduce
#### Setup
1. Create a test folder and a sub-folder from the files app
2. Fill the 1st folder with lots of images
3. Create a sub-folder
4. Add a few pictures to the folder, just enough to notice a difference if some images not belonging to this folder are added
5. Switch to Gallery
6. If you can't scroll down, add more images or resize your browser window
####

[2016-03-20 13:30] Viva10 commented on #600
Hi, I'm an engineering student of the University of Buea and I am interested in the project idea of the flexible slideshow egines. So I wish to how I can get the my environment setup and get to familiarize with the code.

[2016-03-20 13:33] oparoz commented on #600
@Viva10 - Everything you need should be in [this wiki article](https://github.com/owncloud/gallery/wiki/GSoC-2016) or the official documentation

[2016-03-20 15:58] oparoz commented on #614
Not sure if this is a regression, but it's annoying...

[2016-03-20 16:13] oparoz commented on #614
The image is added to the wrong row for some reason...

[2016-03-20 18:24] oparoz opened #615 "Some SVGs break rendering"
## Bug report
### Steps to reproduce
#### Test 1
1. Enable `native_svg`
2. Launch Firefox
3. Upload a SVG which probably doesn't report any dimensions. There is a famous one called android.svg)
#### Test 2
1. With the same setup as above click on the SVG which breaks the rows
### Expected behaviour

- The photowall should show, as usual
- The image should show as usual in the slideshow
### Actual

[2016-03-21 03:19] harshjv commented on #550
Hello, I would like to work on this issue for GSoC.

PHP already have support for IPTC and EXIF data through `iptcparse` and `exif_read_data` respectively. But has no built-in support for XMP data.

But as XMP data is present in XML format, basic parsing can be done by looking for `<x:xmpmeta` and `</x:xmpmeta>` in the image.

I also have an idea to handle the rest of the issue. I'll be submitting

[2016-03-21 09:04] oparoz commented on #550
Indeed and if that doesn't exist as a composer library yet, it could be written by the student.

[2016-03-21 09:15] harshjv commented on #550
@oparoz sure! I found this https://github.com/mermshaus/kaloa-xmp. It reads XMP metadata from the image.

[2016-03-21 09:35] harshjv commented on #569
Yes, this is because of `#gallery.hascontrols` in `css/styles.css` (https://github.com/owncloud/gallery/blob/master/css/styles.css#L85)

[2016-03-21 15:42] oparoz commented on #550
@harshjv - Cool :)

@imjalpreet @harshjv - I've updated the OP to try and give more information on how this could work.

[2016-03-21 19:03] harshjv commented on #550
@oparoz Thanks :smile:

I have created a sample app to store image's width and height when it is uploaded using Hooks and Node API. Source code: https://github.com/harshjv/owncloud-imagesize-app :zap:

[2016-03-21 19:19] oparoz commented on #550
Thanks! I'm going to report back in your app's repo directly

[2016-03-22 16:57] oparoz commented on #614
So what's happening is that a scroll event is sent in the middle of the rendering of the rows and that restarts the process, starting with the last sent image.
The 1st request never gets the image to complete the row and the 2nd one starts to render rows below where the first request ended.

The good news is that fixing this should finally fix the double renders which occasionally show up with ver

[2016-03-22 18:32] oparoz commented on #614
This also affects scrolling while rendering. If a user is in a hurry and scrolls while the rows are still loading, the rendering will be messed up.

[2016-03-23 09:44] w-markus commented on #596
I "solved" the issue by generating a temporary png file by the python script, which is eventually loaded on the php side. Unfortunately, there was no imagick delegate, that could handle the data I sent back via the array entry  `$result_array[0]`.

This is the code:

[code]

I used image.php as a template and overloaded the getThumbnail function.

In your last post you wrote that creating the DM3

[2016-03-23 10:08] oparoz commented on #596
Yep, I couldn't find one either. My suggestion was to write one as a wrapper for the python script which would print additional information on top of the thumbnail.

Are the thumbnails you're getting large enough for full screen previews?

Hacking `core` that way is not the proper way because your file gets erased at every upgrade, so you'll have to remember to patch your installation after every

[2016-03-23 10:23] w-markus commented on #596
I will look into that app business, to get an cleaner integration.

Larger view would be nice, such that the image could be shown in the gallery itself. The python script deos only the fullsized version. Resizing is left to the owncloud scripts.

Thanks a lot for your guiding. And yes, open source is really cool as it allows to solve tasks really fast.

[2016-03-23 11:09] oparoz commented on #596
Then it's all good, you'll get the thumbnails in Gallery and the fullscreen previews

You're welcome :)

[2016-03-23 11:09] #596 closed, assigned to nobody

[2016-03-23 15:03] rullzer opened #619 "galleryfileaction.js causes redirect loop if used in unauthenticaed route"
## Bug report
### Steps to reproduce
1. Have an app `files_foo` that has a public route.
2. Access that route
### Expected behaviour

All is fine
### Actual behaviour

Page gets reloaded over and over again.

This happens because of
1. https://github.com/owncloud/gallery/blob/master/appinfo/app.php#L65
2. which loads https://github.com/owncloud/gallery/blob/master/appinfo/app.php#L75
3. which in t

[2016-03-23 15:15] PVince81 commented on #619
Why is "galleryfileaction.js" even returning a 401 ? A 404 or 500 I would understand.
Is the code loading the file missing authentication info / cookies ?

[2016-03-23 15:19] rullzer commented on #619
@PVince81 it is requesting: `../apps/gallery/config?extramediatypes=1` which is an authenticated route...

[2016-03-23 16:00] kartik296 commented on #615
Regarding the image not being viewed in slideshow-
1- The bug is not in gallery app but the extension used ie. bigshot.js.
2- The bug can not be reproduced in chromium based browsers (I could only do it in firefox) as these browsers by default provide the dimensions to the svg image if not explicitly specified.(Also this fixes the unlimited row error).

[2016-03-23 16:16] oparoz commented on #619
It's probably easier to solve if there is a standard way to retrieve a token to fix this line:
https://github.com/owncloud/gallery/blob/master/js/galleryfileaction.js#L22

[2016-03-23 16:18] oparoz commented on #615
Thanks for the extra debugging @kartik69, that will help.

[2016-03-23 16:39] harshjv commented on #550
It seems that if metadata service is added to Gallery then due to the part of Gallery app, the service will be limited to the media provided by the Gallery app.

Instead, what about a separate application just for handling metadata and storing it to database and make the data available to other apps as a service? If this solution is considered then the app can be extended to collect metadata of me

[2016-03-23 16:46] kartik296 commented on #615
![screenshot from 2016-03-23 21 32 50](https://cloud.githubusercontent.com/assets/13837545/13991613/e34e56ba-f13e-11e5-8725-a734237c790c.png)
Also the image file reports this error in opera.

[2016-03-23 18:16] oparoz commented on #615
Thanks. Maybe DOMpurify is leaving too much out...

[2016-03-24 07:57] oparoz commented on #550
The 1st thing to resolve when working on this project will indeed be the location of the services. Apps should not depend on other apps, but by making the dependency optional and having a stable API, we could make it work by creating a metadata app which offers its services to any app needing to extract and/or write meta data to media files.
This will have to be discussed with the core team. I'm t

[2016-03-24 08:37] harshjv commented on #550
Yes, first the location of the service should be decided. If a separate app is developed, It will keep Gallery app away from being bloated. This way, an independent app can be made available for metadata as a service.

[2016-03-24 10:08] shubhrajodiya commented on #566
@oparoz
The probable solution to this issue may be
Current Style
#breadcrumbs {
    float: left;
}
#content-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding-top: 45px;
    box-sizing: border-box;
}
Changes Required
#breadcrumbs {
   width:100%; //this style rule
    float: left;
}
#content-wrapper {
    position: absolute;
    height: 100%;

[2016-03-24 11:27] PVince81 commented on #619
Would this regexp https://github.com/owncloud/gallery/blob/master/appinfo/app.php#L65 also match other apps like "files_xxx" ?

[2016-03-24 11:27] PVince81 commented on #619
This approach can be used now to only load scripts in the files app: https://github.com/owncloud/core/blob/v8.2.2/apps/files_sharing/appinfo/app.php#L57

[2016-03-24 11:30] oparoz commented on #619
I'll check, but this may very well be the case

It can't be used yet. See: https://github.com/owncloud/core/issues/22328

[2016-03-24 11:30] oparoz commented on #501
This will be implemented once https://github.com/owncloud/core/issues/22328 is done

[2016-03-24 11:44] oparoz commented on #619
@PVince81 - The regexp doesn't match `files_xxx`

[2016-03-24 11:45] oparoz commented on #619
But if that app has a public, short URL using `/s/`, then yes, the script will be loaded.

[2016-03-24 11:55] rullzer commented on #619
Yes it does...
or rather `../apps/files_xxx...`

[2016-03-24 12:25] oparoz commented on #619
Not according to this:
https://regex101.com/r/dP4iS2/1

[2016-03-24 13:32] rullzer commented on #619
@oparoz that link shows it matches here...

[2016-03-24 13:34] oparoz commented on #619
In my browser:

"No match groups were extracted."

[2016-03-24 13:36] oparoz commented on #619
From the PHP doc:

"$matches[1] will have the text that matched the first captured parenthesized subpattern"

Am I reading this wrong?

[2016-03-24 13:51] oparoz commented on #566
Thanks @shubhrajodiya. I did try a CSS solution (to create the screenshot above), but I had some issue with the alignment of buttons and it automatically wastes a full row for something users don't always use, so the best solution would be to put all the buttons in a drawer which can be hidden and replaced by a button under certain circumstances

[2016-03-24 14:38] oparoz opened #621 "New rows are not added when a very short window is resized vertically"
## Bug report
### Steps to reproduce
1. Make your browser window super short 1-2 rows max
2. Refresh (F5)
3. Now make the window tall. (Double-click on the top border on Windows)
### Expected behaviour

New rows should be loaded
### Actual behaviour

You'll see what's been loaded initially, maybe 4-5 rows and you won't get any new rows until you either leave the album, refresh the window or resize

[2016-03-24 15:54] rullzer commented on #619
@oparoz well see: https://3v4l.org/eVIbr

and

`preg_match() returns 1 if the pattern matches given subject, 0 if it does not, or FALSE if an error occurred.`

Anyway... lets solve with a whitelist not blacklist ;)

[2016-03-24 16:05] oparoz commented on #619
Thanks for that website, that will be handy :)

[2016-03-24 16:08] PVince81 commented on #619
Linking with PR here https://github.com/owncloud/gallery/pull/620

[2016-03-24 16:46] oparoz commented on #619
And your backport for stable9 #622

[2016-03-24 16:50] oparoz commented on #569
Fixed via #572

[2016-03-24 16:50] #569 closed, assigned to nobody

[2016-03-24 16:51] oparoz commented on #598
This is really annoying on external shares or slow devices.

[2016-03-24 17:08] oparoz opened #623 "Add visual feedback to the breadcrumb after a user clicks on one of its elements"
## Feature request

**User type**: All

**User level**: Beginners
### Description

1. Open an album located on slow storage
2. Go down a few folders
3. Deep refresh
4. Click on the breadcrumb

You may see nothing for a few seconds, even though the list of files is being collected on the server.

So, it would be good to have some visual feedback by adding a small spinner in the breadcrumb
### Benef

[2016-03-25 06:02] rahliak opened #624 "Many problems after upgrade to new gallery app"
## Bug report
### Steps to reproduce
1. Upgrade from OC 8.1 to OC 8.2
2. Open the Gallery app
3. Nothing happens. No images are displayed.
### Expected behaviour

The gallery app shows a gallery of my uploaded pictures.
### Actual behaviour

After starting the gallery app, nothing happens. The "waiting wheel" rotates and rotates, but nothing happens.
### Server configuration

**Operating system**:

[2016-03-25 14:44] oparoz commented on #624
Please enable debugging in your config.php and try to look at the browser (F12) and owncloud log again.

[2016-03-25 14:57] rahliak commented on #624
I found the solution for myself. It was the following Redirect-Rule in my apache-config:
RedirectMatch 404 /config(/|$)

After disabling this RedirectMatch, everything works fine.

[2016-03-25 14:57] #624 closed, assigned to nobody

[2016-03-25 15:02] oparoz commented on #624
Ah, good :)

[2016-03-25 23:13] oparoz commented on #601
Fixed via #613

[2016-03-25 23:13] #601 closed, assigned to nobody

[2016-03-26 10:50] #598 closed, assigned to oparoz

[2016-03-26 10:50] #623 closed, assigned to oparoz

[2016-03-26 11:14] oparoz commented on #615
Fix is in #627

[2016-03-26 13:45] oparoz commented on #592
Bogus... In original Markdown, you need to add an extra empty line in order to create a new paragraph.

[2016-03-26 13:45] #592 closed, assigned to nobody

[2016-03-26 14:23] oparoz commented on #619
There is a regression.
1. Open Gallery
2. Click on an album
3. Switch to Files (button top-right)

The slideshow won't work and the Gallery button is gone.

The new regexp doesn't work for URLs which look like this: `files?dir`, it always expects a `/` before the parameters.

[2016-03-26 14:30] oparoz commented on #619
~~Fix is in #628~~ Never mind that goes back to square one. I'm reverting #620 .

[2016-03-26 18:18] oparoz commented on #547
Implemented in #625

[2016-03-26 18:54] oparoz opened #630 "Can't cancel file upload operation"
## Bug report
### Steps to reproduce
1. Upload a file larger that 1.234MB
2. Immediately try to cancel the operation
### Expected behaviour

The uploading operation should be cancelled
### Actual behaviour

The file is uploaded.
It's worse if you upload lots of files and realise that it will take forever...
#### ownCloud log (data/owncloud.log)

Nothing
### Client configuration
#### Browser log

N

[2016-03-27 00:34] oparoz opened #631 "[+] button never shows up if Gallery is started from a blacklisted folder"
## Bug report
### Steps to reproduce
1. Got to the files app
2. Add some images
3. Create a sub-folder
4. Go inside the sub-folder
5. Add a `.nomedia` file to the folder
6. Switch to Gallery
7. Move up one folder
### Expected behaviour

Only the breadcrumbs and the switch button should be shown after the switch.
When going one folder up, all normal buttons should show up
### Actual behaviour

The

[2016-03-27 00:54] oparoz commented on #631
Fix is in #632

[2016-03-27 02:12] ghormoon commented on #580
I have this (with the same "current" hash) after upgrading 8.2.2 -> 9.0.0
Activated plugins: Activity, Collaborative tags, Comments, Default encryption module, Deleted files, External storage support, Federation, First run wizard, Gallery, Mail template editorX, Notifications, PDF Viewer, Provisioning API, Share files, Text editor, Update notifications, Video playerX, CalendarX, ContactsX, Documen

[2016-03-27 09:07] oparoz commented on #580
I  still think that it's either core or the modification of an admin setting which is responsible. The best thing to do is to report this in `core` if it hasn't been already.
It's debatable whether `.htaccess` should be included in the integrity check or not. If you move its content to a virtualhost per example, you'll fail the check.

[2016-03-27 12:21] oparoz commented on #630
Fix is in #633

[2016-03-27 12:30] oparoz opened #634 "Can't go back to a blacklisted album"
## Bug report
### Steps to reproduce
1. Create a blacklisted folder in Files
2. Switch to Gallery
3. Go one folder up
4. Press the back button in the browser
### Expected behaviour

You should be able to go back to the blacklisted album
### Actual behaviour

There is an error, probably due to caching
### Log

[code]
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https:

[2016-03-28 18:09] ghormoon commented on #580
I've just checked the differences, it's unlikely to be related to gallery

diff:

[code]

I'll check if I find this in core

edit: fixed formatting

[2016-03-28 20:20] oparoz commented on #580
I saw that the appstore was trying to make modifications to the .htaccess file

[2016-03-29 12:46] oparoz commented on #619
So, is there a reliable way to get a public share token via Javascript?

[2016-03-29 13:20] rullzer commented on #619
@oparoz not that I know of

[2016-03-29 13:26] oparoz commented on #619
OK, so it's a bit of a problem, because apparently, there can be non-public apps/templates hiding behind a public URL.

[2016-03-29 13:32] rullzer commented on #619
so there is the `<input type="hidden" name="sharingToken" value="RhPiMUeUcr6QP7r" id="sharingToken">`

Which you can of course fetch

[2016-03-29 13:40] oparoz commented on #619
Yep, that's exactly what I'm doing but files_drop doesn't seem to have that and neither does the 404 page when a share isn't available any more.

[2016-03-29 16:00] rullzer commented on #619
Ah mmm. well that might be a more long term fix. ( @PVince81 ).
For now lets try to list all the possible links that we need to handle so we can create one or multiple regexes to match against.

I'd say we should try to match.
- `/apps\/files$/`
- `/apps\/files_sharing$/`
- `%apps\/files[/?]%*
- `%apps\/files_sharing[/?]%*

Wich we can of course combine into:
- `/apps\/files(_sharing)?$/`
- `%apps

[2016-03-29 21:46] oparoz commented on #619
Works for me. The problem with public URLs can only be solved via owncloud/core#22328

[2016-03-30 15:54] snoopyf opened #637 "Images on ext. stor.: image rotation corrupt"
## Bug report

Hi everyone,

stumbled across this issue:
When images resides in external storage (SMB/CIFS for example) the image rotation based on EXIF information doesn't work anywhere... neither in the preview of the files app, nor in the gallery-apps thumbnails.
When the same images resides in the "normal" storage (oc - data dir) rotation works as expected everywhere...
### Steps to reproduce

[2016-03-30 16:06] oparoz commented on #637
Thanks for the report!

Because it also affects Files and because I heard it before, there must already be an issue about it in `core`. Could you see if you find it? I think it affects all storage locations which are not "local", so encrypted files are affected as well.

[2016-03-30 16:09] oparoz opened #638 "Disable spinner on current breadcrumb"
When on "home" or in an album with no parent represented by an ellipsis in the breadcrumbs, the click action should be disabled, with the nice side-effect that the spinner wouldn't show up.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32410819-disable-spinner-on-current-breadcrumb?utm_campaign=plugin&utm_content=tracker%2F9328526&u

[2016-03-31 08:27] snoopyf commented on #637
In core I found this issue:
https://github.com/owncloud/core/issues/21485

At a first glance it seems not exactly the same than I described... in this issue nothing about "non"-local storage can be read.. just the very last post mentions sth about. encryption (as u assumed). I will post a comment there too linking to this issue here...

[2016-03-31 10:16] oparoz opened #641 "Slow down acceptance tests so that ownCloud has time to login"
Login and app loading has gotten slower or Codeception has changed the way it launches its checks using the browser. In any case, this leads to false-positives in CI Travis, so add some sleep before checking the URL.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32438669-slow-down-acceptance-tests-so-that-owncloud-has-time-to-login?

[2016-03-31 11:09] oparoz commented on #637
Closing as this is a `core` issue

[2016-03-31 11:09] #637 closed, assigned to nobody

[2016-03-31 11:10] snoopyf commented on #637
In the mentioned thread in core here seems to be the solution:
https://github.com/owncloud/core/issues/21485#issuecomment-203863754

[2016-04-03 08:31] arjanvlek opened #642 "Saving individual images in original quality is not possible"
Hi,
For some reason, it is impossible to save an individual image file in full quality.
The Download button works, but downloads a .zip archive containing all pictures in the folder.

If you right click -> save image as on the gallery itself, it saves a very low-res picture, probably only the thumbnail file.
If you open an image and right click on it, you'll only get the option to download the pag

[2016-04-04 10:58] #630 closed, assigned to nobody

[2016-04-04 10:59] #631 closed, assigned to nobody

[2016-04-04 11:07] oparoz commented on #642
Hello @arjanvlek. Thanks for the report. It should be possible to download images from the slideshow when you're in Gallery, but there seems to be a bug because the download button doesn't show up in your interface. I'll try to reproduce.

[2016-04-04 12:41] oparoz commented on #642
I can't reproduce the problem.
When you're inspecting the elements, look in the `menu` div in the `slideshow` div.
There should be an button for downloads. If it's not there, then there must be something wrong with your setup.
If it's there, but you don't see it, it could be because of another app like the pdf or video viewers.

[2016-04-04 14:49] arjanvlek commented on #642
EDIT: I have opened the Gallery app on my server and see the download button now. The issue is that the picture I showed has such a bright sky rendering the button completely invisible. The button is located in the middle at the top. I installed a local copy of OwnCloud 9.x and I saw that the button has moved to the right corner. That is at least a lot better for 4:3 photos (which most are), but s

[2016-04-04 17:13] oparoz commented on #642
Yes, I realised that it wouldn't work located there and we have more to add.

Yes, create a new class in slideshow.css

It might be related to all the drama which recently took place between Debian maintainers and ownCloud developers.
You may not have new packages and should update from within ownCloud.
It's a much better solution from my pov.

[2016-04-04 17:13] #642 closed, assigned to nobody

[2016-04-04 17:21] arjanvlek commented on #642
Okay, I got it updated as I found out my owncloud.list (/etc/apt/sources.d) was stuck on 8.2. Changing it to stable immediately started the update. All is fine now, thanks for helping me!

[2016-04-08 08:10] jancborchardt commented on #566
@oparoz as also said in the preceding issue, I disagree with the wrapping solution for this. There should be a 3-dots-menu richt in the breadcrumbs bar instead.

Otherwise like now, there are three bars covering the top. That's about a third of the viewport which is always used up by UI instead of content. This is an absolute no-go, especially for an image gallery where you want your pictures fron

[2016-04-08 08:11] jancborchardt commented on #39
Nice, this would indeed be cool!

[2016-04-08 08:12] jancborchardt commented on #584
Yeah, sounds good. Or creating folders is just straight up the same.

[2016-04-08 08:13] jancborchardt commented on #313
@owncloud/javascript can you check this out? It's disrupting the UX.

[2016-04-08 08:23] skjnldsv commented on #566
I can't reproduce with the last update (9.0.1). The breadcrumbs doesn't show anything.
![screen](https://cloud.githubusercontent.com/assets/14975046/14378141/df8e1be6-fd73-11e5-8dd9-39d98de024c4.png)

[2016-04-08 11:31] oparoz commented on #566
@skjnldsv - It happens if you add more buttons. There is now an upload button and it's progress bar and an info button can show up sometimes. It's just getting too crowded, thus the need to only show the essential ones.

[2016-04-08 14:19] oparoz commented on #584
That can't be. They'll disappear right away because they're empty

[2016-04-08 22:53] shubhrajodiya commented on #566
@oparoz
I have implemented this please check it out

1.Full Screen
![1 full screen](https://cloud.githubusercontent.com/assets/10657930/14399463/98f98dd6-fe0a-11e5-94ae-827820976bbf.png)

2.Just before the change take place
![2 critical screen](https://cloud.githubusercontent.com/assets/10657930/14399466/990bad68-fe0a-11e5-81bc-72052c42b3db.png)

3.Just after the change take place
![3 button activ

[2016-04-08 23:15] oparoz commented on #566
Yes, that's how it should work.

#### TODO
- Use a 3 dots icon
- Make modifications to the width checks so that we can have a breadcrumb which fills the entire width
- Introduce a drawer for the hidden buttons
- Make the drawer adaptable, so that it can auto-resize over 2 rows when the screen is super tiny

[2016-04-08 23:16] oparoz commented on #566
Also, `core` uses snap.js in case you didn't know and want to re-use a lib.

[2016-04-09 21:01] shubhrajodiya commented on #566
@oparoz
is it good to use another js library
i am thinking to use classie js

[2016-04-09 21:19] shubhrajodiya commented on #638
@oparoz can you please upload some screenshots because its not much clear

[2016-04-10 00:06] oparoz commented on #638
It's easy to reproduce.
1. Open Gallery
2. Click on "home"

You'll see a spinner on top of the icon. It should happen because we're already on "home.

Clearer?

[2016-04-10 00:08] oparoz commented on #566
I don't think classie is required as we already have jQuery or am I missing something?

[2016-04-10 06:27] shubhrajodiya commented on #638
@oparoz
i think its working fine no spinner is shown when i click on home in gallery

[2016-04-10 12:02] jancborchardt commented on #566
Yep, nice job @shubhrajodiya! :)

The correct icon you can use can be loaded by giving the button a class `icon-more`. Also, can you show a screenshot of the menu being open?

[2016-04-11 13:11] #614 closed, assigned to oparoz

[2016-04-13 15:30] shubhrajodiya commented on #566
@jancborchardt @oparoz
Actually i am having a couple of doubts regarding the functioning of the ellipsis a whole div can be inserted upon the click event on the ellipsis or a pop may be generated which one is suggested can you please tell me

[2016-04-13 16:00] oparoz commented on #566
From my pov, the div should be pre-existing, but hidden underneath the controls and would be revealed via a slide out mechanism. We can't have a menu there because having 2-3 sorting buttons on one line of the menu doesn't look right.

#### Normal

All buttons are shown

#### Reduced
- 3-dots are shown
- Buttons are moved to the hidden div (This might break a few actions because of change in CSS p

[2016-04-14 08:05] shubhrajodiya commented on #566
@oparoz @jancborchardt
I have implemented the 3-dot(icon-more) and written the js also but have trouble in integrating it can you please guide me

[2016-04-14 08:50] oparoz commented on #566
Can you be more specific regarding the problem you're running into?

[2016-04-14 15:00] ghost commented on #53
https://github.com/owncloud/gallery/issues/53#issuecomment-171954472 if we don't then we'll have to just accept it for 9.0 and move on

[2016-04-14 15:03] oparoz commented on #53
OK, closing then.

[2016-04-14 15:03] #53 closed, assigned to nobody

[2016-04-14 15:28] ghost commented on #500
@davivel any update?

[2016-04-14 15:38] oparoz opened #644 "SVG previews are only shown if enabled in the config"
## Bug report
### Steps to reproduce
1. Enable the SVG preview provider (the one using imagick)
2. Turn off native_svg in your default Gallery config
3. Open Gallery in a folder containing SVGs
### Expected behaviour

You should see the previews of some SVG files. Some can't be parsed by the default SVG provider
### Actual behaviour

You don't get any SVG previews.

Something must be mixed up in t

[2016-04-14 15:51] oparoz opened #645 "Show a warning if the PHP memory limit is set too low"
One of the last remaining way to make Gallery crash is to try to open an album containing large JPEGs while having a PHP memory limit set lower than 256MB.

Despite my belief that PHP 7 had removed all these internal errors which made PHP stop in its tracks, that one still kills PHP and leaves Gallery hanging.

One way to solve the problem is to stop parallel processing thumbnails. I don't think i

[2016-04-15 07:04] davivel commented on #500
Sorry, @cmonteroluque , I forgot this one :$. I'll have look today.

[2016-04-15 12:43] davivel commented on #500
@oparoz , I'd need some more details about how did you compare peformance.

I tried this:
- Server 1: OC server master + gallery app v9.0 installed via git, folder with over 200 pictures from Nexus camera
- Server 2: OC server 8.2 + gallery app v8.2 installed via git, folder with same pictures from Nexus camera
- client: Nexus 5 with Android 6, Chrome 49.0.2623.105 ; I use two devices with same co

[2016-04-15 12:52] oparoz commented on #500
@davivel - You did everything right. The visual effects are due to changes to the way rows are loaded and are unrelated.

The fact that you don't see any difference means that this has been addressed by Chrome on Android on version 5+, which is a good thing. It still affects iOS though and the reason I had to introduce the fix.

Could you test with Firefox mobile?

[2016-04-15 13:13] davivel commented on #500
Of course. On Monday, my first task. :)

[2016-04-15 13:38] oparoz commented on #500
Thanks :)

[2016-04-15 13:46] shubhrajodiya commented on #566
@oparoz
I want to trigger the click event handler on the ellipsis and show the hidden div which contains all the buttons but my script is not running i dont know why it's happening ??

[2016-04-15 14:02] jancborchardt commented on #645
Maybe something for the Setup & security warnings in the admin page? Or the tips & tricks, if it’s not too breaking.

cc @LukasReschke @karlitschek

[2016-04-15 14:06] jancborchardt commented on #566
cc @owncloud/javascript for help on the 3-dot-menu.

[2016-04-15 14:08] oparoz commented on #566
@shubhrajodiya - May you're not targeting the right element? Do you get any error in the console? It's difficult to tell without being able to look at the code.

[2016-04-15 14:09] skjnldsv commented on #566
Is there an associated pr? Where can we see your code to help you @shubhrajodiya ? :)

[2016-04-15 14:12] karlitschek commented on #645
Hmm. so the memory limit is per process. So shouldn't affect parallel requests.
Are there really single jpegs that are so big that they trigger a memory limit problem on their own?
Wow.

[2016-04-15 14:33] LukasReschke commented on #645
That's actually not that unlikely to have. Checkout http://www.dotsamazing.com/en/labs/phpmemorylimit

For example to resize a 8.6 Megabyte image with 3'000x3'000 pixels you need already 50MB. 256MB are like 7k*7k :see_no_evil:
(or just a panorama photo, etc…)

[2016-04-15 14:34] oparoz commented on #645
@karlitschek - You're right regarding parallel processing, I was thinking about batch processing and I've fixed the OP.
Regarding the size of JPEGs, I've updated [the wiki page](https://github.com/owncloud/gallery/wiki/Defining-the-PHP-memory_limit) with examples.
With any pic above 10MP you're taking your chances with 128MB of memory

[2016-04-15 14:46] oparoz commented on #645
A workaround could be implemented in `core` to only process images we think we can process.
1. Get dimension and bit depth
2. Calculate memory requirements
3. Compare to `getMB(ini_get('memory_limit')) - 70

The problem is that this will be attempted every time a preview is requested since we can't blacklist a preview.

[2016-04-15 15:55] karlitschek commented on #645
Hmm. Tricky.
Not processing an image if there is not enough memory sounds like the best option from a pure user point of view. Maybe better then a warning on the admin page that user ignore.
@jancborchardt What do you think?

[2016-04-15 16:16] shubhrajodiya commented on #566
@skjnldsv
No as i am working on it there is no pr
I am able to make changes in css and manipulate the scenario in the gallery app but when i am trying to trigger an event handler on the ellipsis(3-dot button) using the script its not working. can you please guide me how to add new script which will work as expected because i tried creating a new js file in the js folder and also embedded the scrip

[2016-04-15 16:30] jancborchardt commented on #645
We should show something like »Preview can not be generated« if that’s the case. As feedback that the image exists, otherwise people might think their data is gone.