[2016-04-15 16:30] jancborchardt commented on #645
But a warning on the admin page to optimize this should definitely be there as well.

[2016-04-15 16:33] ghost commented on #500
thank you both!

[2016-04-15 16:59] skjnldsv commented on #566
We're going to need more information, what did you changed for now, only css?

[2016-04-16 17:40] oparoz commented on #645
We would rarely be able to show that message because the problem happens in files or photowall mode, where dozens of images are shown at once. The user would have no way of knowing of which images we're talking about, unless we start listing all the ones which failed, which could be the whole album/folder.

What will happen if we don't process large images is that the media type icon is going to b

[2016-04-17 13:18] oparoz commented on #619
This was included in 9.0.1

[2016-04-17 13:18] #619 closed, assigned to nobody

[2016-04-17 13:19] oparoz commented on #645
Added issues to core:
- Don't process images if PHP can't handle it https://github.com/owncloud/core/issues/24045
- Add warning to admin section https://github.com/owncloud/core/issues/24046

[2016-04-18 09:14] davivel commented on #500
Tested in Firefox 45.0.2 + Android 6.0.1 ; same as in your tests with Android 4, @oparoz , no visible change between both versions, visibly worse than Chrome. Probably you are right, no hardware acceleration available.

[2016-04-18 09:22] oparoz commented on #500
Thanks @davivel . I'm closing this as there are no side-effects with the changes, only benefits on some Webkit implementations.

[2016-04-18 09:22] #500 closed, assigned to nobody

[2016-04-18 10:52] davivel commented on #500
Happy to help :)

[2016-05-03 05:54] manishbisht commented on #230
Is anyone working on this issue ?

One more thing i want to suggest taking the same example given by @oparoz

Son -> 2015-> first_glasses
Daughter -> 2015-> graduation
Daughter -> 2015-> July-> g

Here Son, Daughter, 2015 and July are folders/directories and first_glasses, graduation and g are files. And we have marked first_glasses and g as favourites.

Flat view
first_glasses
g

Gallery favourit

[2016-05-03 16:54] jancborchardt commented on #230
@manishbisht as said, it should work like in files. A flat list, the same as in the Files app. If there are conflicts, then in parentheses behind them the parent folder can be shown (up to the folder where the conflict ends) – and only for those folders/files where there are conflicts.

[2016-05-03 22:31] oparoz commented on #230
@manishbisht - #401 is blocking this. Once that's solved I'll let you know if I need help with this. There are other items which work the same way and require #401, like #532

[2016-05-04 12:39] jancborchardt commented on #401
We should still use the same panel but try to fix the performance problem. Not adhering to the standards isn't cool either.

[2016-05-04 12:39] jancborchardt commented on #401
cc @owncloud/designers

[2016-05-04 22:32] oparoz commented on #591
Fixed via https://github.com/owncloud/core/pull/23487

[2016-05-04 22:32] #591 closed, assigned to nobody

[2016-05-05 16:00] oparoz commented on #401
Yes, ideally, `core` will design a new side-panel which works with the new template structure which should be implemented in 9.1. If that doesn't happen, we could have a temporary solution in Gallery, but I found that there was a lot of black magic around that side panel.

[2016-05-07 15:01] sourabhjagtap95 commented on #638
Yes I see a spinner on top of the home icon @oparoz
First of all, is there any need for displaying a spinner on the label because switching to another folder through breadcrumb makes the spinner barely visible.

[2016-05-07 16:38] oparoz commented on #638
Good :)

There is a need for some form of visual feedback because loading the new folder can take a few seconds on some platforms.
I chose to place a spinner in the breadcrumb (which is far from perfect), but it can be something else if you have some ideas?

[2016-05-09 12:02] youphyun commented on #230
And [#401](https://github.com/owncloud/gallery/issues/401) is waiting for [#22347](https://github.com/owncloud/core/issues/22347) and this one for ownCloud release 9.1. Looking roughly at the release history ownCloud 9.1 might be ready during the summer period.

[2016-05-12 14:15] imjalpreet opened #647 "[Slideshow/ImagePreview] The spinner(loading) never stops"
## Bug report
### Steps to reproduce
1. Open Gallery App
2. Click on an image
### Expected behaviour

The Spinner should hide after the image is loaded
### Actual behaviour

The spinner never stops, even after the image is loaded.
### Server configuration

**Operating system**: Ubuntu 14.04

**Web server:** Apache/2.4.7

**Database:** mysql Ver 14.14 Distrib 5.6.28, for debian-linux-gnu (x86_64)

[2016-05-12 14:36] oparoz commented on #647
Thanks. That's an interesting side-effect of the new spinner.
I did notice the problem before with tiny images, but classified it as minor since I wanted to update the sideshow engine anyway.
We'll have to fix this for 9.1 since there won't be a new engine in that release.

[2016-05-12 18:30] #647 closed, assigned to nobody

[2016-05-12 19:48] tempico opened #649 "Image removing straight from the slideshow or the gallery (delete button)."
## Feature request

**User type**: Logged-in user
### Description

Image removing straight from the slideshow or the gallery (delete button).
### Benefit / value

In case of 1000 party pics in one folder it will save time to remove unneeded stuff from gallery without switching to "files" view. In future "remove" functionality can be upgraded to "removing with multiple file selection" functionality

[2016-05-12 19:56] oparoz commented on #649
It's a bit more complicated than I initially thought because we need to refresh the photowall as well...

## Design
- Add bin icon

## Code

On delete:
- move to bin
- load next slide
- remove image from slideshow array
- remove image from photowall cache
- set a flag which tells the photowall to refresh when slideshow ends

[2016-05-12 20:13] tempico commented on #649
Maybe it is possible to take "files" functionality and just use bigger preview pictures? "Files" have selection/removing/sharing/moving/"file_wall_update_on_file_remove" functionality already.

[2016-05-12 20:31] oparoz commented on #649
Unfortunately, it's not that simple, the photowall is built differently and has a different use case. I think at some point I'll add a select mode to the photowall allowing for easy selection for move and delete, but the first step will be to have a big bin onto which thumbnails can be dropped.
There is also a request to add the 3-dots menu on each thumbnail which should help.

[2016-05-12 21:43] tempico commented on #649
and maybe "download as zip/tar" too? I saw good implementation of this function in AirDroid gallery.

[2016-05-14 06:14] jancborchardt opened #650 "Sorting icons messed up"
This is what I see in 9.0.2:
![capture du 2016-05-14 08-12-47](https://cloud.githubusercontent.com/assets/925062/15266614/b96bf83a-19ab-11e6-9d1a-8f186b81d3ac.png)

cc @oparoz @owncloud/designers any idea here? Compression maybe … seems like they are layered over a second time, but upside down.

[2016-05-14 06:14] jancborchardt commented on #650
Aaah I guess cause of the CSS/JS effect of the sorting icon switching up/down when changing? Not sure though. Only the arrow should change directions.

[2016-05-14 09:15] sksbir opened #651 "thumbnail+gallery not working on fresh install"
Hi.
Has I'm sure the only one to have this problem, I think it's a configuration problem.  apache and PHP are installed on defaults path too (coming with fedora23 distribution ) but not configured nor enabled.
My first aim is to get more info about the problem. httpd.conf in debug mode didn't gave me any clue.
### Steps to reproduce
1. Fresh manual installation of owncloud 8.2.4, has described her

[2016-05-14 10:10] oparoz commented on #651
Sounds like a problem with missing libraries. Check the result of `phpinfo()` under GD. It should list JPEG as a supported format.

[2016-05-14 10:33] oparoz commented on #650
I can't reproduce. Does it happen a 100% of the time?
It's probably due to a JS error which stops the execution of the script, so check the browser log.

[2016-05-14 11:19] skjnldsv commented on #650
Can't reproduce either! What browser? i supposed you tried an ignore cache reload?

[2016-05-14 14:35] sksbir commented on #651
@oparoz : You point it out !  Problem is now solved for thumbnails :
- added '--with-jpeg-dir=/usr/lib64' \ to my config.nice from php installation folder
- compiled php again ( with mandatory "make clean")
- restarted apache

Usefull link : http://stackoverflow.com/questions/7167860/compiling-php-with-gd-and-libjpeg-support

A little suggestion : has png thumbnail works without libjpeg (tested be

[2016-05-14 19:49] sksbir commented on #651
Everything is working well now. Slideshow was just blocked by uBlock Origin on my browser.
The first thumbnail error let me though there was also a server error here.
Thanks again for your reply.

[2016-05-14 19:49] #651 closed, assigned to nobody

[2016-05-14 21:09] oparoz commented on #651
Ah, good news :)

[2016-05-16 08:54] manishbisht commented on #649
I would like to work on this issue.
So when the delete function is called the following things will be done :
-Image will be moved to bin (to move image in the same bin which is used in the files)
-Load next slide
-Remove image from slideshow array
-Remove image from photowall cache

About the another addition "download as zip/tar"
When the multiple images are selected in the gallery a button show

[2016-05-16 09:56] oparoz commented on #649
You can go ahead @manishbisht . Just focus on the delete button since multi-select is not available yet.

[2016-05-16 15:51] tempico commented on #649
@manishbisht good, thank you!
What about single picture download button (like in gallery+)? Is it possible to implement this functionality too?

[2016-05-16 15:57] oparoz commented on #649
That's already implemented.

[2016-05-16 16:07] tempico commented on #649
@oparoz ,
Yes, you are right. I was confused a bit with "files slideshow" and "gallery slideshow". Sorry.

[2016-05-16 16:24] manishbisht commented on #649
@oparoz I have just started working on this issue. About deleting the image I have found 2 ways.
1. Call the do_delete() function present in the file app to delete the image. But i am unable to call this function through gallery.
2. Next one is to get the node of the image using the get() function and passing the image path as its arguments. And at the end we can just call the node.delete() to del

[2016-05-16 17:13] oparoz commented on #649
@manishbisht - You shouldn't call any method in the Files app if possible. Simply use the dav endpoint. You should already have everything you need to identify the image in the slideshow. If not, add it to the array for each slide.

[2016-05-17 12:44] oparoz commented on #649
@tempico - If you agree with my proposal in https://github.com/owncloud/gallery/issues/649#issuecomment-218867622 and still intend on sponsoring the issue, please add a bounty via bountysource:

https://www.bountysource.com/issues/34174605-image-removing-straight-from-the-slideshow-or-the-gallery-delete-button

[2016-05-17 15:54] manishbisht commented on #649
@oparoz  I am about to complete this issue.
- Image will be moved to bin (to move image in the same bin which is used in the files) [Completed]
- Load next slide [Completed]
- Remove image from slideshow array [Completed]
- Remove image from photowall cache (Gallery.imageMap array) [Completed]
- If the images in slideshow array is zero then exit the slideshow [Completed]

Now at the last I am unab

[2016-05-17 16:07] oparoz commented on #649
@manishbisht - If I understand you correctly, there is no way around it. If you remove an image from the photowall, you will need to refresh the view in order to rebuild it.

Make sure you build a comprehensive test suite we can use, because we need to make sure that things don't break if users upload/move or switch album after having deleted images.

[2016-05-17 16:22] manishbisht commented on #649
@oparoz How can I refresh the view without clicking on the reload button of the browser. Does Gallery.view.init() will work in this case.

[2016-05-17 16:41] oparoz commented on #649
@manishbisht - Yes, I think that's the way to do it. Also, make sure you've removed the thumbnail from `Thumbnails.map`.

[2016-05-18 11:36] tempico commented on #649
@oparoz,
👍

[2016-05-19 04:34] manishbisht commented on #649
@oparoz I have removed the thumbnail from thumbnail.map and then called the function Gallery
view.init(Gallery.current Album) but still unable to remove the deleted images from the gallery view. When I checked the init function then I get to know that I have to remove the image from the Gallery.albumMap Object also. Is this true ?

[2016-05-19 16:19] tempico commented on #650
adblock?

[2016-05-19 17:23] oparoz commented on #649
Thanks for the bounty @tempico :)

[2016-05-20 08:51] Matthias84 opened #657 "OpenGraph preview for shared links"
## Feature request

**User type**: public

**User level**: beginner
### Description

[OpenGraph](http://ogp.me/) is an HTML extension that allows third party sites as facebook, Twitter, ... to embedd previews for links at their own pages. It's basically just some additional meta elements:

[code]

Depending on the priority, you can just refer to an existing image, or create an new thumbnail that m

[2016-05-20 16:14] oparoz commented on #657
Seems easy enough to implement.
1. Define all the headers to add
2. Add headers using https://github.com/owncloud/core/blob/master/lib/public/AppFramework/Http/Response.php#L172
3. Test

[2016-05-20 17:40] Matthias84 commented on #657
I'm not familar with the OC architecture, so it might be wise to add it upstream, so all apps with share functionality will benefit from the functionality. On the other hand, it might be easier to implement it first at this app and move the code later :wink:

[2016-05-20 22:30] oparoz commented on #657
I think it's best if apps implement it for the type of content they're displaying. Very few apps have a public side. It will take a long time for Files to support all content types, but people can add the headers one type at a time.

For Gallery, we should probably only include references to the first 5 or so images.

[2016-05-24 22:35] turb commented on #525
Hello, what options still need to be agreed on, in order to merge this PR?

If the only one is "should both description and filename be displayed, or only the description", my own preference goes to only the description (filename makes little sense when the description has been filled).

[2016-05-26 14:29] davitol opened #659 "Cannot browse into the images of the skeleton files"
### Steps to reproduce
1. Go to Gallery Menu
2. Click on the collage of the skeleton files images
### Expected behaviour

It should be possible to browse into the pictures
### Actual behaviour

Clicking on the photos nothing is shown

Note: If we upload another photo to the server. It is possible to browse into every image.
### Server configuration

**Operating system**:
Ubuntu 14.04

**Web server

[2016-05-26 15:45] oparoz commented on #659
Thanks. There must be an error reported in the browser, no? Also, what does the message say at the top?

[2016-05-30 10:53] davitol commented on #659
@oparoz No error reported in the browser console.
The message at the top is not related to this issue. It is a warning message related to code integrity check

[2016-06-01 13:32] goopen opened #660 "Additional controls via fullscreen image (enhancement/suggestion)"
I believe that it should be possible to delete pictures when viewing them via fullscreen on the web.
### Expected behaviour
1. Browsing those beautiful fullscreen pictures
2. See a blurred broken image, decide to delete, press delete or trashbin icon
3. picture is removed.

Perhaps additional information can be displayed alongside the picture as mentioned here: https://github.com/owncloud/gallery/

[2016-06-01 14:19] oparoz commented on #660
Duplicate of #/649

Please test this PR: #658

[2016-06-01 14:19] #660 closed, assigned to nobody

[2016-06-02 08:26] hitam4450 commented on #659
I do have a similar problem: browsing e.g. SofortUpload no images are shown, only placeholder!
(see attached screen shot)

![gallery1](https://cloud.githubusercontent.com/assets/9738727/15738586/529aae8e-28ac-11e6-8217-fc1f3c1fab51.png)
Regrads, hitam4450

[2016-06-02 12:00] oparoz commented on #659
@hitam4450 - That's using 9.1 and JPG images?

[2016-06-02 12:21] hitam4450 commented on #659
I use 9.0.2 and jpg........ the same happens in files...view ......
Gallery 14.5.0

[2016-06-02 12:27] hitam4450 commented on #659
If I click on an image file the following error message pops up:

![gallery2](https://cloud.githubusercontent.com/assets/9738727/15744741/1a8d09ca-28ce-11e6-9b4d-44757cc059d7.png)

[2016-06-02 12:37] oparoz commented on #659
@hitam4450 - OK, so please open your own issue as it's likely to be unrelated to this issue. The logs should tell you what's wrong.

[2016-06-02 14:58] hitam4450 opened #661 "Can't view image file (jpg) in files view and in gallery"
## Bug report
### Steps to reproduce
1. Upload Image files to OC
2. View image files in gallery
   1.
### Expected behaviour

Should see the image
### Actual behaviour

Only see placeholder (see enclosed screen shot)
### Server configuration

**Operating system**:
Debian 8.3 Jessie
**Web server:**
lighttpd 1.4.35
**Database:**

**PHP version:**
5.6
**ownCloud version:** (see ownCloud admin page or

[2016-06-02 14:58] hitam4450 commented on #659
OK, thanks for info!

[2016-06-03 06:38] youphyun commented on #230
ownCloud 9.1 beta is out but I am not sure that  [#22347](https://github.com/owncloud/core/issues/22347) will be implemented. Instead a fork of ownCloud was made by ownCloud contributors as nextCloud. What are the plans to get this implemented?

[2016-06-03 10:51] oparoz commented on #230
There is still time for #22347 to be implemented in 9.1 as fixes are still being commited, so the plan is to currently wait for the fix.

[2016-06-05 19:53] oparoz commented on #659
@davitol - Which package did you install for your "ownCloud version 9.1.0.3"? I'm asking because master only contains a txt file.

[2016-06-05 20:28] oparoz commented on #659
Never mind, I was able to reproduce. The server sends back information about the image, but the frontend doesn't process it.

[2016-06-05 21:21] oparoz commented on #661
Please paste your logs, your images are not found and it's probably not related to Gallery.

[2016-06-06 12:38] hitam4450 commented on #661
What kind of logs should I post ???

[2016-06-06 13:16] oparoz commented on #661
The end of your owncloud.log after you get the error.

[2016-06-06 13:30] hitam4450 commented on #661
tail owncloud.log results:
{"reqId":"SoGtCPngDO2EEQVpS8ez","remoteAddr":"192.168.175.60","app":"core","message":"OC_Image->fixOrientation() Orientation: -1","level":0,"time":"2016-06-06T13:29:26+00:00","method":"GET","url":"\/owncloud\/index.php\/apps\/gallery\/thumbnails?ids=713%3B716%3B720%3B724%3B728%3B732&scale=0.800000011920929&square=0&requesttoken=Ly4JVl8lBh0mNCQ%2FGTxyVjdZQmUkOFl%2BcCw4Lz0

[2016-06-06 13:50] oparoz commented on #661
Thank you. This is a problem in core which may have been fixed on 9.0.3. I'll wait for you to update to confirm.

[2016-06-06 13:54] oparoz opened #663 "Update test setup to use Share 2.0 to work around a bug in core"
Tests broke back in April due to a bug in core. It will eventually be fixed, but migrating to Share 2.0 as a workaround shouldn't be too difficult and will have to be done eventually.

https://github.com/owncloud/core/issues/24981

[2016-06-06 14:33] hitam4450 commented on #661
What kind of problem it is in core ?? When 9.0.3 will be available ? Hotfix available??

[2016-06-06 14:47] oparoz commented on #661
The fix I was thinking about was merged in 9.0.2, but there is an issue in core which is probably describing the problem you're having:

https://github.com/owncloud/core/issues/20762

Your problem could simply be that PHP is running out of memory.

[2016-06-06 14:47] #661 closed, assigned to nobody

[2016-06-06 14:55] oparoz commented on #650
Closing since nobody can reproduce. Could be a problem with a specific browser version.

[2016-06-06 14:55] #650 closed, assigned to nobody

[2016-06-06 22:12] simplenotezy opened #664 "Package for Laravel"
Is there a package for this with Laravel support?

[2016-06-06 22:40] oparoz commented on #664
Could you elaborate what you mean by Laravel support? ownCloud uses Symphony and this app connects to ownCloud.

[2016-06-11 00:16] #663 closed, assigned to oparoz

[2016-06-11 02:38] oparoz commented on #579
Fixed via #668

[2016-06-11 02:38] #579 closed, assigned to nobody

[2016-06-11 02:41] #615 closed, assigned to oparoz

[2016-06-11 02:59] oparoz commented on #641
Fixed in Codeception 2.2

[2016-06-11 02:59] #641 closed, assigned to oparoz

[2016-06-11 03:03] oparoz commented on #499
Now that https://github.com/owncloud/core/pull/23561 has been merged, do you still have the issue?

[2016-06-16 18:59] oparoz commented on #659
Not a Gallery bug, see: https://github.com/owncloud/core/issues/25152

[2016-06-16 19:53] oparoz commented on #659
I'm going to implement a change anyway since things may change in the future and etags may stop being unique.

[2016-06-16 20:14] #659 closed, assigned to nobody

[2016-06-19 11:26] oparoz opened #679 "Slideshow fails to launch after encountering a hidden album"
## Bug report
### Steps to reproduce
1. Hide current album
2. Go to parent album
3. Click on an image
### Expected behaviour

Slideshow loads
### Actual behaviour

[code]
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35288310-slideshow-fails-to-launch-after-encountering-a-hidden-album?utm_campaign=plugin&utm_content=tracker%2F201910

[2016-06-19 11:32] #679 closed, assigned to oparoz

[2016-06-19 14:13] oparoz commented on #649
Current PR is at #676

[2016-06-20 22:22] oparoz commented on #649
@tempico - Everything in #676 has been included in the latest version of Gallery+ which has just been released. That should make it easy for you to test. The icon still needs fixing.

[2016-06-21 15:39] tempico commented on #649
@oparoz,
Yep, spinner is now working fine. Thanks!

[2016-06-22 07:17] vader2014 opened #681 "incompatible with files_mv 0.8.2"
unfortunately gallery+ v15.1 is not compatible with files_mv:

https://github.com/eotryx/oc_files_mv/issues/27

if needed i can contribute to the fixing e.g. via testing

[2016-06-22 08:26] oparoz commented on #681
I've offered the path to the solution in the issue you filed there.

[2016-06-22 08:26] #681 closed, assigned to nobody

[2016-06-30 18:50] schiessle opened #683 "Galley apps can't be accessed from "link share" page"
originally reported here https://github.com/nextcloud/server/issues/256 by @Sesivany
If you come to the conclusion that this is a Nextcloud server bug, feel free to re-open the server issue
### Steps to reproduce
1. Share a folder with pictures via link
2. Open the link in another browser
3. Click the gallery view icon
### Expected behaviour

Users I share the folder with via link should be able t

[2016-06-30 19:30] oparoz commented on #683
Thanks for the report. I can't reproduce on ownCloud and since it's been experienced by several people on Nextcloud only, I really suspect this is due to a change in the server.

I'll keep this open until we can figure out the root of the problem.

[2016-07-04 09:48] #547 closed, assigned to nobody

[2016-07-05 14:01] PVince81 opened #686 "Add download button to slideshow preview"
From https://github.com/owncloud/core/issues/25333

@jonesints

[2016-07-05 15:40] jonesints commented on #686
Summarizing the above:

The 'download' option in fullscreen preview only appears when navigating inside the Gallery. For photos being previewed outside the Gallery there isn't an option to download the current previewed file.

[2016-07-05 15:43] oparoz commented on #686
Yes, this was intentional, but in the end, I think people prefer to be able to download straight from the slideshow.

[2016-07-05 15:44] oparoz commented on #664
Time out

[2016-07-05 15:44] #664 closed, assigned to nobody

[2016-07-20 01:28] manishbisht opened #693 "Remove IE<11 support"
### Description

As OC9+ doesn's support IE<11 anymore. So now we can also remove support for IE<11 from the gallery.
https://github.com/owncloud/core/pull/25240

**Are you a developer willing to implement this feature?**: yes

[2016-07-20 14:11] oparoz commented on #693
You can go ahead and remove all the PNGs, thank you :)

[2016-07-20 18:47] #649 closed, assigned to nobody

[2016-07-21 11:44] oparoz commented on #683
Could not reproduce.

[2016-07-21 11:44] #683 closed, assigned to nobody

[2016-07-21 13:06] oparoz opened #694 "Support the STL format"
## Feature request

**User type**: Any

**User level**: Beginners
### Description

STL files are used to exchange CAD designs, like the ones used by 3D printers.
It would be nice to be able create thumbnails of those designs and to be able to see them in 3D in a WebGL supporting browser.
### Benefit / value

It's always nice for users when the system supports more formats
### Risk / caveats

We ne

[2016-07-21 13:49] manishbisht commented on #693
@oparoz The test function `public function getPreviewOfPng()` in getPreviewCest.php is of no use after removing PNG files.
Also the if condition should be removed from the `_getMimeIcon()` function in thumbnail.js

I think these are the only 2 changes we have to do apart from removing the PNG images.

[2016-07-21 14:21] oparoz commented on #693
That's incorrect. Gallery still displays previews of PNG files even though it doesn't use PNG icons.

That's correct

There is more, per example:
https://github.com/owncloud/gallery/blob/5a33e86e568d267239d1982f38e7d113717f595f/js/slideshow.js#L56

Have another look to see if there aren't any other exceptions.

[2016-07-21 14:30] manishbisht commented on #693
Then there are three things which I able to find.
1. if condition should be removed from the _getMimeIcon() function in thumbnail.js to remove png option in gallery view
2. https://github.com/owncloud/gallery/blob/5a33e86e568d267239d1982f38e7d113717f595f/js/slideshow.js#L56 if condition should be removed to remove png support from slideshow.
3.  Remove getPreviewOfPng() in getPreviewCest.php to re

[2016-07-21 14:32] oparoz commented on #693
I don't understand the difference between 1) and 3)

[2016-07-21 14:37] manishbisht commented on #693
Sorry updated the third point.
The test that I have mentioned in third point is used for icons or it is used for png images. I have no experience in testing.

[2016-07-21 14:38] oparoz commented on #693
OK, but I've just said that getPreviewOfPng() should **not** be removed ;)

[2016-07-21 14:41] manishbisht commented on #693
Ok I will be implementing 1) and 2) and submitted the PR in next half an hour.

[2016-07-21 14:42] oparoz commented on #693
Thank you :)

[2016-07-22 09:22] oparoz commented on #649
Thank you guys for making this happen. It's really useful after having dumped images from a mobile client.

[2016-07-22 20:59] metzenseifner commented on #236
@oparoz

I just found your comment while searching for how to the reset gallery for some users. The users who viewed pictures before I uncommented the PHP extension `exif.so` in `/etc/php/php.ini` see incorrectly oriented pictures (ignored Orientation tag in metadata). While _new users_ (post-change) have the correct orientation, the wrong orientation problem persists for older users who viewed th

[2016-07-23 13:33] spoorun opened #697 "Timeline view"
A timeline view to be available alongside the existing view types.
In time line view, photos are ordered by EXIF metadata (#221), if that is missing they are sorted by created date, and then modified date.
The User see photos in chronological order, most recent at the top.
There is a slider bar which the user can move slowly to move between days, more quickly to move between months, and on continu

[2016-07-23 13:37] spoorun opened #698 "Location filter"
In the lefthand panel, user can choose to filter by location (from EXIF data #221 ).

Upon clicking that, the left-hand panel opens up, and User can see a list of applicable Countries to filter photos upon.
Upon clicking a country name, User can see applicable regions.
Upon clicking a region name, User can see applicable districts.
The view will work in tandem with other view modes such as Tags, F

[2016-07-24 07:18] oparoz commented on #698
Thanks for the user story :)

[2016-07-24 07:20] oparoz commented on #698
Added to https://github.com/owncloud/gallery/issues/531

[2016-07-24 07:22] oparoz commented on #697
Could you add the content of this post as a comment to https://github.com/owncloud/gallery/issues/95 ? This is the same request, just more detailed.

[2016-07-24 07:25] oparoz commented on #236
There is no elegant way to reset the previews for a user, because there has been no change to the data itself. Potential solutions:
- re-upload the images
- delete all the thumbnails for those users
- only delete specific thumbnails for those users

[2016-07-25 11:28] TDannhauer opened #699 "Gallery not longer working after upgrade to OC 9.1 when application files_move is enabled"
## Bug report
### Steps to reproduce
1. Install OC 9.0.4
2. Upgrae to 9.1
3. Activate files_move app  <-- Important, since this is the showstopper
4. Log into OC
5. Activate Gallery app.
### Expected behaviour

Gallery should show up, load the thumbnails and display them.
Clicking on the "file view" icon in the upper right corner switches back to file view.
### Actual behaviour

Browser Title chan

[2016-07-25 11:46] oparoz commented on #699
That app is unmaintained and pollutes all apps by loading its scripts everywhere.
I have provided a patch there:
https://github.com/eotryx/oc_files_mv/pull/29

[2016-07-25 11:46] #699 closed, assigned to nobody

[2016-08-05 03:14] hansen0730 opened #701 "not work on ownCloud 9.1.0.15"
## Bug report
### Steps to reproduce

1.
1.
1.
### Expected behaviour

### Actual behaviour

### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**cloud server:** Nextcloud or ownCloud

**cloud version:** (see admin page or version.php)

**Updated from an older installation or fresh install:**

**List of activated apps:**

<details>
<summary>

App lis

[2016-08-07 20:34] ghost opened #702 "Blank Page"
## Bug report
### Steps to reproduce
1. it never worked, I also tried to install it from github, i get a blank page wherever i access the gallery, no loading no error messages
### Expected behaviour

Display my  pictures
### Actual behaviour

Blank page
### Server configuration

**Operating system**:Ubuntu 15.10

**Web server:** apache2        2.4.12-2ubun amd64        Apache HTTP Server

**Databa

[2016-08-08 12:55] ghost commented on #702
Solved!
I had a couple of issues, first with file_mv app and then with modsecurity. I disabled the app and modsecurity for that specific url.
Now everything is working

[2016-08-08 12:55] #702 closed, assigned to nobody

[2016-08-12 11:51] hna61 commented on #550
Would it be possible to manage the meta data in a separate .xmp file?
That would be of great benefit (at least for me): keep the valuable media file untouched but change meta data by changing the contents of the accompanied xmp-file.

[2016-08-19 05:41] gildebrand- commented on #701
I have the same problem was. After the application Files Move (0.8.2) is shut down  - Gallery is worked .

[2016-08-23 21:38] LuffyyyffuL commented on #701
The same, thank you gildebrand.

[2016-08-23 22:33] #701 closed, assigned to nobody

[2016-09-04 09:29] oparoz commented on #3
This issue was moved to nextcloud/gallery#11

[2016-09-04 09:29] #3 closed, assigned to nobody

[2016-09-04 09:35] oparoz commented on #4
This issue was moved to nextcloud/gallery#12

[2016-09-04 09:35] #4 closed, assigned to nobody

[2016-09-04 09:44] oparoz commented on #6
This issue was moved to nextcloud/gallery#13

[2016-09-04 09:45] oparoz commented on #18
This issue was moved to nextcloud/gallery#14

[2016-09-04 09:47] oparoz commented on #22
This issue was moved to nextcloud/gallery#15

[2016-09-04 09:47] #22 closed, assigned to nobody

[2016-09-04 09:47] oparoz commented on #36
This issue was moved to nextcloud/gallery#16

[2016-09-04 09:47] #36 closed, assigned to nobody

[2016-09-04 09:47] oparoz commented on #39
This issue was moved to nextcloud/gallery#17

[2016-09-04 09:47] #39 closed, assigned to nobody

[2016-09-04 09:47] oparoz commented on #43
This issue was moved to nextcloud/gallery#18

[2016-09-04 09:51] oparoz commented on #68
This issue was moved to nextcloud/gallery#20

[2016-09-04 09:51] oparoz commented on #83
This issue was moved to nextcloud/gallery#21

[2016-09-04 09:51] oparoz commented on #84
This issue was moved to nextcloud/gallery#22

[2016-09-04 09:51] #84 closed, assigned to oparoz

[2016-09-04 09:51] oparoz commented on #94
This issue was moved to nextcloud/gallery#23

[2016-09-04 09:52] oparoz commented on #95
This issue was moved to nextcloud/gallery#24

[2016-09-04 09:52] oparoz commented on #97
This issue was moved to nextcloud/gallery#25

[2016-09-04 09:52] #97 closed, assigned to nobody

[2016-09-04 09:52] oparoz commented on #101
This issue was moved to nextcloud/gallery#26

[2016-09-04 10:10] oparoz commented on #104
This issue was moved to nextcloud/gallery#27

[2016-09-04 10:10] #104 closed, assigned to nobody

[2016-09-04 10:10] oparoz commented on #125
This issue was moved to nextcloud/gallery#28

[2016-09-04 10:10] #125 closed, assigned to nobody

[2016-09-04 10:10] oparoz commented on #128
This issue was moved to nextcloud/gallery#29

[2016-09-04 10:10] #128 closed, assigned to nobody

[2016-09-04 10:10] oparoz commented on #141
This issue was moved to nextcloud/gallery#30

[2016-09-04 10:10] oparoz commented on #143
This issue was moved to nextcloud/gallery#31

[2016-09-04 10:11] oparoz commented on #151
This issue was moved to nextcloud/gallery#32

[2016-09-04 10:11] oparoz commented on #158
This issue was moved to nextcloud/gallery#33

[2016-09-04 10:11] oparoz commented on #173
This issue was moved to nextcloud/gallery#34

[2016-09-04 10:13] oparoz commented on #176
This issue was moved to nextcloud/gallery#35

[2016-09-04 10:13] oparoz commented on #185
This issue was moved to nextcloud/gallery#36

[2016-09-04 10:13] oparoz commented on #186
This issue was moved to nextcloud/gallery#37

[2016-09-04 10:18] oparoz commented on #236
This issue was moved to nextcloud/gallery#41

[2016-09-04 10:18] #236 closed, assigned to nobody

[2016-09-04 10:19] oparoz commented on #23
This issue was moved to nextcloud/gallery#42

[2016-09-04 10:19] oparoz commented on #234
This issue was moved to nextcloud/gallery#43

[2016-09-04 10:19] #234 closed, assigned to nobody

[2016-09-04 10:19] oparoz commented on #232
This issue was moved to nextcloud/gallery#44

[2016-09-04 10:19] #232 closed, assigned to nobody

[2016-09-04 10:22] oparoz commented on #193
This issue was moved to nextcloud/gallery#46

[2016-09-04 11:11] oparoz commented on #698
This issue was moved to nextcloud/gallery#55

[2016-09-04 11:11] #698 closed, assigned to nobody

[2016-09-04 11:11] oparoz commented on #697
This issue was moved to nextcloud/gallery#56

[2016-09-04 11:11] #697 closed, assigned to nobody

[2016-09-04 11:11] oparoz commented on #694
This issue was moved to nextcloud/gallery#57

[2016-09-04 11:11] #694 closed, assigned to nobody

[2016-09-04 11:12] oparoz commented on #252
This issue was moved to nextcloud/gallery#58

[2016-09-04 11:12] #252 closed, assigned to nobody

[2016-09-04 11:17] oparoz commented on #255
This issue was moved to nextcloud/gallery#60

[2016-09-04 11:17] #255 closed, assigned to nobody

[2016-09-04 11:19] oparoz commented on #230
This issue was moved to nextcloud/gallery#61

[2016-09-04 11:19] #230 closed, assigned to oparoz

[2016-09-04 11:23] oparoz commented on #235
This issue was moved to nextcloud/gallery#63

[2016-09-04 11:23] #235 closed, assigned to nobody

[2016-09-04 11:23] oparoz commented on #247
This issue was moved to nextcloud/gallery#64

[2016-09-04 11:23] #247 closed, assigned to nobody

[2016-09-04 11:23] oparoz commented on #257
This issue was moved to nextcloud/gallery#65

[2016-09-04 11:23] #257 closed, assigned to nobody

[2016-09-04 11:23] oparoz commented on #263
This issue was moved to nextcloud/gallery#66

[2016-09-04 11:23] #263 closed, assigned to nobody

[2016-09-04 11:24] oparoz commented on #265
This issue was moved to nextcloud/gallery#67

[2016-09-04 11:24] #265 closed, assigned to nobody

[2016-09-04 11:25] oparoz commented on #267
This issue was moved to nextcloud/gallery#69

[2016-09-04 11:25] #267 closed, assigned to nobody

[2016-09-04 11:28] oparoz commented on #269
This issue was moved to nextcloud/gallery#70

[2016-09-04 11:28] #269 closed, assigned to nobody

[2016-09-04 11:29] oparoz commented on #313
This issue was moved to nextcloud/gallery#72

[2016-09-04 11:29] #313 closed, assigned to nobody

[2016-09-04 11:31] oparoz commented on #324
This issue was moved to nextcloud/gallery#73

[2016-09-04 11:31] #324 closed, assigned to nobody

[2016-09-04 11:31] oparoz commented on #334
This issue was moved to nextcloud/gallery#74

[2016-09-04 11:31] #334 closed, assigned to oparoz

[2016-09-04 11:31] oparoz commented on #335
This issue was moved to nextcloud/gallery#75

[2016-09-04 11:31] #335 closed, assigned to nobody

[2016-09-04 11:32] oparoz commented on #338
This issue was moved to nextcloud/gallery#76

[2016-09-04 11:32] #338 closed, assigned to nobody

[2016-09-04 11:32] oparoz commented on #340
This issue was moved to nextcloud/gallery#77

[2016-09-04 11:32] #340 closed, assigned to nobody

[2016-09-04 11:32] oparoz commented on #344
This issue was moved to nextcloud/gallery#78

[2016-09-04 11:32] #344 closed, assigned to nobody

[2016-09-04 11:32] oparoz commented on #345
This issue was moved to nextcloud/gallery#79

[2016-09-04 11:32] #345 closed, assigned to nobody

[2016-09-04 11:38] oparoz commented on #349
This issue was moved to nextcloud/gallery#80

[2016-09-04 11:38] #349 closed, assigned to nobody

[2016-09-04 11:39] oparoz commented on #351
This issue was moved to nextcloud/gallery#81

[2016-09-04 11:39] #351 closed, assigned to nobody

[2016-09-04 11:40] oparoz commented on #375
This issue was moved to nextcloud/gallery#82

[2016-09-04 11:40] #375 closed, assigned to nobody

[2016-09-04 12:10] oparoz commented on #383
This issue was moved to nextcloud/gallery#84

[2016-09-04 12:10] #383 closed, assigned to nobody

[2016-09-04 12:10] oparoz commented on #381
Moved to https://github.com/nextcloud/gallery/issues/83

[2016-09-04 12:10] #381 closed, assigned to nobody

[2016-09-04 12:10] oparoz commented on #388
This issue was moved to nextcloud/gallery#85

[2016-09-04 12:10] #388 closed, assigned to nobody

[2016-09-04 12:11] oparoz commented on #392
This issue was moved to nextcloud/gallery#86

[2016-09-04 12:11] #392 closed, assigned to nobody

[2016-09-04 12:11] oparoz commented on #393
This issue was moved to nextcloud/gallery#87

[2016-09-04 12:11] #393 closed, assigned to nobody

[2016-09-04 12:11] oparoz commented on #396
This issue was moved to nextcloud/gallery#88

[2016-09-04 12:11] #396 closed, assigned to nobody

[2016-09-04 12:11] oparoz commented on #400
This issue was moved to nextcloud/gallery#89

[2016-09-04 12:11] #400 closed, assigned to nobody

[2016-09-04 12:11] oparoz commented on #401
This issue was moved to nextcloud/gallery#90

[2016-09-04 12:11] #401 closed, assigned to nobody

[2016-09-04 12:11] oparoz commented on #402
This issue was moved to nextcloud/gallery#91

[2016-09-04 12:11] #402 closed, assigned to nobody

[2016-09-04 12:12] oparoz commented on #403
This issue was moved to nextcloud/gallery#92

[2016-09-04 12:12] #403 closed, assigned to nobody

[2016-09-04 12:12] oparoz commented on #404
This issue was moved to nextcloud/gallery#93

[2016-09-04 12:12] #404 closed, assigned to nobody

[2016-09-04 12:13] oparoz commented on #406
This issue was moved to nextcloud/gallery#94

[2016-09-04 12:13] #406 closed, assigned to nobody

[2016-09-04 12:13] oparoz commented on #408
This issue was moved to nextcloud/gallery#95

[2016-09-04 12:13] #408 closed, assigned to nobody

[2016-09-04 12:13] oparoz commented on #417
This issue was moved to nextcloud/gallery#96

[2016-09-04 12:13] #417 closed, assigned to nobody

[2016-09-04 12:13] oparoz commented on #434
This issue was moved to nextcloud/gallery#97

[2016-09-04 12:13] #434 closed, assigned to nobody

[2016-09-04 12:14] oparoz commented on #443
This issue was moved to nextcloud/gallery#98

[2016-09-04 12:14] #443 closed, assigned to nobody

[2016-09-04 12:14] oparoz commented on #447
This issue was moved to nextcloud/gallery#99

[2016-09-04 12:14] #447 closed, assigned to nobody

[2016-09-04 12:14] oparoz commented on #451
This issue was moved to nextcloud/gallery#100

[2016-09-04 12:14] #451 closed, assigned to nobody

[2016-09-04 12:14] oparoz commented on #459
This issue was moved to nextcloud/gallery#101

[2016-09-04 12:14] #459 closed, assigned to nobody

[2016-09-04 12:14] oparoz commented on #460
This issue was moved to nextcloud/gallery#102

[2016-09-04 12:14] #460 closed, assigned to nobody

[2016-09-04 12:14] oparoz commented on #464
This issue was moved to nextcloud/gallery#103

[2016-09-04 12:14] #464 closed, assigned to nobody

[2016-09-04 12:15] oparoz commented on #480
This issue was moved to nextcloud/gallery#104

[2016-09-04 12:15] #480 closed, assigned to nobody

[2016-09-04 12:15] oparoz commented on #487
This issue was moved to nextcloud/gallery#105

[2016-09-04 12:15] #487 closed, assigned to nobody

[2016-09-04 12:15] oparoz commented on #488
This issue was moved to nextcloud/gallery#106

[2016-09-04 12:15] #488 closed, assigned to nobody

[2016-09-04 12:15] oparoz commented on #492
This issue was moved to nextcloud/gallery#107

[2016-09-04 12:15] #492 closed, assigned to nobody

[2016-09-04 12:16] oparoz commented on #495
This issue was moved to nextcloud/gallery#108

[2016-09-04 12:16] #495 closed, assigned to nobody

[2016-09-04 12:16] oparoz commented on #498
This issue was moved to nextcloud/gallery#109

[2016-09-04 12:16] #498 closed, assigned to nobody

[2016-09-04 12:16] oparoz commented on #499
This issue was moved to nextcloud/gallery#110

[2016-09-04 12:16] #499 closed, assigned to nobody

[2016-09-04 12:16] oparoz commented on #501
This issue was moved to nextcloud/gallery#111

[2016-09-04 12:16] #501 closed, assigned to nobody

[2016-09-04 12:17] oparoz commented on #504
This issue was moved to nextcloud/gallery#112

[2016-09-04 12:17] #504 closed, assigned to nobody

[2016-09-04 12:21] oparoz commented on #521
This issue was moved to nextcloud/gallery#113

[2016-09-04 12:21] #521 closed, assigned to nobody

[2016-09-04 12:22] oparoz commented on #525
This issue was moved to nextcloud/gallery#114

[2016-09-04 12:22] #525 closed, assigned to nobody

[2016-09-04 12:22] oparoz commented on #531
This issue was moved to nextcloud/gallery#115

[2016-09-04 12:22] #531 closed, assigned to nobody

[2016-09-04 12:22] oparoz commented on #532
This issue was moved to nextcloud/gallery#116

[2016-09-04 12:22] #532 closed, assigned to nobody

[2016-09-04 12:22] oparoz commented on #536
This issue was moved to nextcloud/gallery#117

[2016-09-04 12:22] #536 closed, assigned to nobody

[2016-09-04 12:22] oparoz commented on #548
This issue was moved to nextcloud/gallery#118

[2016-09-04 12:22] #548 closed, assigned to nobody

[2016-09-04 12:23] oparoz commented on #549
This issue was moved to nextcloud/gallery#119

[2016-09-04 12:23] #549 closed, assigned to nobody

[2016-09-04 12:23] oparoz commented on #550
This issue was moved to nextcloud/gallery#120

[2016-09-04 12:23] #550 closed, assigned to nobody

[2016-09-04 12:24] oparoz commented on #551
This issue was moved to nextcloud/gallery#121

[2016-09-04 12:24] #551 closed, assigned to nobody

[2016-09-04 12:24] oparoz commented on #555
This issue was moved to nextcloud/gallery#122

[2016-09-04 12:24] #555 closed, assigned to nobody

[2016-09-04 12:24] oparoz commented on #557
This issue was moved to nextcloud/gallery#123

[2016-09-04 12:24] #557 closed, assigned to nobody

[2016-09-04 12:24] oparoz commented on #559
This issue was moved to nextcloud/gallery#124

[2016-09-04 12:24] #559 closed, assigned to nobody

[2016-09-04 12:27] oparoz commented on #566
This issue was moved to nextcloud/gallery#125

[2016-09-04 12:27] #566 closed, assigned to nobody

[2016-09-04 12:27] oparoz commented on #567
This issue was moved to nextcloud/gallery#126

[2016-09-04 12:27] #567 closed, assigned to nobody

[2016-09-04 12:29] oparoz commented on #570
This issue was moved to nextcloud/gallery#127

[2016-09-04 12:29] #570 closed, assigned to nobody

[2016-09-04 12:29] oparoz commented on #571
This issue was moved to nextcloud/gallery#128

[2016-09-04 12:29] #571 closed, assigned to nobody

[2016-09-04 12:30] oparoz commented on #575
This issue was moved to nextcloud/gallery#129

[2016-09-04 12:30] #575 closed, assigned to nobody

[2016-09-04 12:30] oparoz commented on #584
This issue was moved to nextcloud/gallery#130

[2016-09-04 12:30] #584 closed, assigned to nobody

[2016-09-04 12:30] oparoz commented on #585
This issue was moved to nextcloud/gallery#131

[2016-09-04 12:30] #585 closed, assigned to nobody

[2016-09-04 12:30] oparoz commented on #588
This issue was moved to nextcloud/gallery#132

[2016-09-04 12:30] #588 closed, assigned to nobody

[2016-09-04 12:30] oparoz commented on #599
This issue was moved to nextcloud/gallery#133

[2016-09-04 12:30] #599 closed, assigned to nobody

[2016-09-04 12:31] oparoz commented on #600
This issue was moved to nextcloud/gallery#134

[2016-09-04 12:31] #600 closed, assigned to nobody

[2016-09-04 12:31] oparoz commented on #611
This issue was moved to nextcloud/gallery#135

[2016-09-04 12:31] oparoz commented on #61
Moved to https://github.com/nextcloud/gallery/issues/19

[2016-09-04 12:31] #61 closed, assigned to nobody

[2016-09-04 12:32] oparoz commented on #621
This issue was moved to nextcloud/gallery#136

[2016-09-04 12:32] #621 closed, assigned to nobody

[2016-09-04 12:32] oparoz commented on #634
This issue was moved to nextcloud/gallery#137

[2016-09-04 12:32] #634 closed, assigned to nobody

[2016-09-04 12:34] #638 closed, assigned to oparoz

[2016-09-04 13:02] oparoz commented on #644
This issue was moved to nextcloud/gallery#139

[2016-09-04 13:02] #644 closed, assigned to nobody

[2016-09-04 13:03] oparoz commented on #645
This issue was moved to nextcloud/gallery#140

[2016-09-04 13:03] #645 closed, assigned to nobody

[2016-09-04 13:03] oparoz commented on #657
This issue was moved to nextcloud/gallery#141

[2016-09-04 13:03] #657 closed, assigned to nobody

[2016-09-04 13:03] oparoz commented on #657
This issue was moved to nextcloud/gallery#142

[2016-09-04 13:04] oparoz commented on #686
This issue was moved to nextcloud/gallery#143

[2016-09-04 13:04] #686 closed, assigned to oparoz

[2016-09-04 13:45] oparoz commented on #693
This issue was moved to nextcloud/gallery#144

[2016-09-04 13:45] #693 closed, assigned to nobody

[2016-09-16 14:48] Blisk opened #703 "Gallery should show videos as well"
## Bug report
### Steps to reproduce

1.
1.
1.
### Expected behaviour

### Actual behaviour

When sendng someone link it should see videos with pictures as it is on android phones gallery.
### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**cloud server:** Nextcloud or ownCloud
Owncloud
**cloud version:** (see admin page or version.php)
9.1
**Update

[2016-09-24 00:04] Thomaseo1 opened #704 "tree/create-thumbnail-command"
## Bug report
### Steps to reproduce

1.Install tree/create-thumbnail-command on Owncloud v9.1.1
2.Use latest gallery, gallery+ or older gallery compatible with the tree create-thumbnail-command
3.Run sudo -u www-data ./occ gallery:create-thumbnails --all
### Expected behaviour

### Actual behaviour

### Server configuration

**Operating system**:
Ubuntu 14

**Web server:**
apache2

**Database:**

[2016-10-02 06:19] RajPratim21 opened #705 "Wanted to enhance the image classification via image processing"
I am not sure if this is the right place to ask . I wanted to integrate image analysis using Deep learning image analysis to this OwnCLoud Gallery app so that users can get better classification of their images like Google Photos I have written the image classification code can the maintainers gide me where and how can I integrate my code to their project. Image analysis code is in Python
I am ver

[2016-10-02 06:21] #705 closed, assigned to nobody

[2016-10-02 06:27] RajPratim21 opened #706 "Wanted to add feature of image classification via image processing"
## Feature request

**User type**: Public user

**User level**: Beginners for own cloud, intermediate or advanced  for image classifications
### Description

 I wanted to integrate image analysis using Deep learning image analysis to this OwnCLoud Gallery app so that users can get better classification of their images like Google Photos I have written the image classification code can the maintain

[2016-10-02 19:49] oparoz commented on #706
Development of the Gallery app is happening at Nextcloud, could you re-open your request there so that we can discuss how to implement this?
https://github.com/nextcloud/gallery/issues

[2016-11-05 17:38] benjaoming opened #710 "Isn't this app still maintained here? :)"
There are newer releases in this repo than the nextcloud -- if it's the case that it's still maintained here, there's a statement at the top of the README that should be removed.

[2016-11-05 20:08] DeepDiver1975 commented on #710
this app is unmaintained as stated in the readme - in case you are interested to help out - feel free 😉

[2016-11-05 20:08] #710 closed, assigned to nobody

[2016-11-06 00:23] benjaoming commented on #710
This app had several new releases on Oct 25, while the one that's referred to had a release on Sep 21.

So once again, is the comment in the README not precise or what's the deal?

[2016-11-06 00:26] oparoz commented on #710
Apps are packaged at different times on different distributions. It's not that important. What matters are the commits. And for now they're roughly the same.

[2016-11-06 18:19] benjaoming commented on #710
So the state of things: Two repos with "_roughly_" the same commits, where the one with the most recent changes claims you shouldn't use it with giant letters on the cover page. I think it sounds like a decision is needed but I'm new here, just voicing my confusion :)

Thanks for the app, nonetheless!

[2016-12-29 21:07] trupf opened #712 "Gallery does not find any media files"
## Bug report

### Steps to reproduce

1. upgrade to debian version owncloud-files 9.1.3-1.1
2. log in and go to main to files app
3. load any .jpg image to the folder (actually it can be any folder)
4. switch to gallery view

### Expected behaviour
image should be shown in gallery.

### Actual behaviour
showing icon + "No media files found"

Further if I click on an picture file in the file app.

[2017-01-11 13:21] kidalabama commented on #551
yes face recognition and tagging very important. and the other recognition. for example building, nature, document and others. google photos using this system.

[2017-01-11 13:43] kidalabama commented on #551
openface https://cmusatyalab.github.io/openface/ may be integrate to owncloud app.

[2017-01-26 14:59] kalckhoff opened #714 "Implementation of Search into the Gallery view"
## Feature request

**User type**: Logged-in

**User level**: Beginners
### Description

Hi,

I'm looking for a Tool for our company to organize and sort all of our Pictures and mediafiles. Therefor I was testing the latest version of NextCloud 11, it looks allready quit good, but for our case (and I think for other users as well) it would be fantastic if we could use the Search possibility into t

[2017-02-09 18:48] ladiko commented on #22
as it doesnt work with owncloud 9.1, would like to point to my comment [here](https://github.com/owncloud/core/issues/11685#issuecomment-278734183), which might be helpful for one or the other.

[2017-03-09 12:47] Phil1988 commented on #18
Its soo sad, that this one is dead.
The images/thumbnails makes the Owncloud almost unusable on my RPi 2...

[2017-03-09 13:51] Vraana commented on #18
Sorry to say so, but this was the reason I switched to NextCloud....

[2017-03-09 14:20] DeepDiver1975 commented on #18
yes indeed - dividing the community by forking the project left many dangling pointers - on both side

just saying - no intent to start a flame war.

[2017-04-20 10:31] PVince81 opened #719 "Integration with core sharing / multiple link shares"
Since the introduction of multiple link shares, the gallery app's old share dialog cannot work with these properly if there is more than a single link.

[2017-05-04 11:33] SergioBertolinSG opened #720 "Gallery doesn't work in external storages which has previews disabled."
### Steps to reproduce

1. Set up an external storage and disable previews.
2. Go to the folder and click on the gallery button.

### Expected behaviour
We can show pictures.

### Actual behaviour
Album is not available.

![screen shot 2017-05-04 at 13 10 03](https://cloud.githubusercontent.com/assets/9048796/25701769/121c8500-30ce-11e7-8a78-83223795238d.png)

### Server configuration

**Operating

[2017-05-12 14:42] PVince81 opened #722 "Missing download button"
I seem to remember that the slideshow preview had a download button.

The button doesn't appear any more on 10.0.0.

Also reported here https://github.com/owncloud/core/issues/27779

[2017-05-21 13:08] aromicreativi opened #723 "iOS/iPhone image download problem"
## Bug report

(gallery app 15.0.0)

### Steps to reproduce

1. login to owncloud web interface with your iPhone
2. browse any image folder
3. a) try to download an image from the ... > download buttons
3. b) open an image preview and try to zoom/save

### Expected behaviour

You can save the fullsize image to your iPhone photo gallery

### Actual behaviour

a. the download button doesn't start a

[2017-05-26 11:36] j-ed opened #724 "OC 10.0.1 - unable to install Gallery app because it contains unallowed code"
## Expected behavior

It should be possible to install/update the Gallery app from the new Marketplace.

## Current behavior

It isn't possible to install/update the Gallery app from the new Marketplace
because the installer identifies unallowed code.

### Steps to reproduce
1. Open the Marketplace and select the Gallery app
2. Select "Install"
3. The message "Gallery v16.0.2 cannot be installed b

[2017-05-26 12:05] PVince81 commented on #724
Hmm strange, I just managed to upgrade gallery on my own server today.

[2017-05-26 12:27] davitol commented on #724
WFM too

[2017-05-26 12:58] j-ed commented on #724
I just want to add that at the same time I had no problems to install/update e.g. the contacts and calendar apps. So it wouldn't expect a general problem.

[2017-05-26 13:46] j-ed commented on #724
I've downloaded the Gallery app tar.gz file, extracted its content to the `./owncloud/apps2` folder, activated it and ran `./occ upgrade`. I was able to install it without any problems.

[2017-07-18 23:47] aromicreativi commented on #722
the same applies to 9.1.6

[2017-07-22 12:26] aromicreativi commented on #722
My bad: the issue depends on gallery version, e.g. 15.0.0, and not on core version (9.x, 10.x)

[2017-08-01 06:13] parag85 opened #725 "Unable to delete thumbnails from owncloud server"
## Bug report

### Steps to reproduce

1. Logged as admin user
2. Execute following command:  sudo -uwww-data /var/www/owncloud/occ gallery:delete-thumbnails --all
3. Following error message comes: [Symfony\Component\Console\Exception\CommandNotFoundException] There are no commands defined in the "gallery" namespace.

### Actual behaviour
Unable to delete thumbnails from server. Error comes

**clo

[2017-08-02 00:24] madsi1m opened #726 "File size limit?"
Is it possible to configure a setting so that it will not generate a preview/thumb if the original image size is greater than a configurable number?

For example, I would like to not generate thumbs for tiff (or any image) files that are over 100MB

[2017-08-28 09:14] jmdeboer-surfsara commented on #703
Maybe it would be an idea to not only show videos, but other media types as well, at least in the overview mode.

In the current implementation, if you have a directory  that has multiple types of media, you can send a link to the gallery, but users will not see that there are other files besides images in the directory, or you can send the 'normal' link, but then you need to explicitly point them

[2017-09-07 06:45] Marco-Total commented on #704
Hi,

what you mean with:
"Install tree/create-thumbnail-command on Owncloud v9.1.1"

[2017-09-07 07:24] PVince81 opened #727 "Embed as navigation sidebar entry in files app"
Instead of being a standalone page, make the gallery part of the files app by having it be an additional entry in the left navigation pane.

Now the best would rather to have any files view be switchable to gallery mode, but doing so would be way more complicated, see https://github.com/owncloud/core/issues/17357.

So to make at least a little step forward, having the gallery file list appear from

[2017-09-07 09:05] mmattel commented on #727
Q: for this big step, why not also thinking about changing from user based thumbnail store to a centralized thumbnail store ?
Lets say you have 20k pictures and share the repository with a group of 100 people
Current 20k thumbs * 100 == a lot of space needed
Future 20k thumbs *1 == much less space needed

I can tell from own experience that for 20k pictures you end up in GB of thumbs. Minimizing s

[2017-09-07 09:07] PVince81 commented on #727
@mmattel please make a separate issue for this.

The embedding above is a pure JS / frontend effort and doesn't touch anything related to thumbnails.

[2017-09-07 09:21] mmattel commented on #727
ok thanks, will do

[2017-09-07 09:26] PVince81 commented on #727
@mmattel regarding thumbsnails, I seem to remember that there was a core ticket somewhere to make thumbnails common to users. The only trouble was with encryption.

[2017-09-14 08:46] spoorun commented on #95
Copied from original issue: owncloud/gallery#697"
From @olantrust on July 23, 2016 13:33

"A timeline view to be available alongside the existing view types.
In time line view, photos are ordered by EXIF metadata (#221), if that is missing they are sorted by created date, and then modified date.
The User see photos in chronological order, most recent at the top.
There is a slider bar which the use

[2017-09-18 21:49] NoTolerance opened #728 "Gallery Displays SVG Previews But Does Not Open SVGs"
## Bug report

### Steps to reproduce

1. Open SVG file

### Expected behaviour
Image file should open, as it does with PNGs, JPGs, etc.

### Actual behaviour
Spinning circle; file never opens.

### Server configuration

**Operating system**:
Ubuntu 17.04

**Web server:**
Apache 2.4.25

**Database:**
mySQL

**PHP version:**
7

**cloud server:** Nextcloud or ownCloud
ownCloud

**cloud version:** (s

[2017-09-19 17:05] dimpflmoser opened #729 "Slideshow does not forward to next picture in public shared link"
## Bug report

### Steps to reproduce

1. Create a shared link of a folder containing images
1. Open this link in a new browser session (without login)
1. Change to gallery mode
1. Click on one image to start slides how
1. Click on the forward or backward arrow -> nothing happens
1. I can open every image from the preview grid

### Expected behaviour
1, The slideshow should forward to the next pic

[2017-10-24 15:49] aromicreativi opened #730 "Feature request: set owncloud collaborative tags from fullscreen preview"
Owncloud 9.0 and above has "collaborative tags" for files, that would be useful for image classification too.

The file name / path is meaningful of the content for general files, since it's chosen by the author.
However, pictures file names are usually progressively defined by the camera and therefore almost meaningless.

We need the gallery app to properly display the content. This means that **

[2017-10-25 10:12] PVince81 commented on #730
To make this work best would be to have a reusable sidebar in which case clicking on an image would open the sidebar and allow all possible actions like tagging, sharing, etc.

There is one idea here to consolidate the gallery's thumbnail view with the files app which would indirectly bring the sidebar: https://github.com/owncloud/gallery/issues/727

[2017-10-25 16:47] alahwany opened #731 "Share Folder on version 10"
Hello,

i am a new user with owncloud version 10

i have installed it on shared hosting and everything working fine but when share folder to public with or without password not working the link and still asked for authentication !!!!

my server using cpanel and softaculous and i have installed it from softaculous
my server using CENTOS 7.4 with last version for cpanel

is there any solution to mak

[2017-10-25 21:06] alahwany commented on #731
![capture](https://user-images.githubusercontent.com/14204438/32023281-0adf3c62-b9d9-11e7-9016-4570170b1caf.JPG)

[2017-10-26 08:43] PVince81 commented on #731
@alahwany I suggest you ask on http://central.owncloud.org/.

The problem is likely an environment problem. Make sure to specify the exact ownCloud version (10.0.2, 10.0.3, ...)

[2017-10-26 08:43] #731 closed, assigned to nobody

[2017-10-26 09:15] alahwany commented on #731
version 10.0.3

if there php function must be enabled can you tell me the name of it and i will request for open

[2017-10-26 10:14] PVince81 commented on #731
@alahwany I can't help you here as I don't know the answer. This is a bug tracker, not a support platform. Please ask on platform where people can help with environment setup.

[2017-10-26 10:22] alahwany commented on #731
@PVince81  thank you for your reply and i will try to ask on http://central.owncloud.org/.

[2017-10-27 14:04] svdstra opened #732 "Unable to login from android Gallery App"
## Bug report
I have installed the gallery App and it is working fine in the webbrowser environment.
I also have installed the OC Gallery App on my Android device but whel trying to log in the Android App returns: ERROR Login Failed because the username and/or password is wrong. However the username and password are 100% correct

### Steps to reproduce
1. Test Owncloud gallery App in Owncloud in w

[2017-11-05 19:21] marvicz opened #733 "OCC create/delete thumbnails"
Hi there,
appreciate your work and am ready to help. I've come across in here because I (and am sure not only me) really need this occ feature. I would use it by cron in a night time. First, if there is any help needed about this feature, just let me know. I've read you have disabled the occ feature in production but I would like to test it though. So, is there any chance to get it work? I would s

[2017-11-22 16:17] SergioBertolinSG opened #734 "Gallery doesn't work on folders received as a federated share"
### Steps to reproduce

1. Having two servers A and B.
2. Using a user from A (userA) share a folder full of pictures with a user from B (userB).
3. Accept the federated share using userB.
4. Using userB go to the folder shared by userA and click on the gallery button.

### Expected behaviour
We can show pictures.

### Actual behaviour
Album is not available.

![screen shot 2017-11-22 at 17 16 38]

[2017-11-22 16:17] SergioBertolinSG commented on #734
Looks similar to https://github.com/owncloud/gallery/issues/720

[2017-11-22 16:19] PVince81 commented on #734
Hmm, but regular thumbnail previews do work ?

[2017-11-22 16:24] SergioBertolinSG commented on #734
Yes, those work.

[2017-12-17 11:11] mmattel opened #735 "Gallery fails to start if one out of more mounts is inaccassible"
## Bug report
If you have some mounts but one of them is inaccessible, Gallery fails to start and errors.

### Steps to reproduce

1. Create some mounts
2. Make one mount inaccessible (eg change pwd)
3. Start Gallery

### Expected behaviour
Gallery should start

### Actual behaviour
Gallery fails to start

### Server configuration

**Operating system**: Ubuntu 16.04

**Web server:** nginx

**Datab

[2018-01-03 13:12] Emil-G opened #737 "Feature request: HEIC support"
The latest Apple format HEIC does not show up as images in Gallery.

[2018-02-13 09:34] supermanlinux opened #740 "On the Gallery page, uploading the same file with a completely different prompt box, choosing to keep the new and old files, the Continue button is not available."
### Steps to reproduce
1.Open the Gallery application and upload an image.
2.Upload the same image file again, a dialog box will pop up for file differences.
3.Choose to keep new files and old files, click the Continue button below does not reflect.
![12](https://user-images.githubusercontent.com/34739130/36142811-1f4a12c8-10e4-11e8-8162-aa8a41ada728.png)

### Expected behaviour
Click the continue

[2018-02-13 09:36] PVince81 commented on #740
need to verify the JS code that wires up the gallery upload code with the conflict dialog

@supermanlinux did you check the browser console for Javascript errors ?

[2018-02-13 09:52] supermanlinux commented on #740
Yes,I check the browser console for Javascript errors.The error is:file-upload.js? Uncaught TypeError: this.fileList.inList is not a function,then I replace the fileList  with findFile,then it can upload conflict pictures,but other problem is occuered.First,the progress bar is always blinking.Second，when I upload two pictures,one is not conflict picture,it can upload,but you must refresh the page

[2018-02-23 02:24] supermanlinux commented on #740
@PVince81 Can you give me some ideas?Thanks.

[2018-02-23 09:21] PVince81 commented on #740
after your change to `findFile` do you see new errors in the console ?

[2018-02-25 08:56] superstoraged commented on #740
@PVince81 No errors in the console after I change to findFile,but when I upload many pictures include conflict pictures,some problems occured,one is the progress bar is always blinking,the other is you must refresh the page,then you can see the conflict picture you upload...

[2018-02-27 03:17] windoyblank commented on #740
@PVince81 I have a same question.

[2018-02-27 08:47] PVince81 commented on #740
This will likely need more extensive JS code debugging but I don't have time to this myself right now

[2018-03-07 10:56] supermanlinux commented on #740
@oparoz @phil-davis Can you give me some ideas to solve this problem?Thanks.

[2018-03-07 11:03] oparoz commented on #740
@supermanlinux - I no longer maintain this version of gallery.

[2018-03-22 22:43] cdamken opened #751 "Gallery app displays the BMP files upside down."
1.- upload a file
2.- open gallery app
3.- its  upside down.

[2018-03-22 22:45] cdamken opened #752 "Feature request - Allows to rotate picture and save it"
I have some old pictures that are 90 or 180 degrees rotated.

A good feature would be that I can on the flow in rotate it and save in the gallery app.

[2018-03-26 08:33] PVince81 commented on #751
did you know that BMP files are actually physically stored upside down ? https://stackoverflow.com/questions/8346115/why-are-bmps-stored-upside-down

is this happening in every browser ?

[2018-03-27 00:55] supermanlinux commented on #740
@PVince81 Any chance this will get fixed? I think it's a big bug  for users to used.Thanks.

[2018-03-27 12:44] phil-davis commented on #740
When I try a Gallery upload that would overwrite an existing file, having current core stable10, and gallery either from latest master or gallery stable10, I get no conflict dialog at all. Just a 412 on the server:
[code]
and nothing in owncloud.log
The upload progess bar flashes for a second, so it does try :)
The existing file stays in place on the server. The upload overwrite "silently fails".

[2018-03-27 14:43] jvillafanez commented on #740
https://github.com/owncloud/gallery/pull/753 should fix the problem. Checked with OC 10.0.7 and firefox. It might need more testing.

[2018-03-28 07:47] #735 closed, assigned to nobody

[2018-04-03 10:05] jvillafanez commented on #740
Progress bar blinks are caused by multiple uploads attempts for the duplicated files trying to upload the file with an available name. This is a problem related to core (or so it seems), so nothing to do here.

The need for the refresh is caused by a buggy behaviour in the gallery, because it assumes that the refresh is needed when a specific file is uploaded (the last one), but due to conflicts,

[2018-04-13 20:24] alexstocker commented on #683
Hi @oparoz
Well I think I can reproduce this Isssue and it's exactly like described above.

### Steps to reproduce
1. Share a folder with pictures via link
2. Open the link in another browser
3. Click the gallery view icon
.... ec.

### Debug Log
{"reqId":"xxxxxxxxx","level":0,"time":"2018-04-13T19:52:46+00:00","remoteAddr":"xxx.xxx.xxx.xxx","user":"--","app":"no app in context","method":"GET","ur

[2018-04-25 09:58] tomneedham opened #754 "If you click on the home icon in the breadcrumb the spinner doesn't stop"

[2018-05-28 22:10] patrickjahns opened #761 "[Strictly 10.0.9] Gallery 16.1.0 release checklist"
When marking a task as done, please add your name to the task!

### Reason
@PVince81 - please fill in details on the requirements for release
- Release needed for https://github.com/owncloud/gallery/pull/738 (minor fix)
- Solves https://github.com/owncloud/files_primary_s3/issues/72

### QA
- [x] Create release branch
- [x] Create "16.1.0" Testplan" https://github.com/owncloud/gallery/issues/771 @

[2018-06-20 13:14] DeepDiver1975 commented on #761
needs merge: https://github.com/owncloud/gallery/pull/767

[2018-06-29 09:57] DeepDiver1975 commented on #761
[gallery.tar.gz](https://github.com/owncloud/gallery/files/2148869/gallery.tar.gz)

[2018-07-02 11:09] davitol opened #771 "Test Results for Gallery App v. 16.1.0."
| Test Case                                | Expected Result                          | Result Firefox | Result Safari  | Result Edge    | Result Chrome   | Result IE11 | Related Comment |
| ---------------------------------------- | ---------------------------------------- | -------------- | -------------- | -------------- | -------------- | ------------- | --------------- |
| Click on an image

[2018-07-02 11:20] davitol commented on #771
**Mean Scenarios**

- [x] Update gallery from an old version
- [x] Update gallery from a tarball via CLI  ```sudo -u www-data ./occ market:install -l /pathtotarball/tarball```
- [x] Check gallery app works with files_S3 https://github.com/owncloud/files_primary_s3/issues/72
- ❌ Check images inside a shared folder via link are shown
- ❌  Check images set as hidden files are not shown when 'show hid

[2018-07-02 12:04] #771 closed, assigned to nobody

[2018-07-03 10:38] phil-davis opened #773 "After "hide album" cannot navigate to higher breadcrumbs"
## Bug report

### Steps to reproduce

1. create a folder tree with some image(s) in ``images/sub``
1. switch to gallery and view ``images/sub``
1. select ``+`` ``Hide album``

### Expected behaviour
The image file(s) are no longer displayed, but I can click the top level or ``images`` folder breadcrumbs to navigate to a higher-level folder.

### Actual behaviour
The image file(s) are no longer di

[2018-07-03 10:39] phil-davis commented on #773
And how are you supposed to "unhide" an album?
I can go to "Files" and navigate to the folder, show hidden files, and delete the ``.nomedia`` file. But that is for nerds.

[2018-07-03 12:59] patrickjahns commented on #773
@phil-davis  - is this a new bug or a regression? if not a regression this needs to be considered for the next development sprint.

[2018-07-03 14:07] phil-davis commented on #773
Just stuff that I noticed while clicking buttons that I saw. I don't expect it is a regression, just something that has not been reported. Nothing "breaks", it is just usability for the ``Hide album`` button.

[2018-07-06 10:04] davitol opened #774 "Images inside a folder shared via link are not shown in Gallery app"
### Steps to reproduce

1. create a folder and upload images inside
2. Share it via link and copy the link
3. Paste the link in other browser
4. Add to your owncloud the url of own server
5. Log in with another user and accept the share
6. Go to Gallery section

### Expected behaviour
The folder and the images should be shown  in the gallery

### Actual behaviour
The folder and the images are NOT

[2018-07-06 10:06] davitol commented on #771
**Know issues**
- [ ] Images inside a folder shared via link are not shown in Gallery app https://github.com/owncloud/gallery/issues/774
- [ ] Images set as hidden files should not be shown in Gallery app when 'show hidden files option' is not active https://github.com/owncloud/gallery/issues/775

[2018-07-06 10:20] davitol opened #775 "Images set as hidden files should not be shown in Gallery app when 'show hidden files option' is not active"
### Steps to reproduce

1. Upload an image
2. Rename it with a dot at the beginning (it turns into a hidden file)
3. Go to Gallery section

### Expected behaviour
The images files set as hidden should not be shown in the gallery

### Actual behaviour
The images are shown in the gallery

### Server configuration

**Operating system**:
Ubuntu 16.04
**Web server:**
PHP dev server
**Database:**
mySQL

[2018-07-09 05:41] madsi1m opened #776 "thumbs and previews do not work if user is not logged in on shared public links"
## Bug report

### Steps to reproduce

we've noticed that the gallery/preview app doesn't work correctly with shared public links in the situation of:
random person opening link looking at pictures does not get thumbs and get the download dialog when clicking the image.
But:
if a user who is already logged in and they go to the shared public link the gallery and thumbs work as expected.

### Expec

[2018-07-09 06:32] phil-davis commented on #776
Similar to #774 ?

[2018-07-09 06:35] madsi1m commented on #776
similar yes, but not exactly. I think resolving for one will most probably fix for both. In this case we are not seeing in the file view (in our install we have hidden the gallery button via css)

[2018-07-09 06:38] phil-davis commented on #776
Yes, the other issue goes along further adding the public link to someone's cloud...
The steps to reproduce here are shorter. As you say, resolve this issue and likely the other will also be resolved.

[2018-07-09 11:13] davitol opened #777 "Gallery app version 16.0.2 does not show the images with oC 10.0.9. RC3 version"
### Steps to reproduce

1.  Upload images to your oC Server
2. Go to Gallery section

### Expected behaviour
The images should be shown  in the gallery

### Actual behaviour
The images are NOT shown  in the gallery and a log is spotted in owncloud.log file.

![screen shot 2018-07-09 at 12 34 35](https://user-images.githubusercontent.com/10596560/42447276-93f6238e-8379-11e8-9781-5f849a95c4fc.png)

[2018-07-09 20:05] DeepDiver1975 commented on #777
Not relevant - this is why we will release 16.1.0 - https://github.com/owncloud/gallery/pull/770

[2018-07-09 20:05] #777 closed, assigned to nobody

[2018-07-11 08:28] butonic opened #778 "release contains tests"
double check if the build script properly kill the tests, eg `owncloud/apps/gallery/vendor/symfony/yaml/Tests/DumperTest.php` seems to be in

[2018-07-11 08:31] patrickjahns commented on #778
This is in the vendor folder and we shall not touch the vendor folder in that regard - upstream bug

[2018-07-11 08:31] #778 closed, assigned to nobody

[2018-07-12 08:48] patrickjahns commented on #778
@butonic
checking https://github.com/owncloud/gallery/blob/master/composer.json - there shouldn't be even a vendor folder included in any release. Fixed with 16.1.0

[2018-07-16 07:14] pmaier1 opened #781 "[16.1.0] UI elements lost"
While I really appreciate the new rotation feature :ok_hand: it seems that some UI elements have been lost between 16.0.2 and 16.1.0. See the screenshots below, the arrows for switching to the next or previous picture and the "X" to leave the view are missing.

**16.0.2**
![gallery_old](https://user-images.githubusercontent.com/21193500/42746532-7dd71fe0-88d8-11e8-833b-c59860a11aac.png)

**16.1.0*

[2018-07-16 07:40] pmaier1 commented on #781
Originated due to an issue with theming. Sorry for the noise.

[2018-07-16 07:40] #781 closed, assigned to nobody

[2018-07-17 10:21] #740 closed, assigned to nobody

[2018-07-18 10:02] #761 closed, assigned to PVince81

[2018-07-18 12:07] lordelix opened #783 "jQuery Core 1.9 Upgrade Guide"
# jQuery Core 1.9 Upgrade Guide

Changes of Note in jQuery 1.9
See the full [upgrade guide at jquery.com](http://jquery.com/upgrade-guide/1.9/)

## Removed
## Minor

`.trigger()`

- [ ] /js/vendor/jquery-touch-events/src/1.0.1/jquery.mobile-events.js
- [ ] /js/vendor/jquery-touch-events/src/1.0.1/jquery.mobile-events.min.js
- [ ] /js/vendor/owncloud/newfilemenu.js

`.click()`

- [ ] /js/app.js
- [

[2018-07-20 16:34] PVince81 commented on #783
@felixheidecke assigning you so you can get familiar with current gallery app for when working on the future one...

[2018-07-30 15:47] lordelix commented on #783
jQuery 2 update will be postponed.

[2018-07-31 07:00] PVince81 commented on #783
@felixheidecke let's leave this open else the postponing gets lost

[2018-07-31 11:49] phil-davis opened #785 "php-cs-fixer is failing for PHP 7.2"
## Bug report

### Steps to reproduce

1. Trigger CI here in gallery
1. The PHP 7.2 jobs fail

### Expected behaviour
CI passes

### Actual behaviour
[code]
``php-cs-fixer`` decides it wants to parse a vendor file that is in the exclude, ``c3.php``
It only does that on the PHP  7.2 job???

### Server configuration
Current CI environment.

[2018-07-31 11:53] DeepDiver1975 commented on #785
this file has to be ignored - this is generated by the test infra ....

[2018-07-31 11:55] #785 closed, assigned to phil-davis

[2018-07-31 12:22] phil-davis commented on #785
Yes, it was (supposedly) already in the exclude. But for PHP 7.2 it did not get excluded. Anyway, the PR "fixed" it.

[2018-08-21 08:38] phil-davis opened #790 "Move CI from Travis to drone"

[2018-08-21 09:18] DeepDiver1975 commented on #790
No idea if we shall invest time in here. There will soon be a new gallery ....

[2018-08-21 09:21] phil-davis commented on #790
This is not being scheduled in current QA sprint. So we can decide on care factor after other CI moves are done first. CC: @patrickjahns

[2018-08-26 09:51] Farbauti opened #791 "Error! Could not generate a preview of this file"
## Bug report
The viewing of images as well as thumbnail creation does not work after upgrade OwnCloud from 10.0.8.5 to 10.0.9.

### Steps to reproduce
When clicking on an image I get:
![grafik](https://user-images.githubusercontent.com/31306453/44626478-5e894400-a91d-11e8-9d94-7f5e00e86017.png)

While the images are actually there:
![grafik](https://user-images.githubusercontent.com/31306453/4462

[2018-08-27 01:10] steiny2k commented on #737
Hi, at least in the Nextcloud codebase this is adressed with
https://github.com/nextcloud/gallery/pull/464 should I try to port it to owncloud/gallery separately, or are  the two repos somehow syncronized?

[2018-08-27 04:03] madsi1m commented on #737
might be here? /service/configservice.php

[2018-08-27 06:53] steiny2k commented on #737
Hi. Sure, it‘s the /service/configservice.php. Just wanted to check whether you are maintaining your own repo for the owncloud gallery or whether this is automagically merged anyhow… but I guess I‘ll just verify it whether the necessary changes are in owncloud core and make another PR to resolve this for owncloud gallery too 😀

[2018-08-27 23:51] steiny2k commented on #737
Just verified this in my local development instance. Seems to work in the same way as in nextcloud. So I quickly posted a separate PR (https://github.com/owncloud/gallery/pull/792).

Happy to take your feedback :smile:

[2018-08-28 03:59] madsi1m commented on #737
Might be said somewhere else but which version of imagemagick do we need for these files to work?

[2018-08-28 07:03] steiny2k commented on #737
Support in ImageMagick was added with this pull request: https://github.com/ImageMagick/ImageMagick/pull/1099
On macOS it can be installed through homebrew:
`brew install --with-libheif imagemagick`

On FreeBSD you can install libheif through the ports tree and need to patch the ImageMagick port with the changes I reported here: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=230788

I think in

[2018-08-28 07:32] #737 closed, assigned to nobody

[2018-08-28 07:40] Emil-G commented on #737
@PVince81  It was my understanding that ImageMagick was dangerous in OC: https://owncloud.org/news/imagetragick-dangerous-for-owncloud-users/  ?

[2018-08-28 07:48] PVince81 commented on #737
It is dangerous if the installed version has security vulnerabilities and someone uploads a file that exploits them. In the case of that article it mentions a few extensions that were at risk back in 2016, not sure if ImageMagick has fixed the vulnerabilities already. You could disabled said preview providers and only leave PNG and JPG.

The ideal setup would be where the preview generation code i

[2018-08-28 07:53] patrickjahns commented on #790
We shall bootstrap drone only on the new app as soon as development starts

[2018-09-18 17:22] Farbauti commented on #791
Am I the only one with this problem?

[2018-09-19 10:12] PVince81 commented on #791
@Farbauti please update the gallery app. I have gallery 16.1.0 and thumbnails work fine

[2018-09-19 10:12] #791 closed, assigned to nobody

[2018-09-23 09:54] euphi opened #796 "Gallery so slow it is unusable and unnecessarily scales images down"
The gallery is so slow that it is impossible to use.

I have the problem with two different installations:

* owncloud 10 und "cubietruck" (arm)
* owncloud 9 on hosted server (I'm not admin for this installation, so I don't know the details).

### Steps to reproduce

1. Upload some images to a directory
1. Open the directory in File browser
1. Click on a image to show it
1. Click on forward or bac

[2018-09-27 15:17] DeepDiver1975 commented on #796
We will deliver y new gallery implementation in the scope of phoenix https://github.com/owncloud/phoenix/issues/249

[2018-10-03 11:47] kerlerm commented on #724
Still persistent with OC 10.0.10 and gallery 16.1.0 from market. Can't install because app "contains unallowed code".

[2018-10-07 09:10] kerlerm commented on #724
Any debugging help before I try the mentioned workaround by @j-ed ?

[2018-10-08 20:52] PVince81 commented on #724
@davitol mind reverifying ? last I checked the gallery app could be installed without issues.

[2018-10-09 09:05] davitol commented on #724
https://github.com/owncloud/gallery/issues/724#issuecomment-304270472

@PVince81 Worked for me in past. Tested with oC 10.0.7 and WFM. Tested with 10.0.10 and Gallery 16.1.0 and works for me too

Sentry exception but the gallery app  was enabled fine and works
[code]

[2018-10-09 15:31] kerlerm commented on #724
How to debug?

[2018-10-12 21:58] kerlerm commented on #724
I unpacked the gallery app into ../apps manually and used the check-code to get more precise output:
[code]
Is this the source of the problem?
[code]
But why does it trigger an error in my owncloud installation and not in others?

[2018-10-15 10:12] PVince81 commented on #724
see https://raw.githubusercontent.com/owncloud/core/master/.github/issue_template.md to provide more info about your setup. could be some config.php switch about code checking ?

[2018-10-15 18:53] kerlerm commented on #724
`'appcodechecker' => true,` in config.php

I will check with the next minor OC update because with the workaround mentioned above all is up & running for the moment :)

[2018-10-15 18:57] kerlerm commented on #724
https://doc.owncloud.org/server/10.0/admin_manual/configuration/server/occ_command.html says:
app:check-code has multiple checks: it checks if an app uses ownCloud’s public API (OCP) or private API (OC_)

So the gallery app seems to use a "private" method (OC_User) which is not allowed?

[2018-10-15 19:19] PVince81 commented on #724
Yes. Sometimes app developers absolutely need some information and resort to using private APIs to access it. The right approach is to submit a pull request to core to extend the public API with the required method.

[2018-11-03 11:22] gramels opened #802 "wrong image orientation"
## Bug report

### Steps to reproduce

1. upload image
2. view in gallery -> wrong rotation
3. rotate on MacOS
4. update in owncloud
5. still wrong rotation

### Expected behaviour
image is in owncloud gallery displayed same way as in MacOS finder

### Actual behaviour
image rotation not respected in owncloud

### Server configuration

**Operating system**:
debian 9
**Web server:**
apache2
**Datab

[2018-11-05 19:41] PVince81 commented on #802
likely due to https://github.com/owncloud/core/issues/18645

[2018-11-08 11:10] rustymunkey commented on #802
Is there any workaround for this issue? Downgrading to 10.0.8 is not possible, but it was not fixed in 10.0.10 either ...

[2018-11-13 09:56] paurakhsharma commented on #790
@phil-davis , We should close this?

[2018-11-13 10:32] phil-davis commented on #790
"soon" is a flexible deadline for a new gallery app.
IMO switching from Travis to Drone should be easy - we should "just do it" to remove the pain of having "old" Travis CI apps "hanging around".

Other opinions welcome.

[2018-11-13 13:45] PVince81 commented on #790
if it doesn't take too long (max 1 day) then let's just do it

[2018-11-13 13:54] phil-davis commented on #790
I bumped it to the coming sprint.

[2018-11-16 03:39] phil-davis opened #808 "CI fails because php-cs-fixer is parsing c3.php"
Travis output:
[code]

Somehow the Symfony Finder ``exclude()`` is now not excluding a file.
Seems to be only on PHP 7.2, so it is likely related to newer combination of versions of Symfony, Finder, php-cs-fixer...

[2018-11-16 03:48] phil-davis commented on #808
Fix is in PR #807

[2018-11-16 04:48] #808 closed, assigned to phil-davis

[2018-11-16 06:42] gramels commented on #802
was introduced after I updated to 10.0.10

[2018-11-20 10:28] voroyam commented on #752
Rotate is implemented.

Saving is not. So we are half way there :D

[2018-11-21 08:19] #790 closed, assigned to dpakach

[2018-12-08 11:17] brb6708 opened #810 "Cannot share gallery folder as external link"
Bug report

### Steps to reproduce

1. open a folder containing images in gallery
2. click "Share"
3. click "share Link"
4. enter password

### Expected behaviour

### Actual behaviour

### Server configuration

**Operating system**:
Linux (Ubuntu 16.04)
**Web server:**
Apache 2

**Database:**
MySQL
**PHP version:**
5.6
**cloud server:** Nextcloud or ownCloud
ownCloud
**cloud version:** (see admin

[2018-12-10 12:33] PVince81 opened #811 "[For Semver] Gallery 16.1.1"
### Reason
- Set max version to 10 because core platform is switching to Semver

### QA
- [x] Create **QA Milestone**
- [x] Move items from `development` to `qa`
- [x] Create release branch with the format "release-$version"
- [x] Test: Install from the provided tarball and enable in ownCloud stable10 and check it works

### Documentation
- [ ] Changes in the docs needed?

### Marketing
- [ ] Ping

[2018-12-10 12:59] PVince81 commented on #811
@davitol RC1 https://cloud.owncloud.com/index.php/s/lsAQIOtiGfkaMBb

[2018-12-10 13:43] davitol commented on #811
@PVince81 Tarball is QA-ready

[2018-12-11 21:37] #811 closed, assigned to PVince81

[2018-12-12 13:18] gramels commented on #802
I migrateted to nextcloud, which fixed this for me.

[2019-01-03 20:14] wolkenschieber opened #817 "Unable to update from 16.1.0 to 16.1.1"
## Bug report

I'm unable to update the Gallery App from 16.1.0 to 16.1.1. The process fails due to failed code check.

### Steps to reproduce

1. Open Market App
1. Install Gallery Update

### Code-Check

Verifying the app using `occ` produces following output:
[code]

[2019-01-07 09:27] DeepDiver1975 commented on #817
Please disable the code-checker in config.php - THX

[2019-01-07 09:27] #817 closed, assigned to nobody

[2019-01-07 19:56] wolkenschieber commented on #817
Disabling the code checker allowed me to update the app. Thanks!

[2019-01-16 17:58] sixtyfive commented on #725
Same here. Read somewhere that that's a beta feature. Can someone comment on that?

[2019-03-19 12:08] lexo-mfleuti opened #826 "[ERROR] Gallery does not display the right image but some old version instead"
## Bug report

### Steps to reproduce

1. User1 uploads an image to OC into a shared folder
2. User2 changes the image
3. User1 wants to view the changed image > System shows original image uploaded by User 1

Downloading the file: Always shows the correct file. The update on the OC works properly. Also local sync works properly. It's just the gallery preview that is not showing the proper file ve

[2019-03-19 12:16] phil-davis commented on #826
Could be this issue, where the preview/thumbnails from point-of-view of sharer and share receiver end up being different: https://github.com/owncloud/core/issues/31855

[2019-03-19 13:03] lexo-mfleuti commented on #826
it sounds like its being the same though we do not experience this owner issue. What I've noticed additionally is that the gallery seems to pick up not the current file stored on the cloud but the original version that was changed by the current use the first time. When I navigate to "Versions" and check out older versions I can see that the gallery always displays the first version of the file. T

[2019-04-02 12:54] kobinek opened #830 "Change order of sort Album"
There is no way to sort album names by DATE, any chance to fix it ?

[2019-05-21 09:08] lexo-mfleuti commented on #826
Ping... ;)
The error persists and it's really annoying and dangerous. Because we're being presented the wrong data this causes troubles with customers and also internally.

[2019-06-05 10:05] roerch commented on #810
I do observe the same problem here. However the owncloud.log file is a bit more talkative. The issue seems to boil down to this line where an 'undefined' is sent in a query for 'id' where an integer would be expected:
{"reqId":"XPeQSH8AAQEAAEX9IoQAAAAK","level":3,"time":"2019-06-05T09:50:01+00:00","remoteAddr":"XXX.XXX.XXX.XXX","user":"XXX","app":"PHP","method":"PUT","url":"/owncloud/ocs/v2.php/ap

[2021-04-13 08:10] AlexAndBear opened #837 "Release gallery 16.1.2"
# Release 16.1.2

### Reason
* Fix: Show proper name in file menu https://github.com/owncloud/gallery/pull/836
* Fix: Don't return files when accessing a share files drop https://github.com/owncloud/gallery/pull/839
* Fix: Unbreak gallery with gallery.cnf https://github.com/owncloud/gallery/pull/840
* Fix: Align password public protected link, with new Login-UI https://github.com/owncloud/gallery/

[2021-04-13 09:20] phil-davis commented on #837
@JanAckermann maybe the owncloud min-version should be updated in appinfo/info.xml to be 10.6 or 10.7 (whenever this menu dropdown thing was released) - since the changes may or may not work with older oC10 versions.

[2021-04-13 09:44] AlexAndBear commented on #837
@phil-davis I don't see any compatibility issues to owncloud 10.2 maybe @jnweiger can confirm this in 'QA'
Tested my self with 10.2, works as designed

[2021-07-25 13:16] leex279 commented on #752
Any news on this? Would be very helpful :)

[2021-09-06 09:30] AlexAndBear commented on #837
@phil-davis updated min-version to 10.8 with https://github.com/owncloud/gallery/pull/846
@ho4ho thanks, adjusted

[2021-09-10 11:55] #826 closed, assigned to nobody

[2021-10-05 22:12] jnweiger commented on #837
@JanAckermann I've created branch release-16.1.2, bumped versions, and created an RC1.
- There is no sonar-project.properties file in this repo. Should we add one?
- make dist needed some help:  https://github.com/owncloud/gallery/commit/8055138f88d1df2f7fd728ee92a24b661137d819
- make dist has several deprecation warnings:

[code]

[2021-10-05 22:32] jnweiger opened #847 "[QA] 16.1.2 Testplan"
404: Not Found
## 'Gallery' Test Plan

TBD: Nothing useful found in https://github.com/owncloud/QA/tree/master/Server
TBD: Here is a dummy testplan template. Please edit!
TBD: Please also doublecheck https://github.com/owncloud/qa-enterprise/tree/master/Core

## Setup
<details><summary>Setup details (click to view)</summary>

  `oc_release.sh app:get gallery`
</details>

## Testing functionality

[2021-10-06 02:58] phil-davis commented on #837
PR #845 is waiting to be merged. That gets CI up-to-date, and also drops PHP 7.2 as part of that. So we were thinking to get this release out first, in a `release-16.1.2` branch, with `composer.json` dependencies at PHP 7.2 level. Then do the CI updates in `master`.

I  don't know what the real maintenance status of this app is nowadays. Do we require it to have things like SonarCloud set up?

[2021-10-07 06:17] phil-davis commented on #837
Note: the release branch has been created and the release can proceed in that branch.

I have merged PR #845 to master now - that gets CI passing in master, but the CI does require dropping PHP 7.2 and bumping phpunit to major version 9. They are changes that are needed because of what has moved forward in core master recently. It does not effect the fact that the gallery app code in the release b

[2021-10-28 09:09] jnweiger commented on #847
## Changelog Testing
* [ ] Fix: Show proper name in file menu https://github.com/owncloud/gallery/pull/836
* [ ] Fix: Don't return files when accessing a share files drop https://github.com/owncloud/gallery/pull/839
* [ ] Fix: Unbreak gallery with gallery.cnf https://github.com/owncloud/gallery/pull/840
* [ ] Fix: Align password public protected link, with new Login-UI https://github.com/owncloud/

[2021-10-28 09:10] jnweiger commented on #847
No regression testing.
Smoke testing with folders of a few hundred images....
Exercise gallery featues from its menues...

[2021-10-28 23:09] #837 closed, assigned to nobody

[2021-12-08 18:58] cdamken commented on #847
I think this could be closed

@GeraldLeiklam @jnweiger

[2022-07-11 04:57] phil-davis opened #859 "Check that gallery is working OK after Guzzle7 core update for core 10.11"
Check the gallery app with core 10.10 and make sure that any existing problems have issues.

Try again with current core master (to be 10.11 release), and raise issues for any new problems.

Related to issue https://github.com/owncloud/core/issues/39387

[2022-07-11 07:30] phil-davis commented on #859
@kiranadh1452 I just merged PR #860 - please pull the latest master of gallery and then do a quick check that it looks OK.

[2022-07-11 08:43] kiranadh1452 commented on #859
## V10.10:
## Local Folder's gallery view
- Gallery View: works
- Sort by Name: works
- Sort by date: works
- Deletion from gallery: works
- Next Image Button: works
- Previous Image Button: works
- Change Orientation Button: works but does not actually change the orientation
- Download Button: works
- Close Button: works
- Slide Show: works

## Shared Folder’s gallery view (Shared by someone else

[2022-07-11 08:44] kiranadh1452 commented on #859
Looks like no new issue in 10.11.
Most of the existing issues were reported already.

[2022-07-27 08:43] phil-davis commented on #859
works as good as before - closing

[2022-07-27 08:43] #859 closed, assigned to kiranadh1452